{% extends "Default/baseListEntity.html.twig" %}

{% block filterBox %}
     {% include 'Reportes/informeCuotas/filter.html.twig' %}
{% endblock %}

{% block titleList %} Listado de Pagos{% endblock %}

{% block opList %}
    <button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('reportes_informe_cuotas_opList',{'estado': 0 }) }}" >Opciones de Listado</button>
{% endblock %}


{% block thList %}
    <th class="align-center">Fecha Pago</th>
    <th class="align-center">Nombre/s</th>
    <th class="align-center">Cuota Cobrada</th>
    <th class="align-center">Cuotas Plan</th>
    <th class="align-center">Cred. N. </th>
    <th class="align-center">Crédito</th>
    <th class="align-center">Capital</th>
    <th class="align-center">Interés</th>
    <th class="align-center">Gastos</th>
    <th class="align-center">Punitorios</th>
    <th class="align-center">Descuentos</th>
    <th class="align-center">Pagos</th>
    <th class="align-center">Agente</th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td class="align-center">{{entity.fechaAlta|date('d-m-Y H:i')}} </td>
            <td>
                {% if entity.cuota.credito.grupo %}
                    {{ entity.cuota.credito.grupo }}
                {% else %}
                    {{ entity.cuota.credito.emprendedor }}
                {% endif %}
            </td>
            <td class="align-center">{{entity.cuota.nroCuota}} </td>
            <td class="align-center">{{entity.cuota.credito.cantCuotas}} </td>

            <td class="align-center">
                {{entity.cuota.credito.nroCredito}}-{{entity.cuota.credito.nroRenovacion}}
            </td>
            <td class="align-center">{{entity.cuota.credito.programa}}</td>
            <td class="align-center">{{entity.capital |  number_format(2,'.',',')}}</td>
            <td class="align-center">{{entity.intereses | number_format(2,'.',',')}}</td>
            <td class="align-center">{{entity.gastoAdministrativo | number_format(2,'.',',')}}</td>
            <td class="align-center">{{entity.punitorios | number_format(2,'.',',')}}</td>
            <td class="align-center">{{entity.montoExclusion | number_format(2,'.',',')}}</td>
            <td class="align-center">{{entity.total | number_format(2,'.',',')}} </td>
            <td class="align-center">{{entity.usuario}} </td>
        </tr>
    {% endfor %}
{% endblock %}