<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >   
<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
</style>       
    <table cellspacing="0">
        {% set total=0 %}
        <thead>
            <tr>
                <th class="align-center">Fecha Pago</th>
                <th class="align-center">Nombre/s</th>
                <th class="align-center">Cuota Cobrada</th>
                <th class="align-center">Cuotas Plan</th>
                <th class="align-center">Cred. N. </th>
                <th class="align-center">Crédito</th>
                <th class="align-center">Capital</th>
                <th class="align-center">Interés</th>
                <th class="align-center">Gastos</th>
                <th class="align-center">Punitorios</th>
                <th class="align-center">Descuentos</th>
                <th class="align-center">Pagos</th>
                <th class="align-center">Especie</th>
                <th class="align-center">Agente</th>
                <th class="align-center">Garante Telefono</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td class="align-center">{{entity.fechaAlta|date('d-m-Y H:i')}} </td>
                <td>
                    {% if entity.cuota.credito.grupo %}
                        {{ entity.cuota.credito.grupo }}
                    {% else %}
                        {{ entity.cuota.credito.emprendedor }}
                    {% endif %}
                </td>
                <td class="align-center">{{entity.cuota.nroCuota}} </td>
                <td class="align-center">{{entity.cuota.credito.cantCuotas}} </td>

                <td class="align-center">
                    {{entity.cuota.credito.nroCredito}}-{{entity.cuota.credito.nroRenovacion}}
                </td>
                <td class="align-center">{{entity.cuota.credito.programa}}</td>
                <td class="align-center">{{entity.capital |  number_format(2,'.',',')}}</td>
                <td class="align-center">{{entity.intereses | number_format(2,'.',',')}}</td>
                <td class="align-center">{{entity.gastoAdministrativo | number_format(2,'.',',')}}</td>
                <td class="align-center">{{entity.punitorios | number_format(2,'.',',')}}</td>
                <td class="align-center">{{entity.montoExclusion | number_format(2,'.',',')}}</td>
                <td class="align-center">{{entity.total | number_format(2,'.',',')}} </td>
                <td class="align-center">
                    {% if entity.isPagoBancario %}
                        Banco
                    {% else %}
                        {% if entity.montoExclusion %}
                            Condonación
                        {% else %}
                            Efectivo
                        {% endif %}
                    {% endif %}
                </td>
                <td class="align-center">{{entity.usuario}} </td>
                <td class="align-center"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   </body>
</html>