<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >  
<style>
.align-center{text-align: center}
table{ font-family:'Arial';font-size: 12px; }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #CCCCCC;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td, table tfoot th{ text-align: right;}
</style>       
       
       <h3>{{filtro.programa}} - {{meses[filtro.mes-1]}}/{{filtro.anio}}</h3>
    <table cellspacing="0">
        <thead>
        <tr>
            <th rowspan="2">CREDITOS</th>
            <th colspan="2" >Inicial</th>
            <th colspan="3" >Semana 1</th>
            <th colspan="3" >Semana 2</th>
            <th colspan="3" >Semana 3</th>
            <th colspan="3" >Semana 4</th>
            <th colspan="3" >Semana 5</th>
            <th colspan="2" >Final</th>
        </tr>
        <tr>
            <th>Cuotas</th>
            <th>Cartera Activa</th>
            <th>Capital</th>
            <th>Interés</th>
            <th>Total</th>
            <th>Capital</th>
            <th>Interés</th>
            <th>Total</th>
            <th>Capital</th>
            <th>Interés</th>
            <th>Total</th>
            <th>Capital</th>
            <th>Interés</th>
            <th>Total</th>
            <th>Capital</th>
            <th>Interés</th>
            <th>Total</th>
            <th>Cuotas</th>
            <th>Cartera Activa</th>
        </tr>
        </thead>
        <tbody>
        {% set cai,sem1cap,sem1int,sem1tot,sem2cap,sem2int,sem2tot,sem3cap,sem3int,sem3tot,sem4cap,sem4int,sem4tot,sem5cap,sem5int,sem5tot,caf = 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 %}
    {% for reg in detalle %}
        <tr class="master">
            <td style="text-align: left; font-weight: bold;" >{{reg.grupo|upper}} - <small>{{reg.credito}}</small></td>
            <td>{{reg.cai.ctas}}</td>
            <td>{{reg.cai.monto|number_format(2,',','.')}} {% set cai = cai + reg.cai.monto %} </td>
            <td>{{reg.semanas[1]['capital']|number_format(2,',','.')}} {% set sem1cap = sem1cap + reg.semanas[1]['capital'] %}</td>
            <td>{{reg.semanas[1]['intereses']|number_format(2,',','.')}} {% set sem1int = sem1int + reg.semanas[1]['intereses'] %}</td>
            <td>{{reg.semanas[1]['total']|number_format(2,',','.')}} {% set sem1tot = sem1tot + reg.semanas[1]['total'] %}</td>
            <td>{{reg.semanas[2]['capital']|number_format(2,',','.')}} {% set sem2cap = sem2cap + reg.semanas[2]['capital'] %}</td>
            <td>{{reg.semanas[2]['intereses']|number_format(2,',','.')}} {% set sem2int = sem2int + reg.semanas[2]['intereses'] %}</td>
            <td>{{reg.semanas[2]['total']|number_format(2,',','.')}} {% set sem2tot = sem2tot + reg.semanas[2]['total'] %}</td>
            <td>{{reg.semanas[3]['capital']|number_format(2,',','.')}} {% set sem3cap = sem3cap + reg.semanas[3]['capital'] %}</td>
            <td>{{reg.semanas[3]['intereses']|number_format(2,',','.')}} {% set sem3int = sem3int + reg.semanas[3]['intereses'] %}</td>
            <td>{{reg.semanas[3]['total']|number_format(2,',','.')}} {% set sem3tot = sem3tot + reg.semanas[3]['total'] %}</td>
            <td>{{reg.semanas[4]['capital']|number_format(2,',','.')}} {% set sem4cap = sem4cap + reg.semanas[4]['capital'] %}</td>
            <td>{{reg.semanas[4]['intereses']|number_format(2,',','.')}} {% set sem4int = sem4int + reg.semanas[4]['intereses'] %}</td>
            <td>{{reg.semanas[4]['total']|number_format(2,',','.')}} {% set sem4tot = sem4tot + reg.semanas[4]['total'] %}</td>
            <td>{{reg.semanas[5]['capital']|number_format(2,',','.')}} {% set sem5cap = sem5cap + reg.semanas[5]['capital'] %}</td>
            <td>{{reg.semanas[5]['intereses']|number_format(2,',','.')}} {% set sem5int = sem5int + reg.semanas[5]['intereses'] %}</td>
            <td>{{reg.semanas[5]['total']|number_format(2,',','.')}} {% set sem5tot = sem5tot + reg.semanas[5]['total'] %}</td>
            <td>{{reg.caf.ctas}}</td>
            <td>{{reg.caf.monto}} {% set caf = caf + reg.caf.monto %}</td>
        </tr>        
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>{{cai|number_format(2,',','.')}}</th>
                <th>{{sem1cap|number_format(2,',','.')}}</th>
                <th>{{sem1int|number_format(2,',','.')}}</th>
                <th>{{sem1tot|number_format(2,',','.')}}</th>
                <th>{{sem2cap|number_format(2,',','.')}}</th>
                <th>{{sem2int|number_format(2,',','.')}}</th>
                <th>{{sem2tot|number_format(2,',','.')}}</th>
                <th>{{sem3cap|number_format(2,',','.')}}</th>
                <th>{{sem3int|number_format(2,',','.')}}</th>
                <th>{{sem3tot|number_format(2,',','.')}}</th>
                <th>{{sem4cap|number_format(2,',','.')}}</th>
                <th>{{sem4int|number_format(2,',','.')}}</th>
                <th>{{sem4tot|number_format(2,',','.')}}</th>
                <th>{{sem5cap|number_format(2,',','.')}}</th>
                <th>{{sem5int|number_format(2,',','.')}}</th>
                <th>{{sem5tot|number_format(2,',','.')}}</th>
                <th></th>
                <th>{{caf|number_format(2,',','.')}}</th>
            </tr>
        </tfoot>        
    </table>    

   </body>
</html>       
