<div class="fechaCierre"><div>{{ form_label(form.fecha) }}&nbsp; {{entity.fecha | date('d-m-Y')}}</div>
    - <div>{{ form_label(form.usuario) }}&nbsp; {{entity.usuario}}</div>
</div>
<div class="content-box column-left" style="min-height: 330px;padding: 10px 0;">
    <table style="width: 80%; margin: auto;">
        <thead>
        <th style="width: 70%;text-align: center">MOVIMIENTOS DE LA CARTERA</th>
        <th style="width: 5%;text-align: center"></th>
        <th style="width: 25%;text-align: center">Importe</th>
        </thead>
        <tbody>
            <tr class="alt-row">
                <td>{{ form_label(form.carteraActiva) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.carteraActiva | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.carteraNueva) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.carteraNueva | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.renovaciones) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.renovaciones | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.cobranzas) }}</td>
                <td>$</td>
                <td style="text-align: right" >- {{ entity.cobranzas | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.incobrables) }}</td>
                <td>$</td>
                <td style="text-align: right" >- {{ entity.incobrables | number_format(2,',','.') }}</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th>Cartera Activa al fin del periodo</th>
                <th>$</th>
                <th style="text-align: right">{% set movimientos = ((entity.carteraActiva+entity.carteraNueva+entity.renovaciones) - (entity.cobranzas+entity.incobrables) ) %}{{ movimientos | number_format(2,',','.')}}</th>
            </tr>
        </tfoot>
    </table>
        <hr style="width: 90%;margin: 15px auto; color: white;">
    <table style="width: 80%;margin: auto;">
        <tbody>
            <tr class="alt-row">
                <td>{{ form_label(form.saldoCaja) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.saldoCaja | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td style="width: 70%">{{ form_label(form.saldoBanco) }}</td>
                <td style="width: 5%;">$</td>
                <td style="width: 25%;text-align: right" >{{ entity.saldoBanco | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.ajuste) }}</td>
                <td>$</td>
                <td style="text-align: right" > {{ entity.ajuste | number_format(2,',','.') }} </td>
            </tr>
            <tr class="alt-row">
                <td colspan="2" style="font-style:italic"><small>{{ entity.observacion }}</small></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                <th>$</th>
                <th style="text-align: right"> {{ (movimientos + entity.saldoBanco + entity.saldoCaja + entity.ajuste) | number_format(2,',','.') }} </td>
            </tr>
        </tfoot>
    </table>    

</div>
<div class="content-box column-right" style="min-height: 330px;padding: 10px 0;">
    <table style="width: 60%;margin: auto;" id="intereses-show">
        <thead>
        <th style="width: 60%;text-align: center">Intereses Cobrados</th>
        <th style="width: 5%;text-align: center"></th>
        <th style="width: 35%;text-align: center">Importe</th>
        </thead>
        <tbody>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana1) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana1 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana2) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana2 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana3) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana3 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana4) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana4 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana5) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana5 | number_format(2,',','.') }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total Intereses</th>
                <th>$</th>
                <th style="text-align: right">{% set intereses=(entity.interesSemana1+entity.interesSemana2+entity.interesSemana3+entity.interesSemana4+entity.interesSemana5) %}{{  intereses | number_format(2,',','.')}}</td>
            </tr>
        </tfoot>
    </table>
        <hr style="width: 70%;margin: 10px auto; color: white;">
        <table style="width: 60%;margin: auto;">
        <tr class="alt-row">
            <td style="width: 60%;text-align: right;font-weight: bold">Gastos Administrativos</td>
            <td style="width: 10%;text-align: center;font-weight: bold">$</td>
            <td style="width: 30%;text-align: right;font-weight: bold">{{ entity.gastosAdministrativos | number_format(2,',','.')}}</td>
        </tr>
        <tr class="alt-row">
            <td style="width: 60%;text-align: right;font-weight: bold">Punitorios</td>
            <td style="width: 10%;text-align: center;font-weight: bold">$</td>
            <td style="width: 30%;text-align: right;font-weight: bold">{{ entity.punitorios | number_format(2,',','.')}}</td>
        </tr>
        </table>
        <hr style="width: 70%;margin: 10px auto; color: white;">
    <table style="width: 60%;margin: auto;" id="gastos-pagados-show">
        <thead>
        <th style="width: 60%;text-align: center">Gastos Pagados</th>
        <th style="width: 5%;text-align: center"></th>
        <th style="width: 35%;text-align: center">Importe</th>
        </thead>
        <tbody>
            <tr class="alt-row">
                <td>{{ form_label(form.gastos) }}</td>
                <td>$</td>
                <td style="text-align: right" >- {{ entity.gastos | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.honorarios) }}</td>
                <td>$</td>
                <td style="text-align: right" >- {{ entity.honorarios | number_format(2,',','.') }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total Gastos</th>
                <th>$</th>
                <th style="text-align: right">- {{ (entity.gastos+entity.honorarios) | number_format(2,',','.') }}</td>
            </tr>
        </tfoot>
    </table>    
</div>

{% if entity.programa.mes == entity.mes %} 
<div class="clear"></div>
<a href=" {{path('reporte_mensual_delete', { 'id': entity.id })}} " class="button list">Anular Reporte</a>
{% endif %}

<script type="text/javascript">
    $(document).ready(function(){   
        $('table th,table td').each(function (index, domEle) {
            if($(domEle).html().split('-').length>1 ){
                auxi = $(domEle).html().replace('-','');
                auxi = auxi.replace(/^\s+|\s+$/g,"");
                auxi = '('+auxi+')';
                $(domEle).html(auxi);
                $(domEle).addClass('valor-negativo');
            }
        });
    });
    function reporte(){
        var url = '{{ path('reporte_mensual_programa')}}';
        window.location.href=url; 
    }    

</script>   
