<div class="content-box column-right" style="min-height: 330px;padding: 10px 0;">
    <table style="width: 60%;margin: auto;" id="intereses">
        <thead>
        <th style="width: 60%;text-align: center">Intereses Cobrados</th>
        <th style="width: 10%;text-align: center"></th>
        <th style="width: 30%;text-align: center">Importe</th>
        </thead>
        <tbody>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana1) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana1 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana2) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana2 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana3) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana3 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana4) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana4 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.interesSemana5) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.interesSemana5 | number_format(2,',','.') }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total Intereses</th>
                <th>$</th>
                <th style="text-align: right">{% set intereses=(entity.interesSemana1+entity.interesSemana2+entity.interesSemana3+entity.interesSemana4+entity.interesSemana5) %}{{  intereses | number_format(2,',','.')}}</td>
            </tr>
        </tfoot>
    </table>
    <hr style="width: 70%;margin: 10px auto;color: white;">
    <table style="width: 60%;margin: auto;">
        <tr class="alt-row">
            <td style="width: 60%;text-align: right;font-weight: bold">Gastos Administrativos</td>
            <td style="width: 10%;text-align: center;font-weight: bold">$</td>
            <td style="width: 30%;text-align: right;font-weight: bold">{{ entity.gastosAdministrativos | number_format(2,',','.')}}</td>
        </tr>
        <tr class="alt-row">
            <td style="width: 60%;text-align: right;font-weight: bold">Punitorios</td>
            <td style="width: 10%;text-align: center;font-weight: bold">$</td>
            <td style="width: 30%;text-align: right;font-weight: bold">{{ entity.punitorios | number_format(2,',','.')}}</td>
        </tr>
    </table>    
    <hr style="width: 70%;margin: 10px auto;color: white;">
    <table style="width: 60%;margin: auto;" id="gastos-pagados">
        <thead>
        <th style="width: 60%;text-align: center">Gastos Pagados</th>
        <th style="width: 10%;text-align: center"></th>
        <th style="width: 30%;text-align: center">Importe</th>
        </thead>
        <tbody>
            <tr class="alt-row">
                <td>{{ form_label(form.gastos) }}</td>
                <td>$</td>
                <td style="text-align: right" class="negativo">- {{ entity.gastos | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.honorarios) }}</td>
                <td>$</td>
                <td style="text-align: right" class="negativo">- {{ entity.honorarios | number_format(2,',','.') }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total Gastos</th>
                <th>$</th>
                <th style="text-align: right" class="negativo">- {{ (entity.gastos+entity.honorarios) | number_format(2,',','.') }}</td>
            </tr>
        </tfoot>
    </table>    
</div>

<div class="content-box column-left" style="min-height: 330px;padding: 10px 0;">
    <table style="width: 90%; margin: auto;">
        <thead>
        <th style="width: 70%;text-align: center">MOVIMIENTOS DE LA CARTERA</th>
        <th style="width: 10%;text-align: center"></th>
        <th style="width: 20%;text-align: center">Importe</th>
        </thead>
        <tbody>
            <tr class="alt-row">
                <td>{{ form_label(form.carteraActiva) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.carteraActiva | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.carteraNueva) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.carteraNueva | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.renovaciones) }}</td>
                <td>$</td>
                <td style="text-align: right" >{{ entity.renovaciones | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.cobranzas) }}</td>
                <td>$</td>
                <td style="text-align: right" class="negativo">- {{ entity.cobranzas | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.incobrables) }}</td>
                <td>$</td>
                <td style="text-align: right" class="negativo">- {{ entity.incobrables | number_format(2,',','.') }}</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th>Cartera Activa al fin del periodo</th>
                <th>$</th>
                <th style="text-align: right">{% set movimientos = ((entity.carteraActiva+entity.carteraNueva+entity.renovaciones) - (entity.cobranzas+entity.incobrables) ) %}{{ movimientos | number_format(2,',','.')}}</th>
            </tr>
        </tfoot>
    </table>
        <hr style="width: 90%;margin: 15px auto;color: white;">
        <table style="width: 90%;margin: auto;" class="saldos">
        <tbody>
            <tr class="alt-row">
                <td style="padding-top: 5px !important">{{ form_label(form.saldoCaja) }}</td>
                <td>$</td>
                <td style="text-align: right" {% if entity.saldoCaja<0 %} class="negativo" {% endif %}>{{ entity.saldoCaja | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td style="width: 70%">{{ form_label(form.saldoBanco) }}</td>
                <td style="width: 10%;">$</td>
                <td style="width: 20%;text-align: right" >{{ form_widget(form.saldoBanco, { 'attr': {'class' : 'text-input large-input ajuste', 'onchange': 'calculo()' } }) }}</td>
            </tr>
            <tr class="alt-row">
                <td>{{ form_label(form.ajuste) }}</td>
                <td>$</td>
                <td style="text-align: right" > {{ form_widget(form.ajuste, { 'attr': {'class' : 'text-input large-input ajuste', 'onchange': 'calculo()' } }) }} </td>
            </tr>
            <tr class="alt-row">
                <td colspan="2" class="obs">{{ form_widget(form.observacion, { 'attr': {'class' : 'text-input large-input obs','Placeholder':'Observaciones' } }) }}</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                <th>$</th>
                <th id="total" style="text-align: right">{% set totalgral = (movimientos + entity.saldoCaja) %} {{ totalgral | number_format(2,',','.') }} </td>
            </tr>
        </tfoot>
    </table>    

</div>
<div class="clear"></div>
<button id="enviar" class="button" type="button" style="display: block; margin: 10px auto 5px;">Registrar cierre del periodo</button>
<div style="display: none" > {{ form_rest(form) }}</div>

<script type="text/javascript">
    $(document).ready(function(){   
        calculo(); 
        $('#reportemensual_fecha').val('{{date('now')|date('d-m-Y')}}');
        $('#eportemensual_programa').val('{{filtro.programaId}}');
    });
    function reporte(){
        var url = '{{ path('reporte_mensual_programa')}}';
        var data = '?'+$('#formPrograma').serialize();
        window.location.href=url+data; 
    }     
     
    function calculo(){
        $('.ajuste').each(function (index, domEle) {
            if($(domEle).val().split('-').length>1 ){ $(domEle).addClass('negativo') }
            else{ $(domEle).removeClass('negativo') };    
            
            auxi = $(domEle).val().replace(',','');
            auxi = auxi.replace(' ','');
            auxi = (isNaN((parseFloat(auxi).toFixed(2)*1))) ? 0 : (parseFloat(auxi).toFixed(2)*1);
            $(domEle).val( auxi.toFixed(2) );
        });
        ctacte = $('#reportemensual_saldoBanco').val();
        ajuste = $('#reportemensual_ajuste').val();
        var valor = (parseFloat({{totalgral}}).toFixed(2)*1) 
                    + parseFloat(ajuste).toFixed(2)*1
                    + parseFloat(ctacte).toFixed(2)*1;
        $('#total').html(accounting.formatNumber(valor, 2, ".", ","));
      
    }    
    $('#enviar').click(function(){
       if(!confirm('Confirma la registración del cierre?'))  return false;
       $('form').submit() ;
    });
</script> 