<style>
@page { size : A4 landscape; }
.align-center{text-align: center}
.break {page-break-after:always}

h5{float:right; font-weight: lighter;}
table {
  font-family: 'Verdana' ;
  font-size: 12px;
  padding: 30px 0;
  width: 100%;
}
table tr th{
    border: 1px solid gray;
  /*  background: #E5E5E5;*/
    padding: 5px;
    font-size: 12px;
    letter-spacing: 0.1em;
    }
table tr td{    border: 1px solid gray;  padding:3px 15px;}
.cierre-general tbody tr td, .cierre-general th{
    text-align: right;
}
.cierre-general thead th {
  background: #E5E5E5;
}
.cierre-general th.imptotal{
    font-size: 12px;
}
</style>
<img style="display:inline" id="logo" src="{{ asset('images/header.png') }}" />
<h5><small>Fecha: {{date('now')|date('d / m / Y H:i')}}</small></h5>
<hr>
<div style="display:block; clear: both">
    <h2 style="text-align: center; ">Reporte Mensual sobre Estado de Cartera</h2>
    <h3 style="text-align: center; ">{{programa.nombre}} - ({{programa.sigla}}) </h3>
    <h3 style="text-align: center; ">{{meses[entity.mes-1]}} - {{entity.anio}}</h3>
    <div><small>{% if not tipo %}Fecha de cierre: {{ entity.fecha | date('d/m/Y')}}{% else %}{{tipo}} {{ date('now') | date('d/m/Y')}}{% endif %}</small></div>
</div>
<hr>
<div id="reporteMensualPrograma" class="content-box">
    <div class="content-box-content">
        <div style="padding-bottom: 30px;">
            <table style="width: 80%; margin: auto;" cellspacing="0" cellpadding="0">
                <thead>
                <th style="width: 70%;text-align: center">MOVIMIENTOS DE LA CARTERA</th>
                <th style="width: 30%;text-align: center">Importe</th>
                </thead>
                <tbody>
                    <tr class="alt-row">
                        <td>Cartera Activa</td>
                        <td style="text-align: right" >{{ entity.carteraActiva | number_format(2,',','.') }}</td>
                    </tr>
                    <tr class="alt-row">
                        <td>Cartera Nueva</td>
                        <td style="text-align: right" >{{ entity.carteraNueva | number_format(2,',','.') }}</td>
                    </tr>
                    <tr class="alt-row">
                        <td>Renovaciones</td>
                        <td style="text-align: right" >{{ entity.renovaciones | number_format(2,',','.') }}</td>
                    </tr>
                    <tr class="alt-row">
                        <td>Cobranzas</td>
                        <td style="text-align: right" >- {{ entity.cobranzas | number_format(2,',','.') }}</td>
                    </tr>
                    <tr class="alt-row">
                        <td>Incobrables</td>
                        <td style="text-align: right" >- {{ entity.incobrables | number_format(2,',','.') }}</td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th>Cartera Activa al fin del periodo</th>
                        <th style="text-align: right">{% set movimientos = ((entity.carteraActiva+entity.carteraNueva+entity.renovaciones) - (entity.cobranzas+entity.incobrables) ) %}{{ movimientos | number_format(2,',','.')}}</th>
                    </tr>
                </tfoot>
            </table>            
    <table style="width: 80%;margin: auto; padding-top: 0;" cellspacing="0" cellpadding="0">
        <tbody>
            <tr class="alt-row">
                <td>Saldo en Caja</td>
                <td style="text-align: right" >{{ entity.saldoCaja | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td style="width: 70%">Saldo en Banco</td>
                <td style="width: 30%;text-align: right" >{{ entity.saldoBanco | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>Ajuste</td>
                <td style="text-align: right" > {{ entity.ajuste | number_format(2,',','.') }} </td>
            </tr>
            {% if entity.observacion %}
            <tr class="alt-row">
                <td colspan="2" style="font-style:italic"><small>{{ entity.observacion }}</small></td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                <th style="text-align: right"> {{ (movimientos + entity.saldoBanco + entity.saldoCaja + entity.ajuste) | number_format(2,',','.') }} </td>
            </tr>
        </tfoot>
    </table>  

        </div>
        <div class="clear "></div>    
        <div>
            <h3 class="intereses-y-gastos" style="text-align: center">Resultados del periodo en relación a Intereses y Gastos</h3>

<table style="width: 60%;margin: auto;" cellspacing="0" cellpadding="0">
        <thead>
        <th style="width: 60%;text-align: center">Intereses Cobrados</th>
        <th style="width: 35%;text-align: center">Importe</th>
        </thead>
        <tbody>
            <tr class="alt-row">
                <td>Semana 1</td>               
                <td style="text-align: right" >{{ entity.interesSemana1 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>Semana 2</td>
                <td style="text-align: right" >{{ entity.interesSemana2 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>Semana 3</td>
                <td style="text-align: right" >{{ entity.interesSemana3 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>Semana 4</td>
                <td style="text-align: right" >{{ entity.interesSemana4 | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>Semana 5</td>
                <td style="text-align: right" >{{ entity.interesSemana5 | number_format(2,',','.') }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total Intereses</th>
                <th style="text-align: right">{% set intereses=(entity.interesSemana1+entity.interesSemana2+entity.interesSemana3+entity.interesSemana4+entity.interesSemana5) %}{{  intereses | number_format(2,',','.')}}</td>
            </tr>
        </tfoot>
    </table>
    <table style="width: 60%;margin: auto; padding: 0 0 30px" cellspacing="0" cellpadding="0">
        <tr class="alt-row">
            <td style="width: 60%;text-align: center;font-weight: bold">Gastos Administrativos</td>
            <td style="width: 35%;text-align: right;font-weight: bold">{{ entity.gastosAdministrativos | number_format(2,',','.')}}</td>
        </tr>
        <tr class="alt-row">
            <td style="width: 60%;text-align: center;font-weight: bold">Punitorios</td>
            <td style="width: 35%;text-align: right;font-weight: bold">{{ entity.punitorios | number_format(2,',','.')}}</td>
        </tr>
    </table>        
        <hr style="width: 70%;margin: 5px auto; color: white;">
    <table style="width: 60%;margin: auto;" cellspacing="0" cellpadding="0">
        <thead>
        <th style="width: 60%;text-align: center">Gastos Pagados</th>
        <th style="width: 35%;text-align: center">Importe</th>
        </thead>
        <tbody>
            <tr class="alt-row">
                <td>Gastos</td>
                <td style="text-align: right" >- {{ entity.gastos | number_format(2,',','.') }}</td>
            </tr>
            <tr class="alt-row">
                <td>Honorarios</td>
                <td style="text-align: right" >- {{ entity.honorarios | number_format(2,',','.') }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total Gastos</th>
                <th style="text-align: right">- {{ (entity.gastos+entity.honorarios) | number_format(2,',','.') }}</td>
            </tr>
        </tfoot>
    </table>    
        </div>    
    </div>
</div>   