<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Criterios de Reporte</h5>        
    </div>
    <div class="content-box-content"> 
        <form action="{{ path(app.request.attributes.get('_route'))  }}" method="post" >
            <fieldset>
                <p>
                    <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>
                    
                    <label><strong>Programa de Fondos:</strong></label>
                    <select name="_programaId" id="programaId" class="smaller-input" 
                            onchange="$('#programaTxt').val($('#programaId :selected').text()); $('#buscar').click()">
                        <option value="0">Todos</option>
                    {% for programa in programas %}
                        <option value="{{ programa.id}}" {{ filtro.programaId == programa.id ? ' selected="selected"' : '' }} > 
                            {{programa.sigla}} 
                            </option>
                    {% endfor %}            
                    </select>
                    <input type="hidden" name="_programa" id="programaTxt" value="{{ filtro.programa }}">
                    <label><strong>Periodo:</strong></label>
                    <select name="_mes" id="select_mes" class="smaller-input"
                            onchange="$('#buscar').click()">
                    {% for mes in meses %}
                        <option value="{{ loop.index}}" {{ filtro.mes  == loop.index ? ' selected="selected"' : '' }} > 
                            {{mes}} 
                            </option>
                    {% endfor %}            
                    </select>
                    <input type="number" name="_anio" id="anio" class="text-input mini-input" onchange="$('#buscar').click()"
                           min="2012" max="{{ ("now"|date('Y')) }}" step="1" value="{{filtro.anio}}">
                </p>
               
            </fieldset>    
        </form>
        
    </div>
</div>
<script type="text/javascript">
    function limpiar(){
        $('#programaId').val('');
        $('#programaTxt').val('');
        $('#opFiltro').val('limpiar');
        $('#buscar').click();
    }
</script> 
    