{% extends "layout.html.twig" %}
{% block content %} 
    <div class="clearHeight"></div>
    <h2>Reporte Mensual de Cartera</h2>
   {% include "ReporteMensual/ReporteMensualFilter.html.twig" %}

    {% set entro = false %}
    {% for message in app.flashes('information') %}
        {% set entro = true %}
        <div class="notification information png_bg">
            <a href="#" class="close"></a>
            <div> {{ message }} </div>
        </div>
    {% endfor %}


    {% if(entro == false) %}
    <div id="reporteMensualPrograma" class="content-box">
        <div class="content-box-header" >
            <h3>{{ programa.nombre }} ( {{programa.sigla}} )</h3>
            <button id="reporte" class="button list" onclick="reporte()">Imprimir Reporte</button>
            <a href=" {{path('reporte_mensual_detalle')}} " class="button list">Ver Detalle</a>
            {% if entity.fecha is null %}
            {% endif %}
        </div> 
        
       <div class="content-box-content" style="height: 470px; margin:20px 10px 10px; border-top: none;">
            {% if entity.fecha is null %}
           <form action="{{path('reporte_mensual_create')}}" id="formPrograma" method="post"  >
                {% include "ReporteMensual/ReporteMensualNew.html.twig" %}
           </form>
            {% else %}
                {% include "ReporteMensual/ReporteMensualShow.html.twig" %}
            {% endif %}    
             
        </div>
    </div>      
    {% endif %}

{% endblock %}