{% extends "layout.html.twig" %}
{% block content %} 
    <div class="clearHeight"></div>
    <h2>Reporte Mensual de Cartera</h2>
   {% include "ReporteMensual/ReporteMensualFilter.html.twig" %}
    {% if app.session.has('information') %}
            <div class="notification information png_bg">
                <a href="#" class="close"></a>
                <div> {{ app.session.get('information') }} </div>
            </div>
    {% else %}
        <div id="reporteMensualPrograma" class="content-box">
            <div class="content-box-header" >
                <h3>Estado General de la Cartera</h3>
                <a href=" {{path('reporte_mensual_general')}} " class="button list">Imprimir Reporte</a>
            </div> <!-- End .content-box-header -->

            <div class="content-box-content">
                <div>
                    <table class="cierre-general">
                    <thead>
                        <th>Programa</th>
                        <th>Cartera Activa</th>
                        <th>Cartera Nueva</th>
                        <th>Renovaciones</th>
                        <th>Cobranzas</th>
                        <th>Incobrables</th>
                        <th>Cartera al Cierre</th>
                        <th>Saldo Banco</th>
                        <th>Saldo Caja</th>
                        <th>Ajuste</th>
                        <th>TOTAL</th>
                    </thead>
                    <tbody>
                        {% set activa,nueva,renov,cob,incob,mov,bco,caja,aju,tot = 0,0,0,0,0,0,0,0,0,0 %}
                {% for programa in programas %}
                    <tr>
                        <td><strong>{{programa}}</strong></td>
                        {% set movimientos=0 %}
                        {% for entity in entities if entity.programa==programa %}
                        {%if entity.observacion=='*RGA*' %} {%set class='sincerrar'%} {%else%} {%set class=''%} {%endif%}
                        <td class="{{class}}">{{entity.carteraActiva | number_format(2,',','.')}}</td>
                        <td class="{{class}}">{{entity.carteraNueva | number_format(2,',','.')}}</td>
                        <td class="{{class}}">{{entity.renovaciones | number_format(2,',','.')}}</td>
                        <td class="{{class}}">{{entity.cobranzas | number_format(2,',','.')}}</td>
                        <td class="{{class}}">{{entity.incobrables | number_format(2,',','.')}}</td>
                        <td class="{{class}}"><strong>{% set movimientos = ((entity.carteraActiva+entity.carteraNueva+entity.renovaciones) - (entity.cobranzas+entity.incobrables) ) %}{{ movimientos | number_format(2,',','.')}}</strong></td>
                        <td class="{{class}}">{{entity.saldoBanco | number_format(2,',','.')}}</td>
                        <td class="{{class}}">{{entity.saldoCaja | number_format(2,',','.')}}</td>
                        <td class="{{class}}">{{entity.ajuste | number_format(2,',','.')}}</td>
                        <td class="{{class}}"><strong>{% set total = (movimientos + entity.saldoBanco + entity.saldoCaja + entity.ajuste) %}{{ total | number_format(2,',','.') }}</strong></td>
                        
                            {% set activa = activa + entity.carteraActiva %}
                            {% set nueva = nueva + entity.carteraNueva %}
                            {% set renov = renov + entity.renovaciones %}
                            {% set cob = cob + entity.cobranzas %}
                            {% set incob = incob + entity.incobrables %}
                            {% set mov = mov + movimientos %}
                            {% set bco = bco + entity.saldoBanco %}
                            {% set caja = caja + entity.saldoCaja %}
                            {% set aju = aju + entity.ajuste %}
                            {% set tot = tot + total %}
                        {% else %}
                        <td colspan="9" style="text-align: center" >~ Periodo sin cerrar ~ </td> 
                        {% endfor %}
                    </tr>
                {% endfor %}                        
                    </tbody>
                    <tfoot>
                        <th> TOTAL </th>
                        <th> {{activa | number_format(2,',','.')}} </th>
                        <th> {{nueva | number_format(2,',','.')}} </th>
                        <th> {{renov | number_format(2,',','.')}} </th>
                        <th> {{cob | number_format(2,',','.')}} </th>
                        <th> {{incob | number_format(2,',','.')}} </th>
                        <th> {{mov | number_format(2,',','.')}} </th>
                        <th> {{bco | number_format(2,',','.')}} </th>
                        <th> {{caja | number_format(2,',','.')}} </th>
                        <th> {{aju | number_format(2,',','.')}} </th>
                        <th class="imptotal"> {{tot | number_format(2,',','.')}} </th>
                    </tfoot>
                </table>                        
                    

                </div>
                <div>
                    <h5 class="intereses-y-gastos">Resultados del periodo en relación a Intereses y Gastos</h5>
               
                <table class="cierre-general" style="width: 70%; margin: auto">
                    <thead>
                        <th>Programa</th>
                        <th>Intereses</th>
                        <th>Gastos Adm.</th>
                        <th>Punitorios</th>
                        <th>Gastos Varios</th>
                        <th>Honorarios</th>
                        <th>SALDO</th>
                    </thead>
                    <tbody>
                        {% set int,gadm,pun,gs,hon,sal = 0,0,0,0,0,0 %}
                {% for programa in programas %}
                    <tr>
                        <td><strong>{{programa}}</strong></td>
                        {% set movimientos=0 %}
                        {% for entity in entities if entity.programa==programa %}
                        {% set interes = entity.interesSemana1 + entity.interesSemana2 + entity.interesSemana3 + entity.interesSemana4 + entity.interesSemana5 %}
                        <td>{{interes | number_format(2,',','.')}}</td>
                        <td>{{entity.gastosAdministrativos | number_format(2,',','.')}}</td>
                        <td>{{entity.punitorios | number_format(2,',','.')}}</td>
                        <td>{{(entity.gastos*-1) | number_format(2,',','.')}}</td>
                        <td>{{(entity.honorarios*-1) | number_format(2,',','.')}}</td>
                        <td><strong>{% set saldo = ((interes + entity.gastosAdministrativos + entity.punitorios) - entity.gastos - entity.honorarios) %}{{ saldo | number_format(2,',','.')}}</strong></td>
                        
                            {% set int = int + interes %}
                            {% set gadm = gadm + entity.gastosAdministrativos %}
                            {% set pun = pun + entity.punitorios %}
                            {% set gs = gs + entity.gastos %}
                            {% set hon = hon + entity.honorarios %}
                            {% set sal = sal + saldo %}

                        {% else %}
                        <td colspan="4" style="text-align: center" >~ Periodo sin cerrar ~ </td>
                        {% endfor %}
                    </tr>
                {% endfor %}                        
                    </tbody>
                    <tfoot>
                        <th> TOTAL </th>
                        <th> {{int | number_format(2,',','.')}} </th>
                        <th> {{gadm | number_format(2,',','.')}} </th>
                        <th> {{pun | number_format(2,',','.')}} </th>
                        <th> {{(gs*-1) | number_format(2,',','.')}} </th>
                        <th> {{(hon*-1) | number_format(2,',','.')}} </th>
                        <th class="imptotal"> {{sal | number_format(2,',','.')}} </th>
                    </tfoot>
                </table>                   
                </div>    
            </div>
        </div>   
    {% endif %}
  
<script type="text/javascript">
    $(document).ready(function(){   
        $('.cierre-general tr').removeClass('alt-row');
        $('.cierre-general th,.cierre-general td').each(function (index, domEle) {
            if($(domEle).html().split('-').length>1 ){
                auxi = $(domEle).html().replace('-','');
                auxi = auxi.replace(/^\s+|\s+$/g,"");
                auxi = '('+auxi+')';
                $(domEle).html(auxi);
            }
        });
    });
</script>   
{% endblock %}