
{% extends "Default/baseListEntity.html.twig" %}

{% block filterBox %}
     {% include 'RegistrosBancarios/registrosBancariosFilter.html.twig' %}
{% endblock %}


{% block titleList %} Registros de extractos bancarios {% endblock %}
{% block totalList %} Total de registros: <strong>{{ entities.getTotalItemCount}}</strong> {% endblock %}
    {% block thList %}
        <tr>
          <th>Fecha</th>
          <th>Monto</th>
          <th>Cuenta</th>
          <th>Banco</th>
          <th><a href="{{ path('registros_bancarios_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
        </tr>
    {% endblock %}
    {% block bodyList %}
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.fecha | date('d-m-Y') }}</td>
                        <td>{{ entity.monto }}</td>
                        <td>{{ entity.cuenta }}</td>
                        <td>{{ entity.banco }}</td>
                        <td>
                           <a href="{{ path('registros_bancarios_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                              Editar
                           </a>
                        </td>
                    </tr>
                {% endfor %}
    {% endblock %}
   
      



