{% extends "Default/baseListEntity.html.twig" %}

{% block filterBox %}
     {% include 'Reportes/listadoClientesEmprendedores/filter.html.twig' %}
{% endblock %}

{% block titleList %} Listado de Clientes Por Emprendedor Con Credito Individual {% endblock %}

{% block opList %}
    <button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('reportes_clientes_emprenedor_opList',{'estado': 0 }) }}" >Opciones de Listado</button>
{% endblock %}


{% block thList %}
    <th>Id</th>
    <th>Grupo/Emprendedor</th>
    <th class="align-center">Creditos Act.</th>
    <th class="align-center">Creditos Can.</th>
    <th class="align-center">Creditos Fin.</th>
    <th class="align-center">Fecha de Entrega </th>
    <th class="align-center">Fecha ult. Pago</th>
    <th class="align-center">Cuotas Actual</th>
    <th class="align-center">Cant. Cuotas</th>
    <th class="align-center">Frecuencia Cuotas</th>
    <th class="align-center">KO</th>
    <th class="align-center">Cuota %</th>
    <th class="align-center">Desfase</th>
    <th class="align-center">Nombre Emprendedor/es</th>
    <th class="align-center">Numero Telefono/s</th>
{% endblock %}

{% block bodyList %}
    {% for entity in entitiesArray %}
        <tr>
            <td>{{ entity.codigo  }}</td>
            <td>{{ entity.nombre  }}</td>
            <td class="align-center">{{ entity.creditos_activos }}</td>
            <td class="align-center">{{ entity.creditos_cancelados }}</td>
            <td class="align-center">{{ (entity.creditos_activos+entity.creditos_cancelados) }}</td>
            <td class="align-center">
                {% if(entity.fecha_entraga is defined) %}
                {{ entity.fecha_entraga | date('d-m-Y') }} - {{ entity.id }}
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.fecha_ultimo_pago is defined) %}
                    {{ entity.fecha_ultimo_pago | date('d-m-Y') }}
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.cuota_actual is defined) %}
                    {{ entity.cuota_actual }}
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.cuota_cantidad is defined) %}
                    {{ entity.cuota_cantidad }}
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.cuotas_frecuencias is defined) %}
                    {{ entity.cuotas_frecuencias }}
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.ko is defined) %}
                    ${{ entity.ko | number_format(2, ',', '.') }}
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.cuota_porcentaje is defined) %}
                    {{ entity.cuota_porcentaje | number_format(2, ',', '.') }}%
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.cuota_dias_desfase is defined) %}
                    {{ entity.cuota_dias_desfase | number_format(2, ',', '.') }}
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.emprendor_nombre is defined) %}
                    {{ entity.emprendor_nombre }}
                {% endif %}
            </td>
            <td class="align-center">
                {% if(entity.emprendor_telefono is defined) %}
                    {{ entity.emprendor_telefono }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}