<div id="datosEmprendedor"></div>
<table id="emprendedores">
            <thead>
                <tr>
                    <th class="align-center">Código</th>
                    <th>Apellido</th>
                    <th>Nombres</th>
                    <th>DNI</th>
                    <th>Dirección</th>
                    <th class="align-center">Fecha Alta</th>
                    <th style="width:10%" class="align-center actions"></th>
                </tr>
            </thead>
            <tbody>
{% for emprendedor in entity.emprendedores %}
    <tr>
        <td class="align-center">{{ emprendedor.codigo }}</td>
        <td>{{ emprendedor.apellido }}</td>
        <td>{{ emprendedor.nombres }}</td>
        <td>{{ emprendedor.dni }}</td>
        <td>{{ emprendedor.direccion }}</td>
        <td class="align-center">{{ emprendedor.fechaAlta|date('d-m-Y') }}</td>
        <td>
            <span onclick="editEmprendedor({{emprendedor.id}})" class="action mini-edit programa_ingreso_edit" title="Editar" >
                Editar
            </span>
            <span onclick="deleteEmprendedorGrupo({{emprendedor.id}})" class="action delete programa_ingreso_delete" title="Quitar del Grupo">
                Quitar
            </span>
        </td>
    </tr>
{% endfor %}                
                
              
             </tbody>
        </table>
<script type="text/javascript">
    $(document).ready(function(){
         $('tbody tr:even').addClass("alt-row");
    });
</script>             