{% extends 'Default/baseFilterEntity.html.twig' %}
{% block filterForm %}      
        <form action="{{ path('grupo') }}" method="post" >
            <fieldset>
                <p>
                    <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>
                    
                    <label><strong>Programa de Fondos:</strong></label>
                    <select name="_programa" id="select_programa" class="smaller-input" url="{{ path('es_programa_individual') }}">
                        <option value="0">---</option>
                    {% for programa in programas %}
                        <option value="{{ programa.id}}" {{ filtro.programa == programa.id ? ' selected="selected"' : '' }} > 
                            {{programa.sigla}} 
                            </option>
                    {% endfor %}            
                    </select>
                    <label><strong>Nombre del Grupo:</strong></label>
                    <input name="_grupo" url="{{ path('grupo_suggest') }}" class="text-input small-input" value="{{filtro.grupo}}" id="grupoAutocomplete" />  
                    <input type="hidden" name="_grupoId" value="{{filtro.grupoId}}" id="grupoId" />     
                </p>
                <p>
                    <label><strong>Fecha Alta:</strong></label>
                    <input name="_desde" class="text-input date-input" value="{{filtro.desde}}" id="fecha_desde_filter" />            
                    <input name="_hasta" class="text-input date-input" value="{{filtro.hasta}}" id="fecha_hasta_filter" />            
                           
                    
                </p>     
                
            </fieldset>    
        </form>
<script type="text/javascript">    
    $(document).ready(function(){
        setTimeout(function(){
            if( isEmpty($('#fecha_desde_filter').val()) && isEmpty($('#fecha_hasta_filter').val())
                && isEmpty($('#grupoId').val()) && $('#select_programa').val()==0 
                && isEmpty($('form :focus').serialize())){
                    $(".content-box-header span.arrow").click();
         }
        },3000);
      });     
    function limpiar(){
        $('#fecha_desde_filter').val('');
        $('#fecha_hasta_filter').val('');
        $('#select_programa').val('');
        $('#grupoAutocomplete').val('');
        $('#grupoId').val('');
        $('#opFiltro').val('limpiar');
        $('#buscar').click();
    }
</script>
{% endblock %}   
