{% extends "Default/baseListEntity.html.twig" %}
{% block filterBox %} 
     {% include 'Grupo/grupoFilter.html.twig' %}
{% endblock %}
{% block titleList %} Listado de Grupos {% endblock %}
{% block opList %}
<button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('grupo_opList') }}" >Opciones de Listado</button>
{% endblock %}
{% block totalList %} Total de Grupos: <strong>{{entities.getTotalItemCount}}</strong> {% endblock %}

{% block thList %}
<th>Código</th>
<th>Nombre</th>
<th>Programa</th>
<th class="align-center">Cant. Emp.</th>
<th class="align-center">Último Crédito</th>
<th class="align-center">Última Cuota</th>
<th class="align-center">Activo</th>
<th class="align-center">Fecha Alta</th>
<th><a href="{{ path('grupo_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td class="align-center"><a href="{{ path('grupo_edit', { 'id': entity.id }) }}">{{ entity.codigo }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.programa }}</td>
            <td class="align-center">{{ entity.emprendedores|length }}</td>
            <td class="align-center">{% if entity.creditos|length >0 %}${{entity.creditos[0].montoCredito}} &diams; {{entity.creditos[0].fechaCredito|date('d-m-Y')}}{% endif %}</td>
            <td class="align-center">{% if entity.creditos|length >0 %}{{entity.creditos[0].ultimaCuotaPaga}}/{{entity.creditos[0].cantCuotas}}{% endif %}</td>
            <td class="align-center">{% include 'Default/activo.html.twig' %}</td>
            <td class="align-center">{{ entity.fechaAlta|date('d-m-Y') }}</td>
            <td>
                <a href="{{ path('grupo_show', { 'id': entity.id }) }}" class="action credit" title="Ver">
                    Ver
                </a>
                <a href="{{ path('grupo_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                    Editar
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}