<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #E9E9E9;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
{% if option=='D' %}
table tr.master td, table tfoot tr th{ border-bottom: 1px solid gray; font-weight: bold; margin: 0 2px}
table tr.detail td:first-of-type{ border-left:1px solid gray;}
table tr.detail td:last-of-type{ border-right :1px solid gray;}
{% endif %}
</style>
    
<img style="display:inline" id="logo" src="{{ asset('images/header.png') }}" />
<hr>
<div style="display:block">
<h2 style="float:left">Listado de Grupos</h2>
<h5>Fecha: {{date('now')|date('d / m / Y H:i')}}</h5>
</div>
{% if filtro.programa or filtro.grupo or filtro.desde or filtro.hasta %}
<div style="display:block; clear: both">
<hr>     
    <div style="display:inline">{% if filtro.programa %}Programa de Fondos: {{programa}} {%endif%}</div>
    <div style="display:inline">{% if filtro.grupo %}Grupo: {{filtro.grupo}} {%endif%}</div>
    <div>{% if filtro.desde or filtro.hasta %}Periodo: desde el {{filtro.desde|date('d/m/Y')}} hasta el {{filtro.hasta|date('d/m/Y')}} {%endif%}</div>
</div>
{% endif %}

<div class="content-box" style="clear:both">
<hr>
<div style="display:block; clear: both" class="content-box-content">
    <table cellspacing="0">
        <thead>
            <tr >
<th class="align-center">N&deg;</th>
                <th>Código</th>
                <th>Nombre</th>
<th>Programa</th>
<th class="align-center">Emprendedores</th>
                <th class="align-center">Últ. Crédito</th>
                <th class="align-center">Últ. Cuota</th>
                <th class="align-center">Alta</th>
            </tr>
        </thead>
        <tbody>
    {% for entity in entities %}
        <tr class="master">
            <td class="align-center">{{ entity.id }}</td>
            <td>{{ entity.codigo }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.programa }}</td>
            <td class="align-center">{{ entity.emprendedores|length }}</td>
            <td class="align-center">{% if entity.creditos|length >0 %}${{entity.creditos[0].montoCredito}} - {{entity.creditos[0].fechaCredito|date('d-m-Y')}}{% endif %}</td>
            <td class="align-center">{% if entity.creditos|length >0 %}{{entity.creditos[0].ultimaCuotaPaga}}/{{entity.creditos[0].cantCuotas}}{% endif %}</td>
            <td class="align-center">{{ entity.fechaAlta|date('d-m-Y') }}</td>
        </tr>
            {% if option=='D' %}
                {% for emprendedor in entity.emprendedores %}
            <tr class="detail">
                <td></td>
                <td>{{emprendedor.codigo}}</td>
                <td colspan="3">
                    {{emprendedor.apellido~', '~emprendedor.nombres}}
                </td>
                <td class="align-center"></td>
                <td class="align-center"></td>
                <td class="align-center">{{ emprendedor.fechaAlta|date('d-m-Y') }}</td>
            </tr>
                {% endfor %}
            {% endif %}
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="8" class="align-right">Total de Grupos: {{entities|length}}</th>
            </tr>
        </tfoot>
    </table>
  
        
</div>
</div>
