<div class="content-popup"> 
    <h3>Impresión y Exportación de Datos</h3>
    <div style="margin: 15px">
        <h4>Opciones de Reporte</h4>
        <input type="radio" checked="checked" value="R" name="opReporte"><label>Reducido</label>
        <input type="radio" value="D" name="opReporte"><label>Detallado</label>
    </div>

    <div style="margin: 15px">
        <h4>Opciones de Salida</h4>
        <button id="listXls" style="margin: 15px" >XLS</button>
        <button id="listPdf" style="margin: 15px" >PDF</button>
    </div>
</div>
<script type="text/javascript">    
    $(document).ready(function(){
        $('#listPdf').click(function(){  sendList('PDF');  });
        $('#listXls').click(function(){  sendList('XLS');  });
      });     
      function sendList(format){
            var op = $('input[name="opReporte"]:checked').val();
            var url = '{{path('grupo_get_data')}}';
            window.location.href=url+'?format='+format+'&option='+op;
      }
</script>
