{% extends "Default/baseShowEntity.html.twig" %}
{% block pageTitle %} <h2>Grupos de Emprendedores </h2>{% endblock %}
{% block pathback %}   {{ path('grupo') }}  {% endblock %}

{% block tabs %} 
<ul class="content-box-tabs">
    <li><a href="#tabGroup1" class="default-tab"><strong>GRUPO</strong></a></li> 
    {% if entity.id  %}<li><a href="#tabGroup2" >Emprendedores</a></li> {%endif%}
    {% if entity.id  %}<li><a href="#tabGroup3" >Creditos Entregados</a></li> {%endif%}
</ul>
{% endblock%}

{% block groupFormContent %}
<div class="tab-content default-tab" id="tabGroup1">
  <fieldset>
    <p>
        {{ form_label(form.codigo) }}
        {{ form_widget(form.codigo, { 'attr': {'class' : 'text-input smaller-input', 'readonly':'readonly' } }) }}
        {{ form_errors(form.codigo) }}
    </p>
    <p>
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': { 'class' : 'text-input medium-input' } }) }}
        {{ form_errors(form.nombre) }}    
    </p>
    <p>
        {{ form_label(form.programa) }}
        {{ form_widget(form.programa, { 'attr': { 'class' : 'text-input smaller-input', 'url' : path('es_programa_individual') } }) }}
        {{ form_errors(form.programa) }}    
    </p>
    <p>
        {{ form_label(form.recomendador) }}
        {{ form_widget(form.recomendador) }}
     </p>
    <p>
        {{ form_label(form.activo) }}
        {{ form_widget(form.activo) }}
        {{ form_errors(form.activo) }}    
    </p>
    </fieldset>
    <div class="clear"></div>
</div>

<div class="tab-content" id="tabGroup2">
    <div class="content-box">
        <div class="content-box-header">
            <h3>Emprendedores del Grupo</h3>
            <span class="align-right total">Total: {{ entity.emprendedores | length }}</span>
        </div> <!-- End .content-box-header -->
        <div class="content-box-content">
            {% include "Grupo/_partial_emprendedor.html.twig" %}
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="tab-content" id="tabGroup3">
    <div class="content-box">
        <div class="content-box-header">
            <h3>Creditos entregados</h3>
            <span class="align-right total">Total: {{ entity.creditos | length }}</span>
        </div> <!-- End .content-box-header -->
        <div class="content-box-content">
            <table>
                <thead>
                <tr>
                    <th>Creditos</th>
                    <th class="align-center">Status</th>
                    <th class="align-center">Fecha</th>
                    <th class="align-center">Cantidad Cuotas</th>
                    <th class="align-center">Monto</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for creditoEntry in entity.creditos %}
                    <tr>
                        <td>{{ creditoEntry }}</td>
                        <td class="align-center">
                            {% if creditoEntry.status == 'Moroso' %}
                                <b style="color: #FF4500!important;">{{ creditoEntry.status }}</b>
                            {% else %}
                                {{ creditoEntry.status }}
                            {% endif %}
                        </td>
                        <td class="align-center">{{creditoEntry.fechaEntrega | date('d-m-Y')}}</td>
                        <td class="align-center">
                            {%  if creditoEntry.aprobado == 1 %}
                            {{ creditoEntry.ultimaCuotaPaga }}/{{creditoEntry.cantCuotas}}</td>
                        {% else %}
                            Solicitud/{{creditoEntry.cantCuotas}}</td>
                        {% endif %}
                        <td style="text-align:right">{{creditoEntry.montoCredito| number_format(0,',','.')}}</td>
                        <td>
                            <a href="{{ path('credito_show', { 'id': creditoEntry.id }) }}" title="Ver"><img src="{{ asset('images/icons/credit.png') }}" alt="Ver" /></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </div>
</div>

    <script type="text/javascript">
$(document).bind('beforeReveal.facebox', function() {
        $('#facebox .content').width('600px');
});    
$(document).bind('afterClose.facebox', function() {
      $("#emprendedorId").val('');
    //  $('#emprendedorAutocomple').val('');
       $.ajax({
                url: '{{path("grupo_remove_emprendedor")}}',
                data: 'empId='+'&grupoId='+'{{entity.id}}',
                dataType: 'json',
                success: function(data){
                    $('#emprendedores').html(data.partial);
               }
            });
});

    $(document).ready(function(){
         $('tbody tr:even').addClass("alt-row");

        $('#addEmprendedor').click(function(){
            $('#loading').fadeIn();
            $.ajax({
                url: '{{path("grupo_add_emprendedor")}}',
                data: 'empId='+$('#emprendedorId').val()+'&grupoId='+'{{entity.id}}',
                //async:false,
                dataType: 'json',
                success: function(data){
                    if(data.msg)
                        alert(data.msg);
                    else{
                        $('#emprendedores').html(data.partial);
                    }
                    $("#emprendedorId").val('');
                    $('#emprendedorAutocomple').val('');
                    $('#loading').fadeOut();
               }
            });
        });

        // addOptionEmptyToSelect('emprendedor_grupo');

        $('#grupo_programa').select2({
            allowClear: true,
            placeholder: 'Seleccione una opción'
        });

        // addOptionEmptyToSelect('emprendedor_grupo');
        $('#grupo_recomendador').select2({
            allowClear: true,
            placeholder: 'Seleccione una opción'
        });
        
        $('#emprendedorAutocomple').autocomplete({
            minLength: 2,
            source: $('#emprendedorAutocomple').attr('url'),
            search: function(event,ui){
                $("#emprendedorId").val('');
            },
            select: function(event,ui) {
                $("#emprendedorId").val(ui.item.id);
            }
        }); 
        $('#emprendedorAutocomple').blur(function(){
            if( $("#emprendedorId").val()== '')
                $('#emprendedorAutocomple').val('');
        });        
        $('#recomendadorAutocomplete').autocomplete({
            minLength: 2,
            source: $('#recomendadorAutocomplete').attr('url'),
            search: function(event,ui){
                $("#grupo_recomendador").val('');
            },
            select: function(event,ui) {
                $("#grupo_recomendador").val(ui.item.id);
            }
        }); 
        $('#recomendadorAutocomplete').blur(function(){
            if( $("#recomendadorAutocomplete").val()== '')
                $('#grupo_recomendador').val('');
        });        
     });
     
     function editEmprendedor(empId){
        $.facebox({ ajax: '{{path('emprendedor_editar_datos')}}'+'?id='+empId }, 'datosEmprendedor');
     }
     function deleteEmprendedorGrupo(empId){
        if(confirm('Confirma quitar este emprendedor del grupo? ')){
            $.ajax({
                url: '{{path("grupo_remove_emprendedor")}}',
                data: 'empId='+empId+'&grupoId='+'{{entity.id}}',
                //async:false,
                dataType: 'json',
                success: function(data){
                    if(data.msg=='OK')
                        $('#emprendedores').html(data.partial);
                    else{
                        alert('No se puede quitar al emprendedor');
                    }
               }
            });
        }
     }

    function addOptionEmptyToSelect(name){
        // get reference to select element
        var sel = document.getElementById(name);
        // create new option element
        var opt = document.createElement('option');
        // create text node to add to option element (opt)
        opt.appendChild( document.createTextNode('Seleccione una opción') );
        // set value property of opt
        opt.value = -1;
        // add opt to end of select box (sel)
        sel.prepend(opt);
        // $('#'.name).val('-1').change();
        document.getElementById(name).value = -1;
    }

</script>        
{% endblock %}