<style>
.small-input{ width: 30% !important }
.medium-input{ width: 60% !important }
</style>
<div id="main-content" class="pagocuota">
    <div style="margin-top:25px" class="content-box">
        <div class="content-box-header">
            <h3>Datos Emprendedor {{emprendedor.codigo}}</h3>
        </div>
        <div class="content-box-content">
            <form> 
                <fieldset >
                    <p>
                        {{ form_label(form.apellido) }}
                        {{ form_widget(form.apellido, { 'attr': { 'class' : 'text-input small-input' } }) }}
                        {{ form_label(form.nombres) }}
                        {{ form_widget(form.nombres, { 'attr': { 'class' : 'text-input small-input' } }) }}
                    </p>
                    <p>
                        {{ form_label(form.dni) }}
                        {{ form_widget(form.dni, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form_label(form.cbu) }}
                        {{ form_widget(form.cbu, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form_label(form.sexo) }}
                        {{ form_widget(form.sexo) }}
                     </p>
                    <p>
                        {{ form_label(form.direccion) }}
                        {{ form_widget(form.direccion, { 'attr': { 'class' : 'text-input medium-input' } }) }}
                     </p>
                     <p>
                        {{ form_label(form.ubicacion) }}
                        {{ form_widget(form.ubicacion, { 'attr': { 'class' : 'text-input small-input' } }) }}

                        {{ form_label(form.telefono) }}
                        {{ form_widget(form.telefono, { 'attr': { 'class' : 'text-input small-input' } }) }}
                     </p>
                     <p>
                        {{ form_label(form.DatosAdicionales.actividad) }}
                        {{ form_widget(form.DatosAdicionales.actividad, { 'attr': { 'class' : 'text-input medium-input' } }) }}
                     </p>
                </fieldset> 
                <div style="display:none" > 
                     <input value="{{emprendedor.id}}" name="id" class="id" id="id" type="hidden"/>
                    {{ form_rest(form) }}
                       
                </div>
            </form>
        </div>
    </div>        
        <div class="align-center" style="margin-bottom: 10px ">
        <button type="button" id="registrar" class="button" style="margin-left: 15px">Guardar los cambios</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#registrar').click(function(){
            if( $('#emprendedor_dni').val() == ''){
                alert('Debe ingresar el DNI');
                return false;
            }else{
                $('#emprendedor_dni').val(
                    parseInt($('#emprendedor_dni').val())
                )
            }
            if( $('#emprendedor_apellido').val() == ''){
                alert('Debe ingresar Apellido');
                return false;
            }

            if( $('#emprendedor_nombres').val() == ''){
                alert('Debe ingresar Nombre');
                return false;
            }

            if( $('#emprendedor_nombres').val() == ''){
                alert('Debe ingresar Nombre');
                return false;
            }

            if( $('#emprendedor_direccion').val() == ''){
                alert('Debe ingresar la Dirección');
                return false;
            }

            if( $('#emprendedor_telefono').val() == ''){
                alert('Debe ingresar la Telefono');
                return false;
            }


            $.ajax({
                url: '{{path("emprendedor_guardar_datos")}}',
                data: $('form').serialize(),
                async:false,
                dataType: 'json',
                success: function(data){
                    if(data!='error'){
                        emp = $('#emprendedor_'+'{{emprendedor.id}}');
                        dni = $('#lbldni_'+'{{emprendedor.id}}');
                        if( emp.val()==undefined ){
                            $('#emprendedorAutocomplete').val(data.nombre);
                            $('#lbldni').html(data.dni);
                        }else{
                            $('#lblnom_'+'{{emprendedor.id}}').html(data.codigo+' - '+data.nombre);
                            dni.html(data.dni);
                        }
                    }
                    $(document).trigger('close.facebox');
               }
           });


        });
    });
</script>    