<fieldset >
    <p>
        {{ form_label(form.DatosAdicionales.actividad) }}
        {{ form_widget(form.DatosAdicionales.actividad, { 'attr': {'class' : 'text-input medium-input' } }) }}

        {{ form_label(form.DatosAdicionales.experiencia) }}
        {{ form_widget(form.DatosAdicionales.experiencia, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
    </p>        
    <p>        
        {{ form_label(form.DatosAdicionales.tipo_actividad) }}
        {{ form_widget(form.DatosAdicionales.tipo_actividad, { 'attr': { 'class' : 'text-input smaller-input' } }) }}

        {{ form_label(form.DatosAdicionales.lugar_actividad) }}
        {{ form_widget(form.DatosAdicionales.lugar_actividad, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
    </p>        
    <p> 
        {{ form_label(form.DatosAdicionales.dia_hora_atencion) }}
        {{ form_widget(form.DatosAdicionales.dia_hora_atencion, { 'attr': { 'class' : 'text-input medium-input' } }) }}

    </p>        
    <p> 
        {{ form_label(form.DatosAdicionales.ventas_semanal) }}
        {{ form_widget(form.DatosAdicionales.ventas_semanal, { 'attr': { 'class' : 'text-input smaller-input' } }) }}

        {{ form_label(form.DatosAdicionales.tipo_inmueble_negocio) }}
        {{ form_widget(form.DatosAdicionales.tipo_inmueble_negocio, { 'attr': { 'class' : 'text-input mini-input' } }) }}
    </p>        
    <p> 
        {{ form_label(form.DatosAdicionales.direccion_negocio) }}
        {{ form_widget(form.DatosAdicionales.direccion_negocio, { 'attr': { 'class' : 'text-input medium-input' } }) }}

        {{ form_label(form.DatosAdicionales.telefono_negocio) }}
        {{ form_widget(form.DatosAdicionales.telefono_negocio, { 'attr': { 'class' : 'text-input small-input' } }) }}
    </p>
    <p>            
        {{ form_label(form.DatosAdicionales.ubicacion_negocio) }}
        {{ form_widget(form.DatosAdicionales.ubicacion_negocio, { 'attr': { 'class' : 'text-input small-input' } }) }}

        {{ form_label(form.DatosAdicionales.zona_negocio) }}
        {{ form_widget(form.DatosAdicionales.zona_negocio, { 'attr': { 'class' : 'text-input small-input' } }) }}
    </p>
    <p>            
        {{ form_label(form.DatosAdicionales.actividad_secundaria) }}
        {{ form_widget(form.DatosAdicionales.actividad_secundaria, { 'attr': { 'class' : 'text-input medium-input' } }) }}
    </p>
    <p>
        {{ form_label(form.DatosAdicionales.trabajos_anteriores) }}
        {{ form_widget(form.DatosAdicionales.trabajos_anteriores, { 'attr': { 'class' : 'text-input medium-input' } }) }}
    </p>
</fieldset>