<fieldset >
    <p>
        {{ form_label(form.DatosAdicionales.nombres_conyuge) }}
        {{ form_widget(form.DatosAdicionales.nombres_conyuge, { 'attr': { 'class' : 'text-input small-input' } }) }}

        {{ form_label(form.DatosAdicionales.apellido_conyuge) }}
        {{ form_widget(form.DatosAdicionales.apellido_conyuge, { 'attr': { 'class' : 'text-input small-input' } }) }}

        {{ form_label(form.DatosAdicionales.dni_conyuge) }}
        {{ form_widget(form.DatosAdicionales.dni_conyuge, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
    </p>
    <p>
        {{ form_label(form.DatosAdicionales.lugar_nacimiento_conyuge) }}
        {{ form_widget(form.DatosAdicionales.lugar_nacimiento_conyuge, { 'attr': { 'class' : 'text-input smaller-input' } }) }}

        {{ form_label(form.DatosAdicionales.fecha_nacimiento_conyuge) }}
        {{ form_widget(form.DatosAdicionales.fecha_nacimiento_conyuge, { 'attr': { 'class' : 'text-input date-input datepicker' } }) }}
    </p>
    <p>
        {{ form_label(form.DatosAdicionales.nivel_educativo_conyuge) }}
        {{ form_widget(form.DatosAdicionales.nivel_educativo_conyuge, { 'attr': { 'class' : 'text-input smaller-input' } }) }}

        {{ form_label(form.DatosAdicionales.actividad_conyuge) }}
        {{ form_widget(form.DatosAdicionales.actividad_conyuge, { 'attr': {'class' : 'text-input medium-input' } }) }}
     </p>
</fieldset>