<fieldset >
    <div class="tab-content default-tab" style="display: block;">
        <p class="index-title"> Listado de Grupos al que pertenece: </p>
        <table>
            <thead>
                <tr>
                    <th>Creditos</th>
                    <th class="align-center">Status</th>
                    <th class="align-center">Fecha</th>
                    <th class="align-center">Cantidad Cuotas</th>
                    <th class="align-center">Monto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for grupoEntry in entity.grupo %}
                <tr class=""><td colspan="6" class="header-vencimientos">
                        <a href="{{ path('grupo_edit', { 'id': grupoEntry.id }) }}">{{ grupoEntry }}</a>
                    </td>
                </tr>
                    {% for creditoEntry in grupoEntry.creditos %}
                    <tr>
                        <td>{{ creditoEntry }}</td>
                        <td class="align-center">
                            {% if creditoEntry.status == 'Moroso' %}
                                <b style="color: #FF4500!important;">{{ creditoEntry.status }}</b>
                            {% else %}
                                {{ creditoEntry.status }}
                            {% endif %}
                        </td>
                        <td class="align-center">{{creditoEntry.fechaEntrega | date('d-m-Y')}}</td>
                        <td class="align-center">
                            {%  if creditoEntry.aprobado == 1 %}
                                {{ creditoEntry.ultimaCuotaPaga }}/{{creditoEntry.cantCuotas}}</td>
                            {% else %}
                                Solicitud/{{creditoEntry.cantCuotas}}</td>
                            {% endif %}
                        <td style="text-align:right">{{creditoEntry.montoCredito| number_format(0,',','.')}}</td>
                        <td>
                            <a href="{{ path('credito_show', { 'id': creditoEntry.id }) }}" title="Ver"><img src="{{ asset('images/icons/credit.png') }}" alt="Ver" /></a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>


</fieldset>