<fieldset >
    <p>
        {{ form_label(form.codigo) }}
        {{ form_widget(form.codigo, { 'attr': {'class' : 'text-input smaller-input', 'readonly':'readonly' } }) }}

        {{ form_label(form.programa) }}
        {{ form_widget(form.programa, { 'attr': { 'class' : 'text-input smaller-input', 'url' : path('es_programa_individual') } }) }}

        {#{{ form_label(form.grupo) }}#}
        {#{{ form_widget(form.grupo) }}#}
            {#<input name="_grupo" url="{{ path('grupo_suggest') }}" required="required" class="text-input small-input" value="{{entity.grupo}}" id="grupoAutocomplete" />  #}
    </p>
    <p>
        {{ form_label(form.nombres) }}
        {{ form_widget(form.nombres, { 'attr': { 'class' : 'text-input small-input' } }) }}

        {{ form_label(form.apellido) }}
        {{ form_widget(form.apellido, { 'attr': { 'class' : 'text-input small-input' } }) }}

        {{ form_label(form.dni) }}
        {{ form_widget(form.dni, { 'attr': { 'class' : 'text-input mini-input' } }) }}
        {{ form_label(form.cuit) }}
        {{ form_widget(form.cuit, { 'attr': { 'class' : 'text-input mini-input' } }) }}
     
        {{ form_label(form.email) }}
          {{ form_widget(form.email, { 'attr': { 'class' : 'text-input mini-input' } }) }}
        {{ form_label(form.cbu) }}
         {{ form_widget(form.cbu, { 'attr': { 'class' : 'text-input mini-input' } }) }}
    </p>
    <p>
        <div>
        {{ form_label(form.sobrenombre) }}
        {{ form_widget(form.sobrenombre, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
            
        {{ form_label(form.estado_civil) }}
        {{ form_widget(form.estado_civil, { 'attr': { 'class' : 'text-input smaller-input' } }) }}


        {{ form_label(form.sexo) }}
        {{ form_widget(form.sexo, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
        </div>
     </p>
     <p>
        {{ form_label(form.lugar_nacimiento) }}
        {{ form_widget(form.lugar_nacimiento, { 'attr': { 'class' : 'text-input smaller-input' } }) }}

        {{ form_label(form.fecha_nacimiento) }}
        {{ form_widget(form.fecha_nacimiento, { 'attr': { 'class' : 'text-input date-input datepicker' } }) }}

        {{ form_label(form.nivel_educativo) }}
        {{ form_widget(form.nivel_educativo, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
     </p>
     <p>
        {{ form_label(form.direccion) }}
        {{ form_widget(form.direccion, { 'attr': { 'class' : 'text-input medium-input' } }) }}
     </p>
     <p>
        {{ form_label(form.ubicacion) }}
        {{ form_widget(form.ubicacion, { 'attr': { 'class' : 'text-input small-input' } }) }}

        {{ form_label(form.telefono) }}
        {{ form_widget(form.telefono, { 'attr': { 'class' : 'text-input small-input' } }) }}
     </p>
     <p>
        {{ form_label(form.tipo_vivienda) }}
        {{ form_widget(form.tipo_vivienda, { 'attr': { 'class' : 'text-input mini-input' } }) }}

        {{ form_label(form.tiempo_residencia) }}
        {{ form_widget(form.tiempo_residencia, { 'attr': { 'class' : 'text-input mini-input' } }) }}
     </p>
     <p>{{ form_label(form.recomendador) }}
        {{ form_widget(form.recomendador) }}
        {#<input name="_emprendedor" url="{{ path('emprendedor_suggest') }}" class="text-input small-input" value="{{entity.recomendador}}" id="emprendedorAutocomplete" />  #}
     </p>
     <p>
         {{ form_label(form.aclaraciones)}}
        {{ form_widget(form.aclaraciones) }}
     </p>
     <p style="text-align: center">
        {{ form_label(form.activo) }}
        {{ form_widget(form.activo) }}
     </p>
</fieldset>