{% extends "Default/baseListEntity.html.twig" %}
{% block filterBox %} 
     {% include 'Emprendedor/emprendedorFilter.html.twig' %}
{% endblock %}

{% block titleList %} Listado de Emprendedores {% endblock %}
{% block opList %}
<button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('emprendedor_opList') }}" >Opciones de Listado</button>
{% endblock %}
{% block totalList %} Total de Emprendedores: <strong>{{entities.getTotalItemCount}} </strong>{% endblock %}

{% block thList %}
<th class="align-center">Código</th>
<th>Apellido</th>
<th>Nombres</th>
<th>Programa</th>
<th>Grupo</th>
<th class="align-center">Activo</th>
<th class="align-center">Fecha Alta</th>
<th><a href="{{ path('emprendedor_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td class="align-center"><a href="{{ path('emprendedor_edit', { 'id': entity.id }) }}">{{ entity.codigo }}</a></td>
            <td>{{ entity.apellido }}</td>
            <td>{{ entity.nombres }}</td>
            <td>{{ entity.programa }}</td>
            <td>
                <ul>
                {% for grupoEntry in entity.grupo %}
                   <li>{{ grupoEntry }}</li>
                {% endfor %}
                </ul>
            </td>
            <td class="align-center">{% include 'Default/activo.html.twig' %}</td>
            <td class="align-center">{{ entity.fechaAlta|date('d-m-Y') }}</td>
            <td>
                <a href="{{ path('emprendedor_show', { 'id': entity.id }) }}" class="action credit" title="Ver">
                    Ver
                </a>
                <a href="{{ path('emprendedor_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                    Editar
                </a>

            </td>
        </tr>
    {% endfor %}
{% endblock %}