<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >   
<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
{% if option=='D' %}
table tr.master td{ border-bottom: 1px solid gray; font-weight: bold; margin: 0 2px}
table tr.detail td:first-of-type{ border-left:1px solid gray;}
table tr.detail td:last-of-type{ border-right :1px solid gray;}
{% endif %}
</style>       
    <table >
        <thead>
            <tr >
                <th class="align-center">N&deg;</th>
                <th>Grupo</th>
                <th class="align-center">Código</th>
                <th>Apellido</th>
                <th>Nombres</th>
                <th>DNI</th>
                <th class="align-center">Alta</th>
            </tr>
        </thead>
        <tbody>
    {% for entity in entities %}
        <tr class="master">
            <td class="align-center">{{ entity.id }}</td>
            <td>{{ entity.grupo }}</td>
            <td>{{ entity.codigo }}</td>
            <td>{{ entity.apellido }}</td>
            <td>{{ entity.nombres }}</td>
            <td>{{ entity.dni }}</td>
            <td class="align-center">{{ entity.fechaAlta|date('d-m-Y') }}</td>
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7" class="align-right">Total de Empendedores: {{entities|length}}</th>
            </tr>
        </tfoot>
    </table>
   </body>
</html>