{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Emprendedores </h2>{% endblock %}

{% block pathback %}   {{ path('emprendedor') }}           {% endblock %}
{% block pathUpdate %} {{path('emprendedor_update_info', { 'id': entity.id })}} {% endblock %}

{% block formContent %}
<div class="clear" ></div>
<div class="content-box">
    <div class="content-box-header">
        <ul class="content-box-tabs">
            <li><a id="a_tabGroup1" href="#tabGroup1" class="default-tab"><strong>Datos Personales</strong></a></li> 
            <li><a id="a_tabGroup2" href="#tabGroup2" >Datos del Negocio</a></li> 
            <li><a id="a_tabGroup4" href="#tabGroup3" >Datos del Cónyuge</a></li>
            <li><a id="a_tabGroup5" href="#tabGroup4" >Grupos</a></li>
        </ul>
    </div>
    <div class="content-box-content">    
        <div class="tab-content default-tab" id="tabGroup1">
            <p style="color:red">Solo esta habilitada la opción de editar la Aclaración Adicional</p>
            {% include "Emprendedor/emprendedorEdit_datosPersonales.html.twig" %}
        </div>
        <div class="tab-content" id="tabGroup2"> 
            {% include "Emprendedor/emprendedorEdit_datosNegocio.html.twig" %}
        </div>            
        <div class="tab-content" id="tabGroup3"> 
            {% include "Emprendedor/emprendedorEdit_datosConyuge.html.twig" %}
        </div>
        <div class="tab-content" id="tabGroup4">
            {% include "Emprendedor/emprendedorEdit_datosGrupos.html.twig" %}
        </div>
    </div>  

        
</div>
{{ form_rest(form) }}

<script type="text/javascript"> 
 $(document).ready(function(){

    initForms();

    $('#emprendedor_programa').change(function(){
        $('#loading').fadeIn();
        console.log($(this).val());
        if($(this).val() != "") {
            $.ajax({
                url: $(this).attr('url'),
                data: 'id=' + $(this).val(),
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        $('#emprendedor_grupo').attr('disabled', 'true');
                        // $('#grupoAutocomplete').attr('disabled','true');
                        $('#emprendedor_DatosAdicionales_actividad').removeAttr('required');
                    }
                    else {
                        $('#emprendedor_grupo').removeAttr("disabled");
                        // $('#grupoAutocomplete').removeAttr("disabled");
                        $('#emprendedor_DatosAdicionales_actividad').attr('required', 'required');
                    }
                    $("#emprendedor_grupo").val('');
                    // $('#grupoAutocomplete').val('');
                    $('#loading').fadeOut();
                }
            }).fail(function () {
                $('#loading').fadeOut();
                alert("No es posible realizar esta operación en este momento.");
            });
        }else{
            document.getElementById('emprendedor_grupo').value = -1;
            $('#emprendedor_grupo').trigger('change');
            $('#emprendedor_grupo').attr('disabled', 'true');
            $('#loading').fadeOut();

        }
    });

    // verificar que tenga grupo, sino deshabilitar
    if($('#emprendedor_programa').val()==5)
        $('#grupoAutocomplete').attr('disabled','true');
    $('#submitForm').click( function(){
        var tab = $('input:required:invalid').closest(".tab-content").attr('id');
        $('#a_'+tab).click();
    });
    
    // $('#emprendedorAutocomplete').autocomplete({
    //     minLength: 2,
    //     source: $('#emprendedorAutocomplete').attr('url'),
    //     search: function(event,ui){
    //         $("#emprendedor_recomendador").val('');
    //     },
    //     select: function(event,ui) {
    //         $("#emprendedor_recomendador").val(ui.item.id);
    //     }
    // });
    // $('#emprendedorAutocomplete').blur(function(){
    //     if( $("#emprendedorAutocomplete").val()== ''){
    //         $('#emprendedor_recomendador').val(''); }
    // });
    
});


 function initForms() {
     addOptionEmptyToSelect('emprendedor_grupo');

     $('#emprendedor_grupo').select2({
         placeholder: 'Seleccione una opción'
     });

     $('#emprendedor_recomendador').select2({
         placeholder: 'Seleccione una opción'
     });

     $('#emprendedor_grupo').attr('disabled','true');

     myDate = new Date();
     if(!isEmpty($('#emprendedor_fecha_nacimiento').val())){
         myDate = $('#emprendedor_fecha_nacimiento').val();
     }
     $('#emprendedor_fecha_nacimiento').datepicker(
         {
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
     $('#date').datepicker('setDate', myDate);

 }
 function addOptionEmptyToSelect(name){
     // get reference to select element
     var sel = document.getElementById(name);
     // create new option element
     var opt = document.createElement('option');
     // create text node to add to option element (opt)
     opt.appendChild( document.createTextNode('Seleccione una opción') );
     // set value property of opt
     opt.value = -1;
     // add opt to end of select box (sel)
     sel.prepend(opt);
     // $('#'.name).val('-1').change();
     document.getElementById(name).value = -1;
 }

</script>    
{% endblock %}