/********************************      Basic Structure      ********************************/

html {
                font-size: 100%;
                height: 100%;
                margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
                }
body {
                font-family: Arial, Helvetica, sans-serif;
                color: #555;
                background: #f0f0f0 url('../images/bg-sidebar.jpg') top left repeat-y;
                font-size: 12px;
                }

#body-wrapper {
                background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;
                }                

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
                font-family: Georgia, Arial, sans-serif;
                color: #222;
                font-weight: bold;
                }

h1            { font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff; 
				  top: 0px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
				}
				
h2            { font-size: 24px; padding: 0 15px 15px; }
h3            { font-size: 17px; padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a              { color: #57a000; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }

small   		{ font-size: 0.9em; }

pre           { font-family: monospace; }

p {
                padding: 5px 0 0;
                line-height: 1.6em;
                }
                p.index-title{
                    border-bottom: 1px solid #DDDDDD;
                    font-style: italic;
                    padding: 0 5px 5px;
                }                

/********************************      General Classes      ********************************/

.clear {
                clear: both;
                }
.clearHeight {
                clear: both;
                height: 20px;
                }
				
.align-left {
                float: left;
                }
				
.align-right {
                float: right;
                }
.align-center{
                text-align: center;
                }                
.hidden{
                display: none !important;
             }
.ui-autocomplete-loading {
        background: white url('../images/icons/ui-anim_basic_16x16.gif') right center no-repeat;
    }
    
/************ Button ************/
.button {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    background: #459300 url('../images/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #459300 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 10px !important;
    cursor: pointer;
}

.button:hover {
    font-weight: bold;
}

.button:active {
    padding: 5px 7px 3px 7px !important;
}
.incobrable{
    background: #930900 url('../images/bg-button-red.gif') top left repeat-x !important;
    border: 1px solid #930900 !important;
}


.submit-block{
    text-align: center;
}
a.remove-link {
    color: #bb0000;
}

a.remove-link:hover {
    color: #000;
}
.action {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  margin: 0 4px;
  text-indent: -9999px;
}
.add {
  background-image: url("../images/icons/add.png");  
  padding: 5px 0 10px 32px;
}
.mini-add {
  background-image: url("../images/icons/bullet_add.png");  
  padding: 5px 0 0 25px;
}
.edit {
  background-image: url("../images/icons/pencil24.png");
  height: 24px;
  width: 24px;
}
.pago24 {
  background-image: url("../images/icons/ingpago.png");
  height: 24px;
  width: 24px;
}
.credit {
  background-image: url("../images/icons/credit.png");
  height: 24px;
  width: 24px;
}
.verrenov {
  background-image: url("../images/icons/versolic3.png");
  height: 24px;
  width: 24px;
}
.incobrableicon {
  background-image: url("../images/icons/disabled24.png");
  height: 24px;
  width: 24px;
}
.renew {
  background-image: url("../images/icons/renovar.png");
  height: 24px;
  width: 24px;
}
.renew2 {
  background-image: url("../images/icons/renovp.png");
  height: 16px;
  width: 16px;
}
.mini-edit {
  background-image: url("../images/icons/mini-pencil.png");  
  width: 20px;
  height: 20px;
}
.mini-acept{
  background-image: url("../images/icons/tick_circle.png");  
  width: 20px;
  height: 20px;
}
.mini-cancel{
  background-image: url("../images/icons/cross_circle.png");  
  width: 20px;
  height: 20px;
}
.delete {
  background-image: url("../images/icons/bullet_delete.png");
  width: 20px;
  height: 18px;
}
.deleteMax {
  background-image: url("../images/icons/delete.png");
  border: medium none;
  cursor: pointer;
  padding: 5px 0 12px 32px;
}
.pdfMax {
  background-image: url("../images/icons/folder2.png");
  border: medium none;
  cursor: pointer;
  padding: 5px 0 25px 50px;
}
.pdfSolicitud {
  background-image: url("../images/icons/solicitud.png");
  border: medium none;
  cursor: pointer;
  padding: 5px 0 25px 50px;
}
.pdfContrato {
  background-image: url("../images/icons/contrato.png");
  border: medium none;
  cursor: pointer;
  padding: 5px 0 25px 50px;
}
.excel {
  background-image: url("../images/icons/xls.png");
  border: medium none;
  cursor: pointer;
  height: 20px;
  margin: 3px 14px 0 0;
  width: 5px;
}
.list {
  display: block;
  float: right;
  margin: 7px 20px 0 5px;
}
.pdf {
  background-image: url("../images/icons/pdf.png");
  border: medium none;
  cursor: pointer;
  height: 20px;
  margin: 2px 10px;
  width: 5px;
}
.search {
  background-image: url("../images/icons/search.png");
  border: medium none;
  cursor: pointer;
  padding: 5px 0 12px 32px;
}
.clean {
  background-image: url("../images/icons/clean.png");
  border: medium none;
  cursor: pointer;
  padding: 5px 0 12px 32px;
}

.activo, .activo0 {
  background-image: url("../images/icons/disabled16.png");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 16px;
}
.activo1 {
  background-image: url("../images/icons/ok16.png");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 16px;
}
.deudor{color:#FF4500!important;}
.arrow {
  background-image: url("../images/icons/down.png");
  height: 16px;
  margin: 12px 15px;
  width: 16px;
}
.close-box{
     background-image: url("../images/icons/up.png");
}
.plus {
  background-image: url("../images/icons/plus.png");
  height: 16px;
  margin: 12px 15px;
  width: 16px;
}
.minus{
     background-image: url("../images/icons/minus.png");
}
.print {
  background-image: url("../images/icons/print.png");
  height: 16px;
  margin: 12px 15px;
  width: 16px;
}
.pluspago {
  background-image: url("../images/icons/plus.png");
  height: 16px;
  margin: 12px 15px;
  width: 16px;
}
.minuspago{
     background-image: url("../images/icons/minus.png");
}
#loading,#loading2 {
  background: url("../images/icons/al_loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0.1);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 120;
}
.histo_emp{  margin:10px 30px }
.histo_emp label:first-child{ min-width: 150px }
.histo_emp label{ margin-right:30px; display: inline-block;}
.histo_emp ul{ padding: 0px !important}
.histo_emp ul li{ padding: 0 0 3px 20px !important}

/************ PrintBlock ************/
#printBlock{ display: none; }
#printBlock p,
#printBlock form {
                border-top: 1px solid #ddd;
                padding: 10px 0;
                }

#printBlock h4 {
                padding: 10px 0;
                }
				
#printBlock fieldset {
                margin: 0;
                }
				
#printBlock textarea {
                margin: 0 0 15px 0;
                }

/********************************      Sidebar      ********************************/

#sidebar {
               /* background: url('../images/bg-sidebar.gif') top left no-repeat;*/
                width: 205px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                color: #888;
                font-size: 11px;
                }

#sidebar #sidebar-wrapper {
                margin: 0 0 0 9px;
                text-align: center;
                }

#sidebar a,
#sidebar a:active {
                color:#ccc;
                }

#sidebar a:hover {
                color:#fff;
                }

#sidebar #sidebar-title {
                margin: 30px 0 20px;
                }

#sidebar #logo {
                margin: 25px 0 10px;
                }

#sidebar #profile-links {
                padding: 0px 15px 15px;
                text-align: center;
                line-height: 1.5em;
                }

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
                width: 180px;
                padding: 0;
                margin: 0 0 0 15px;
                font-family: Helvetica, Arial, sans-serif;
                }

#sidebar #main-nav li {
                list-style: none;
                padding-bottom: 10px;
                text-align: right;
                }

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
                padding: 10px 15px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: block;
                text-decoration: none;
                }

#sidebar #main-nav li a.current {
                background-image: url('../images/bg-menu-item-current.gif') !important;
                color: #333;
                font-weight: bold;
                }
                
#sidebar #main-nav li a.current:hover {
                color: #333;
                }

#sidebar #main-nav ul {
                padding: 0;
                font-size: 12px;
                margin: 0;
                }

#sidebar #main-nav ul li {
                list-style: none;
                margin: 0;
                text-align: right;
				padding: 0;
                }

#sidebar #main-nav ul li a {
                padding: 8px 15px;
                display: block;
                color: #aaa;
                font-size: 13px;
                line-height: 1.2em;
                }

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
                color: #fff;
                }

#sidebar #main-nav ul li a.current {
                background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
                }


/************ Messages ************/

#messages p,
#messages form {
                border-top: 1px solid #ddd;
                padding: 10px 0;
                }

#messages h4 {
                padding: 10px 0;
                }
				
#messages fieldset {
                margin: 0;
                }
				
#messages textarea {
                margin: 0 0 15px 0;
                }
/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
                margin: 0 20px 0 220px;
                padding: 20px 0 0 0;
                }
                #main-content section{
                    min-height: 550px;
                }                
.column-left {
                width: 48%;
                float: left;
                }
                
.column-right {
                width: 48%;
                float: right;
                }

#title-solicitud{ color:orangered; }                
#page-intro {
                font-size: 30px;
                padding: 0 0 2px 0;
                text-shadow: 1px 1px 1px #000;
                }
#page-intro a:hover{
                color: #57A000;
                }
#page-intro a{
             color:#63AF00;
                }


                #footer {
                    border-top: 1px solid #ccc;
                    margin: 15px 0 0 0;
                    padding: 20px 0;
                    font-size: 12px;
                }
/************ Lists ************/

#main-content ul,
#main-content ol {
                padding: 10px 0;
                }

/* Unordered List */

#main-content ul li {
                background: url('../images/icons/bullet_black.png') center left no-repeat;
                padding: 4px 0 4px 20px;
                }

/* Ordered List */

#main-content ol {
                padding: 0 0 0 24px;
                }

#main-content ol li {
                list-style: decimal;
                padding: 4px 0;
                }
                .pagocuota{
                    padding: 0 !important;
                    margin: 0 !important;
                }
/*************** Content Box ***************/

.content-box {
    border: 1px solid #ccc;
    margin: 0 0 20px 0;
    background: #fff;
}
.content-box-header-mini {
    background: #e5e5e5 url('../../images/bg-content-box.gif') top left repeat-x;
    margin-top: 1px;
    height: 26px;
}
.content-box-header-mini h3 {
    padding: 5px 15px;
    float: left;
    font-size: 15px;
    font-family: Trebuchet MS;
}
.content-box-header {
    background: #e5e5e5 url('../../images/bg-content-box.gif') top left repeat-x;
    margin-top: 1px;
    height: 40px;
}
.content-box-header h3 {
    padding: 12px 15px 10px;
    float: left;
    font-family: Trebuchet MS;
}
.content-box-header h5 {
    padding: 12px 15px 10px;
    float: left;
}
.content-box-header span.total {
    padding: 14px 15px 0;
}

.content-box-header span.back {
    padding: 10px 40px 0;
}                

ul.content-box-tabs {
                float: right;
                padding: 12px 15px 0 0 !important;
				margin: 0 !important;
                }

ul.content-box-tabs li {
                float: left;
                margin: 0;
                padding: 0 !important;
                background-image: none !important;
                }
                
ul.content-box-tabs li a {
                color: #333;
                padding: 8px 10px;
                display: block;
                margin: 1px;
                border-bottom: 0;
                }

ul.content-box-tabs li a:hover {
                color: #57a000;
                }              
                
ul.content-box-tabs li a.current {
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 0;
                margin: 0;
                }
ul.content-box-tabs.front {
  float: none !important;
  padding: 7px 0 !important;
}
ul.content-box-tabs.front li{ width: 30%; text-align: center;}
ul.content-box-tabs.front li a {
  font-size: 17px;
  padding: 8px 10px !important;
}
ul.content-box-tabs.front li a.current {font-weight: bold;}
.content-box-content {
                /*padding: 5px 20px 10px 20px;*/
                padding: 5px 10px 10px;
                font-size: 11px;
                border-top: 1px solid #ccc;
                }
#tabPrograma2{
    width: 50%; 
    margin: auto;
}                
.header-vencimientos {
  background: none repeat scroll 0 0 #E5E5E5;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-align: center;
}
.header-entregados {
  background: none repeat scroll 0 0 #E5E5E5;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}
.subtotal_entregados {
  border-top: 1px solid #DDDDDD;
  font-weight: bold;
  text-align: right;
}
/************ Table ************/

#main-content table {
                width: 100%;
                border-collapse: collapse;
                }
                
#main-content table thead th {
                font-weight: bold;
                font-size: 11px;
                border-bottom: 1px solid #ddd;
                }
           
#main-content tbody {
                border-bottom: 1px solid #ddd;
                }
                
/*#main-content tbody tr {
                background: #fff;
                }*/
              
#main-content tbody tr.alt-row {
                background: #E9E9E9;
                }
                
#main-content table td,
#main-content table th {
                padding: 5px 10px;
                line-height: 1.3em;
                }    
#main-content table th {
  font-weight: bold;
  padding-top: 5px;
}                
#main-content table tfoot th {
  padding-top: 15px;
  color:#333333;
}                
#main-content table td.actions,
#main-content table th.actions {
                width: 20%;
                }        
				
#main-content table tfoot td .bulk-actions {
                padding: 15px 0 5px 0;
                } 
				
#main-content table tfoot td .bulk-actions select {
                padding: 4px;
				border: 1px solid #ccc;
                }      
                #div_emprendedores tbody{
                   border-bottom: none; 
                }	
                #div_emprendedores tbody tr td{padding: 5px;}
/*************** Pagination ***************/

#main-content .pagination {
                text-align: center;
                padding: 20px 0 5px 0;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                }
.pagination a, .pagination small {
                margin: 0 5px 0 0;
                padding: 3px 6px;
                }

.pagination a.number {
				border: 1px solid #ddd;
                }

.pagination a.current {
                background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;
                border-color: #459300 !important;
                color: #fff !important;
                }
				
.pagination a.current:hover {
				text-decoration: underline;
                }

/************ Shortcut Buttons ************/

.shortcut-button {
                border: 1px solid #ccc;
                background: #f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;
                display: block;
                width: 116px;
                margin: 0 0 20px 0;
                }

.shortcut-button span {
                border: 1px solid #fff;
                display: block;
                padding: 3px;
                text-align: center;
                color: #555;
                font-size: 12px;
                line-height: 1.3em;
                width: 108px;
                }

.shortcut-button span img {
                margin-bottom: 5px;
                }

.shortcut-button:hover {
                background: #fff;
				
                }
				
.shortcut-button span:hover {
				color: #57a000; 
                }

ul.shortcut-buttons-set li {
                float: left;
                margin: 0 5px 0 0;
				padding: 0 !important;
				background: 0;
                }

/*************** Forms ***************/

form label {
                display: inline-block;
                padding: 0 0 10px 10px;
                font-weight: bold;
                }
             
form fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 10px;
                }
			
form input.text-input,
select,
form textarea,
form div.text-input input,
form .wysiwyg {
                padding: 4px 6px;
                font-size: 12px;
                border: 1px solid #cccccc;
		color: #333;
                }
                form input[required='required']   {
                    border: 1px solid yellowgreen;
                }
                form input:disabled {
                   border: 1px solid #d5d5d5;
                   background: #f0f0f0 ;
                }
                form div.text-input{
                    padding: 8px 0 15px !important;
                    display: inline;
                }            
form div.text-input div {
  display: inline-block;
  padding-right: 15px;
}
form div.text-input div label{
  padding: 0 12px 0 0;
}
.mini-input {
                width: 10% !important;
                }
.date-input {
                width: 70px !important;
                }
.fixmini20-input {
                width: 20px !important;
                }
.fixmini40-input {
                width: 40px !important;
                }
.fixmini80-input {
                width: 80px !important;
                text-align: right;
                }
.smaller-input {
                width: 15% !important;
                }
.small-input {
                width: 25% !important;
                }
                
.medium-input {
                width: 45% !important;
                }
                
.large-input {
    width: 97% !important;
    /*font-size: 16px !important;
    padding: 8px !important;*/
                }
                .large-input.obs{
                    font-size: 11px !important;
                    color: #333;
                }                
                .large-input.ajuste{
                    text-align: right;
                    font-size: 11px;
                    margin-left: -5px;
                }  
.negativo{ color: orangered !important ;}                
#filter .small-input { width: 200px;}
#filter .mini-input { width: 70px !important;}
                
                
form textarea {
                width: 97.5% !important;
                font-family: Arial, Helvetica, sans-serif;
                }
                
select {
                padding: 4px;
                background: #fff;
                }
				
form input[type="checkbox"],form input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
}

/*************** Notifications ***************/
.attention {
    background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
    border-color: #e6db55;
    color: #666452;
}
.information {
    background: #dbe3ff url('../images/icons/information.png');
    border-color: #a2b4ee;
    color: #585b66;
}
.success {
    background: #d5ffce url('../images/icons/tick_circle.png');
    border-color: #9adf8f;
    color: #556652;
}
.error {
    background: #ffcece url('../images/icons/cross_circle.png');
    border-color: #df8f8f;
    color: #665252;
}

.notification {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    border: 1px solid #979696 ;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;
    width: 99.8%;
}
.notification div {
    display:block;
    font-style:normal;
    padding: 10px 10px 10px 36px;
    line-height: 1.5em;
}
.notification .close {
    color:#990000;
    font-size:9px;
    position:absolute;
    right:5px;
    top:5px;
}
.close {
  background-image: url("../images/icons/cross_grey_small.png");
  height: 7px;
  margin: 5px;
  width: 7px;
}

/* Notification for form inputs */
.input-notification {
  background-color: transparent;
  background-position: left -1px;
  background-repeat: no-repeat;
  margin: 0 0 0 5px;
  padding: 2px 0 9px 22px;
}
/*.input-notification {
    background-position: left 2px;
    background-repeat: no-repeat;
    padding: 2px 0 2px 22px;
    background-color: transparent;
    margin: 0 0 0 5px;
}*/
/* Notification for login page */
#login-wrapper #login-content .notification {
    border: 0;
    background-color: #141414;
    color: #fff !important;
}

/********************************      Login Page      ********************************/
body#login {
    color: #fff;
    background: #222 url('../images/textureblue.png');
    margin: 0;
}
#login-wrapper {
    background: url('../images/bg-login-top.png') top left repeat-x;
}
#login-wrapper #login-top {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
#login-wrapper #login-top h1{
    padding: 15px 0 25px;
}
#login-wrapper #login-content {
  margin: 0 auto;
  padding: 15px 0;
  text-align: left;
  width: 300px;
}
#login-wrapper #login-content label {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    float: left;
    width: 70px;
    padding: 0;
}
#login-wrapper #login-content input {
    width: 200px;
    float: right;
    margin: 0 0 20px 0;
    border: 0;
    background: #fff;
}
#login-wrapper #login-content p {
    padding: 0;
    line-height: 2.4em;
}
#login-wrapper #login-content p#remember-password {
    float: right;
}
#login-wrapper #login-content p#remember-password input {
    float: none;
    width: auto;
    border: 0;
    background: none;
    margin: 0 10px 0 0;
}
#login-wrapper #login-content p .button {
    width: auto;
}
/************ Popups ************/
.content-popup{
    text-align: center;
    width: 400px;
}
.content-popup label {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 15px 20px 15px 5px;
}
.content-popup h3 {
  background: url("../images/bg-button-green.gif") repeat-x scroll left top #459300 !important;
  border-radius: 10px 10px 10px 10px;
  color: #FFFFFF;
  display: block;
  font-size: 17px;
  margin: 6px auto;
  padding: 10px;
  text-align: center;
  width: 85%;
}
.content-box.pago{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
.infobutton{ margin-left: 30px !important;}
#cuotas thead th{
    text-align: center;
    width: 9%;
}
#cuotas tbody td{  text-align: center; line-height: 2em; }
#cuotas tbody td input.fixmini50-input{ width: 50px; text-align: right;}
.content-box-content.carga{ overflow: scroll;}

.renovacionHead {
  background: #283B47;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
  padding: 6px 12px;
}
.renovacionHead strong{color:#ffffff;}
.renovacionTable{
    border:1px solid lightgrey;
    border-collapse: separate !important;
}
.saldos tr td {
    padding: 0 10px !important;
}
.saldos tr td.obs {
    padding: 0 10px 10px !important;
}
#enviar{
  display: block;
  font-size: 11px !important;
  font-weight: bold;
  margin: 10px auto 5px;
  text-transform: uppercase;    
}
.fechaCierre {
  padding: 0 0 20px;
  text-align: left;
}
.fechaCierre label{
    font-weight: bold;
}
.fechaCierre div {
  display: inline-block;
  margin: 0 15px;
}
.cierre-general tbody tr td, .cierre-general th{
    text-align: right;
    border: 1px solid #CCC;
}
.cierre-general th {
  background: none repeat scroll 0 0 #E9E9E9;
}
.cierre-general th.imptotal{
    font-size: 12px;
}
.valor-negativo{ padding-right: 6px !important;}
#intereses td{
   line-height: 0.3em !important;
   vertical-align: middle;
}
#intereses td label{ padding:  5px 0 5px 10px !important;  }
#intereses-show tr td:first-child{   padding:  5px 0 5px 10px !important;}
#intereses-show tr td{
   line-height: 0.9em !important;
   vertical-align: middle;
}
.intereses-y-gastos {
  border: 1px solid #CCCCCC;
  margin: 30px auto 10px;
  padding: 10px;
  text-align: center;
  width: 70%;
}
#intereses-show tfoot th,#gastos-pagados-show tfoot th{ padding-top: 10px !important;}
#gastos-pagados td{
   line-height: 0.3em !important;
}
#gastos-pagados-show td{ line-height: 1em !important; }
#gastos-pagados td label{
   padding: 5px 0 8px 10px !important;
}

/* Detalle de Cierre */
#reporteMensualDetalle table{ width: 98%; margin: auto; }
#reporteMensualDetalle table thead td{ font-weight: bold; }
#reporteMensualDetalle h6{
    font-family: Arial;
    margin: 10px 0 0 15px;
}

/* Calendario */
#ui-datepicker-div{z-index: 999!important;}
#calendar{margin: 10px auto;}
#calendar h2 {
  color: #333333;
  font-family: inherit;
  font-size: 1.6em;
}
.fc-event-title {
  font-size: 0.8em;
  font-weight: bold;
  display: table;
  height: 50%;
}
.fc-event-title div{
  display: table-cell;
    vertical-align: middle;
    padding-left: 3px;
}
.fc-event-time span.asesorname{color:gold}
.turnotime {
  color: #FF4500;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-left: 0;
}
#datosTurno button{
    margin:10px; 
    display:inline-block;
}
.sincerrar{ background-color: #FFDDDD; }
/****** INVALID CSS TEMPLATE ******/
.button,#main-content table tfoot td .bulk-actions select,.pagination a.number,form input.text-input,form textarea,form .wysiwyg,select,.dp-popup{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.content-box,.content-box-header,ul.content-box-tabs li a.current,.shortcut-button,.notification, form div.text-input input{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
.closed-box .content-box-header{-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-webkit-border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px}
.shortcut-button span{-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px}
div.wysiwyg ul.panel li a{opacity:0.6}
div.wysiwyg ul.panel li a:hover,div.wysiwyg ul.panel li a.active{opacity:0.99}
.content-box-header,ul.content-box-tabs li a.current{-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0}



