{% block extra_stylesheets %}
<link rel='stylesheet' type='text/css' href='{{ asset('css/jquery-ui-1.8.17.custom.css') }}' />
<link rel='stylesheet' type='text/css' href='{{ asset('css/fullcalendar.css') }}' />
<link rel='stylesheet' type='text/css' href='{{ asset('css/fullcalendar.print.css') }}' media='print' />
<style>
#calendar .fc-first.fc-last{background: none;}
</style>
{% endblock %}
{% block extra_javascripts %}
<script type='text/javascript' src='{{ asset('js/fullcalendar.js') }}'></script>
{% endblock %}
<div class="content-box" style="border:none;margin-top:10px;">
    <div class="content-box-content" style="border-top:none;">
        <div class="tab-content default-tab">
            <form><fieldset>
            <p class="index-title"> Administración de Turnos a Emprendedores. </p>
            <p>
               <label><strong>Seleccionar Asesor:</strong></label>
               <select name="_asesor" id="select_asesor" class="smaller-input" >
                   <option value="0" selected="selected">---</option>
                   {% for asesor in asesores %}
                   <option value="{{asesor.id}}"> {{asesor}} </option>
                   {% endfor %}            
                </select> 
                <label><strong>Fecha desde:</strong></label>
                <input name="_desde" class="text-input date-input datepicker" value="" id="fecha_ini" />  
                <label><strong>hasta:</strong></label>
                <input name="_hasta" class="text-input date-input datepicker" value="" id="fecha_fin" /> 
                <button class="button" type="button" id="consultarTurnos" style="margin-left:20px;">Consultar</button>
            </p>
            </fieldset></form>
            <div id="calendar"></div>
            <!-- DATOS DE TURNO  -->            
            <div id="dialogTurno" title="Datos del Turno"></div>
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div>     
<script type="text/javascript">
    $(document).ready(function() {
        $( "#fecha_ini, #fecha_fin" ).datepicker({
            changeMonth: true, changeYear: true,
            showOptions: { direction: 'up' }
        });
        $( "#dialogTurno").dialog({
            autoOpen: false,
            show: "clip", hide: "clip",
            minWidth: 450, modal: true
        });
        $("#consultarTurnos").click(function (){
            mostrarTurnos();
        });
        // CALENDARIO DE TURNOS
       /* var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();*/
        var calendar = $('#calendar').fullCalendar({
            defaultView: 'agendaWeek',
            weekends: false,
            //eventDurationEditable: true,
            editable: true,
            selectable: true,
            allDaySlot: false,
            minTime: 8,
            maxTime: 18,
            slotMinutes: 15,
            axisFormat: 'HH:mm',
            timeFormat: 'HH:mm',
            allDayDefault: false,
            theme: true,  
            eventDrop:function(e,day,minute,allDay,revertFunc) {
                if (!confirm("Desea mover el turno?")) { revertFunc(); }
                $.ajax({
                    url: 'dropTurno',
                    dataType: 'json',
                    data: 'id='+e.id+'&dias='+day+'&minutos='+minute,
                    success: function(data){
                        if( data!='OK' ) revertFunc();
                    }
                });
	    },
            eventResize:function(e,day,minute,revertFunc) {
                $.ajax({
                    url: 'resizeTurno',
                    dataType: 'json',
                    data: 'id='+e.id+'&minutos='+minute,
                    success: function(data){
                        if( data!='OK' ) revertFunc();
                    }
                });
	    },
            header: {
                right: 'prev,next,month,agendaWeek,agendaDay',
                center: 'title',
                left: 'today' },
            select: function(start, end) {
                getData( 'start='+start );
	    },                     
            eventClick: function(event) {
                getData( 'id='+event.id );
            }
         });                  
     });    
    function getData(str){            
            $.ajax({
                url: 'turno',
                dataType: 'json',
                data: str,
                success: function(data){
                    if(data){
                       $("#dialogTurno").html(data); 
                       $("#dialogTurno").dialog("open");
                    }
                }
             });
    }  
</script>