{% block extra_stylesheets %}
<link rel='stylesheet' type='text/css' href='{{ asset('css/jquery-ui-1.8.17.custom.css') }}' />
<link rel='stylesheet' type='text/css' href='{{ asset('css/fullcalendar.css') }}' />
<link rel='stylesheet' type='text/css' href='{{ asset('css/fullcalendar.print.css') }}' media='print' />
<style>
#calendar .fc-first.fc-last{background: none;}
</style>
{% endblock %}
{% block extra_javascripts %}
<script type='text/javascript' src='{{ asset('js/fullcalendar.js') }}'></script>
{% endblock %}
<div class="content-box" style="border:none;margin-top:10px;">
    <div class="content-box-content" style="border-top:none;">
        <div class="tab-content default-tab">
            <form><fieldset>
            <p class="index-title"> Administración de Turnos a Emprendedores. </p>
            <p>
               <label><strong>Seleccionar Asesor:</strong></label>
               <select name="_asesor" id="select_asesor" class="smaller-input" >
                   <option value="0" selected="selected">---</option>
                   {% for asesor in asesores %}
                   <option value="{{ asesor.id}}"> {{asesor}} </option>
                   {% endfor %}            
                </select> 
                <label><strong>Fecha desde:</strong></label>
                <input name="_desde" class="text-input date-input datepicker" value="" id="fecha_ini" />  
                <label><strong>hasta:</strong></label>
                <input name="_hasta" class="text-input date-input datepicker" value="" id="fecha_fin" /> 
                <button class="button" type="button" id="consultarTurnos" style="margin-left:20px;">Consultar</button>
            </p>
            </fieldset></form>
            <div id="calendar"></div>
<!-- DATOS DE TURNO  -->            
            <div id="dialogTurno" title="Datos del Turno">
            <form id="datosTurno">
                <fieldset>
                    <p>
                    <label class="turnotime" id="fechaTurno" ></label>
                    <select name="hora" id="hora" class="smaller-input" >
                        <option>08</option><option>09</option><option>10</option><option>11</option>
                        <option>12</option><option>13</option><option>14</option><option>15</option>
                        <option>16</option><option>17</option><option>18</option>
                    </select>
                    <select name="minutos" id="minutos" class="smaller-input" >
                        <option>00</option><option>15</option><option>30</option><option>45</option>
                    </select>
                    <input type="hidden" name="startTurno" id="startTurno" />     
                    <input type="hidden" name="endTurno" id="endTurno" /> 
                    <input type="hidden" name="_turnoId" id="idTurno" /> 
                    <input type="hidden" name="atendido" id="opatendido" /> 
                    
                    </p>
                    <p>
                        <label><strong>Asesor:</strong></label>
                        <select name="asesor_turno" id="turno_asesor" class="small-input" >
                        {% for asesor in asesores %}
                            <option value="{{ asesor.id}}" {{ app.user.id == asesor.id ? ' selected="selected"' : '' }} > 
                                {{asesor}} 
                                </option>
                        {% endfor %}            
                        </select>
                        <label id="lblatentido">Atendido</label>
                        <input type="checkbox" id="atendido" name="atendido"/>
                    </p>
                    <p class="align-center">
                        <input type="radio" name="tipo" id="pempnew" value="pempnew"> Nuevo
                        <input type="radio" name="tipo" id="pgrupo" value="pgrupo"> Grupo
                        <input type="radio" name="tipo" id="pemp" value="pemp"> Emprendedor
                    </p>
                    <p id="opgrupo" class="optipo">
                        <label><strong>Nombre del Grupo:</strong></label>
                        <input name="_grupo" url="{{ path('grupo_suggest') }}" class="text-input medium-input" value="" id="grupoAutocomplete" />  
                        <input type="hidden" name="_grupoId" value="" id="grupoId" />     
                    </p>
                    <p id="opemp" class="optipo">
                        <label><strong>Nombre del Emprendedor:</strong></label>
                        <input name="_emprendedor" url="{{ path('emprendedor_suggest') }}" class="text-input medium-input" value="" id="emprendedorAutocomplete" />  
                        <input type="hidden" name="_emprendedorId" value="" id="emprendedorId" />                                 
                    </p>
                    <p id="opempnew" class="optipo">
                        <label><strong>Emprendedor Nuevo:</strong></label>
                        <input name="_emprendedor_nuevo" class="text-input medium-input" value="" id="emprendedorNuevo" />  
                    </p>
                    <p>
                        <label>Observaciones:</label>
                        <input name="observ" class="text-input large-input" value="" id="observ" />  
                    </p>
                    <p class="align-center ">
                    <button type="button" class="button" id="turnoReservar" >Reservar Turno</button>
                    <button type="button" class="button" id="turnoCancelar" >Cancelar Turno</button>                    
                    </p>
                </fieldset>    
            </form>
            </div>
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div>     
<script type="text/javascript">
    $(document).ready(function() {
        $( "#fecha_ini, #fecha_fin" ).datepicker({
            changeMonth: true, changeYear: true,
            showOptions: { direction: 'up' }
        });
        $("#grupoAutocomplete").change(function(){
            if(isEmpty($(this).val()))  $("#grupoId").val('');            
        });
        $("#emprendedorAutocomplete").change(function(){
            if(isEmpty($(this).val()))  $("#emprendedorId").val('');            
        });
        $( "#dialogTurno").dialog({
            autoOpen: false,
            show: "clip", hide: "clip",
            minWidth: 450, modal: true
        });
        $("[name='tipo']").click(function(){
            $(".optipo").hide();
            $(".optipo input").val('');
            $("#o"+$(this).attr('id')).show();
        });
        $("#consultarTurnos").click(function (){
            mostrarTurnos();
        });
        $("#turnoCancelar").click(function(){
            if (!confirm('Está seguro de cancelar el turno?'))  return false;
            sendData('cancelarTurno','id='+$("#idTurno").val());
        });
            
        $("#turnoReservar").click(function(){
            if(isEmpty($("#emprendedorNuevo").val()) 
                && isEmpty($("#grupoId").val()) 
                && isEmpty($("#emprendedorId").val()) ){
                    alert('Debe ingresar los datos de un Emprendedor o Grupo para continuar');
                    return false;
            }else   sendData('reservarTurno',$('form').serialize());
        });
        // CALENDARIO DE TURNOS
       /* var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();*/
        var calendar = $('#calendar').fullCalendar({
            defaultView: 'agendaWeek',
            weekends: false,
            //eventDurationEditable: true,
            editable: true,
            selectable: true,
            allDaySlot: false,
            minTime: 8,
            maxTime: 18,
            slotMinutes: 15,
            axisFormat: 'HH:mm',
            timeFormat: 'HH:mm',
            allDayDefault: false,
            theme: true,  
            eventDrop:function(e) {
                alert('drop');
	    },
            eventResize:function(e) {
                alert('resize');
	    },
            header: {
                right: 'prev,next,month,agendaWeek,agendaDay',
                center: 'title',
                left: 'today' },
            select: function(start, end, allDay) {
                cleanData();
                setLabelFechaTurno(start);
                $('#startTurno').val(start);
                $("#dialogTurno").dialog("open");
	    },                     
            eventClick: function(event) {
                setData(event);
                $("#dialogTurno").dialog("open");
            }
         });                  
     });    
     function setLabelFechaTurno(dia){
        time = ("00" + dia.getMinutes()).slice(-2) + ' Hs.';
        $("#fechaTurno").html(dia.toLocaleDateString()+ '<br>' +dia.getHours()+ ':'+time);
    }
    function cleanData(){
        $("#pempnew").attr('checked',true);
        $("#datosTurno input").val('');
        $(".optipo").hide();
        $("#opempnew").show();
        $("#turnoCancelar").hide();
        $("#atendido,#lblatentido").hide();
        $("#turnoReservar").html('Reservar Turno');
    }
    function setData(e){
        setLabelFechaTurno(e.start); 
        if(e.est) $("#atendido").attr('checked',true);
        else $("#atendido").attr('checked',false);
        $("#atendido,#lblatentido").show();
        $("#idTurno").val(e.id);
        $('#startTurno').val(e.start);
        $('#endTurno').val(e.end);
        $('#observ').val(e.obs);
        $("#grupoId").val(e.grupoId);
        $("#emprendedorId").val(e.empId);
        $("#grupoAutocomplete").val(e.grupo);
        $("#emprendedorAutocomplete").val(e.emp);
        $("#emprendedorNuevo").val(e.newemp);
        $(".optipo").hide();
        $("[name='tipo']").attr('checked',false);
        if(e.grupoId!='')     {$("#opgrupo").show();  $("#pgrupo").attr('checked',true);}
        else if(e.empId!='')  {$("#opemp").show();    $("#pemp").attr('checked',true);}
        else                  {$("#opempnew").show(); $("#pempnew").attr('checked',true);}
        $("#turnoCancelar").show();
        $("#turnoReservar").html('Guardar Cambios');
    }
    function sendData(url,data){
        $("#dialogTurno").dialog("close");
            $.ajax({
                url: url,
                dataType: 'json',
                async:true,
                data: data,
                success: function(data){
                    if(data=='OK'){
                       mostrarTurnos();
                    }
                }
             });
    }
    function mostrarTurnos(){
        $('#calendar').fullCalendar('removeEvents');
        var asesor = $("#select_asesor").val();
        var ini = $("#fecha_ini").val();
        var fin = $("#fecha_fin").val();
        $.ajax({
            url: 'turnos',
            data: 'asesor='+asesor+'&ini='+ini+'&fin='+fin,
            dataType: 'json',
            success: function(data){
               if( isEmpty($("#fecha_ini").val()) )  $("#fecha_ini").val(data.ini);
               if( isEmpty($("#fecha_fin").val()) )  $("#fecha_fin").val(data.fin);
               $('#calendar').fullCalendar( 'addEventSource', data.turnos );
            }
        });
    }
    </script>