<!-- DATOS DE TURNO  -->            
<form id="datosTurno" action="#">
        <fieldset>
            <p>
                <label class="turnotime" id="fechaTurno" >{{dia}}</label>
                <label class="turnotime" id="fechaTurno" >{{turno.fechaInicio|date('H:i')}} Hs.</label>
                <input type="hidden" name="startTurno" id="startTurno" value="{{turno.fechaInicio|date('Y-m-d H:i')}}"/>     
                <input type="hidden" name="endTurno" id="endTurno" value="{{turno.fechaFin|date('Y-m-d H:i')}}"/> 
                <input type="hidden" name="_turnoId" id="idTurno" value="{{turno.id}}"/> 
            </p>
            <p class="align-center " style="display:none;" >
                <select name="hora" id="hora" class="smaller-input" style="font-weight: bold;">
                    {% for i in ['08','09','10','11','12','13','14','15','16','17','18']  %}
                        <option value="{{i}}" {%if(turno.fechaInicio|date('H')==i) %} selected {%endif%} >{{i}}</option>
                    {% endfor %}
                </select>
                <select name="minutos" id="minutos" class="smaller-input" style="font-weight: bold;">
                    {% for i in ['00','15','30','45']  %}
                        <option value="{{i}}" {%if(turno.fechaInicio|date('i')==i) %} selected {%endif%} >{{i}}</option>
                    {% endfor %}
                </select>
                <label style="color:orangered"> Hs.</label>    
            </p>            
            <p>
                <label><strong>Asesor:</strong></label>
                <select name="asesor_turno" id="turno_asesor" class="small-input" >
                    {% set asesorname = (turno.asesor)?turno.asesor:app.user.username %}
                        {% for asesor in asesores %}
                        <option value="{{ asesor.id}}" {{ ( asesorname == asesor.username) ? ' selected="selected"' : '' }} > 
                                {{asesor.username}} 
                            </option>
                        {% endfor %}            
                </select>
                {% if turno.id %}
                <label id="lblatentido">Atendido</label>
                <input type="checkbox" id="atendido" name="atendido" {%if turno.asistio %} checked="checked" {%endif%}/>
                {%endif%}
            </p>
            <p class="align-center">
                <input type="radio" name="tipo" id="pempnew" {%if tipoemp=='pempnew'%}checked{%endif%} > Nuevo
                <input type="radio" name="tipo" id="pgrupo" {%if tipoemp=='pgrupo'%}checked{%endif%}> Grupo
                <input type="radio" name="tipo" id="pemp"   {%if tipoemp=='pemp'%}checked{%endif%}> Emprendedor
            </p>
            <p id="opgrupo" class="optipo">
                <label><strong>Nombre del Grupo:</strong></label>
                <input name="_grupo" url="{{ path('grupo_suggest') }}" class="text-input medium-input" value="{{turno.grupo}}" id="grupoAutocomplete" />  
                <input type="hidden" name="_grupoId" value="{%if turno.grupo%}{{turno.grupo.id}}{%endif%}" id="grupoId" />     
            </p>
            <p id="opemp" class="optipo">
                <label><strong>Nombre del Emprendedor:</strong></label>
                <input name="_emprendedor" url="{{ path('emprendedor_suggest') }}" class="text-input medium-input" value="{{turno.emprendedor}}" id="emprendedorAutocomplete" />  
                <input type="hidden" name="_emprendedorId" value="{%if turno.emprendedor%}{{turno.emprendedor.id}}{%endif%}" id="emprendedorId" />                                 
            </p>
            <p id="opempnew" class="optipo">
                <label><strong>Emprendedor Nuevo:</strong></label>
                <input name="_emprendedor_nuevo" class="text-input medium-input" value="{{turno.nuevoEmprendedor}}" id="emprendedorNuevo" />  
            </p>
            <p>
                <label>Observaciones:</label>
                <input name="observ" class="text-input large-input" value="{{turno.observaciones}}" id="observ" />  
            </p>
            <p class="align-center ">

                    {% if turno.id %}
                     <button type="button" class="button" id="turnoReservar" >Guardar Datos</button>
                     <button type="button" class="button" id="turnoCancelar" >Cancelar Turno</button>
                    {%else%}
                     <button type="button" class="button" id="turnoReservar" >Reservar Turno</button>
                   {%endif%}
            </p>
        </fieldset>    
    </form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#grupoAutocomplete").change(function(){
            if(isEmpty($(this).val()))  $("#grupoId").val('');            
        });
        $("#emprendedorAutocomplete").change(function(){
            if(isEmpty($(this).val()))  $("#emprendedorId").val('');            
        });
    $('#emprendedorAutocomplete').autocomplete({
        minLength: 2,
        source: $('#emprendedorAutocomplete').attr('url'),
        search: function(event,ui){
            $("#emprendedorId").val('');
        },
        select: function(event,ui) {
            $("#emprendedorId").val(ui.item.id);
        }
    });   
    $('#grupoAutocomplete').autocomplete({
        minLength: 2,
        source: $('#grupoAutocomplete').attr('url'),
        search: function(event,ui){
            $("#grupoId").val('');
        },
        select: function(event,ui) {
            $("#grupoId").val(ui.item.id);
        }
    });   
     
        $("[name='tipo']").click(function(){
            $(".optipo").hide();
            $(".optipo input").val('');
            $("#o"+$(this).attr('id')).show();
        });
        $(".optipo").hide();
        $("#o"+$("[name='tipo']:checked").attr('id')).show();
        $("#turnoCancelar").click(function(){
            if (!confirm('Está seguro de cancelar el turno?'))  return false;
            $.ajax({
                url: 'cancelarTurno',
                dataType: 'json',
                async:true,
                data: 'id='+$("#idTurno").val(),
                success: function(data){
                    if(data='OK'){
                        $('#calendar').fullCalendar( 'removeEvents' , $("#idTurno").val() );
                        $("#dialogTurno").dialog("close");
                    }else  alert('El turno no puede ser cancelado.');
                }
            });    
        });
            
        $("#turnoReservar").click(function(){
            if(isEmpty($("#emprendedorNuevo").val()) 
                && isEmpty($("#grupoId").val()) 
                && isEmpty($("#emprendedorId").val()) ){
                    alert('Debe ingresar los datos de un Emprendedor o Grupo para continuar');
                    return false;
            }else{
                $.ajax({
                    url: 'reservarTurno',
                    dataType: 'json',
                    async:true,
                    data: $('form').serialize(),
                    success: function(data){
                        if(data='OK'){
                            $("#dialogTurno").dialog("close");
                            mostrarTurnos();
                        }else  alert('Imposible reservar el turno.');
                    }
                });
            }    
        });
    });
    </script>