<style>
.list_turnos{width:520px; margin: 0 !important;padding: 0 !important;}
.list_turnos hr{border:1px solid #cccccc; margin: 20px 10px;}
</style>
<div id="main-content" class="list_turnos">
    <div style="margin-top:25px" class="content-box">
        <div class="content-box-header">
            <h3>Listado de Turnos </h3>
        </div>
        <div class="content-box-content">
            <h4>Pendientes</h4>
            <table class="refin">
                <thead>
                    <th style="width: 15%">Día</th>
                    <th style="width: 10%">Fecha</th>
                    <th style="width: 10%">Hora</th>
                    <th style="width: 10%">Asesor</th>
                    <th style="width: 65%">Observaciones</th>
                </thead>
                    <tbody>
                       {% if turnos %}
                            {% set cant = 0 %}
                            {% for turno in turnos if turno.fechaInicio |date('d-m-Y H:i') >=  'now' |date('d-m-Y H:i')%}
                                {% set cant = cant+1 %}
                                <tr>
                                     <td>{{dias[turno.fechaInicio|date('w')]}}</td>
                                     <td>{{turno.fechaInicio|date('d-m-Y')}}</td>
                                     <td>{{turno.fechaInicio|date('H:i')}}</td>
                                     <td>{{turno.asesor}}</td>
                                     <td>{{turno.observaciones}}</td>
                                 </tr>
                             {% endfor %}
                             {% if cant==0 %}   
                                <tr>
                                 <td colspan="4">No posee turnos pendientes</td>
                                </tr>
                              {% endif %}
                        {% else %}
                             <tr>
                                 <td colspan="4">No posee turnos pendientes</td>
                             </tr>
                         {% endif %}
                    </tbody>
                </table> 
            <hr>
            <h4>Pasados</h4>
            <table class="refin">
                <thead>
                    <th style="width: 15%">Día</th>
                    <th style="width: 10%">Fecha</th>
                    <th style="width: 10%">Hora</th>
                    <th style="width: 10%">Asesor</th>
                    <th style="width: 60%">Observaciones</th>
                    <th style="width: 5%">Asistió</th>
                </thead>
                    <tbody>
                       {% if turnos %}
                            {% set cant = 0 %}
                            {% for turno in turnos if turno.fechaInicio |date('d-m-Y H:i') <  'now' |date('d-m-Y H:i')%}
                                {% set cant = cant+1 %}
                                <tr>
                                     <td>{{dias[turno.fechaInicio|date('w')]}}</td>
                                     <td>{{turno.fechaInicio|date('d-m-Y')}}</td>
                                     <td>{{turno.fechaInicio|date('H:i')}}</td>
                                     <td>{{turno.asesor}}</td>
                                     <td>{{turno.observaciones}}</td>
                                     <td>{% if turno.asistio %}Sí{%else%}No{%endif%}</td>
                                 </tr>
                             {% endfor %}
                             {% if cant==0 %}   
                                <tr>
                                 <td colspan="5">No posee turnos</td>
                                </tr>
                              {% endif %}
                        {% else %}
                             <tr>
                                 <td colspan="5">No posee turnos</td>
                             </tr>
                         {% endif %}                        
                    </tbody>
                </table>             
        </div>
    </div>        
</div>
