{% trans_default_domain 'FOSUserBundle' %}

    <body id="login">
    <div id="login-wrapper" class="png_bg">
        <div id="login-top">
            <h1>Sistema de Control de Créditos</h1>
            <img id="logo" src="{{ asset('images/logo.png') }}" alt="Sistema de Control de Créditos" />
        </div> <!-- End #logn-top -->
        <div id="login-content">
            {% if error %}
                <div class="notification information png_bg">
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <p>
                    <label for="username">Usuario</label>
                    <input type="text" id="username" class="text-input" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                </p>
                <div class="clear"></div>
                <p>
                    <label for="password">Contraseña</label>
                    <input type="password" class="text-input" id="password" name="_password" required="required" autocomplete="current-password" />
                </p>
                <div class="clear"></div>
                <p>
                    <input type="submit"  class="button" id="_submit" name="_submit" value="Ingresar" />
                </p>
            </form>
        </div> <!-- End #login-content -->
    </div> <!-- End #login-wrapper -->
    </body>