{% extends "Default/baseListEntity.html.twig" %}

{% block filterBox %}
     {% include 'Caja/cajaFilter.html.twig' %}
{% endblock %}

{% block titleList %} Estado de la caja {% endblock %}

{% block opList %}
    <button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('caja_opList',{'estado': 0 }) }}" >Opciones de Listado</button>
{% endblock %}

{% block totalList %}
    Total Caja: <strong> $ {{ totalCaja | number_format(2, ',', '.') }} </strong> | Total Registros: {{entities.getTotalItemCount}}
{% endblock %}

{% set totalIngreso = 0 %}
{% set totalEgreso = 0 %}

{% block thList %}
<th>Fecha</th>
<th>Concepto</th>
<th>Observación</th>
<th class="align-center">Ingreso</th>
<th class="align-center">Egreso</th>
<th class="align-center"></th>
    <th class="align-center">Total</th>
{% endblock %}

{% block bodyList %}

    {% for entity in entities %}
        <tr>
            <td>{{ entity.fecha | date('d-m-Y H:i') }}</td>
            <td>{{ entity.concepto }}</td>
            <td>

                {% set entro = false %}
                {% if(entity.credito) %}
                    <a href="{{ path('credito_show', { 'id': entity.credito.id }) }}" class="" title="Ver">
                        <span>(
                                {{ entity.credito.tituloCompleto }}
                                {% if(entity.pago) %}
                                    <span> - Cuota {{ entity.pago.cuota.nroCuota }} </span>
                                {% endif %}
                              )</span>
                    </a>
                    {% set entro = true %}
                {% endif %}

                {% if(entity.gasto) %}
                    {% set entro = true %}
                    <a href="{{ path('gasto_show', { 'id': entity.gasto.id }) }}">{{ entity.getObservacion }}</a></td>
                {% endif %}

                {% if(entro == false) %}
                    {{ entity.getObservacion }}
                {% endif %}

            </td>
            {% set totalIngreso =  totalIngreso + entity.ingreso %}
            {% set totalEgreso = totalEgreso + entity.egreso %}
            <td class="align-center">$ {{ entity.ingreso | number_format(2, ',', '.') }}</td>
            <td class="align-center">$ {{ entity.egreso | number_format(2, ',', '.') }}</td>
            <td class="align-center">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('caja_reprocesar', { 'id': entity.id }) }}"
                       style="margin: 0px!important;"
                       class="action pluspago"
                       title="re-procesar ">
                    </a>
                {% endif %}
            </td>
            <td class="align-center">$ {{ entity.total | number_format(2, ',', '.') }}</td>
        </tr>
    {% endfor %}
    <table>
        <tr>
            <td style="width: 132px;"></td>
            <td style="width: 182px;"></td>
            <td style="width: 420px;"></td>
            <td style="width: 93px;" class="">
                $ {{ totalIngreso | number_format(2, ',', '.') }}
            </td>
            <td style="width: 93px;" class="">
                $ {{ totalEgreso | number_format(2, ',', '.') }}
            </td>
            <td style="width: 31px;"></td>
            <td style="width: 103px;"></td>
        </tr>
    </table>
{% endblock %}

