{% extends "Default/baseListEntity.html.twig" %}
{% block filterBox %} 
     {% include 'Caja/ingresoFilter.html.twig' %}
{% endblock %}

{% block titleList %} Listado de Ingresos de Caja {% endblock %}

{% block opList %}
    <button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('gasto_opList',{'estado': 0 }) }}" >Opciones de Listado</button>
{% endblock %}

{% block totalList %} Total: <strong>{{entities.getTotalItemCount}}</strong>
{% endblock %}

{% block thList %}
<th>Fecha</th>
<th>Programa</th>
<th>Concepto</th>
<th class="align-center">Importe</th>
<th><a href="{{ path('ingreso_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td>{{ entity.fecha | date('d-m-Y H:i') }}</td>
            <td>{{ entity.programa }}</td>
            <td>{{ entity.concepto }}</td>
            <td class="align-center">{{ entity.ingreso | number_format(2, ',', '.') }}</td>
            <td>
                <a href="{{ path('ingreso_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                    Editar
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}