{% extends "layout.html.twig" %}
{% block content %}
    <div class="clearHeight"></div>
    <h2>Reporte Mensual de Cartera</h2>
    <form action="{{ path(app.request.attributes.get('_route'))  }}" method="post" >
    {% include "Caja/listCajaFilter.html.twig" %}
    </form>


{% endblock %}