{% extends "Default/baseListEntity.html.twig" %}

{% block titleList %} Listado de Pagos con Diferencia {% endblock %}

{% block thList %}
    <th class="align-center">Cuota</th>
    <th class="align-center">Fecha Pago</th>
    <th style="text-align: right">Capital</th>
    <th style="text-align: right">Interés</th>
    <th style="text-align: right">Gastos</th>
    <th style="text-align: right">Pun. Ref.</th>
    <th style="text-align: right">Punitorios</th>
    <th style="text-align: right">Total Pagado</th>
    <th style="text-align: right">Diferencia</th>
    <th style="text-align: center">Observación</th>
    <th style="width: 1%"></th>
{% endblock %}

{% block bodyList %}
    {% for pago in entities %}
        <tr>
            <td class="align-center">
                <a href="{{ path('credito_show', { 'id': pago.cuota.credito.id }) }}" target="_blank"
                   title="Reimputar pago">
                Credito {{ pago.cuota.credito }} - Nro: {{ pago.cuota.nroCuota }} - Pago: {{ pago.id }}
                </a>


            </td>
            <td class="align-center">{{pago.fecha |date('d-m-Y')}} </td>
            <td style="text-align: right"> {{pago.capital}}</td>
            <td style="text-align: right"> {{pago.intereses}}</td>
            <td style="text-align: right"> {{pago.gastoAdministrativo}}</td>

            {% if(pago.cuota.refinanciada) %}
                <td style="text-align: right"> {{pago.refinPunitorios}}</td>
            {% else %}
                <td style="text-align: right"> 0 </td>
            {% endif %}

            <td style="text-align: right">{{pago.punitorios}}</td>
            <td style="text-align: right">{{pago.total}} </td>
            <td style="text-align: right">
                {% set sum =  pago.capital  + pago.intereses  + pago.gastoAdministrativo  + pago.punitorios  %}
                {{  sum - pago.total }}
            </td>
            <td style="text-align: center">{{pago.observacion}} </td>
            <td style="text-align: right">

                {% if( sum != pago.total ) %}
                    <a href="{{ path('credito_reimputar_pago', { 'pago': pago.id }) }}"
                       rel="modal"
                       title="Reimputar pago">
                        <img src="{{ asset('images/icons/versolic3.png') }}"
                             alt="Reimputar pago" />
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}