<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >   
<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
{% if option=='D' %}
table tr.master td{ border-bottom: 1px solid gray; font-weight: bold; margin: 0 2px}
table tr.detail td:first-of-type{ border-left:1px solid gray;}
table tr.detail td:last-of-type{ border-right :1px solid gray;}
{% endif %}
</style>       
    <table cellspacing="0">
        {% set total=0 %}
        <thead>
            <tr>                
                <th style="width:20%" class="align-center">Fecha</th>
                <th style="width:60%">Concepto</th>
                <th style="width:20%">Importe</th>
            </tr>
        </thead>
        <tbody>
    {% for gasto in ingresos if gasto.concepto.numerico==0 %}
        <tr class="master">
            <td class="align-center">{{ gasto.fecha |date('d-m-Y H:i')}}</td>
            <td>{{ gasto.concepto }}</td>
            <td style="text-align: right">$ {{ gasto.importe | number_format(2) }} </td>
            {% set total = total + gasto.importe %}
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th style="text-align: right" colspan="2">TOTAL: </th>
                <th style="text-align: right">$ {{total | number_format(2)}}</th>
            </tr>
        </tfoot>
    </table>
        <div class="clearHeight ">&nbsp;</div>
    <table cellspacing="0">
        {% set hontotal=0 %}
        <thead>
            <tr>                
                <th colspan="2">HONORARIOS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for gasto in ingresos if gasto.concepto.numerico==1 %}
        <tr class="master">
            <td>{{ gasto.concepto }}</td>
            <td></td>
            <td style="text-align: right">$ {{ gasto.importe | number_format(2) }} </td>
            {% set hontotal = hontotal + gasto.importe %}
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2" style="text-align: right">TOTAL: </th>
                <th style="text-align: right">$ {{hontotal | number_format(2)}}</th>
            </tr>
        </tfoot>
    </table>
   </body>
</html>