<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Criterios de Reporte</h5>        
    </div>
    <div class="content-box-content"> 

            <fieldset>
                <p>
                    <button type="submit" id="buscar" class="button list align-right" title="Buscar">Imprimir Reporte</button>
                    <label><strong>Periodo:</strong></label>
                    <input value="{{ fechaDesde | date('d-m-Y')}}" class="text-input date-input datepicker"
                           name="fechaDesde" id="fechaDesde" required="required"/>
                    <input value="{{ fechaHasta | date('d-m-Y')}}" class="text-input date-input datepicker"
                           name="fechaHasta" id="fechaHasta" required="required"/>

                    <label><strong>Con detalle:</strong></label>
                    <input type="checkbox" name="detalle" />
                </p>
               
            </fieldset>    

        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            beforeShowDay: $.datepicker.noWeekends
        });
    });
</script> 
    