<style>
    .align-center{text-align: center}
    h5{float:right; font-weight: lighter;}
    table{ font-family:'Arial';font-size: 12px; width:100%;  }
    table tr th{
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        background: #E9E9E9;
        padding: 5px;
        font-size: 13px;
        }
    table tr th:last-of-type, table tr.master td:last-of-type {
        border-right: 1px solid gray;

    }
    table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
    table tr.master:first-of-type td{    border-top: 1px solid gray;  }
    table tr.master td{
        border-top: 1px solid gray;
        border-left: 1px solid gray;
    }
    table tr td{  padding:3px 15px;}


     .salto-pagina {
         PAGE-BREAK-AFTER: always
     }

</style>

<img style="display:inline" id="logo" src="{{ absolute_url(asset('images/header.png'))}}" />
<hr>
<div style="display:block">
    <h2 style="float:left">Estado de Caja y Creditos</h2>
    <h5>Fecha: {{date('now')|date('d / m / Y H:i')}}</h5>
</div>
{% if filtro.desde or filtro.hasta %}
    <div style="display:block; clear: both">
        <hr>
        <div>{% if filtro.desde or filtro.hasta %}Periodo: desde el {{filtro.desde|date('d/m/Y')}} hasta el {{filtro.hasta|date('d/m/Y')}} {%endif%}</div>
        <hr>
    </div>
{% endif %}
<br>
<div class="content-box" style="clear:both">

    {% if(movimientoCaja) %}
    <table cellspacing="0" style="width:70%; margin: auto">
        <tr class="master">
            <td>{{filtro.desde|date('d/m/Y')}} Inicio de Caja:</td>
            <td style="text-align: left;">
                {% if(primerMovimiento) %}
                ${{ primerMovimiento | number_format(2, ',', '.') }}
                {% else %}
                $0,0
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr class="master">
            <td>&nbsp;&nbsp;&nbsp;Total Cobros:</td>
            <td style="text-align: right;">${{ totalIngresos | number_format(2, ',', '.') }}</td>
            <td></td>
        </tr>
        <tr class="master">
            <td>&nbsp;&nbsp;&nbsp;Total Ingresos (no cobros) :</td>
            <td style="text-align: right;">${{ totalIngresosNoCobros | number_format(2, ',', '.') }}</td>
            <td></td>
        </tr>
        <tr class="master">
            <td>&nbsp;&nbsp;&nbsp;Total Gastos:</td>
            <td></td>
            <td style="text-align: right;">${{ totalEgresos | number_format(2, ',', '.') }}</td>
        </tr>

        <tr class="master">
            <td>&nbsp;&nbsp;&nbsp;Total Capital Reinvertido:</td>
            <td></td>
            <td style="text-align: right;">${{ totalReinvertido | number_format(2, ',', '.') }}</td>
        </tr>
        {% if( ((primerMovimiento+totalIngresos+totalIngresosNoCobros-totalEgresos-totalReinvertido)-ultimoMovimiento.total) > 0 ) %}
        <tr class="master">
            <td>&nbsp;&nbsp;&nbsp;Pagos Borrado Mes Anterior:</td>
            <td></td>
            <td style="text-align: right;">${{ ((primerMovimiento+totalIngresos+totalIngresosNoCobros-totalEgresos-totalReinvertido)-ultimoMovimiento.total) | number_format(2, ',', '.') }}</td>
        </tr>
        {% endif %}
        <tr class="master">
            <td>{{ filtro.hasta|date('d/m/Y') }} Total Caja:</td>
            <td style="text-align: left;">${{ ultimoMovimiento.total | number_format(2, ',', '.') }}</td>
            <td></td>
        </tr>
        </tr>
    </table>
    {% endif %}


    {% if(cantidadPagosCapital) %}
        <br>
        <div style="display:block; clear: both">
            <div>
                Detalle de los Cobros  {% if(movimientoCaja) %} ${{ totalIngresos | number_format(2, ',', '.') }} {% endif %}
            </div>
            <hr>
        </div>
        <table cellspacing="0" style="width:70%; margin: auto">
            <tr class="master">
                <td>Total Capital:</td>
                <td style="text-align: right;">
                    ${{ (cantidadPagosCapital + (totalIngresos-(cantidadPagosCapital+cantidadPagosIntereses+cantidadPagoPunitorios+cantidadPagosGastos+cantidadRefinPunitorios)))  | number_format(2, ',', '.') }}</td>
            </tr>
            <tr class="master">
                <td>Total Intereses:</td>
                <td style="text-align: right;">${{ cantidadPagosIntereses | number_format(2, ',', '.') }}</td>
            </tr>
            <tr class="master">
                <td>Total Punitorios:</td>
                <td style="text-align: right;">${{ cantidadPagoPunitorios | number_format(2, ',', '.') }}</td>
            </tr>
            <tr class="master">
                <td>Total Gatos:</td>
                <td style="text-align: right;">${{ cantidadPagosGastos | number_format(2, ',', '.') }}</td>
            </tr>
            {% if(cantidadRefinPunitorios > 0) %}
            <tr class="master">
                <td>Total Punitorios por Refinanciacion:</td>
                <td style="text-align: right;">${{ cantidadRefinPunitorios | number_format(2, ',', '.') }}</td>
            </tr>
            {% endif %}
        </table>
    {% endif %}

    {% if(cantidadPagosBancoCapital) %}
        <br>
        <div style="display:block; clear: both">
            <div>
                Detalle de los Cobros Bancarios  {% if(movimientBanco) %} ${{ (cantidadPagosBancoCapital+cantidadPagosBancoIntereses+cantidadPagoBancoPunitorios+cantidadPagosBancoGastos+cantidadPagosBancoRefinPunitorios) | number_format(2, ',', '.') }} {% endif %}
            </div>
            <hr>
        </div>
        <table cellspacing="0" style="width:70%; margin: auto">
            <tr class="master">
                <td>Total Capital:</td>
                <td style="text-align: right;">${{ cantidadPagosBancoCapital | number_format(2, ',', '.') }}</td>
            </tr>
            <tr class="master">
                <td>Total Intereses:</td>
                <td style="text-align: right;">${{ cantidadPagosBancoIntereses | number_format(2, ',', '.') }}</td>
            </tr>
            <tr class="master">
                <td>Total Punitorios:</td>
                <td style="text-align: right;">${{ cantidadPagoBancoPunitorios | number_format(2, ',', '.') }}</td>
            </tr>
            <tr class="master">
                <td>Total Gatos:</td>
                <td style="text-align: right;">${{ cantidadPagosBancoGastos | number_format(2, ',', '.') }}</td>
            </tr>
            {% if(cantidadPagosBancoRefinPunitorios > 0) %}
                <tr class="master">
                    <td>Total Punitorios por Refinanciacion:</td>
                    <td style="text-align: right;">${{ cantidadPagosBancoRefinPunitorios | number_format(2, ',', '.') }}</td>
                </tr>
            {% endif %}
        </table>
    {% endif %}
    <br>

</div>
<br>
{% if(conDetalle) %}
<div style="display:block; clear: both">
    <div>Movimientos de Cobro</div>
</div>
<div class="content-box" style="clear:both">
    <hr>
    <div style="display:block; clear: both" class="content-box-content">
        <table cellspacing="0" style="width:95%; font-size: 8px;margin: auto">
            {% set total=0 %}
            <thead>
                <tr>
                    <th style="width:20%" class="align-center">Fecha</th>
                    <th style="width:20%">Concepto</th>
                    <th style="width:15%">Ingreso</th>
                    <th style="width:15%">Usuario</th>
                    <th style="width:15%">Observacion</th>
                </tr>
            </thead>
            <tbody>
        {% for caja in cobrosDetalle %}
            {% set total= total+ caja.ingreso %}
            <tr class="master">
                <td class="align-center">{{ caja.fecha |date('d-m-Y H:i')}}</td>
                <td>{{ caja.concepto }}
                </td>
                <td class="align-center">$ {{ caja.ingreso | number_format(2, ',', '.') }}</td>
                <td class="align-center"> {{ caja.creadoPor }}</td>
                <td class=""> {{ caja.observacion }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <p>Total Cobros: ${{ total| number_format(2, ',', '.') }}</p>
        <div class="clearHeight ">&nbsp;</div>
    </div>
</div>

<br>
<div style="display:block; clear: both">
    <div>Movimientos de Banco</div>
</div>
<div class="content-box" style="clear:both">
    <hr>
    <div style="display:block; clear: both" class="content-box-content">
        <table cellspacing="0" style="width:95%; font-size: 8px;margin: auto">
            {% set total=0 %}
            <thead>
            <tr>
                <th style="width:20%" class="align-center">Fecha</th>
                <th style="width:20%">Concepto</th>
                <th style="width:15%">Ingreso</th>
                <th style="width:15%">Usuario</th>
                <th style="width:15%">Observacion</th>
            </tr>
            </thead>
            <tbody>
            {% for caja in movimientBanco %}
                {% set total= total+ caja.ingreso %}
                <tr class="master">
                    <td class="align-center">{{ caja.fecha |date('d-m-Y H:i')}}</td>
                    <td>
                        {{ caja.concepto }}
                    </td>
                    <td class="align-center">$ {{ caja.ingreso | number_format(2, ',', '.') }}</td>
                    <td class="align-center"> {{ caja.creadoPor }}</td>
                    <td class=""> {{ caja.observacion }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Total Ingreso: ${{ total| number_format(2, ',', '.') }}</p>
        <div class="clearHeight ">&nbsp;</div>
    </div>
</div>

<div style="display:block; clear: both">
<div>Movimientos de Otros Ingresos</div>
</div>
<div class="content-box" style="clear:both">
    <hr>
    <div style="display:block; clear: both" class="content-box-content">
        <table cellspacing="0" style="width:95%; font-size: 8px;margin: auto">
            {% set total=0 %}
            <thead>
            <tr>
                <th style="width:20%" class="align-center">Fecha</th>
                <th style="width:20%">Concepto</th>
                <th style="width:15%">Ingreso</th>
                <th style="width:15%">Usuario</th>
                <th style="width:15%">Observacion</th>
            </tr>
            </thead>
            <tbody>
            {% for caja in ingresosDetalle %}
                {% if(caja.concepto.id != 210) %}
                    {% set total= total+ caja.ingreso - caja.egreso %}
                    <tr class="master">
                        <td class="align-center">{{ caja.fecha |date('d-m-Y H:i')}}</td>
                        <td>{{ caja.concepto }}
                        </td>
                        <td class="align-center">$ {{ caja.ingreso | number_format(2, ',', '.') }}</td>
                        <td class="align-center"> {{ caja.creadoPor }}</td>
                        <td class=""> {{ caja.observacion }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <p>Total Otros Ingresos: ${{ total| number_format(2, ',', '.') }}</p>
        <div class="clearHeight ">&nbsp;</div>
    </div>
</div>
<br>

<div style="display:block; clear: both">
    <div>Movimientos de Gastos</div>
</div>
<div class="content-box" style="clear:both">
    <hr>
    <div style="display:block; clear: both" class="content-box-content">
        <table cellspacing="0" style="width:95%; font-size: 8px;margin: auto">
            {% set total=0 %}
            <thead>
            <tr>
                <th style="width:20%" class="align-center">Fecha</th>
                <th style="width:20%">Concepto</th>
                <th style="width:15%">Egreso</th>
                <th style="width:15%">Usuario</th>
                <th style="width:15%">Observacion</th>
            </tr>
            </thead>
            <tbody>
            {% for caja in gastosDetalle %}
                {% set total= total+ caja.ingreso - caja.egreso %}
                <tr class="master">
                    <td class="align-center">{{ caja.fecha |date('d-m-Y H:i')}}</td>
                    <td>{{ caja.concepto }}
                    </td>
                    <td class="align-center">$ {{ caja.egreso | number_format(2, ',', '.') }}</td>
                    <td class="align-center"> {{ caja.creadoPor }}</td>
                    <td class=""> {{ caja.observacion }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Total Gastos: ${{ totalEgresos| number_format(2, ',', '.') }}</p>
        <div class="clearHeight ">&nbsp;</div>
    </div>
</div>
<br>

<div style="display:block; clear: both">
    <div>Movimientos de Capital Reinvertido</div>
</div>
<div class="content-box" style="clear:both">
    <hr>
    <div style="display:block; clear: both" class="content-box-content">
        <table cellspacing="0" style="width:95%; font-size: 8px;margin: auto">
            {% set total=0 %}
            <thead>
            <tr>
                <th style="width:20%" class="align-center">Fecha</th>
                <th style="width:20%">Concepto</th>
                <th style="width:15%">Egreso</th>
                <th style="width:15%">Usuario</th>
                <th style="width:15%">Observacion</th>
            </tr>
            </thead>
            <tbody>
            {% for caja in reinvertidoDetalle %}
                {% set total= total+ caja.ingreso - caja.egreso %}
                <tr class="master">
                    <td class="align-center">{{ caja.fecha |date('d-m-Y H:i')}}</td>
                    <td>{{ caja.concepto }}
                    </td>
                    <td class="align-center">$ {{ caja.egreso | number_format(2, ',', '.') }}</td>
                    <td class="align-center"> {{ caja.creadoPor }}</td>
                    <td class=""> {{ caja.observacion }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Total Capital Reinvertido: ${{ totalReinvertido| number_format(2, ',', '.') }}</p>
        <div class="clearHeight ">&nbsp;</div>
    </div>
</div>
<br>
    <div class="salto-pagina"></div>
{% endif %}

<br>

<div style="display:block; clear: both">
    <div>
        Cartera
    </div>
    <hr>
</div>
<table cellspacing="0" style="width:70%; margin: auto">
    <tr class="master">
        <td>Cantidad de Creditos Aprobados:</td>
        <td style="text-align: right;">{{ cantidaCreditosCreadoMes | number_format(0, ',', '.') }}</td>
    </tr>
    <tr class="master">
        <td>Cantidad de Creditos Finalizados:</td>
        <td style="text-align: right;">{{ cantidaCreditosFinalizadosMes | number_format(0, ',', '.') }}</td>
    </tr>
    <tr class="master">
        <td >Cantidad de Creditos Activos:</td>
        <td style="text-align: right;">{{ cantidadCreditosActivos | number_format(0, ',', '.') }}</td>
    </tr>
    <tr class="master">
        <td>Cantidad de Creditos Activos al dia:</td>
        <td style="text-align: right;">{{ cantidadCreditosAlDia | number_format(0, ',', '.') }}</td>
    </tr>
    <tr class="master">
        <td>Cantidad de Creditos Activos con Mora de 15 dias * :</td>
        <td style="text-align: right;">{{ cantidadCreditosMorosos15 | number_format(0, ',', '.') }}</td>
    </tr>
    <tr class="master">
        <td>Cantidad de Creditos Activos con Mora de 30 dias * :</td>
        <td style="text-align: right;">{{ cantidadCreditosMorosos30 | number_format(0, ',', '.') }}</td>
    </tr>
    <tr class="master">
        <td>Cantidad de Creditos Activos con Mora de + 30 dias * :</td>
        <td style="text-align: right;">{{ (cantidadCreditosActivos - cantidadCreditosAlDia - cantidadCreditosMorosos15  - cantidadCreditosMorosos30) | number_format(0, ',', '.') }}</td>
    </tr>
</table>
<br>
<table>
    <tr class="">
        <td>* La cantidad de dias de mora se toma desde la fecha {{filtro.hasta|date('d/m/Y')}} </td>
        <td style="text-align: right;"></td>
    </tr>
</table>

<br>

<div style="display:block; clear: both">
    <div>Creditos Finalizados en el mes</div>
</div>
<div class="content-box" style="clear:both">
    {% set total=0 %}
    <hr>
    <div style="display:block; clear: both" class="content-box-content">
        <table cellspacing="0" style="width:95%; font-size: 8px;margin: auto">
            <thead>
            <tr>
                <th class="align-center">Crédito N&deg;</th>
                <th class="align-center">Carpeta N&deg;</th>
                <th>Programa</th>
                <th>Grupo / Emprendedor</th>
                <th>Cantidad Cuotas</th>
                <th class="align-center">Capita Pagado</th>
                <th class="align-center">Intereses Pagado</th>
                <th class="align-center">Gastos Pagado</th>
                <th class="align-center">Punitorios Pagado</th>
                <th class="align-center">Rendimiento</th>
            </tr>
            </thead>
            <tbody>
            {% set totalCapitalPagado= 0 %}
            {% set totalInteresesPagado= 0 %}
            {% set totalGastosPagado= 0 %}
            {% set totalPunitoriosPagado= 0 %}
            {% set totalRedimineto= 0 %}
            {% for entity in listadoCreditosFinalizadosMes %}
                {% set total=total+1 %}
                <tr class="master">
                    <td class="align-center">{{ entity.nroCredito }}-{{ entity.nroRenovacion }}</td>
                    <td class="align-center">{{ entity.nroCarpeta }}</td>
                    <td>{{ entity.programa }}</td>
                    <td>{% if entity.grupo %}{{ entity.grupo }} [{{ entity.emprendedores|length }}] {% else %} {{ entity.emprendedor }} {% endif %} </td>

                    <td class="align-center">{{ entity.getCantidadCuotaCredito }}</td>

                    {% set capitalPagado= 0 %}
                    {% set interesesPagado= 0 %}
                    {% set gastosPagado= 0 %}
                    {% set punitoriosPagado= 0 %}
                    {% set redimineto= 0 %}
                    {% for cuotasPagadas in entity.cuotas %}
                        {% for pagos in cuotasPagadas.pagos %}
                            {% set capitalPagado = capitalPagado + pagos.capital %}
                            {% set interesesPagado = interesesPagado + pagos.intereses  %}
                            {% set gastosPagado = gastosPagado + pagos.gastoAdministrativo %}
                            {% set punitoriosPagado = punitoriosPagado + pagos.punitorios + pagos.refinPunitorios %}
                        {% endfor %}
                    {% endfor %}

                    {% if capitalPagado != 0 %}
                        {% set redimineto =  ((interesesPagado + gastosPagado + punitoriosPagado)/capitalPagado)*100 %}
                    {% else %}
                        {% set redimineto = 0 %}
                    {% endif %}

                    {% set totalCapitalPagado = totalCapitalPagado + capitalPagado %}
                    {% set totalInteresesPagado = totalInteresesPagado + interesesPagado %}
                    {% set totalGastosPagado = totalGastosPagado + gastosPagado %}
                    {% set totalPunitoriosPagado = totalPunitoriosPagado + punitoriosPagado %}

                    <td class="align-center">$ {{ capitalPagado | number_format(2, ',', '.') }}</td>
                    <td class="align-center">$ {{ interesesPagado | number_format(2, ',', '.') }}</td>
                    <td class="align-center">$ {{ gastosPagado | number_format(2, ',', '.') }} </td>
                    <td class="align-center">$ {{ punitoriosPagado | number_format(2, ',', '.') }} </td>
                    <td class="align-center"> {{ redimineto | number_format(2, ',', '.') }} % </td>
                </tr>
            {% endfor %}
            {% if(totalCapitalPagado > 0 ) %}
                {% set totalRedimineto =  ((totalInteresesPagado + totalGastosPagado + totalPunitoriosPagado)/totalCapitalPagado)*100 %}
                <tr class="master">
                    <td class="align-right" colspan="5"> Total</td>
                    <td class="align-center">$ {{ totalCapitalPagado | number_format(2, ',', '.') }}</td>
                    <td class="align-center">$ {{ totalInteresesPagado | number_format(2, ',', '.') }}</td>
                    <td class="align-center">$ {{ totalGastosPagado | number_format(2, ',', '.') }} </td>
                    <td class="align-center">$ {{ totalPunitoriosPagado | number_format(2, ',', '.') }} </td>
                    <td class="align-center">{{ totalRedimineto | number_format(2, ',', '.') }} % </td>
                </tr>
            {% endif %}

            </tbody>
        </table>
        <p>Cantidad de Creditos: {{ total }}</p>
        <div class="clearHeight ">&nbsp;</div>
    </div>
</div>
<br>


{% if(conDetalle) %}
<div style="display:block; clear: both">
    <div>Creditos con Mora de 15 dias</div>
</div>
<div class="content-box" style="clear:both">
    {% set total=0 %}
    <hr>
    <div style="display:block; clear: both" class="content-box-content">
        <table cellspacing="0" style="width:95%; font-size: 8px;margin: auto">
            <thead>
            <tr>
                <th class="align-center">Crédito N&deg;</th>
                <th class="align-center">Carpeta N&deg;</th>
                <th>Programa</th>
                <th>Grupo / Emprendedor</th>
                <th class="align-center">Entrega</th>
                <th>Monto</th>
                <th class="align-center">Cuotas</th>
                <th class="align-center">Fecha Ult. Pago</th>
                <th class="align-center">Fecha Primer Vto. Impago</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in creditosMorosos15Detalle %}
                {% set total=total+1 %}
                <tr class="master">
                    <td class="align-center">{{ entity.nroCredito }}-{{ entity.nroRenovacion }}</td>
                    <td class="align-center">{{ entity.nroCarpeta }}</td>
                    <td>{{ entity.programa }}</td>
                    <td>{% if entity.grupo %}{{ entity.grupo }} [{{ entity.emprendedores|length }}] {% else %} {{ entity.emprendedor }} {% endif %} </td>
                    <td class="align-center">{{ entity.fechaEntrega|date('d-m-Y') }} </td>
                    <td class="align-center">$ {{ entity.montoCredito | number_format(2, ',', '.') }}</td>
                    <td class="align-center">{{ entity.ultimaCuotaPaga }}/{{ entity.getCantidadCuotaCredito }} </td>
                    <td class="align-center">{% if entity.ultimoPago is not null %}{{ entity.ultimoPago|date('d-m-Y') }} {% endif %} </td>
                    <td class="align-center">{{entity.primerVtoImpago|date('d-m-Y')}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Cantidad de Creditos: {{ total }}</p>
        <div class="clearHeight ">&nbsp;</div>
    </div>
</div>
<br>

{% endif %}