
{% extends "layout.html.twig" %}

{% block title %}Reporte Grafico de Colocación{% endblock %}

{% block content %}

<div class="example-wrapper">

<br>
<h2>Estado de resultados</h2>

<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Criterios de Filtro</h5>
        <span class="align-right action arrow close-box" title="ocultar/mostrar" >cerrar</span>
    </div>
 <div class="content-box-content">
        <form action="{{ path('estado_resultados') }}" method="post" >
            <fieldset>
                <p>
                    
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>

                    <label><strong>Seleccione año:</strong></label>
                    <select name="year">
                     {% for years in year %}
                     <option value="{{ years.a }}">{{ years.a }}</option>
                     {% endfor %}
                     </select>

                    <label><strong>Seleccione mes:</strong></label>
                    <select name="mes">
                     <option value="1">Enero</option>
                     <option value="2">Febrero</option>
                     <option value="3">Marzo</option>
                     <option value="4">Abril</option>
                     <option value="5">Mayo</option>
                     <option value="6">Junio</option>
                     <option value="7">Julio</option>
                     <option value="8">Agosto</option>
                     <option value="9">Septiembre</option>
                     <option value="10">Octubre</option>
                     <option value="11">Noviembre</option>
                     <option value="12">Diciembre</option>
                     </select>
                </p>

               

            </fieldset>
        </form>
    </div>
</div>




{% if creditos != "0"%}
  
<table style="border: 1px solid black;">
 
    <td style="border: 1px solid black; width:100px">  Periodo </td>
      <td style="border: 1px solid black; width:100px">  {{ creditos[0].fecha|e }} </td>
   </table>
   <table style="border: 1px solid black;">
    <td style="border: 1px solid black; width:100px">  Colocacion   </td>

      <td style="border: 1px solid black; width:100px">  ${{ creditos[0].colocacion|e }} </td>
      
 
  </table>

<br>
<h4> Ingresos: </h4>
   <table >
    <td style="border: 1px solid black; width:100px">  Ingresos por intereses  </td>
      <td style="border: 1px solid black; width:100px">  ${{ cuota[0].interes|e + cuota[0].punitorios|e + cuota[0].gastoAdmin|e}} </td>
  </table>

   <table >
    <td style="border: 1px solid black; width:100px">  Programados  </td>
      <td style="border: 1px solid black; width:100px">  ${{ cuota[0].interes|e }} </td>
  </table>

   <table >
    <td style="border: 1px solid black; width:100px">  Punitorios  </td>
      <td style="border: 1px solid black; width:100px">  ${{ cuota[0].punitorios|e }} </td>
  </table>

   <table >
    <td style="border: 1px solid black; width:100px">  Gastos Otorgamiento  </td>
      <td style="border: 1px solid black; width:100px">  ${{ cuota[0].gastoAdmin|e }} </td>
  </table>


<br>
   <table >
    <td style="border: 1px solid black; width:100px"> Resultado:  </td>
    <td style="border: 1px solid black; width:100px">  ${{(cuota[0].interes|e + cuota[0].punitorios|e + cuota[0].gastoAdmin|e)  }} </td>
  </table>
  <table >
    <td style="border: 1px solid black; width:100px"> Resultado/coloc.:  </td>
    <td style="border: 1px solid black; width:100px">  {{((((cuota[0].interes|e + cuota[0].punitorios|e + cuota[0].gastoAdmin|e)) /  creditos[0].colocacion|e) * 100 )|number_format(2, '.', ',')}} %</td>
  </table>

  {% else %}

  <h3>No hay Regisatros en el mes seleccionado</h3>
   
   
   {% endif %}





 

</div>
{% endblock %}

{% block extra_javascripts %}

{% endblock %}
