    {% if formIngreso is defined %}
    <td>{{ form_widget(formIngreso.monto, { 'attr': {'class' : 'text-input medium-input' } }) }} </td>
    <td class="align-center">{{ form_widget(formIngreso.fecha_ingreso, { 'attr': { 'class' : 'text-input medium-input datepicker' } }) }}</td>
    <td class="align-center actions"> 
        <span id="programa_ingreso_acept" class="action mini-acept" title="Aceptar" onclick="aceptEditProgramaIngreso('{{ path('programa_ingreso_update') }}','{{ingresoRow.id}}')">
            Aceptar
        </span>
        <span id="programa_ingreso_cancel" class="action mini-cancel" title="Cancelar" onclick="cancelProgramaIngreso('{{ path('programa_ingreso_show') }}','{{ingresoRow.id}}')">
            Cancelar
        </span>
    </td>
    {% else %} 
    <td>{{ ingresoRow.monto }}</td>
    <td class="align-center">{{ ingresoRow.fechaIngreso|date('d-m-Y') }}</td>
    <td class="align-center"> 
        <span onclick="editProgramaIngreso('{{ path('programa_ingreso_edit')}}',{{ingresoRow.id}})" class="action mini-edit programa_ingreso_edit" title="Editar" >
            Editar
        </span>
        <span onclick="deleteProgramaIngreso('{{ path('programa_ingreso_delete')}}',{{ingresoRow.id}})" class="action delete programa_ingreso_delete" title="Eliminar Ingreso">
            Eliminar
        </span>
    </td>
    {% endif %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#programaingreso_fecha_ingreso').datepicker({changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        minDate: new Date(1930, 0, 1),
        maxDate: new Date()});
    });
</script>     


    