{% extends "layout.html.twig" %}
{% block content %} 
    <div class="clearHeight"></div>
    <h2>Ajuste de Tasas para Créditos </h2>
    <div class="content-box">
        <div class="content-box-header">
            <h3> Estos valores se aplicarán a todos los Programas  </h3>
            <span class="align-right back">
               <a href="{{path('programa')}}" class="button">Volver</a>
            </span>
        </div> <!-- End .content-box-header -->
        
        <div class="content-box-content">
            <form action="{{path('programa_ajuste_tasa_save')}}" method="post">

<fieldset>
    <p>
        <label>Interés:</label>
        <input type="number" value="36.00" class="text-input fixmini40-input" required="required" name="porc_interes" id="porc_interes"><label> % anual</label>
    </p>
    <p>
        <label>Punitorio por Mora: </label>
        <input type="number" value="10.00" class="text-input fixmini40-input" required="required" name="porc_punitorio" id="porc_punitorio"><label>% mensual &nbsp;&nbsp;- &nbsp;&nbsp; </label>
        <input type="number" value="30.00" class="text-input fixmini40-input" required="required" name="monto_punitorio" id="monto_punitorio"><label>$ diario
            <small style="font-weight: lighter;" class="input-notification information png_bg">Si ingresa monto diario se utilizará ese valor en lugar del porcentaje</small></label>
    </p>
</fieldset>
                <div class="clear"></div>
                <p class="submit-block" style="margin: 10px;">
                    <button type="submit" id="submitForm"  class="button"
                         onclick="if (!confirm('Los valores de interés y punitorios se aplicarán a todos los Programas de Fondos.\n\n Desea continuar con los cambios?')) return false;" >Aplicar Cambios</button>
                </p>
            </form>
           
        </div>
    </div>    
{% endblock %}