{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Programas de Fondos </h2>{% endblock %}
{% block pathback %}   {{ path('programa') }}           {% endblock %}
{% block tabs %} 
<ul class="content-box-tabs">
    <li><a href="#tabPrograma1" class="default-tab"><strong>PROGRAMA</strong></a></li> 
    {% if entity.id=='x' %}
    <li><a href="#tabPrograma2" >Ingresos</a></li> 
    {% endif %}
</ul>
{% endblock%}

{% block groupFormContent %}
<div class="tab-content default-tab" id="tabPrograma1">   
        {% if entity.id  %}
            <div class="align-right">
                <form action=" {{path('programa_delete', { 'id': entity.id })}}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit" title="Eliminar" class="action deleteMax">Eliminar</button>
                </form>
            </div>
            <form action="{{path('programa_update', { 'id': entity.id })}}" method="post"  >
          {% else %}
            <form action="{{ path('programa_create') }} " method="post"  >
          {%endif%}
<fieldset>
    <p>
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class' : 'text-input medium-input' } }) }}
        {{ form_errors(form.nombre) }}
    </p>
    <p>
        {{ form_label(form.sigla) }}
        {{ form_widget(form.sigla, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
        {{ form_errors(form.sigla) }}    
    </p>
    <p>
        {{ form_label(form.porc_interes) }}
        {{ form_widget(form.porc_interes, { 'attr': { 'class' : 'text-input fixmini40-input' } }) }}<label> % anual</label>
        {{ form_errors(form.porc_interes) }}    
    </p>
    <p>
        {{ form_label(form.porc_punitorio) }}
        {{ form_widget(form.porc_punitorio, { 'attr': { 'class' : 'text-input fixmini40-input' } }) }}<label>% mensual &nbsp;&nbsp;- &nbsp;&nbsp; </label>
        {{ form_widget(form.monto_punitorio, { 'attr': { 'class' : 'text-input fixmini40-input' } }) }}<label>$ diario
            <small class="input-notification information png_bg" style="font-weight: lighter;">Si ingresa monto diario se utilizará ese valor en lugar del porcentaje</small></label>
        {{ form_errors(form.porc_punitorio) }}    
    </p>
    <p>
        {{ form_label(form.porc_gastos_adm) }}
        {{ form_widget(form.porc_gastos_adm, { 'attr': { 'class' : 'text-input fixmini40-input' } }) }}<label> % sobre el total del credito</label>
        {{ form_errors(form.porc_gastos_adm) }}
    </p>
    {% if is_granted('ROLE_ADMIN') %}
    <p>
        {{ form_label(form.caja) }}
        {{ form_widget(form.caja, { 'attr': { 'class' : 'text-input mini-input' } }) }}
        {{ form_errors(form.caja) }}    
    </p>
    <p>
        {{ form_label(form.banco) }}
        {{ form_widget(form.banco, { 'attr': { 'class' : 'text-input mini-input' } }) }}
        {{ form_errors(form.banco) }}    
    </p>
    {% endif %}    
    <p>
        {{ form_label(form.individual) }}
        {{ form_widget(form.individual) }}  
            <small class="input-notification information png_bg">Los Emprendedores se asocian al Programa sin Grupo</small>
        {{ form_errors(form.individual) }}    
    </p>
    <p>
        {{ form_label(form.soloEmpleados) }}
        {{ form_widget(form.soloEmpleados) }}
        <small class="input-notification information png_bg">Los Emprendedores se asocian al Programa solo si estan marcados como Agentes Internos de la Asociación y la Cooperativa </small>
        {{ form_errors(form.soloEmpleados) }}
    </p>

    <p>
        {{ form_label(form.grupoSolidario) }}
        {{ form_widget(form.grupoSolidario) }}
        <small class="input-notification information png_bg"> Corresponde grupos solidarios (sin control de garante) </small>
        {{ form_errors(form.grupoSolidario) }}
    </p>


    <hr>

    <p>
        {{ form_label(form.habilitadoNuevoCredito) }}
        {{ form_widget(form.habilitadoNuevoCredito) }}
        <small class="input-notification information png_bg">Determina si esta habilitado el Programa cuando se crear un nueva Solicitud</small>
        {{ form_errors(form.habilitadoNuevoCredito) }}
    </p>
    <p>
        {{ form_label(form.utilizaCaja) }}
        {{ form_widget(form.utilizaCaja) }}
        <small class="input-notification information png_bg">Utiliza la Caja de la Orgniazación</small>
        {{ form_errors(form.utilizaCaja) }}
    </p>
    <p>
        {{ form_label(form.montoTope) }}
        {{ form_widget(form.montoTope, { 'attr': { 'class' : 'text-input mini-input' } }) }}
        {{ form_errors(form.montoTope) }}
    </p>

    <hr>

    <p>
        {{ form_label(form.cuotasMensuales) }}
        {{ form_widget(form.cuotasMensuales) }}
        {{ form_errors(form.cuotasMensuales) }}
        {{ form_label(form.cuotaTopeMensual) }}
        {{ form_widget(form.cuotaTopeMensual,{ 'attr': { 'class' : 'text-input mini-input' } }) }}
        {{ form_errors(form.cuotaTopeMensual) }}
    </p>

    <p>
        {{ form_label(form.cuotasSemanal) }}
        {{ form_widget(form.cuotasSemanal) }}
        {{ form_errors(form.cuotasSemanal) }}
        {{ form_label(form.cuotaTopeSemanal) }}
        {{ form_widget(form.cuotaTopeSemanal,{ 'attr': { 'class' : 'text-input mini-input' } }) }}
        {{ form_errors(form.cuotaTopeMensual) }}
    </p>

    <hr>

    <p>
        {{ form_label(form.activo) }}
        {{ form_widget(form.activo) }}
        <small class="input-notification information png_bg">Determina que el programa esta activo y se muestra en los reportes</small>
        {{ form_errors(form.activo) }}
    </p>

</fieldset>
 <p class="submit-block">
    <button type="submit" class="button">Guardar</button>
 </p>
 <div style="display:none">{{ form_rest(form) }}</div>
</form>        
<div class="clear"></div>
</div>
<div class="tab-content" id="tabPrograma2" > 
 <div class="content-box">
    <div class="content-box-header">
        <h3>Ingresos de Capital</h3>
        <span class="align-right total">Total: {{ entity.ingresos | length }}</span>
    </div> <!-- End .content-box-header -->

    <div class="content-box-content">
        <table id="ingresos">
            <thead>
                <tr>
                    <th style="width:35%" >Monto</th>
                    <th style="width:35%" class="align-center">Fecha Ingreso</th>
                    <th style="width:30%" class="align-center actions">
                        <span title="Nuevo" id="programa_ingreso_new" class="action mini-add" 
                              onclick="editProgramaIngreso('{{ path('programa_ingreso_edit') }}')">Nuevo</span>
                    </th>
                </tr>
            </thead>
            <tbody>
               {% for ingreso in entity.ingresos %}
                    <tr id="tr_{{ingreso.id}}">
                        <td>{{ ingreso.monto }}</td>
                        <td class="align-center">{{ ingreso.fechaIngreso|date('d-m-Y') }}</td>
                        <td class="align-center"> 
                             <span onclick="editProgramaIngreso('{{ path('programa_ingreso_edit')}}',{{ingreso.id}})" class="action mini-edit programa_ingreso_edit" title="Editar" >
                                Editar
                            </span>
                            <span onclick="deleteProgramaIngreso('{{ path('programa_ingreso_delete')}}',{{ingreso.id}})" class="action delete programa_ingreso_delete" title="Eliminar Ingreso">
                                Eliminar
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            
        </table>
        <div class="clear"></div>
    </div>
</div>    

{% endblock %}
 