{% extends "Default/baseListEntity.html.twig" %}
{% block titleList %} Listado de Programas {% endblock %}

{% block totalList %} Total de Programas: <strong>{{entities.getTotalItemCount}}</strong>
{% endblock %}

{% block thList %}
<th class="align-center">N&deg;</th>
<th>Nombre</th>
<th>Siglas</th>
<th class="align-center">Grupos</th>
<th class="align-center">Emprendedores</th>
<th class="align-center">Activo</th>
<th class="align-center">Fecha Creación</th>
<th><a href="{{ path('programa_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td class="align-center"><a href="{{ path('programa_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.sigla }}</td>
            <td class="align-center">{{ entity.grupos | length }}</td>
            <td class="align-center">{{ entity.emprendedores | length }}</td>
            <td class="align-center">{% include 'Default/activo.html.twig' %}</td>
            <td class="align-center">{{ entity.fechaAlta|date('d-m-Y') }}</td>
            <td>
                <a href="{{ path('programa_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                    Editar
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}