{% extends "layout.html.twig" %}

{% block title %}Reporte Grafico de Colocación{% endblock %}

{% block  extra_stylesheet %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}

<div class="example-wrapper">

<br>
<h2>Cobranza</h2>
<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Filtro de Fechas</h5>
        <span class="align-right action arrow close-box" title="ocultar/mostrar" >cerrar</span>
    </div>
 <div class="content-box-content">
        <form action="{{ path('graficos_cobranza') }}" method="post" >
            <fieldset>
                <p>
                    <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>

                    <label><strong>Desde:</strong></label>
                    <input name="_desde" class="text-input date-input datepicker" value="" id="fecha_desde_filter" />
                     <label><strong>Hasta:</strong></label>
                    <input name="_hasta" class="text-input date-input datepicker" value="" id="fecha_hasta_filter" />
                </p>

            </fieldset>
        </form>
    </div>
</div>


   <figure class="highcharts-figure">
                <div id="container"></div>

   </figure>

</div>
{% endblock %}

{% block extra_javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>

$(document).ready(function(){
        setTimeout(function(){
            if( isEmpty($('#fecha_desde_filter').val()) && isEmpty($('#fecha_hasta_filter').val())
                && isEmpty($('#fecha_desde_mora_filter').val()) && isEmpty($('#fecha_hasta_mora_filter').val())
                && $('#select_asesor').val()==0
                && isEmpty($('form :focus').serialize())){
                $(".content-box-header span.arrow").click();
            }
        },3000);



    });

 $('#fecha_hasta_filter').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        endDate: "+12m",
        maxDate: "+12m",
        beforeShowDay: $.datepicker.noWeekends
    });

window.addEventListener('load', function() {


data_capital = {{capital|raw }}
data_interes = {{interes|raw }}
data_total = {{total|raw }}
data_cantidad = {{cantidad|raw }}


// Create the chart
Highcharts.chart('container', {
    chart: {
        type: 'area'
    },
    title: {
        align: 'left',
        text: 'Cobranza de cuotas'
    },
    subtitle: {
        align: 'left',
        text: 'Evolución Mensual'
    },
   
    accessibility: {
        announceNewData: {
            enabled: true
        },
       
    },
     xAxis: {
        type: 'category'
    },
    yAxis: [{
        title: {
            text: 'Total Colocado por mes'
        }
        },
        { // Secondary yAxis
        title: {
            text: 'Cantidad',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        opposite: true
        }],
   
    plotOptions: {

         pie: {
         showInLegend: true
        },
     
        series: {
            borderWidth: 0,
            lineColor: 'green',
            dataLabels: {
                enabled: true,
                format: '${point.y:.0f}'
            }
        },
        series: {
            borderWidth: 0,
            lineColor: 'red',
            dataLabels: {
                enabled: true,
                format: '${point.y:.0f}'
            }
        },
         series: {
            borderWidth: 0,
            lineColor: 'red',
            dataLabels: {
                enabled: true,
                format: '${point.y:.0f}'
            }
        },

        series: {
            borderWidth: 3,
            lineColor: 'blue',
            dataLabels: {
                enabled: true,
                format: '{point.y:.0f}'
            }
        },

        area: {
            stacking: 'normal',
            color: '#666666',
            lineWidth: 1,
            marker: {
                lineWidth: 1,
                lineColor: '#666666'
            }
        },

     
      

    },

     

    series: [
        {
            name: "Suma de Capital",
            colorByPoint: false,
            color: '#0000FF',
            data: data_capital,
            color: 'blue'
        },

        {
            name: "Suma de Ganancia",
            colorByPoint: false,
            data: data_interes,
            color: 'red'
        },

        {
            name: "Suma de Total",
            type: 'column',
            colorByPoint: false,
            data: data_total,
            color: 'orange'
        },

         {
            name: "Cantidad de cuotas cobradas",
            yAxis: 1,
            colorByPoint: false,
            data: data_cantidad,
            fillOpacity: 0
        },
       
    ],
    drilldown: {
        breadcrumbs: {
            position: {
                align: 'right'
            }
        }
          
    }
});
              

});
    
</script>
    
</script>
{% endblock %}
