{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Registro de Feriado </h2>{% endblock %}
{% block pathback %}   {{ path('feriadios') }}           {% endblock %}

{% block groupFormContent %}
    <div class="tab-content default-tab" id="tabPrograma1">
        {% if entity.id  %}
            <div class="align-right">
                <form action=" {{path('feriadios_delete', { 'id': entity.id })}}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit" title="Eliminar" class="action deleteMax">Eliminar</button>
                </form>
            </div>
            <form action="{{path('feriadios_update', { 'id': entity.id })}}" method="post"  >
        {% else %}
            <form action="{{ path('feriadios_create') }} " method="post"  >
        {%endif%}
                <fieldset>
                    <p>
                        {{ form_label(form.concepto) }}
                        {{ form_widget(form.concepto, { 'attr': { 'class' : 'text-input small-input' } }) }}
                    </p>
                    <p>
                        {{ form_label(form.fecha) }}
                        {{ form_widget(form.fecha, { 'attr': {'class' : 'text-input date-input datepicker' } }) }}
                    </p>
                </fieldset>
                <p class="submit-block">
                    <button type="submit" class="button">Guardar</button>
                </p>
                {{ form_rest(form) }}
            </form>
            <div class="clear"></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').datepicker({changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
                beforeShowDay: $.datepicker.noWeekends});
        });
    </script>
{% endblock %}
 