{% extends "Default/baseListEntity.html.twig" %}
{% block titleList %} Listado de Feriados {% endblock %}

{% block totalList %} Total: <strong>{{entities.getTotalItemCount}}</strong>
{% endblock %}

{% block thList %}
    <th>Concepto</th>
    <th>Fecha</th>
    <th><a href="{{ path('feriadios_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td>{{ entity.concepto }}</td>
            <td>{{ entity.fecha |date('d-m-Y') }}</td>
            <td>
                <a href="{{ path('gasto_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                    Editar
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}