{% extends "Default/baseListEntity.html.twig" %}

{% block filterBox %}
     {% include 'GastosTotales/gastosTotalesFilter.html.twig' %}
{% endblock %}

{% block titleList %} Listado de Gastos Totales {% endblock %}
{% block totalList %} Total de registros: <strong>{{ entities.getTotalItemCount}}</strong> {% endblock %}
    {% block thList %}
        <tr>
            <th>Fecha</th>
            <th>Comprobante N°</th>
            <th>Monto</th>
            <th>concepto</th>
            <th><a href="{{ path('gastos_totales_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
        </tr>
    {% endblock %}
        {% block bodyList %}
             {% for entity in entities %}
                <tr>
                 <td>{{ entity.fecha | date('d-m-Y') }}</td>
                 <td>{{ entity.comprobante }}</td>
                 <td>{{ entity.monto }}</td>
                 <td>{{ entity.concepto }}</td>
                 <td>
                    <a href="{{ path('gastos_totales_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                          Editar
                    </a>
                </td>
                </tr>
            {% endfor %}
    {% endblock %}
      



