<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Criterios de Filtro</h5>
        <span class="align-right action arrow close-box" title="ocultar/mostrar" >cerrar</span>
    </div>
    <div class="content-box-content">
        <form action="{{ path('reportes_informe_cartera_index') }}" method="post" >
            <fieldset>
                <p>
                    <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>



                    <label><strong>Fecha de Otorgamiento:</strong></label>
                    <input name="_desde" class="text-input date-input datepicker" value="{{filtro.desde}}" id="fecha_desde_filter" />
                    <input name="_hasta" class="text-input" value="{{filtro.hasta}}" id="fecha_hasta_filter" />

                    <label><strong>Cantidad días Mora:</strong></label>
                    <input name="_desde_mora" class="text-input number" value="{{filtro.desde_mora}}" id="fecha_desde_mora_filter" />
                    <input name="_hasta_mora" class="text-input number" value="{{filtro.hasta_mora}}" id="fecha_hasta_mora_filter" />

                    <label><strong>Asesor:</strong></label>
                    <select name="_asesor" id="select_asesor" class="smaller-input" url="{{ path('es_programa_individual') }}">
                        <option value="0">Todos</option>
                        {% for asesor in asesores %}
                            <option value="{{ asesor.id}}" {{ filtro.asesor == asesor.id ? ' selected="selected"' : '' }} >
                                {{asesor.apellido}} {{asesor.nombre}}
                            </option>
                        {% endfor %}
                    </select>


                </p>

            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            if( isEmpty($('#fecha_desde_filter').val()) && isEmpty($('#fecha_hasta_filter').val())
                && isEmpty($('#fecha_desde_mora_filter').val()) && isEmpty($('#fecha_hasta_mora_filter').val())
                && $('#select_asesor').val()==0
                && isEmpty($('form :focus').serialize())){
                $(".content-box-header span.arrow").click();
            }
        },3000);



    });

    $('#select_asesor').select2();

    $('#fecha_hasta_filter').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        endDate: "+12m",
        maxDate: "+12m",
        beforeShowDay: $.datepicker.noWeekends
    });

    function limpiar(){
        $('#select_asesor').val('');
        $('#fecha_desde_filter').val('');
        $('#fecha_hasta_filter').val('');
        $('#fecha_hasta_mora_filter').val('');
        $('#fecha_desde_mora_filter').val('');
        $('#opFiltro').val('limpiar');
        $('#buscar').click();
    }
</script>  
