{% extends "Default/baseListEntity.html.twig" %}

{% block filterBox %}
     {% include 'Reportes/informe_cartera/filter.html.twig' %}
{% endblock %}

{% block titleList %} Informe de Cartera{% endblock %}

{% block opList %}
    <button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('reportes_informe_cartera_opList',{'estado': 0 }) }}" >Opciones de Listado</button>
{% endblock %}


{% block thList %}
    <th class="align-center">Crédito</th>
    <th class="align-center">Cliente</th>
    <th class="align-center">Asesor</th>
    <th class="align-center">Prográma</th>
    <th class="align-center">Fecha otorgado</th>
    <th class="align-center">Importe otorgado</th>

    <th class="align-center">Cuota Actual</th>
    <th class="align-center">Cantidad Cuotas</th>
    <th class="align-center">Inc</th>

{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td>{{ entity['nro_credito'] }} </td>
            <td>{{ entity['nombre_grupo'] }} | Integrantes: {{ entity['emprendedores'] }} </td>
            <td>{{ entity['asesor'] }} </td>
            <td>{{ entity['sigla'] }} </td>
            <td class="align-center">{{ entity['fecha_aprobacion'] | date('d-m-Y') }} </td>

            <td class="align-center">$ {{ entity['monto_credito'] |  number_format(2,'.',',')}}</td>

            <td class="align-center">{{ entity['cuota_vigente'] }}</td>
            <td class="align-center">{{ entity['cant_cuotas'] }}</td>
            <td class="align-center">{{ entity['incobrable'] }}</td>

        </tr>
    {% endfor %}
{% endblock %}