<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >   
<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
</style>       
    <table cellspacing="0">
        {% set total=0 %}
        <thead>
            <tr>
                <th class="align-center">Crédito</th>
                <th class="align-center">Cliente</th>
                <th class="align-center">Asesor</th>
                <th class="align-center">Prográma</th>
                <th class="align-center">Fecha otorgado</th>
                <th class="align-center">Importe otorgado</th>
                <th class="align-center">Frecuencia</th>
                <th class="align-center">Cuota Vigente</th>
                <th class="align-center">Cantidad Cuota</th>
                <th class="align-center">Incobrable</th>

                <th class="align-center">Capital Vencido</th>
                <th class="align-center">Intereses Vencido</th>
                <th class="align-center">Gastos Admin Vencido</th>
                <th class="align-center">Cantidad Cuotas Vencidas</th>
                <th class="align-center">Cantida de dias Vencido</th>

                <th class="align-center">Capital a Vencer</th>
                <th class="align-center">Intereses a Vencer</th>
                <th class="align-center">Gastos a Vencer</th>
                <th class="align-center">Cantidad Cuotas a Vencer</th>

                <th class="align-center">Fecha Ultimo Pago</th>
                <th class="align-center">Cantidad Dias desde Ultimo Pago</th>
                <th class="align-center">Total Pagado</th>

                <th class="align-center">Cantidad Creditos Cancelados</th>
                <th class="align-center">Fecha última Cancelacion</th>


            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity['nro_credito'] }} </td>
                    <td>{{ entity['nombre_grupo'] }} | Integrantes: {{ entity['emprendedores'] }} </td>
                    <td>{{ entity['asesor'] }} </td>
                    <td>{{ entity['sigla'] }} </td>
                    <td class="align-center">{{ entity['fecha_aprobacion'] | date('d-m-Y') }} </td>

                    <td class="align-center">{{ entity['monto_credito'] |  number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ entity['periodo'] }}</td>
                    <td class="align-center">{{ entity['cuota_vigente'] }}</td>
                    <td class="align-center">{{ entity['cant_cuotas'] }}</td>
                    <td class="align-center">{{ entity['incobrable'] }}</td>

                    <td class="align-center">{{ entity['vencido_capital']|  number_format(2,'.',',') }}</td>
                    <td class="align-center">{{ entity['vencido_intereses']|  number_format(2,'.',',') }}</td>
                    <td class="align-center">{{ entity['vencido_gastos_admin']|  number_format(2,'.',',') }}</td>
                    <td class="align-center">{{ entity['vencido_cantidad_cuotas']}}</td>
                    <td class="align-center">{{ entity['vencido_cantidad_dias'] }}</td>

                    <td class="align-center">{{ entity['por_vencer_capital']|  number_format(2,'.',',') }}</td>
                    <td class="align-center">{{ entity['por_vencer_intereses']|  number_format(2,'.',',') }}</td>
                    <td class="align-center">{{ entity['por_vencer_gastos_admin']|  number_format(2,'.',',') }}</td>
                    <td class="align-center">{{ entity['por_vencers_cantidad_cuotas'] }}</td>

                    <td class="align-center">{{ entity['pago_ultima_fecha_pago'] | date('d-m-Y') }}</td>
                    <td class="align-center">{{ entity['pago_cantidad_dias_desde_ultimo_pago']}}</td>
                    <td class="align-center">{{ entity['pago_monto']|  number_format(2,'.',',') }}</td>

                    {% if(entity['aprobacion_cantidad_credito']  > 0) %}
                        <td class="align-center">{{ entity['aprobacion_cantidad_credito']}}</td>
                        <td class="align-center">{{ entity['ultima_fecha_cancelacion'] | date('d-m-Y') }}</td>
                    {% else %}
                        <td class="align-center"></td>
                        <td class="align-center"></td>
                    {% endif %}
                </tr>

            {% endfor %}
        </tbody>
    </table>

   </body>
</html>