<div class="content-popup">
    <h3>Impresión y Exportación de Datos</h3>

    <div style="margin: 15px">
        <h4>Opciones de Salida</h4>
        <button id="listXls" style="margin: 15px" >XLS</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#listPdf').click(function(){  sendList('PDF');  });
        $('#listXls').click(function(){  sendList('XLS');  });
    });
    function sendList(format){
        var op = $('input[name="opReporte"]:checked').val();
        var url = '{{path('reportes_informe_cartera_get_data')}}';
        window.location.href=url+'?format='+format+'&option='+op;
    }
</script>
