<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Sistema de Control de Créditos{% endblock %}</title>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.8.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.24.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/select2.js') }}"></script>
        {% block page_javascripts %}{% endblock %}
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.8.24.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/select2.css') }}" type="text/css" media="all"/>
        {% block page_stylesheets %}{% endblock %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
</head>
<body>
<span id="loading"></span>
{% block body %}{% endblock %}
</body>
</html>
