{% extends "base.html.twig" %}

{% block title %}Control de Microcréditos
{% endblock %}
{% block page_javascripts %}
	<script type="text/javascript" src="{{ asset('js/facebox.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/functions.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/accounting.js') }}"></script>
	{% block extra_javascripts %}{% endblock %}
{% endblock %}
{% block page_stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/facebox.css') }}" type="text/css" media="all"/>
	{% block extra_stylesheets %}{% endblock %}
{% endblock %}
{% block body %}

	<div
		id="body-wrapper">
		<!-- Wrapper for the radial gradient background -->
		<div id="sidebar">
			<div id="sidebar-wrapper">
				<!-- Sidebar with logo and menu -->
				<!--   <h1 id="sidebar-title"><a href="#">Microcréditos</a></h1>-->
					<a href="{{ path('index') }}"> <img id="logo" src="{{ asset('images/logoint.png') }}" alt="Sistema de Control de Créditos"/>
				</a>
				<!-- Sidebar Profile links -->
				<div id="profile-links">
					<div>
						Usuario:
						{{ app.user.username }}
					</div>
					<a href="{{ path('usuario_actual_pass') }}" style="font-weight:bold">Cambiar Contraseña</a>
					<br>
					<a href="{{ path('fos_user_security_logout') }}" style="font-weight:bold">Cerrar Sesión</a>
				</div>
				<!-- Sidebar Menu -->
				{% include "menu.html.twig" %}
			</div>
		</div>
		<!-- End #sidebar -->
	</div>
	<div
		id="main-content">
		<!-- Main Content Section with everything -->
		<section>
			<!-- Page Head -->
			<h2 id="page-intro">
				<a href="{{ path('index')}}">Sistema de Gestión de Microcréditos</a>
			</h2>
			{#<h3>Asociación Jardín de los Niños</h3>#}
			<div class="clear"></div>

			{% block content_header %}
				{% block content_title %}{% endblock %}
			{% endblock %}

			<div class="clear"></div>

			{% block content %}{% endblock %}
		</section>
		<div class="clear"></div>

		<div id="footer">
			<small>
				&#169; Copyright
				{{ "now"|date("Y") }}
				Asociación Jardín de los Niños |
				{#Desarrollado por <a target="_blank" href="http://www.diwebmisiones.com.ar">DiWebMisiones</a>  |#}
				<a href="#">Subir</a>
			</small>
		</div>
		<!-- End #footer -->
	</div>
{% endblock %}
