<input type="hidden" value="{{ app.request.attributes.get('_route') }}" id="route"/>

{% set permisos = app.user.roles %}

<ul id="main-nav">  <!-- Accordion Menu -->
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a href="{{ path('index')}}" class="nav-top-item no-submenu" id="MicrocreditosBundle_homepage">
                Inicio
            </a>       
        </li>

    {% if is_granted('ROLE_CREDITOS') or is_granted('ROLE_AUDITOR') %}
        <li> 
            <a href="#" class="nav-top-item  nolist"> Créditos </a>
            <ul>
                <li><a href="{{ path('credito') }}" id="credito">Listado de Créditos</a></li>
                <li><a href="{{ path('solicitud') }}" id="solicitud">Listado de Solicitudes</a></li>
                <li><a href="#" id="credito_show" class="hidden">Ver Solicitud/Crédito</a></li>
                <li><a href="{{ path('credito_new') }}" id="credito_new">Nueva Solicitud</a></li>
                <li><a href="#" id="credito_renovar" class="hidden">Renovación</a></li>
                <li><a href="#" id="credito_edit" class="hidden">Editar Solicitud</a></li>
                <li><a href="#" id="credito_update" class="hidden">Editar Solicitud</a></li>
                <li><a href="{{ path('credito_list_pagos') }}" id="credito_list_pagos" >Informe de Pagos</a></li>
                <li><a href="{{ path('morosos') }}" id="morosos" >Informe de Morosos</a></li>
                <li><a href="{{ path('credito_analyzer') }}" id="credito">Analizador de Créditos</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                <li>---------------------------------------</li>
                <li><a href="{{ path('incobrables') }}" id="incobrables" >Informe de Incobrables</a></li>
                {% endif %}
                <!--<li><a href="{{ path('credito_carga_masiva') }}" id="credito_carga_masiva" >Carga de Créditos</a></li>-->
                  <li>
                    <a href="{{ path('creditos_admin_index') }}" id="creditos_admin_index">
                       Listado de creditos a administración
                    </a>
                </li>
                   <li>
                    <a href="{{ path('exportarcreditosxls') }}" id="exp_pagos">
                       Exportación de pagos en XLS
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_GRUPOS') or is_granted('ROLE_AUDITOR') %}
        <li> 
            <a href="{{ path('grupo') }}" class="nav-top-item  nolist"> Grupos </a>
            <ul>
                <li><a href="{{ path('grupo') }}" id="grupo">Listado</a></li>
                <li><a href="{{ path('grupo_new') }}" id="grupo_new" >Nuevo Grupo</a></li>
                <li><a href="#" id="grupo_edit" class="hidden">Editar Grupo</a></li>
                <li><a href="#" id="grupo_update" class="hidden">Editar Grupo</a></li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_EMPRENDEDORES') or is_granted('ROLE_AUDITOR')  %}
        <li> 
            <a href="{{ path('emprendedor') }}" class="nav-top-item  nolist"> Emprendedores </a>
            <ul>
                <li><a href="{{ path('emprendedor') }}" id="emprendedor">Listado</a></li>
                <li><a href="{{ path('emprendedor_new') }}" id="emprendedor_new">Nuevo Emprendedor</a></li>
                <li><a href="#" id="emprendedor_edit" class="hidden">Editar Emprendedor</a></li>
                <li><a href="#" id="emprendedor_update" class="hidden">Editar Emprendedor</a></li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_SUPERIOR_CREDITO') or is_granted('ROLE_AUDITOR') %}
        <li> 
            <a href="{{ path('programa') }}" class="nav-top-item nolist"> Programas </a>
            <ul>
                <li><a href="{{ path('programa') }}" id="programa">Listado</a></li>
                <li><a href="{{ path('programa_new') }}" id="programa_new">Nuevo Programa</a></li>
                <li><a href="{{ path('programa_ajuste_tasa') }}" id="programa_ajuste_tasa">Ajuste de Tasas</a></li>
                <li><a href="#" id="programa_edit" class="hidden">Editar Programa</a></li>
                <li><a href="#" id="programa_update" class="hidden">Editar Programa</a></li>
            </ul>
        </li>
    {% endif %}

    {% if (is_granted('ROLE_PARAMETRIZAR') or is_granted('ROLE_CREDITOS') or is_granted('ROLE_AUDITOR')) %}
        <li>
            <a href="{{ path('caja_index') }}" class="nav-top-item nolist"> Caja </a>
            <ul>
                <li><a href="{{ path('caja_index') }}" id="caja_index">Estado de Caja</a></li>
                <li><a href="{{ path('caja_reporte') }}" id="caja_reportes">Reporte Estado</a></li>
                <li>
                    <a href="{{ path('revisionPagosDiferencias') }}"
                       id="pago_diferencias">Listado de Pagos con diferencias</a>
                </li>
            </ul>
        </li>
    {% endif %}

    {% if (is_granted('ROLE_REPORTE') or is_granted('ROLE_AUDITOR')) %}
        <li>
            <a href="#" class="nav-top-item nolist"> Reportes </a>
            <ul>
                <li>
                    <a href="{{ path('reportes_clientes_index') }}" id="reportes_clientes_index">
                        Estado de Clientes Grupos
                    </a>
                </li>
                <li>
                    <a href="{{ path('reportes_clientes_emprenedor_index') }}" id="reportes_clientes_emprenedor_index">
                        Estado de Clientes Emprendores
                    </a>
                </li>
                <li>
                    <a href="{{ path('reportes_informe_cuotas_index') }}" id="reportes_informe_cuotas_index">
                        Informe de Cuotas
                    </a>
                </li>
                <li>
                    <a href="{{ path('reportes_reca_index') }}" id="reportes_reca_index">
                        RECA
                    </a>
                </li>
                <li>
                    <a href="{{ path('reportes_informe_cartera_index') }}" id="reportes_informe_cartera_index">
                        Informe de Cartera
                    </a>
                </li>
                <li>
                    <a href="{{ path('graficos') }}" id="graficos">
                        Informe Grafico Colocación
                    </a>
                </li>
                 <li>
                    <a href="{{ path('graficos_cobranza') }}" id="graficos_cobranza">
                        Informe Grafico Cobranza
                    </a>
                </li>
                  <li>
                    <a href="{{ path('estado_resultados') }}" id="estado_resultados">
                       Informe Estado de Resultados
                    </a>
                </li>
                 <li>
                    <a href="{{ path('patrimonio') }}" id="patrimonio">
                       Informe Patrimonio
                    </a>
                </li>
  
            </ul>
        </li>
    {% endif %}

    {% if (is_granted('ROLE_REPORTE') or is_granted('ROLE_AUDITOR')) %}
        <li>
            <a href="#" class="nav-top-item nolist"> Extractos Bancarios </a>
            <ul>
             
                  <li>
                    <a href="{{ path('registros_bancarios_index') }}" id="registros_bancarios_index">
                       Listado de extractos Bancarios
                    </a>
                </li>
               
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_PARAMETRIZAR') or is_granted('ROLE_AUDITOR') %}
        <li>
            <a href="{{ path('ingreso') }}" class="nav-top-item nolist"> Ingresos </a>
            <ul>
                <li><a href="{{ path('ingreso') }}" id="gasto">Listado</a></li>
                <li><a href="{{ path('ingreso_new') }}" id="gasto_new">Nuevo Ingreso</a></li>
                <li><a href="#" id="ingreso_edit" class="hidden">Editar Ingreso</a></li>
                <li><a href="#" id="ingreso_update" class="hidden">Editar Ingreso</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('gasto') }}" class="nav-top-item nolist"> Gastos </a>
            <ul>
                <li><a href="{{ path('gasto') }}" id="gasto">Listado</a></li>
                <li><a href="{{ path('gasto_new') }}" id="gasto_new">Nuevo Gasto</a></li>
                <li><a href="#" id="gasto_edit" class="hidden">Editar Gasto</a></li>
                <li><a href="#" id="gasto_update" class="hidden">Editar Gasto</a></li>  
                 <li>
                    <a href="{{ path('concepto_index') }}" id="concepto_index">
                       Listado de Conceptos de Gastos Totales
                    </a>
                </li>     
                <li><a href="{{ path('gastos_totales_index') }}" id="gastos_totales_index">Listado de Gastos Totales</a></li>         
            </ul>
           
        </li>        
      
 <!--       <li> 
            <a href="#" class="nav-top-item"> Caja y Bancos </a>
            <ul>
                <li><a href="#">Listado</a></li>
                <li><a href="#">Caja</a></li>
                <li><a href="#">Banco</a></li>
            </ul>
        </li>-->

        <li> 
            <a href="#" class="nav-top-item nolist">Parámetros</a>
            <ul>
                <li><a href="{{ path('parametro_conceptos_caja') }}" id="parametro_conceptos_caja">Conceptos de Caja</a></li>
                <li><a href="{{ path('parametro_conceptos_caja_new') }}" id="parametro_conceptos_caja_new" class="hidden">Nuevo Concepto</a></li>
                <li><a href="#" id="parametro_conceptos_caja_edit" class="hidden">Editar Concepto</a></li>
                <li><a href="#" id="parametro_conceptos_caja_update" class="hidden">Editar Concepto</a></li>
                <li><a href="{{ path('parametro') }}" id="parametro">Parámetros Adicionales</a></li>
                <li><a href="{{ path('parametro_gastosAdmIdx') }}" id="parametro_gastosAdmIdx">Gastos Administrativos</a></li>
                <li><a href="{{ path('parametro_gastosadm_new') }}" id="parametro_gastosadm_new" class="hidden">Nuevo Gasto Administrativo</a></li>
                <li><a href="#" id="parametro_gastosadm_edit" class="hidden">Editar Gastos Administrativos</a></li>
                <li><a href="#" id="parametro_conceptos_caja_update" class="hidden">Editar Gastos Administrativos</a></li>
                <li><a href="{{ path('parametro_ultimos_nros') }}" id="parametro_ultimos_nros">Últimos Números</a></li>
                <li><a href="{{ path('parametro_representante') }}" id="parametro_representante">Datos del Representante</a></li>
                <li><a href="{{ path('feriadios') }}" id="feriadios">Feriados</a></li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <li> 
            <a href="{{ path('usuario') }}" class="nav-top-item  nolist"> Usuarios </a>
            <ul>
                <li><a href="{{ path('usuario') }}" id="usuario">Listado</a></li>
                <li><a href="{{ path('usuario_new') }}" id="usuario_new">Nuevo Usuario</a></li>
                <li><a href="#" id="usuario_edit" class="hidden">Editar Usuario</a></li>
                <li><a href="#" id="usuario_update" class="hidden">Editar Usuario</a></li>
            </ul>
        </li>
    {% endif %}
{% endif %}
</ul><!-- End #main-nav -->
