
<tfoot>
    <tr>
        <td colspan="100">
            <div class="pagination">
                {{ knp_pagination_render(entities) }}
                </div>
            </td>    
        </tr>
    </tfoot>


