<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >        
    <table >
        <thead>
                <tr>
                <th colspan="9">Encuesta</th>
                <th rowspan="2">Punto_1</th>
                <th rowspan="2">Punto_2</th>
                <th rowspan="2">Punto_3</th>
                <th rowspan="2">Punto_4</th>
                <th rowspan="2">Punto_5</th>
                <th rowspan="2">Punto_6</th>
                <th rowspan="2">Punto_7</th>
                <th rowspan="2">Punto_8</th>
                <th rowspan="2">Punto_9</th>
                <th rowspan="2">Punto_10</th>
                <th rowspan="2">Punto_11</th>
                <th colspan="6">Punto_12</th>
                <th rowspan="2">Punto_13</th>
                <th rowspan="2">Punto_14</th>
                <th rowspan="2">Punto_15</th>
                <th rowspan="2">Punto_16</th>
                <th rowspan="2">Punto_17</th>
                <th rowspan="2">Punto_18</th>
                <th rowspan="2">Punto_19</th>
                <th rowspan="2">Punto_20</th>
                <th colspan="6">Punto_21</th>
                <th rowspan="2">Punto_22</th>
                <th colspan="3">Punto_23</th>
                <th rowspan="2">Punto_24</th>
                <th rowspan="2">Punto_25</th>
                <th rowspan="2">Punto_26</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>CUE</th>
                <th>Escuela</th>
                <th>Curso</th>
                <th>Division</th>
                <th>Turno</th>
                <th>Orden</th>
                <th>Usuario</th>
                <th>Fecha_carga</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sabado</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>Latas</th>
                <th>Plastico</th>
                <th>Papel</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.fecha|date('d-m-Y') }}</td>
                <td>{{ entity.escuela.cue }}</td>
                <td>{{ entity.escuela.establecimiento }}</td>
                <td>{{ entity.curso }}</td>
                <td>{{ entity.division }}</td>
                <td>{{ entity.turno }}</td>
                <td>{{ entity.orden }}</td>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.fechaCarga|date('d-m-Y H:i') }}</td>
                <td>{{ entity.ficha.item1 }}</td>
                <td>{{ entity.ficha.item2 }}</td>
                <td>{{ entity.ficha.item3 }}</td>
                <td>{{ entity.ficha.item4|date('d-m-Y') }}</td>
                <td>{{ entity.ficha.item5 }}</td>
                <td>{{ entity.ficha.item6|replace({'.': ','}) }}</td>
                <td>{{ entity.ficha.item7 }}</td>
                <td>{{ entity.ficha.item8 }}</td>
                <td>{{ entity.ficha.item9 }}</td>
                <td>{{ entity.ficha.item10 }}</td>
                <td>{{ entity.ficha.item11 }}</td>
                <td>{{ entity.ficha.item12Lun }}</td>
                <td>{{ entity.ficha.item12Mar }}</td>
                <td>{{ entity.ficha.item12Mie }}</td>
                <td>{{ entity.ficha.item12Jue }}</td>
                <td>{{ entity.ficha.item12Vie }}</td>
                <td>{{ entity.ficha.item12Sab }}</td>
                <td>{{ entity.ficha.item13 }}</td>
                <td>{{ entity.ficha.item14 }}</td>
                <td>{{ entity.ficha.item15 }}</td>
                <td>{{ entity.ficha.item16 }}</td>
                <td>{{ entity.ficha.item17 }}</td>
                <td>{{ entity.ficha.item18 }}</td>
                <td>{{ entity.ficha.item19 }}</td>
                <td>{{ entity.ficha.item20 }}</td>
                <td>{{ entity.ficha.item21A }}</td>
                <td>{{ entity.ficha.item21B }}</td>
                <td>{{ entity.ficha.item21C }}</td>
                <td>{{ entity.ficha.item21D }}</td>
                <td>{{ entity.ficha.item21E }}</td>
                <td>{{ entity.ficha.item21F }}</td>
                <td>{{ entity.ficha.item22 }}</td>
                <td>{{ entity.ficha.item23A }}</td>
                <td>{{ entity.ficha.item23B }}</td>
                <td>{{ entity.ficha.item23C }}</td>
                <td>{{ entity.ficha.item24 }}</td>
                <td>{{ entity.ficha.item25 }}</td>
                <td>{{ entity.ficha.item26|replace({'.': ','}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </body>
</html>