{% extends "layout.html.twig" %}

{% block content %}
    <div class="content-box">
        <div class="content-box-header">
            <h3>No tiene permiso para realizar la acción</h3>
        </div>
        <div class="content-box-content">
            <p>Puede volver al Inicio o  <a href="javascript: history.go(-1)">Volver atrás</a></p>
        </div>
    </div>
{% endblock %}