

{% extends "Default/baseListEntity.html.twig" %}

{% block filterBox %}
     {% include 'CreditoAdmin/creditoAdminFilter.html.twig' %}
{% endblock %}


{% block titleList %} Registros de Créditos a administración {% endblock %}
{% block totalList %} Total de registros: <strong>{{ entities.getTotalItemCount}}</strong> {% endblock %}
    {% block thList %}
       <tr>
          <th>Fecha</th>
          <th>Monto</th>               
          <th><a href="{{ path('creditos_admin_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
        </tr>
    {% endblock %}
    {% block bodyList %}
                 {% for entity in entities %}
                        <tr>
                            <td>{{ entity.fecha | date('d-m-Y') }}</td>
                            <td>{{ entity.monto }}</td>
                            <td>
                                <a href="{{ path('creditos_admin_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
    {% endblock %}
   
      


