
{% extends "layout.html.twig" %}

{% block title %}Reporte Grafico de Colocación{% endblock %}



{% block content %}

<div class="example-wrapper">

<br>
<h2>Patrimonio</h2>



<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Criterios de Filtro</h5>
        <span class="align-right action arrow close-box" title="ocultar/mostrar" >cerrar</span>
    </div>
 <div class="content-box-content">
        <form action="{{ path('patrimonio') }}" method="post" >
            <fieldset>
                <p>  
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>
                    <label><strong>Seleccione fecha final:</strong></label>
                    <input name="fecha" class="text-input date-input datepicker" value="{{fecha}}" id="fecha_desde_filter" />
                     <label><strong>Ingrese el saldo bacario de la fecha seleccionada:</strong></label>
                    <input name="saldo_bancos" class="text-input date-input " type="number" value="" id="saldo_bancos" />
                </p>
                <br>
                   
            </fieldset>
        </form>
    </div>
</div>



<table >
    <td style="border: 1px solid black; width:100px">  Efectivo  </td>
    <td style="border: 1px solid black; width:100px">  {{caja[0].total|e}} </td>
</table>

<table >
    <td style="border: 1px solid black; width:100px">  Saldo en Bancos  </td>
    <td style="border: 1px solid black; width:100px">  {{bancos|e}} </td>
</table>

<table >
    <td style="border: 1px solid black; width:100px"> Creditos administración  </td>
    <td style="border: 1px solid black; width:100px"> {{creditosAdmin[0].monto|e}}  </td>
</table>

<table >
    <td style="border: 1px solid black; width:100px"> Cartera  </td>
    <td style="border: 1px solid black; width:100px"> {{monto_credito[0].montoCredito|e - cuota[0].capital|e}} </td>
</table>


<table >
    <td style="border: 1px solid black; width:100px"> Intereses a Cobrar  </td>
    <td style="border: 1px solid black; width:100px"> {{intereses[0].intereses|e }} </td>
</table>

<br>
<h3>Resultado</h3>
<table >
    <td style="border: 1px solid black; width:100px"> Total  </td>
    <td style="border: 1px solid black; width:100px"> {{(monto_credito[0].montoCredito|e - cuota[0].capital|e) + intereses[0].intereses|e + creditosAdmin[0].monto|e + bancos|e + caja[0].total|e}} </td>
</table>





 

</div>
{% endblock %}

{% block extra_javascripts %}

{% endblock %}
