<style>
.refincuota {margin: 0 !important;padding: 0 !important;}
.refincuota .content-box-content {padding: 5px 10px;}
.refincuota .content-box-content table.refin {width: 50%!important; margin: auto;}
.refincuota .content-box-content table.refin input{text-align: right;}
.refincuota .content-box-content table td.valor{padding: 2px 0px !important;text-align: right;}
.refincuota .content-box-content table tfoot th{padding-top: 5px !important}
.refincuota .content-box-content table tfoot th.total{text-align: right; padding-right: 0!important; font-weight: bold!important;}
.refincuota .content-box-content table tfoot th.total input{font-weight: bold!important;color:#555;}
.refincuota{width:520px;}
.refincuota .content-box{margin:25px 0px 10px;}
.refincuota .content-box-header{height:35px;}
.refincuota hr{border:1px solid #cccccc;}
#simular{margin-left: 15px;}
#refinanciar{margin-left: 15px;display:none;}
</style>
<div id="main-content" class="refincuota">
    <div class="content-box">
        <div class="content-box-header">
            <h3>Modificar fechas de vencimiento</h3>
        </div>
        <div class="content-box-content">
            <form action="{{path('credito_aplicar_modifvtos')}}" method="post">     
                <table class="refin">
                    <tbody>
                        <tr>
                            <td><strong>Fecha actual de 1º vto:</strong></td>
                            <td><strong><input value="{{ refinanc.nuevoVencimiento | date('d-m-Y')}}" class="text-input date-input" 
                                        disabled="disabled"/></strong></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <p style="text-align: center">
                    <label>Cantidad de Cuotas: </label> <input value="{{refinanc.getCantidadCuotaCredito}}" class="text-input fixmini20-input" disabled="disabled"/>
                    <label>Periodicidad de Pago: </label> <input value="{{refinanc.periodo}}" class="text-input fixmini20-input" disabled="disabled"/> días
                    <br>
                    <label>Nuevo Primer Vencimiento: </label> 
                    <input value="{{ date() | date('d-m-Y')}}" class="text-input date-input datepicker" 
                           name="nuevoVencimiento" required="required" id="nuevoVencimiento"/>
                    <br>
                     <label>Desde que cuota desea comenzar la modificación: </label> 
                    <input value="1" name="cuotaDesde" type="number" min="1" max="120" class="text-input mini-input" />
                    <input value="{{refinanc.id}}" name="refinId" type="hidden"/>
                </p>
            </form>                
        </div>
    </div>        
    <div class="align-center" style="margin-bottom: 10px;">
            <button type="button" id="modificar" class="button">MODIFICAR</button>
    </div>
</div>
<script type="text/javascript">    
    $(document).ready(function(){
        
        $('.datepicker').datepicker({changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            beforeShowDay: $.datepicker.noWeekends});
        $('#simular').click(function(){
            if( $('input:required:invalid').attr('id')){
                alert('Debe ingresar todos los datos para continuar');
                $('input:required:invalid').focus();
                return false;
            };
            $('#loading2').fadeIn();
            $.ajax({
                url: '{{path("simulacion_financiacion")}}',
                data: $('form').serialize(),
                //async:false,
                dataType: 'json',
                success: function(data){
                    $('#cuotasNuevas').html(data);
                    $('#refinanciar').show();      
               }
           });
           $('#loading2').fadeOut();
        });
        $('#modificar').click(function(){
            if(!confirm('Esta seguro de aplicar la modificación?\n\nESTOS CAMBIOS SERÁN PERMANENTES.'))
               return false;
            $("form").submit();
        });
    });

</script>        