
<div id="main-content" class="pagocuota">
    <div style="margin-top:25px" class="content-box">
        <div class="content-box-header">
            <h3>Ingresar Condonación</h3>
        </div>
        <div class="content-box-content">
            <form> 
                <p>
                    <label>Cuota N°: </label> <input value="{{ cuota.nroCuota }}" disabled="disabled" class="text-input fixmini20-input" />
                    <label>Vencimiento Original: </label> 
                    <input value="{{ cuota.fechaVencimiento | date('d-m-Y') }}" id="fechaVencimiento" disabled="disabled" class="text-input date-input" />
                </p>
                <hr style="border:1px solid #cccccc">
                <p style="text-align: center">
                    <label>Fecha de Pago:</label>
                    <input value="{{ cuota.fechaCancelacion | date('d-m-Y')}}" class="text-input date-input datepicker" 
                           name="fechaCancelacion" id="fechaCancelacion" required="required"/> 
                </p>
                <table style="width: 70%; margin: auto " >
                    <tbody>
                        <tr>
                            <td><strong>{% if band %}Punitorios Anteriores:{% else %} Sub-Total:{% endif %}</strong></td>
                            <td style="text-align: right"><strong>{{ (cuota.montoPunitorios - punitoriosPagados) | number_format(2,'.','')}}</strong></td>
                        </tr>
                        <tr>
                            <td>Nuevos Punitorios:</td>
                            <td style="text-align: right; padding-right: 0">
                                <input value="{{ montoPun | number_format(2,'.','')}}" class="text-input date-input"
                                       name="montoPunitorios" id="montoPunitorios" readonly="readonly" style="text-align: right" required="required"/> </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total a Condonar:</th>
                            <th style="text-align: right; padding-right: 0; font-weight: bold"> 
                                <input value="{{ ((cuota.montoPunitorios - punitoriosPagados) + montoPun) | number_format(2,'.','')}}" class="text-input date-input"
                                  name="pagado" id="pagado" style="text-align: right" required="required"/></th>
                        </tr>
                    </tfoot>
                </table>
                <p><label>Observacion:</label>
                   <input value="" class="text-input large-input" name="observacion" required="required" id="observacion"/>
                </p>
            </form>
        </div>
    </div>        
        <div class="align-center" style="margin-bottom: 10px ">
        <button type="button" id="registrar" class="button" style="margin-left: 15px">Registrar Condonación</button>
    </div>
</div>
<script type="text/javascript">    
    $(document).ready(function(){
        $('#montoPunitorios').change(function(){
            var subtotal = {{cuota.saldo}};
            var punitorio = parseFloat($('#montoPunitorios').val()).toFixed(2);
            var total = subtotal*1 + punitorio*1;
            $('#montoPunitorios').val( parseFloat(punitorio).toFixed(2) );
            $('#pagado').val( parseFloat(total).toFixed(2)  );
            
        });
        $('#fechaCancelacion').change(function(){
            fechavto = $('#fechaVencimiento').val();
            fechapago = $(this).val();
            $.ajax({
                url: '{{path("get_dias_dif")}}',
                data: 'fechavto='+fechavto+'&fechapago='+fechapago+'&tasa='+{{tasa}}+'&montopun='+{{montoPun}}+'&subtotal='+{{cuota.saldo}}+'&credito='+{{creditoId}},
                async:false,
                dataType: 'json',
                success: function(data){
                    $('#montoPunitorios').val( parseFloat(data.punitorio).toFixed(2) );
                    $('#pagado').val( parseFloat(data.total).toFixed(2)  );
               }
            });
        });
        $('#registrar').click(function(){
            if(!confirm('Confirma la registración de la condolación de Punitorios?'))
                return false;
            var url = '{{path('credito_registrar_pago_condolacion')}}';
            var data = '?'+$("form").serialize()+'&credito='+{{creditoId}}+'&cuota='+{{ cuota.id }};
            myWindow=window.open(url+data,"","toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, titlebar=no,copyhistory=no, width=800, height=450")
            myWindow.focus();
            urlshow = '{{path('credito_show', { 'id': creditoId })}}';

            jQuery(document).trigger('close.facebox');

            setTimeout(function(){window.location.href=urlshow; },3000);
        });

        $('.datepicker').datepicker({changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            beforeShowDay: $.datepicker.noWeekends});
        });

</script>        