<div style="margin-top:15px" class="content-box">
        <div class="content-box-header-mini">
            <h3>Detalle de Cuotas</h3>
        </div>
        <div class="content-box-content carga">
            <table id="cuotas">
                <thead>
                <th style="width: 5%;">N&deg;</th>
                <th>Capital</th>
                <th>Intereses</th>
                <th>Gastos</th>
                <th>Total</th>
                <th style="width: 13%;">Vencimiento</th>
                <th>Punitorios</th>
                <th>Pagado</th>
                <th>Saldo</th>
                <th style="width: 13%;">Fecha Pago</th>
                </thead>
                <tbody>
                   {% for cuota in cuotas %}
                    <tr>
                        <td>{{loop.index}}<input name="nro_cuota[]" type="hidden" value="{{loop.index}}" class="text-input fixmini20-input" /></td>
                        <td><input name="capital[]" id="capital_{{loop.index}}" value="{{cuota.montoCapital | number_format(2,'.','')}}" required="required" type="text" class="text-input fixmini50-input" /></td>
                        <td><input name="interes[]" id="interes_{{loop.index}}" value="{{cuota.montoIntereses | number_format(2,'.','')}}" required="required" type="text" class="text-input fixmini50-input" /></td>
                        <td><input name="gasto[]" id="gasto_{{loop.index}}" value="{{cuota.gastoAdministrativo | number_format(2,'.','')}}" required="required" type="text" class="text-input fixmini50-input" /></td>
                        <td><input name="total[]" id="total_{{loop.index}}" value="{{cuota.montoTotal | number_format(2,'.','')}}" required="required" type="text" class="text-input fixmini50-input" /></td>
                        <td><input name="vencimiento[]" value="{{cuota.vencimiento}}" required="required" type="text" class="text-input date-input datepicker" /></td>
                        <td><input name="punitorios[]" id="punitorios_{{loop.index}}" value="0" type="text" class="text-input fixmini50-input" /></td>
                        <td><input name="pagado[]" id="pagado_{{loop.index}}" value="0" type="text" class="text-input fixmini50-input" /></td>
                        <td><input name="saldo[]" id="saldo_{{loop.index}}" value="{{cuota.saldo | number_format(2,'.','')}}" type="text" class="text-input fixmini50-input" /></td>
                        <td><input name="fecha_pago[]" id="fechapago_{{loop.index}}" type="text" class="text-input date-input datepicker" /></td>
                    </tr>
                   {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
<script type="text/javascript">
    $('.datepicker').datepicker({changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        beforeShowDay: $.datepicker.noWeekends});
    $('.text-input.fixmini50-input').blur(function() {
        var i = $(this).parent().siblings().find(' [name|="nro_cuota[]"] ').val();
     /*  var capital = parseFloat($('#capital_'+i).val());
        var interes = parseFloat($('#interes_'+i).val());
        var gasto = parseFloat($('#gasto_'+i).val());
        var punitorio = parseFloat($('#punitorios_'+i).val());
        var pagado = parseFloat($('#pagado_'+i).val());
        var saldo = parseFloat($('#saldo_'+i).val());
        
        var total = capital + interes + gasto ;
        $('#capital_'+i).val( capital.toFixed(2) );
        $('#interes_'+i).val( interes.toFixed(2) );
        $('#gasto_'+i).val( gasto.toFixed(2) );
        $('#total_'+i).val( total.toFixed(2) );
        $('#punitorios_'+i).val( punitorio.toFixed(2) );
        $('#pagado_'+i).val( pagado.toFixed(2) );
        var auxi = ( total + punitorio ) - pagado ;
        $('#saldo_'+i).val( auxi.toFixed(2)  );*/
        var pagado = parseFloat($('#pagado_'+i).val());
        if(pagado>0)
            $('#fechapago_'+i).attr('required','required');
        else
            $('#fechapago_'+i).removeAttr('required');
        
    });
</script>     