        {% set capital,interes,gasto,total,punitorios,pagado,saldo = 0,0,0,0,0,0,0 %}
        <table>
            <thead>
            <th style="text-align: right">N&deg;</th>
            <th style="text-align: right">Capital</th>
            <th style="text-align: right">Intereses</th>
            <th style="text-align: right">Gastos</th>
            <th style="text-align: right">Total</th>
            <th style="text-align: right">Vencimiento</th>
            {% if entity.aprobado %} 
            <th style="text-align: right">Punitorios</th>
            <th style="text-align: right">Pagado</th>
            <th style="text-align: right">Saldo</th>
            <th style="text-align: right">Fecha Pago</th>
            {% endif %}
            </thead>
            <tbody>
                {% for cuota in cuotas %}
                    <tr class="alt-row">
                        <td style="text-align: right">{{cuota.nroCuota }}</td>
                        <td style="text-align: right">{{cuota.montoCapital | number_format(2)}}</td>
                        <td style="text-align: right">{{cuota.montoIntereses | number_format(2)}}</td>
                        <td style="text-align: right">{{cuota.gastoAdministrativo | number_format(2)}}</td>
                        <td style="text-align: right" ><strong>{{cuota.montoTotal | number_format(2)}}</strong></td>
                        <td style="text-align: right">{{cuota.fechaVencimiento|date('d-m-Y')}}</td>
                       {% if entity.aprobado %} 
                        <td style="text-align: right">{% if cuota.fechaCancelacion %}{{cuota.montoPunitorios | number_format(2)}}{% endif %}</td>
                        <td style="text-align: right">{% if cuota.fechaCancelacion %}{{cuota.pagado | number_format(2)}}{% endif %}</td>
                        <td style="text-align: right"><strong>{{cuota.saldo | number_format(2)}}</strong></td>
                        <td style="text-align: right">{% if cuota.fechaCancelacion %}{{cuota.fechaCancelacion|date('d-m-Y')}}{% endif %}</td>
                        <td style="text-align: right;padding:5px 0px">{% if not cuota.cancelado %}<a href="{{ path('credito_ingresar_pago', { 'id': entity.id~'-'~cuota.nroCuota }) }}" rel="modal" title="Ingresar Pago"><img src="{{ asset('images/icons/ingpago.png') }}" alt="Pago" /></a>{% endif %}</td>
                        <td style="padding:5px 0px">
                            {% if cuota.pagado>0 %}
                            <span class="align-right action pluspago" id="{{cuota.nroCuota}}" style="margin: 0" title="Ver pagos" >pagos</span>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% if cuota.pagado>0 %}
                    <tr id="tr_detalle_{{cuota.nroCuota}}">
                    <td colspan="12" >
                        <div class="content-box pago" id="content_{{cuota.nroCuota}}">
                            <table>
                                <thead>
                                    <tr>
                                    <th class="align-center">Fecha Pago</th>
                                    <th style="text-align: right">Capital</th>
                                    <th style="text-align: right">Interés</th>
                                    <th style="text-align: right">Gastos</th>
                                    <th style="text-align: right">Punitorios</th>
                                    <th style="text-align: right">Total Pagado</th>
                                    <th style="text-align: center">Observación</th>
                                    <th style="width: 1%" ></th>
                                    <th style="width: 1%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pago in cuota.pagos %}
                                <tr>
                                    <td class="align-center">{{pago.fecha |date('d-m-Y')}} </td>
                                    <td style="text-align: right">{{pago.capital}}</td>
                                    <td style="text-align: right"> {{pago.intereses}}</td>
                                    <td style="text-align: right"> {{pago.gastoAdministrativo}}</td>
                                    <td style="text-align: right">{{pago.punitorios}}</td>
                                    <td style="text-align: right">{{pago.total}} </td>
                                    <td style="text-align: center">{{pago.observacion}} </td>
                                    <td style="text-align: right"><span class="align-right action print" id="{{pago.id}}" style="margin: 0" title="Reimprimir Recibo" ></span></td>
                                    <td style="text-align: right">
                                   {# {% if pago.fechaAlta |date('d-m-Y') ==  'now' |date('d-m-Y') %} #}
                                     <!--   <span class="align-right action delete" pago="{{pago.id}}" style="margin: 0" title="Eliminar Pago" ></span> -->
                                  {#  {% endif %} #}
                                    </td>    
                                </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </td>
                    </tr>
                    {% endif %}
                    {% set interes = interes + cuota.montoIntereses %}
                    {% set gasto = gasto + cuota.gastoAdministrativo %}
                    {% set total = total + cuota.montoTotal %}
                    {% set saldo = saldo + cuota.saldo %}
                    {% set punitorios = punitorios + cuota.montoPunitorios %}
                    {% if cuota.cancelado %}{% set pagado = pagado + cuota.pagado %}{% endif %}
                 {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th style="text-align: right">{{ entity.montoCredito | number_format(2)}}</th>
                    <th style="text-align: right">{{ interes | number_format(2)}}</th>
                    <th style="text-align: right">{{ gasto | number_format(2)}}</th>
                    <th style="text-align: right">{{ total | number_format(2)}}</th>
                    <th></th>
                    {% if entity.aprobado %} 
                        <th style="text-align: right">{% if punitorios %}{{punitorios | number_format(2)}}{% endif %}</th>
                        <th style="text-align: right">{% if pagado %}{{pagado | number_format(2)}}{% endif %}</th>
                        <th style="text-align: right">{{saldo | number_format(2)}}</th>
                        <th></th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>