
<div id="main-content" class="pagocuota">
    <div style="margin-top:25px" class="content-box">
        <div class="content-box-header">
            <h3>Ingresar Pago</h3>
        </div>
        <div class="content-box-content">
            <form> 
                <p>
                    <label>Cuota N°: </label> <input value="{{ pago.cuota.nroCuota }}" disabled="disabled" class="text-input fixmini20-input" />
                    <label>Vencimiento: </label>
                    <input value="{{  pago.cuota.fechaVencimiento | date('d-m-Y') }}" id="fechaVencimiento" disabled="disabled" class="text-input date-input" />
                    <label>Pago Bancario: </label>
                    <input type="checkbox" name="bancario" disabled value="bancario">
                </p>
                <hr style="border:1px solid #cccccc">
                <p style="text-align: center">
                    <label>Fecha de Pago:</label>
                    <input value="{{ pago.cuota.fechaCancelacion | date('d-m-Y')}}" class="text-input date-input datepicker"
                           name="fechaCancelacion" id="fechaCancelacion" required="required"/> 
                </p>
                <table style="width: 70%; margin: auto " >
                    <tbody>
                        <tr>
                            <td>Capital:</td>
                            <td style="text-align: right; padding-right: 0">
                                <input value="{{ pago.getCapital | number_format(2,'.','')}}" class="text-input"
                                       name="capital" id="capital" readonly="readonly" style="text-align: right"
                                       requir="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Interese:</td>
                            <td style="text-align: right; padding-right: 0">
                                <input value="{{ pago.getIntereses | number_format(2,'.','')}}" class="text-input"
                                       name="intereses" id="intereses" readonly="readonly" style="text-align: right"
                                       requir="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Gastos:</td>
                            <td style="text-align: right; padding-right: 0">
                                <input value="{{ pago.getGastoAdministrativo | number_format(2,'.','')}}" class="text-input"
                                       name="gastosAdmin" id="gastosAdmin" readonly="readonly" style="text-align: right"
                                       requir="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Punitorios:</td>
                            <td style="text-align: right; padding-right: 0">
                                <input value="{{ pago.getPunitorios | number_format(2,'.','')}}" class="text-input"
                                       name="punitorios" id="punitorios" readonly="readonly" style="text-align: right"
                                       requir="required"/>
                            </td>
                        </tr>
                        {% if(pago.cuota.refinanciada == 1) %}
                            <tr>
                                <td>Punitorios por Refinancacion:</td>
                                <td style="text-align: right; padding-right: 0">
                                    <input value="{{ pago.refinPunitorios | number_format(2,'.','')}}" class="text-input"
                                           name="punitoriosRef" id="punitoriosRef" readonly="readonly" style="text-align: right"
                                           requir="required"/>
                                </td>
                            </tr>
                        {% endif %}


                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total a reimputar:</th>
                            <th style="text-align: right; padding-right: 0; font-weight: bold">
                                <input value="{{ (  pago.total) | number_format(2,'.','')}}" class="text-input"
                                       name="pagado" id="pagado" style="text-align: right" disabled="disabled"/>
                            </th>
                        </tr>
                    </tfoot>
                </table>
                <p><label>Observacion:</label>
                   <input value="" class="text-input large-input" name="observacion" value= {{ pago.observacion }}id="observacion"/>
                </p>
            </form>
        </div>
    </div>        
        <div class="align-center" style="margin-bottom: 10px ">
        <button type="button" id="registrar" class="button" style="margin-left: 15px">Reimputar el Pago</button>
    </div>
</div>
<script type="text/javascript">    
    $(document).ready(function() {
        $('#registrar').click(function () {
            if (!confirm('Confirma la registración la reimputación del pago?'))
                return false;
            var url = '{{ path('credito_registrar_reimputar_pago') }}';
            var data = '?' + $("form").serialize() + '&pago=' +{{ pago.id }};
            myWindow = window.open(url + data, "", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, titlebar=no,copyhistory=no, width=800, height=450")
            myWindow.focus();
            urlshow = '{{ path('credito_show', { 'id': pago.cuota.credito.id }) }}';

            jQuery(document).trigger('close.facebox');

            setTimeout(function () {
                window.location.href = urlshow;
            }, 3000);
        });
    });

</script>        