<fieldset>
    <p>
        {{ form_label(form.nro_credito) }}
        {{ form_widget(form.nro_credito, { 'attr': {'class' : 'text-input mini-input','readonly':'readonly' } }) }}
        {{ form_widget(form.nro_renovacion, { 'attr': { 'class' : 'text-input fixmini40-input','required':'required','readonly':'readonly' } }) }}
        {{ form_label(form.nro_carpeta) }}
        {{ form_widget(form.nro_carpeta, { 'attr': { 'class' : 'text-input fixmini40-input' } }) }}
        {{ form_label(form.asesor) }}
        <input name="_asesor" disabled="disabled" class="text-input smaller-input" value="{{entity.asesor}}" id="asesor" />
        {{ form_label(form.fecha_entrega) }}
        {{ form_widget(form.fecha_entrega, { 'attr': { 'class' : 'text-input date-input datepicker' } }) }}
    </p>
    <p>
        {{ form_label(form.programa) }}
        {{ form_widget(form.programa, { 'attr': { 'class' : 'text-input smaller-input','url' : path('get_datos_programa') } }) }}
        {{ form_label(form.grupo) }}
        {{ form_widget(form.grupo) }}
    </p>
    <div id="div_emprendedores" > 
        <div class="content-box" style="margin-top:15px">
            <div class="content-box-header-mini">
                <h3>Emprendedores</h3>
            </div>
            <div class="content-box-content">
                <table>
                    <thead>
                        <th style="width: 30%" >Nombre y Apellido</th>
                        <th style="width: 20%" class="align-center">DNI</th>
                        <th style="width: 10%" class="align-center">Coordinador</th>
                        <th style="width: 20%" class="align-center">Monto Solicitado</th>
                        <th style="width: 15%" class="align-center">Gasto Administrativo</th>
                        <th style="width: 10%" class="align-center actions"></th>
                    </thead>
                    <tbody>
                        {% for emprendedor in entity.emprendedores %}
                            <tr>
                                <td> <input value="{{emprendedor}}" class="text-input large-input" disabled="disabled"> 
                                <input name="empId[]" type="hidden" required="required" class="text-input small-input" value="{{emprendedor.emprendedor.id}}" id="emprendedor_{{emprendedor.id}}" /> </td>
                                <td class="align-center">{{emprendedor.emprendedor.dni}}</td>
                                <td class="align-center"> <input type="checkbox" name="coordinador[]" id="coordinador_{{emprendedor.id}}" {% if emprendedor.coordinador %}checked="checked"{%endif%} >
                                </td>
                                <td class="align-center"> <input type="text" name="monto_credito[]" id="monto_credito_{{emprendedor.id}}" 
                                                                 class="text-input medium-input" value="{{emprendedor.montoCredito}}" required="required" onblur="sumTotal('{{emprendedor.id}}')"></td>
                                <td class="align-center"> <input type="text" name="gasto_administrativo[]" id="gasto_administrativo_{{emprendedor.id}}" 
                                                                 class="text-input fixmini40-input" value="{{emprendedor.gastoAdministrativo}}" readonly="readonly"></td>
                                <td class="align-center"> </td>
                            </tr>  
                            {% if entity.programa.individual == 1 %}
                            <tr>
                                <td><label style="padding-left: 0">Garante:</label><input value="{{emprendedor.garante}}"  name="garante[]" id="garante" type="text" class="text-input medium-input" style="width: 70% !important "/></td>
                                <td colspan="2"> <label>DNI:</label> <input value="{{emprendedor.garanteDni}}"  name="garanteDni[]" id="garanteDni" type="text" class="text-input medium-input"/></td>
                                <td colspan="3"><label>Dirección:</label>  <input value="{{emprendedor.garanteDireccion}}"  name="garanteDireccion[]" id="garanteDireccion" type="text" class="text-input medium-input" style="width: 60% !important "/></td>
                            </tr>
                            <tr>
                                <td><label style="padding-left: 0">Teléfonos: </label><input value="{{emprendedor.garanteTelefono}}" name="garanteTelefono[]" id="garanteTelefono"  type="text" class="text-input medium-input" style="width: 70% !important "/></td>
                                <td colspan="2"><label>Ocupación:</label> <input value="{{emprendedor.garanteOcupacion}}" name="garanteOcupacion[]" id="garanteOcupacion"  type="text" class="text-input medium-input"/></td>
                                <td colspan="3"><label>Lugar de Trabajo:</label>  <input value="{{emprendedor.garanteLugarTrabajo}}" name="garanteLugarTrabajo[]" id="garanteLugarTrabajo"  type="text" class="text-input medium-input" style="width: 60% !important "/></td>
                            </tr>
                            {% endif %}
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p>
        {{ form_label(form.monto_credito) }}
        {{ form_widget(form.monto_credito, { 'attr': {'class' : 'text-input fixmini60-input','readonly':'readonly' } }) }}
        {{ form_label(form.cant_cuotas) }}
        {{ form_widget(form.cant_cuotas, { 'attr': {'class' : 'text-input fixmini40-input' } }) }}
        {{ form_label(form.periodo) }}
        cada {{ form_widget(form.periodo, { 'attr': {'class' : 'text-input fixmini40-input chkgasto' } }) }} días
        {{ form_label(form.fecha_vto_cuota1) }}
        {{ form_widget(form.fecha_vto_cuota1, { 'attr': {'class' : 'text-input date-input datepicker' } }) }}
    </p>
    <p>
        {{ form_label(form.porc_interes) }}
        {{ form_widget(form.porc_interes, { 'attr': { 'class' : 'text-input fixmini40-input', 'readonly':'readonly' } }) }}<label> % anual &nbsp; - &nbsp;</label>
        {{ form_label(form.porc_punitorio) }}
        {{ form_widget(form.porc_punitorio, { 'attr': { 'class' : 'text-input fixmini40-input', 'readonly':'readonly' } }) }}<label>% mensual &nbsp;  &nbsp;</label>
        {{ form_label(form.gasto_administrativo) }}
        <label>$ &nbsp;</label>{{ form_widget(form.gasto_administrativo, { 'attr': { 'class' : 'text-input fixmini40-input', 'readonly':'readonly' } }) }}
    </p>
    <p>
        {{ form_label(form.sin_gastos) }}
        {{ form_widget(form.sin_gastos) }}
    </p>
</fieldset>
<input type="hidden" name="renov" value="1" />
<div style="display:none">
{{ form_rest(form) }}
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('input').bind('keydown',function(e){  if(e.which==13){ return false; } }); 
        $('[id^="monto_credito_"]').blur();


});    
function sumTotal(id){
/* gasto */
    var monto = '[id^="monto_credito_'+id+'"]';
    var gasto = '[id^="gasto_administrativo_'+id+'"]';
    var periodo = $("#credito_periodo").val();
    if( !isEmpty(periodo) ){
        $.ajax({
            url: '{{ path('credito_get_gastoadm') }}',
            data: 'monto='+$(monto).val()+'&periodo='+periodo,
            dataType: 'json',
            async:false,
            success: function(data){ 
                if(data)  $(gasto).val(data);
                else      $(gasto).val(0);
            }
        });    
    }
    var totgasto = 0;
    $('[id^="gasto_administrativo_"]').each(function (index, domEle) {
        if($(domEle).val()!='' )   totgasto = totgasto + parseInt($(domEle).val());    
    });
    $('#credito_gasto_administrativo').val(parseInt(totgasto));
/* total */    
    var total = 0;
    $('[id^="monto_credito_"]').each(function (index, domEle) {
        if($(domEle).val()!='' )   total = total + parseInt($(domEle).val());    
    });
    $('#credito_monto_credito').val(parseInt(total));
    $('#credito_monto_credito').change();
}
</script>