<style>
.refincuota {margin: 0 !important;padding: 0 !important;}
.refincuota .content-box-content {padding: 5px 10px;}
.refincuota .content-box-content table.refin {width: 50%!important; margin: auto;}
.refincuota .content-box-content table.refin input{text-align: right;}
.refincuota .content-box-content table td.valor{padding: 2px 0px !important;text-align: right;}
.refincuota .content-box-content table tfoot th{padding-top: 5px !important}
.refincuota .content-box-content table tfoot th.total{text-align: right; padding-right: 0!important; font-weight: bold!important;}
.refincuota .content-box-content table tfoot th.total input{font-weight: bold!important;color:#555;}
.refincuota{width:520px;}
.refincuota .content-box{margin:25px 0px 10px;}
.refincuota .content-box-header{height:35px;}
.refincuota hr{border:1px solid #cccccc;}
#simular{margin-left: 15px;}
#refinanciar{margin-left: 15px;display:none;}
</style>
<div id="main-content" class="refincuota">
    <div class="content-box">
        <div class="content-box-header">
            <h3>Refinanciar Crédito</h3>
        </div>
        <div class="content-box-content">
            <form action="{{path('aplicar_refinanciacion')}}" method="post">     
                <table class="refin">
                    <tbody>
                        <tr>
                            <td><strong>Total del Crédito:</strong></td>
                            <td class="valor"><strong><input value="{{ deuda | number_format(2,'.','')}}" class="text-input date-input" 
                                       name="deuda" id="deuda" disabled="disabled"/></strong></td>
                        </tr>
                        <tr>
                            <td>Punitorios:</td>
                            <td class="valor">
                                <input value="{{ punitorios | number_format(2,'.','')}}" class="text-input date-input" 
                                       name="punitorios" id="punitorios" required="required"/> </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total a Refinanciar:</th>
                            <th class="total"> 
                                <input value="{{ (punitorios + deuda) | number_format(2,'.','')}}" class="text-input date-input" 
                                  name="total" id="total" required="required"/></th>
                        </tr>
                    </tfoot>
                </table>
                <hr>
                <p style="text-align: center">
                    <label>Cantidad de Cuotas: </label> <input value="" id="getCantidadCuotaCredito" name="getCantidadCuotaCredito" class="text-input fixmini20-input" required="required"/>
                    <label>Periodicidad de Pago: </label> <input value="" id="periodicidad" name="periodicidad" class="text-input fixmini20-input" required="required"/> días
                    <br>
                    <label>Primer Nuevo Vencimiento: </label> 
                    <input value="{{ date() | date('d-m-Y')}}" class="text-input date-input datepicker" 
                           name="nuevoVencimiento" required="required" id="nuevoVencimiento"/>
                    <input value="{{credito}}" name="idCredito" type="hidden"/>
                </p>
            </form>                
        </div>
    </div>        
        <div class="align-center" style="margin-bottom: 10px;">
            <button type="button" id="simular" class="button">Simular Cuotas</button>
        </div>
        <span id="loading2"></span>
    <div id="cuotasNuevas" ></div>
    <div class="align-center" style="margin-bottom: 10px;">
            <button type="button" id="refinanciar" class="button">REFINANCIAR</button>
    </div>
</div>
<script type="text/javascript">    
    $(document).ready(function(){
        $('#punitorios').change(function(){
            var subtotal = {{deuda}};
            var punitorio = parseFloat($('#punitorios').val()).toFixed(2);
            var total = subtotal*1 + punitorio*1;
            $('#punitorios').val( parseFloat(punitorio).toFixed(2) );
            $('#total').val( parseFloat(total).toFixed(2)  );
            
        });
        $('.datepicker').datepicker({changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            beforeShowDay: $.datepicker.noWeekends});
        $('#simular').click(function(){
            if( $('input:required:invalid').attr('id')){
                alert('Debe ingresar todos los datos para continuar');
                $('input:required:invalid').focus();
                return false;
            };
            $('#loading2').fadeIn();
            $.ajax({
                url: '{{path("simulacion_financiacion")}}',
                data: $('form').serialize(),
                //async:false,
                dataType: 'json',
                success: function(data){
                    $('#cuotasNuevas').html(data);
                    $('#refinanciar').show();      
               }
           });
           $('#loading2').fadeOut();
        });
        $('#refinanciar').click(function(){
            if(!confirm('Esta seguro de aplicar la refinanciación?\n\nESTOS CAMBIOS SERÁN PERMANENTES.'))
               return false;
            $("form").submit();
        });
    });

</script>        