<div id="datosEmprendedor"></div>
{% if individual %} 
    <tr>
        <td>
            <input name="empId[]" type="hidden" required="required" value="{{emprendedores.id}}" id="emprendedorId" />  
            <input name="_emprendedor" url="{{ path('emprendedor_suggest') }}" class="text-input large-input"  id="emprendedorAutocomplete"
                    {% if emprendedores.id %} readonly="readonly" value="{{emprendedores}}" {% else %}required="required"{% endif %} />  
        </td>
        <td><a href="#" title="Editar Datos" class="editEmprendedor"><img src="{{ asset('images/icons/mini-pencil.png') }}" /></a></td>
        <td class="align-center"><label id="lbldni">{{emprendedores.dni}}</label></td>
        <td class="align-center"><label id="lblcbu">{{emprendedores.cbu}}</label></td>
        <td class="align-center"> <input type="checkbox" checked="checked" name="coordinador[]" id="coordinador_"/></td>
        <td class="align-center"> 
            <select name="tipo_de_pago[]" id="select_type">
                <option value="0" selected>Efectivo</option>
                <option value="1">Crédito</option>
            </select>
        </td>
        <td class="align-center"> <input name="monto_credito[]" id="monto_credito_" required="required" type="text" class="text-input medium-input" onblur="sumTotal('')"/></td>
        <td class="align-center"> <input name="gasto_administrativo[]" id="gasto_administrativo_" type="text" class="text-input fixmini40-input" readonly="readonly"/></td>
        <td class="align-center"> </td>
    </tr>    
    <tr>
        <td><label style="padding-left: 0">Garante: </label><input name="garante[]" id="garante"  type="text" class="text-input medium-input" style="width: 70% !important "/></td>
        <td colspan="2"> <label>DNI:</label> <input name="garanteDni[]" id="garanteDni"  type="text" class="text-input medium-input"/></td>
        <td colspan="3"><label>Dirección:</label>  <input name="garanteDireccion[]" id="garanteDireccion"  type="text" class="text-input medium-input" style="width: 60% !important "/></td>
    </tr>
    <tr>
        <td><label style="padding-left: 0">Teléfonos: </label><input name="garanteTelefono[]" id="garanteTelefono"  type="text" class="text-input medium-input" style="width: 70% !important "/></td>
        <td colspan="3"><label>Ocupación:</label> <input name="garanteOcupacion[]" id="garanteOcupacion"  type="text" class="text-input medium-input"/></td>
        <td colspan="2"><label>Lugar de Trabajo:</label>  <input name="garanteLugarTrabajo[]" id="garanteLugarTrabajo"  type="text" class="text-input medium-input" style="width: 60% !important "/></td>
    </tr>
{% else %}
    {% for emp in emprendedores %}
        <tr id="tr_{{emp.id}}">
            <td><label id="lblnom_{{emp.id}}" style="font-weight: bold ">{{emp.codigo}} - {{emp}}</label>
                <input name="empId[]" type="hidden" required="required" class="text-input small-input" value="{{emp.id}}" id="emprendedor_{{emp.id}}" />  
            </td>
            <td><a href="#datosEmprendedor" title="Editar Datos" rel="modal" class="editEmprendedor"><img src="{{ asset('images/icons/mini-pencil.png') }}" /></a></td>
            <td class="align-center"><label id="lbldni_{{emp.id}}">{{emp.dni}}</label></td>
            <td class="align-center"><label id="lblcbu_{{emp.id}}">{{emp.cbu}}</label></td>
            <td class="align-center"> <input type="checkbox" value="" name="coordinador[]" id="coordinador_{{emp.id}}"/></td>
            <td class="align-center"> 
                <select name="tipo_de_pago[]" id="select_type">
                    <option value="0" selected>Efectivo</option>
                    <option value="1">Crédito</option>
                </select>
            </td>
            <td class="align-center"> <input name="monto_credito[]" id="monto_credito_{{emp.id}}" required="required" type="number"  class="text-input medium-input monto_credito" onblur="sumTotal('{{emp.id}}')"/></td>
            <td class="align-center"> <input name="gasto_administrativo[]" id="gasto_administrativo_{{emp.id}}" type="text" class="text-input fixmini40-input" readonly="readonly"/></td>   
            <td class="align-center"> </td>
        </tr>
    {% endfor %}
    <tr>
        <td><label style="padding-left: 0">Garante: </label><input name="garante[]" id="garante"  type="text" class="text-input medium-input" style="width: 70% !important "/></td>
        <td colspan="2"> <label>DNI:</label> <input name="garanteDni[]" id="garanteDni"  type="text" class="text-input medium-input"/></td>
        <td colspan="3"><label>Dirección:</label>  <input name="garanteDireccion[]" id="garanteDireccion"  type="text" class="text-input medium-input" style="width: 60% !important "/></td>
    </tr>
    <tr>
        <td><label>Empleador Nombre:</label>  <input name="garanteEmpleadorNombre[]" id="garanteEmpleadorNombre"  type="text" class="text-input medium-input" style="width: 60% !important "/></td>
        <td colspan="3"><label>Empleador Cuit:</label>  <input name="garanteEmpleadorCuit[]" id="garanteEmpleadorCuit"  type="text" class="text-input medium-input" style="width: 30% !important "/></td>
        <td colspan="2"><label>Ingresos:</label>  <input name="garanteIngresos[]" id="garanteIngresos"  type="text" class="text-input medium-input" style="width: 20% !important "/></td>
    </tr>
{% endif %}

<script type="text/javascript">
$(document).bind('beforeReveal.facebox', function() {
        $('#facebox .content').width('600px');
});
$(document).ready(function(){
        $('input').bind('keydown',function(e){  if(e.which==13){ return false; } }); 

        $('#emprendedorAutocomplete').autocomplete({
        minLength: 2,
        source: $('#emprendedorAutocomplete').attr('url'),
        search: function(event,ui){
            $("#emprendedorId").val('');
            $("#lbldni").html('');
            $("#lblcbu").html('');
        },
        select: function(event,ui) {
            $("#emprendedorId").val(ui.item.id);
            $("#lbldni").html(ui.item.dni);
            $("#lblcbu").html(ui.item.cbu);
        }
    }); 
    $('#emprendedorAutocomplete').blur(function(){
        if( $("#emprendedorId").val()== ''){
            $('#emprendedorAutocomplete').val('');
            $("#lbldni").html('');         
            $("#lblcbu").html('');         
        }
    }); 
    $('.editEmprendedor').click(function(){
        var id = $(this).parent().parent().find("[name*=empId]").val();
        if(id){
            $.facebox({ ajax: '{{path('emprendedor_editar_datos')}}'+'?id='+id }, 'datosEmprendedor');
        }
        return false;
    });
});

function sumTotal(id){
    /* gasto */

    var monto = '[id^="monto_credito_'+id+'"]';
    if( $(monto).val() > parseFloat(topeMaximo) ){
        $(monto).val(topeMaximo);
    }
    // var gasto = '[id^="gasto_administrativo_'+id+'"]';
    {#var periodo = $("#credito_periodo").val();#}
    {#if( !isEmpty(periodo) ){#}
        {#$.ajax({#}
            {#url: '{{ path('credito_get_gastoadm') }}',#}
            {#data: 'monto='+$(monto).val()+'&periodo='+periodo,#}
            {#dataType: 'json',#}
            {#async:false,#}
            {#success: function(data){ #}
                {#if(data)  $(gasto).val(data);#}
                {#else      $(gasto).val(0);#}
            {#}#}
        {#});    #}
    {#}#}


/* total */    
    var total = 0;
    $('[id^="monto_credito_"]').each(function (index, domEle) {
        if($(domEle).val()!='' )  total = total + parseInt($(domEle).val());
        totgasto = (total * porcGastosAdm) /100;
    });

    var totgasto = (total * porcGastosAdm) /100;
    $('[id^="gasto_administrativo_"]').each(function (index, domEle) {

        idInterno = (domEle.id.split('gasto_administrativo_')[1]);

        if($('#monto_credito_'+idInterno).val() !='') {
            $('#gasto_administrativo_'+idInterno).val(
                ( parseFloat($('#monto_credito_' + idInterno).val()) / total) * totgasto
            )
        }
    });

    $('#credito_gasto_administrativo').val(parseInt(totgasto));

    $('#credito_monto_credito').val(parseInt(total));
    $('#credito_monto_credito').change();
}
</script>