<style>
.refincuota {margin: 0 !important;padding: 0 !important;}
.refincuota .content-box-content {padding: 5px 10px;}
.refincuota .content-box-content table.refin {width: 50%!important; margin: 10px auto;}
.refincuota .content-box-content table.refin input{text-align: right; border: none;}
.refincuota .content-box-content table td.valor{padding: 2px 0px !important;text-align: right;}
.refincuota .content-box-content table tfoot th{padding-top: 5px !important}
.refincuota .content-box-content table tfoot th.total{text-align: right; padding-right: 0!important; font-weight: bold!important;}
.refincuota .content-box-content table tfoot th.total input{font-weight: bold!important;color:#555;}
.refincuota{width:520px;}
.refincuota .content-box{margin:25px 0px 10px;}
.refincuota .content-box-header{height:35px;}
</style>
{% if credito.incobrable %} 
   {% set titulo = 'CRÉDITO INCOBRABLE' %}                
   {% set subtitulo = 'Registrado como incobrable desde '~credito.fechaIncobrable|date('d-m-Y') %}                
   {% set label = 'Capital incobrable' %}                
   {% set boton = 'CANCELAR' %}                
{% else %} 
    {% set titulo = 'CRÉDITO MOROSO' %}      
    {% set subtitulo = 'Marcar el crédito como incobrable.' %}    
    {% set label = 'Saldo de Capital' %}                    
    {% set boton = 'REGISTRAR' %}                    
{% endif %} 
<div id="main-content" class="refincuota">
    <div class="content-box">
        <div class="content-box-header">
            <h3>{{titulo}}</h3>
        </div>
        <div class="content-box-content">
            <form action="{{path('aplicar_incobrable', { 'id': credito.id })}}" method="post">     
                <h5 style="text-align: center; margin-top:20px ">{{subtitulo}} </h5>
                <table class="refin">
                    <tfoot>
                        <tr>
                            <th>{{label}}:</th>
                            <th class="total">
                                <strong><input value="{{ credito.montoIncobrable | number_format(0,'','.')}}" class="text-input date-input" 
                                       name="deuda" id="deuda" disabled="disabled"/></strong>
                            </th>
                        </tr>
                     </tfoot>    
                </table>
            </form>                
        </div>
    </div>        
    <div class="align-center" style="margin-bottom: 10px;">
            <button type="button" id="setincobrable" class="button">{{boton}}</button>
    </div>
</div>
<script type="text/javascript">    
    $(document).ready(function(){        
        $('#setincobrable').click(function(){
            if('{{credito.incobrable}}'){
                var msg = 'Esta seguro de desmarcar este crédito como Incobrable.';
            }else{
                var msg = 'Esta seguro de marcar este crédito como Incobrable.'; 
            }
            if(!confirm(msg))
               return false;
            $("form").submit();
        });
    });

</script>        