{% if historico %}
<div id="div_cuotas"><div style="margin-top:15px" class="content-box">
    <div class="content-box-header-mini">
        <h3>Créditos Anteriores</h3>
    </div>
    <div class="content-box-content">
        <table>
            <thead>
                <th class="align-center">Renovación</th>
                <th>Programa</th>
                <th>Grupo / Emprendedor</th>
                <th class="align-center">Entrega</th>
                <th class="align-center">Asesor</th>
                <th style="text-align: right">Monto</th>
                <th class="align-center">Cuotas</th>
                <th class="align-center">Pago cada</th>
                <th class="align-center">Cancelado</th>  
                <th></th>
            </thead>
            <tbody>
             {%for cred in historico %}
                <tr class="alt-row">
                    <td class="align-center">{{cred.nroRenovacion}}</td>
                    <td>{{ cred.programa }}</td>
                    <td>{%if not cred.cancelado %}<a href="{{ path('credito_show', { 'id': cred.id }) }}" >{% endif %} 
                            {% if cred.grupo %}{{ cred.grupo }} {% else %} {{ cred.emprendedor }} (DNI {{cred.emprendedor.emprendedor.dni}}) {% endif %} 
                    </td>{%if not cred.cancelado %}</a>{% endif %} 
                    <td class="align-center">{{ cred.fechaEntrega|date('d-m-Y') }} </td>
                    <td class="align-center">{{ cred.asesor }} </td>
                    <td style="text-align: right">{{ cred.montoCredito }}</td>
                    <td class="align-center">{{ cred.getCantidadCuotaCredito }} </td>
                    <td class="align-center">{{ cred.periodo }} días</td>
                    <td class="align-center">{%if cred.cancelado %}{{ cred.fechaCancelacion|date('d-m-Y') }}{%endif%} </td>
                    <td><span class="align-right action plus" id="{{cred.nroRenovacion}}" style="margin: 0" title="Ver más" >cerrar</span></td>
                </tr>
                <tr id="tr_detalle_{{cred.nroRenovacion}}">
                    <td colspan="10" >
                        <div class="content-box">
                            {% if cred.programa.individual %}
                                <div class="histo_emp">
                                    <label><strong>GARANTE:</strong> {{ cred.emprendedor.garante }}</label>
                                    <label><strong>DNI:</strong> {{ cred.emprendedor.garanteDni }}</label>
                                    <label><strong>DIRECCIÓN:</strong> {{ cred.emprendedor.garanteDireccion }}</label>
                                </div>
                                <div class="histo_emp">
                                    <label><strong>Teléfonos:</strong> {{ cred.emprendedor.garanteTelefono }}</label>
                                    <label><strong>Ocupación:</strong> {{ cred.emprendedor.garanteOcupacion }}</label>
                                    <label><strong>Lugar de trabajo:</strong> {{ cred.emprendedor.garanteLugarTrabajo }}</label>
                                </div>
                            {% else %}    
                                <div class="histo_emp">
                                    <ul>
                                {% for emp in cred.emprendedores %}
                                        <li> <label>{{ emp }}</label>
                                            <label><strong>DNI:</strong> {{ emp.emprendedor.dni }}</label> 
                                            <label><strong>Monto:</strong> {{ emp.montoCredito }}</label>
                                            {% if emp.coordinador %}<small>(Coordinador)</small>{% endif %}
                                        </li>
                                    
                                {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}       
                             {% if cred.cuotas %}
                                {% set capital,interes,gasto,total,punitorios,pagado,saldo = 0,0,0,0,0,0,0 %}
<table>
            <thead>
            <th style="text-align: right">N&deg;</th>
            <th style="text-align: right">Vencimiento</th>
            <th style="text-align: right">Capital</th>
            <th style="text-align: right">Intereses</th>
            <th style="text-align: right">Gastos</th>
            <th style="text-align: right">Total</th>
            <th style="text-align: right">Punitorios</th>
            <th style="text-align: right">Pagado</th>
            <th style="text-align: right">Fecha Pago</th>
            </thead>
            <tbody>
                {% for cuota in cred.cuotas %}
                    <tr>
                        <td style="text-align: right">{{cuota.nroCuota }}</td>
                        <td style="text-align: right">{{cuota.fechaVencimiento|date('d-m-Y')}}</td>
                        <td style="text-align: right">{{cuota.montoCapital | number_format(2)}}</td>
                        <td style="text-align: right">{{cuota.montoIntereses | number_format(2)}}</td>
                        <td style="text-align: right">{{cuota.gastoAdministrativo | number_format(2)}}</td>
                        <td style="text-align: right" ><strong>{{cuota.montoTotal | number_format(2)}}</strong></td>
                        <td style="text-align: right">{{cuota.montoPunitorios | number_format(2)}}</td>
                        <td style="text-align: right">{{cuota.pagado | number_format(2)}}</td>
                        <td style="text-align: right">{%if cuota.cancelado %}{{cuota.fechaCancelacion|date('d-m-Y')}}{%endif%}</td>
                    </tr>
                    {% set interes = interes + cuota.montoIntereses %}
                    {% set gasto = gasto + cuota.gastoAdministrativo %}
                    {% set total = total + cuota.montoTotal %}
                    {% set saldo = saldo + cuota.saldo %}
                    {% set punitorios = punitorios + cuota.montoPunitorios %}
                    {% if cuota.cancelado %}{% set pagado = pagado + cuota.pagado %}{% endif %}
                 {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th style="text-align: right">{{ entity.montoCredito | number_format(2)}}</th>
                    <th style="text-align: right">{{ interes | number_format(2)}}</th>
                    <th style="text-align: right">{{ gasto | number_format(2)}}</th>
                    <th style="text-align: right">{{ total | number_format(2)}}</th>
                        <th style="text-align: right">{{punitorios | number_format(2)}}</th>
                        <th style="text-align: right">{{pagado | number_format(2)}}</th>
                        <th></th>
                </tr>
            </tfoot>
        </table>                                
                             {% endif %}   
                        </div>
                    </td>
                </tr>
            {% endfor %}   

            </tbody>
            
        </table>    
    </div>
    </div>
</div>
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        $('[id*="tr_detalle_"]').hide();
        $('[id*="tr_detalle_"]').removeClass('alt-row');
        
        $('.plus').click(function(){
            trDetalle = '[id="tr_detalle_'+$(this).attr('id')+'"]';
            $(trDetalle).fadeToggle("slow");
            if( $(this).hasClass('minus') ) $(this).removeClass('minus')
            else $(this).addClass('minus');    
        });
    });
</script>