<fieldset>
    <p>
        {{ form_label(form.nro_credito) }}
        {{ form_widget(form.nro_credito, { 'attr': {'class' : 'text-input mini-input','readonly':'readonly' } }) }}
        {{ form_widget(form.nro_renovacion, { 'attr': { 'class' : 'text-input fixmini20-input','required':'required' } }) }}
        {{ form_label(form.nro_carpeta) }}
        {{ form_widget(form.nro_carpeta, { 'attr': { 'class' : 'text-input fixmini20-input' } }) }}
        {{ form_label(form.fecha_credito) }}
        {{ form_widget(form.fecha_credito, { 'attr': { 'class' : 'text-input date-input datepicker' } }) }}
        {{ form_label(form.asesor) }}
        {{ form_widget(form.asesor, { 'attr': { 'class' : 'text-input smaller-input' } }) }}
        {{ form_label(form.fecha_entrega) }}
        {{ form_widget(form.fecha_entrega, { 'attr': { 'class' : 'text-input date-input datepicker' } }) }}
    </p>
    <p>
        {{ form_label(form.programa) }}
        {{ form_widget(form.programa, { 'attr': { 'class' : 'text-input smaller-input','url' : path('get_datos_programa') } }) }}
        {{ form_label(form.grupo) }}
        {{ form_widget(form.grupo) }}
    </p>
    <div id="div_emprendedores" >  </div>
    <p>
        {{ form_label(form.monto_credito) }}
        {{ form_widget(form.monto_credito, { 'attr': {'class' : 'text-input fixmini40-input','readonly':'readonly' } }) }}
        {{ form_label(form.cant_cuotas) }}
        {{ form_widget(form.cant_cuotas, { 'attr': {'class' : 'text-input fixmini20-input' } }) }}
        {{ form_label(form.periodo) }}
        cada {{ form_widget(form.periodo, { 'attr': {'class' : 'text-input fixmini20-input chkgasto' } }) }} días
        {{ form_label(form.fecha_vto_cuota1) }}
        {{ form_widget(form.fecha_vto_cuota1, { 'attr': {'class' : 'text-input date-input datepicker' } }) }}
    </p>
    <p>
        {{ form_label(form.porc_interes) }}
        {{ form_widget(form.porc_interes, { 'attr': { 'class' : 'text-input fixmini40-input' } }) }}<label> % anual &nbsp; - &nbsp;</label>
        {{ form_label(form.porc_punitorio) }}
        {{ form_widget(form.porc_punitorio, { 'attr': { 'class' : 'text-input fixmini40-input' } }) }}<label>% mensual &nbsp; - &nbsp;</label>
        {{ form_label(form.gasto_administrativo) }}
            <label>$ &nbsp;</label>{{ form_widget(form.gasto_administrativo, { 'attr': { 'class' : 'text-input fixmini40-input' } }) }}
    </p>    
    <p>
        {{ form_label(form.sin_intereses) }}
        {{ form_widget(form.sin_intereses) }}
        {{ form_label(form.sin_gastos) }}
        {{ form_widget(form.sin_gastos) }}
    </p>
    
</fieldset>
{{ form_rest(form) }}
    