
    <div style="margin-top:15px" class="content-box">
    <div class="content-box-header-mini">
        <h3>Detalle de Cuotas</h3>
    </div>
        {% set capital,interes,gasto,subtotal,punitorios,pagado,saldo,total = 0,0,0,0,0,0,0,0 %}
    <div class="content-box-content">
        <table>
            <thead>
            <th style="text-align: right">N&deg;</th>
            <th style="text-align: right">Capital</th>
            <th style="text-align: right">Intereses</th>
            <th style="text-align: right">Gastos</th>
            <th style="text-align: right">Sub-Total</th>
            <th style="text-align: right">Vencimiento</th>
            {% if entity.aprobado %} 
            <th style="text-align: right">Punitorios</th>
            <th style="text-align: right">Pagado</th>
            <th style="text-align: right">Saldo</th>
            {% if esMoroso %} <th style="text-align: right">A Pagar</th>{% endif %}
            <th style="text-align: right">Fecha Pago</th>
            {% endif %}
            </thead>
            <tbody>
                {% set impagoCuota = 0 %}
                {% for cuota in cuotas %}
                    <tr class="alt-row">
                        <td style="text-align: right">{{cuota.nroCuota }}</td>
                        {% if(cuota.refinanciada) %}
                        <td style="text-align: right"> {{ (cuota.montoCapital + cuota.saldoPunitorios) | number_format(2) }}</td>
                        {% else %}
                            <td style="text-align: right"> {{ cuota.montoCapital | number_format(2) }}</td>
                        {% endif %}

                        <td style="text-align: right">{{cuota.montoIntereses | number_format(2)}}</td>
                        <td style="text-align: right">{{cuota.gastoAdministrativo | number_format(2)}}</td>
                        <td style="text-align: right" ><strong>{{cuota.montoTotal | number_format(2)}}</strong></td>
                        <td style="text-align: right">{{cuota.fechaVencimiento|date('d-m-Y')}}</td>
                       {% if entity.aprobado %} 
                        <td style="text-align: right">{{cuota.montoPunitorios | number_format(2)}}</td>
                        <td style="text-align: right">{% if cuota.fechaCancelacion %}{{cuota.pagado | number_format(2)}}{% endif %}</td>
                        <td style="text-align: right;font-weight: bold;" {% if cuota.fechaVencimiento<date() and cuota.saldo>0 %}class="deudor" {%endif%}   >
                            {{cuota.saldo | number_format(2)}}
                        </td>
                        
                        {% if esMoroso %}
                            {% set montomora = cuota.saldo + mora[loop.index-1] %}
                            <td style="text-align: right;font-weight: bold;" {% if cuota.fechaVencimiento<date() and cuota.saldo>0 %}class="deudor" {%endif%}   >
                                {{ montomora | number_format(2)}}
                            </td>
                        {% endif %}
                        <td style="text-align: right">{% if cuota.fechaCancelacion %}{{cuota.fechaCancelacion|date('d-m-Y')}}{% endif %}</td>
                        <td style="text-align: right;padding:5px 0px">

                            {% if not cuota.cancelado and not cuota.credito.incobrable and impagoCuota == 0  %}
                                <a href="{{ path('credito_ingresar_pago', { 'id': entity.id~'-'~cuota.id }) }}" rel="modal" title="Ingresar Pago">
                                    <img src="{{ asset('images/icons/ingpago.png') }}" alt="Pago" />
                                </a>
                                {% set impagoCuota = 1 %}
                            {% endif %}

                            {% if is_granted('ROLE_PARAMETRIZAR') %}
                                {% if not cuota.credito.incobrable %}
                                    {% if (  ( cuota.montoPunitorios > 0
                                                or  (cuota.montoPunitorios == 0
                                                    and ( fechaPagoConError1 == cuota.fechaCancelacion  or fechaPagoConError2 == cuota.fechaCancelacion)
                                                )
                                              )
                                            and cuota.saldo > 0
                                          ) %}
                                        &nbsp;
                                        <a href="{{ path('credito_ingresar_pago_condolacion', { 'id': entity.id~'-'~cuota.id }) }}" rel="modal" title="Ingresar Condonación">
                                            <img src="{{ asset('images/icons/redo_green.png') }}" alt="Condonación" />
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        </td>
                        <td style="padding:5px 0px">
                            {% if cuota.pagado>0  %}
                            <span class="align-right action pluspago" id="{{cuota.nroCuota}}" style="margin: 0" title="Ver pagos" >pagos</span>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% if cuota.pagado>0 %}
                    <tr id="tr_detalle_{{cuota.nroCuota}}">
                    <td colspan="12" >
                        <div class="content-box pago" id="content_{{cuota.nroCuota}}">
                            <table>
                                <thead>
                                    <tr>
                                    <th class="align-center">Fecha Pago</th>
                                    <th style="text-align: right">Capital</th>
                                    <th style="text-align: right">Interés</th>
                                    <th style="text-align: right">Gastos</th>

                                    {% if(cuota.refinanciada) %}
                                    <th style="text-align: right">Punitorios Refinanciación</th>
                                    {% endif %}

                                    <th style="text-align: right">Punitorios</th>
                                    <th style="text-align: right">Total Pagado</th>
                                    <th style="text-align: center">Observación</th>
                                    <th style="width: 1%" ></th>
                                    <th style="width: 1%"></th>
                                    <th style="width: 1%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pago in cuota.pagos %}
                                <tr>
                                    <td class="align-center">{{pago.fecha |date('d-m-Y')}} </td>
                                    <td style="text-align: right"> {{pago.capital}}</td>
                                    <td style="text-align: right"> {{pago.intereses}}</td>
                                    <td style="text-align: right"> {{pago.gastoAdministrativo}}</td>

                                    {% if(cuota.refinanciada) %}
                                    <td style="text-align: right"> {{pago.refinPunitorios}}</td>
                                    {% endif %}

                                    <td style="text-align: right">{{pago.punitorios}}</td>
                                    <td style="text-align: right">{{pago.total}} </td>
                                    <td style="text-align: center">{{pago.observacion}} </td>
                                    <td style="text-align: right">
                                        <span class="align-right action print" id="{{pago.id}}" style="margin: 0" title="Reimprimir Recibo" ></span></td>
                                    <td style="text-align: right">
                                        {% set sum =  pago.capital  + pago.intereses  + pago.gastoAdministrativo  + pago.punitorios  %}
                                        {% if( sum != pago.total ) %}
                                            <a href="{{ path('credito_reimputar_pago', { 'pago': pago.id }) }}"
                                               rel="modal"
                                               title="Reimputar pago">
                                                    <img src="{{ asset('images/icons/versolic3.png') }}"
                                                         alt="Reimputar pago" />
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td style="text-align: right">
                                    {% if pago.reporte is null and
                                        not pago.cuota.credito.incobrable and is_granted('ROLE_SUPERIOR_CREDITO')
                                    %}
                                        <span class="align-right action delete" pago="{{pago.id}}" style="margin: 0" title="Eliminar Pago" ></span>
                                    {% endif %}
                                    </td>
                                </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </td>
                    </tr>
                    {% endif %}
                    {% set interes = interes + cuota.montoIntereses %}
                    {% set gasto = gasto + cuota.gastoAdministrativo %}
                    {% set subtotal = subtotal + cuota.montoTotal %}
                    {% set saldo = saldo + cuota.saldo %}
                    {% if esMoroso %}  {% set total = total + cuota.saldo + mora[loop.index-1] %}{% endif %}
                    {% set punitorios = punitorios + cuota.montoPunitorios %}
                    {% if cuota.pagado>0 %}{% set pagado = pagado + cuota.pagado %}{% endif %}
                 {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th style="text-align: right">{{ entity.montoCredito | number_format(2)}}</th>
                    <th style="text-align: right">{{ interes | number_format(2)}}</th>
                    <th style="text-align: right">{{ gasto | number_format(2)}}</th>
                    <th style="text-align: right">{{ subtotal | number_format(2)}}</th>
                    <th></th>
                    {% if entity.aprobado %} 
                        <th style="text-align: right">{% if punitorios %}{{punitorios | number_format(2)}}{% endif %}</th>
                        <th style="text-align: right">{% if pagado %}{{pagado | number_format(2)}}{% endif %}</th>
                        <th style="text-align: right">{{saldo | number_format(2)}}</th>
                        {% if esMoroso %}<th style="text-align: right">{{total | number_format(2)}}</th>{% endif %}
                        <th></th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>

    </div>
    </div>
<script type="text/javascript">
    $(document).ready(function(){
        $('[id*="tr_detalle_"]').hide();
        $('[id*="tr_detalle_"]').removeClass('alt-row');
        
        $('.pluspago').click(function(){
            trDetalle = '[id="tr_detalle_'+$(this).attr('id')+'"]';
            $(trDetalle).fadeToggle("slow");
            if( $(this).hasClass('minuspago') ) $(this).removeClass('minuspago')
            else $(this).addClass('minuspago');  
        });

        $('.print').click(function(){
            urlRecibo = '{{path('credito_recibo_pago')}}';
            dataRecibo = '?pago='+$(this).attr('id');
            myWindow=window.open(urlRecibo+dataRecibo,"","toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, titlebar=no,copyhistory=no, width=800, height=450")
            myWindow.focus();
        });
        $('.delete').click(function(){
            if( confirm('Desea eliminar el pago?')){
                pago = $(this).attr('pago');
                if( !isEmpty(pago) ){
                        $.ajax({
                            url: '{{ path('credito_delete_pago') }}',
                            data: 'pago='+pago,
                            dataType: 'json',
                            async:false,
                            success: function(data){ 
                                alert(data.msg);
                                if(data.estado=='OK'){
                                    $('form').submit();
                                }
                            }
                        });    
                    }
            }
        });
        
        
    });
</script> 