<div id="main-content" class="pagocuota">

	<div class="monto-excel" data-monto="{{ montoExcel }}"></div>
	{#<div id='loading' class="loading" style="display: none;">#}
	{#</div>#}
	<div style="margin-top:25px" class="content-box">
		<div class="content-box-header">
			<h3>Ingresar Pago</h3>
		</div>
		<div class="content-box-content">
			<form>
				<p>
					<label>Cuota N°:
					</label>
					<input value="{{ cuota.nroCuota }}" disabled="disabled" class="text-input fixmini20-input"/>
					<label>Vencimiento Original:
					</label>
					<input value="{{ cuota.fechaVencimiento | date('d-m-Y') }}" id="fechaVencimiento" disabled="disabled" class="text-input date-input"/>
					<label>Pago Bancario:
					</label>
					<input type="checkbox" id="pago_bancario" name="bancario" value="bancario">
				</p>
				<hr style="border:1px solid #cccccc">
				<p style="text-align: center">
					<label>Fecha de Pago:</label>
					<input value="{{ cuota.fechaCancelacion | date('d-m-Y')}}" class="text-input date-input datepicker" name="fechaCancelacion" id="fechaCancelacion" disabled="disabled" required="required"/>
				</p>
				<table style="width: 100%; margin: auto ">
					<tbody>
						<tr>
							<td>Capital:</td>
							<td style="text-align: right">{{cuota.montoCapital | number_format(2,'.','')}}</td>
						</tr>
						<tr>
							<td>Intereses:</td>
							<td style="text-align: right">{{cuota.montoIntereses | number_format(2,'.','')}}</td>
						</tr>
						<tr>
							<td>Gastos:</td>
							<td style="text-align: right">{{cuota.gastoAdministrativo | number_format(2,'.','')}}</td>
						</tr>
						{% if(cuota.refinanciada == 1) %}
							<tr>
								<td>Punitorios por Refinancacion:</td>
								<td style="text-align: right">{{cuota.saldoPunitorios | number_format(2,'.','')}}</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				<table style="width: 100%; margin: auto ">
					<tbody>
						<tr>
							<td>
								<strong>
									{% if band %}Saldo:
									{% else %}
										Sub-Total:
									{% endif %}
								</strong>
							</td>
							<td style="text-align: right">
								<strong>{{cuota.saldo | number_format(2,'.','')}}</strong>
							</td>
						</tr>
						<tr>
							{% if(nuevoCredito) %}
								<td>Punitorios:</td>
								<td style="text-align: right; padding-right: 0">
									<input value="{{ cuota.montoPunitorios | number_format(2,'.','')}}" class="text-input" name="montoPunitorios" id="montoPunitorios" readonly="readonly" style="text-align: right" required="required"/>
								</td>
							{% else %}
								<td>Punitorios :</td>
								<td style="text-align: right; padding-right: 0">
									<input value="{{ cuota.montoPunitorios | number_format(2,'.','')}}" class="text-input" name="montoPunitoriosPerdidos" id="montoPunitorios" readonly="readonly" style="text-align: right" required="required"/>
								</td>
							{% endif %}
						</tr>

					</tbody>
					<tfoot>
						<tr>
							<th>Total a Pagar:</th>
							<th style="text-align: right; padding-right: 0; font-weight: bold">
								{% if montoExcel is null %}
									<input value="{{ (cuota.montoPunitorios + cuota.saldo) | number_format(2,'.','')}}" class="text-input" name="pagado" id="pagado" style="text-align: right" required="required"/>

								{% else %}
									<input value="{{montoExcel | number_format(2,'.','')}}" class="text-input" name="pagado" id="pagado" style="text-align: right" required="required"/>

								{% endif %}


							</th>
						</tr>
					</tfoot>
				</th>
			</tr>
		</tfoot>
	</table>
	<p>
		<label>Observacion:</label>
		<input value="" class="text-input large-input" name="observacion" id="observacion"/>
	</p>
	<p>
		<label>Detalle de la Composición Punitorios:</label>

		<table style="width: 100%; ">
			<tbody>
				<tr>
					<td>Dias de Retraso:</td>
					<td style="text-align: right; padding-right: 0">
						<input value="{{ arrayPunitorio.dias }}" class="text-input" id="'composicion_dias" readonly="readonly" style="text-align: right" disabled="disabled" required="required"/>
					</td>
				</tr>
				<tr>
					<td>Capital Adeudado:</td>
					<td style="text-align: right; padding-right: 0">
						<input value="{{ arrayPunitorio.porcCapital | number_format(2,'.','') }}" class="text-input" readonly="readonly" style="text-align: right" disabled="disabled" required="required"/>
					</td>
				</tr>
				<tr>
					<td>Monto Punitorio:</td>
					<td style="text-align: right; padding-right: 0">
						<input value="{{ arrayPunitorio.montoPunitoriosSinRound | number_format(2,'.','') }}" class="text-input" id="'composicion_punitorios" readonly="readonly" disabled="disabled" style="text-align: right" required="required"/>
					</td>
				</tr>
			</tbody>
			<div class="monto-excel" data-monto="{{ montoExcel }}"></div>

		</table>
	</p>
</form>
{%  if(conPagoErroneo) %}
	<div class="align-center" style="margin-bottom: 10px ">
		<p style="color: red;font-style: italic;">
			Existe un pago anterior que se debe re-impiutar. Por favor verificar los pagos antes de registrar un nuevo pago.
		</p>
	</div>
{% endif %}</div></div><div class="align-center" style="margin-bottom: 10px "><button type="button" id="registrar" class="button" style="margin-left: 15px">Registrar el Pago</button></div></div><script type="text/javascript">function findDiasDiferencias(fechavto, fechapago) {
$('#loading').fadeIn();
$.ajax({
url: '{{ path("get_dias_dif") }}',
data: 'fechavto=' + fechavto + '&fechapago=' + fechapago + '&tasa=' + {{ tasa }} + '&montopun=' + {{ montoPun }} + '&subtotal=' + {{ cuota.saldo }} + '&credito=' + {{ creditoId }},
async: false,
dataType: 'json',
success: function (data) { // inputs
$('#montoPunitorios').val(parseFloat(data.punitorio).toFixed(2));
$('#pagado').val(parseFloat(data.total).toFixed(2));
// ref
$('#composicion_dias').val(parseFloat(data.dias).toFixed(2));
$('#composicion_punitorios').val(parseFloat(data.punitorio).toFixed(2));
$('#loading').fadeOut();
}
});
}

$(document).ready(function () {

$('#montoPunitorios').change(function () {
var subtotal = {{ cuota.saldo }};
var punitorio = parseFloat($('#montoPunitorios').val()).toFixed(2);
var total = subtotal * 1 + punitorio * 1;
$('#montoPunitorios').val(parseFloat(punitorio).toFixed(2));
$('#pagado').val(parseFloat(total).toFixed(2));

});

$('#fechaCancelacion').change(function () {
fechavto = $('#fechaVencimiento').val();
fechapago = $(this).val();
findDiasDiferencias(fechavto, fechapago)
});

$('#registrar').click(function () {
if (!confirm('Confirma la registración del pago?')) 
return false;



var url = '{{ path('credito_registrar_pago') }}';
var data = '?' + $("form").serialize() + '&credito=' + {{ creditoId }} + '&cuota=' + {{ cuota.id }};
myWindow = window.open(url + data, "", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, titlebar=no,copyhistory=no, width=800, height=450")
myWindow.focus();
urlshow = '{{ path('credito_show', { 'id': creditoId }) }}';

jQuery(document).trigger('close.facebox');

var montoExcel = $('.monto-excel').data('monto');
console.log(montoExcel);
if (montoExcel === "") {
setTimeout(function () {
window.location.href = urlshow;
}, 3000);
} else {
// setTimeout(function () {
// window.location.href = '{{ path('credito_analyzer') }}';;
// }, 3000);
location.reload();
return;
}

});


$('#pago_bancario').click(function () {


var chk = document.getElementById("pago_bancario");
if (chk.checked) {
$('#fechaCancelacion').prop("disabled", false);
} else {
$('#fechaCancelacion').val("{{ cuota.fechaCancelacion | date('d-m-Y') }}");
$('#fechaCancelacion').prop("disabled", true);
fechavto = $('#fechaVencimiento').val();
fechapago = "{{ cuota.fechaCancelacion | date('d-m-Y') }}";
findDiasDiferencias(fechavto, fechapago)
}
});


$('.datepicker').datepicker({
changeMonth: false,
changeYear: false,
dateFormat: 'dd-mm-yy',
minDate: '-1d',
maxDate: 0,
beforeShowDay: $.datepicker.noWeekends
});
});</script>
