{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2 id="title-solicitud">Carga de Crédito </h2>{% endblock %}
{% block pathback %}   {{ path('credito')  }}  {% endblock %}
{% block pathCreate %} {{ path('credito_carga_create') }}    {% endblock %}

{% block formContent %}

    {% include "MicrocreditosBundle:Credito:_partial_carga_credito.html.twig" %}
<p class="submit-block">
    <button type="button" id="generarCuotas"  class="button">Generar las Cuotas</button>
</p> 
<div id="div_cuota"> </div>

<script type="text/javascript">
$(document).ready(function(){
    $('[type="submit"]').html('CARGAR CREDITO');
    $('[type="submit"]').hide();
    $('.datepicker').datepicker({changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        beforeShowDay: $.datepicker.noWeekends});
    
     $('[type="submit"]').click(function(){
        if( $('input:required:invalid').attr('id')){
            alert('Debe ingresar todos los datos para continuar');
            $('input:required:invalid').focus();
            return false;
        };
        var total = $('#credito_monto_credito').val();
        var suma=0;
        $("[id*='monto_credito_']").each(function (index, domEle) {
            suma = suma + parseInt($(domEle).val());
        });
        if(total!=suma){
           alert('El monto de crédito no está correctamente repartido entre los emprendedores ');
           return false;
        }
        if (confirm('Confirma la generación del Crédito?'))
            return true;
        return false;
    });
        
    $('#generarCuotas').click(function(){
        var creditoValue = $("[id*='fecha_credito']").val().split('-');
        var entregaValue = $("[id*='fecha_entrega']").val().split('-');
        var creditoDate=new Date();
        creditoDate.setFullYear(creditoValue[2],(creditoValue[1] - 1 ),creditoValue[0]);
        var entregaDate=new Date();
        entregaDate.setFullYear(entregaValue[2],(entregaValue[1] - 1 ),entregaValue[0]); 
        if( creditoDate>entregaDate ){
            alert('La fecha de creación del crédito no puede ser mayor a la fecha de entrega!!');
            $("[id*='fecha_credito']").focus();
            return false;
        } 
        
        if( $('input:required:invalid').attr('id')){
            alert('Debe ingresar todos los datos para continuar');
            $('input:required:invalid').focus();
            return false;
        };
        $('#loading').fadeIn();
        $.ajax({
            url: '{{path("generar_cuotas_carga")}}',
            data: $('form').serialize(),
            async:false,
            dataType: 'json',
            success: function(data){
                if(data.msg=='VALIDO'){  $('[type="submit"]').show();  }    
                $('#div_cuota').html(data.partial);
           }
       });
       $('#loading').fadeOut();
    });
    
    $('#credito_programa').change(function(){
        $('#loading').fadeIn();
        $.ajax({
            url: $(this).attr('url'),
            data: 'id='+$(this).val(),
            async:false,
            dataType: 'json',
            success: function(data){
                changePrograma(data);
           }
       }).fail(function() { 
           $('#loading').fadeOut();
           alert("No es posible realizar esta operación en este momento."); 
        });
    }); 
    $('#grupo_credito').autocomplete({
        minLength: 2,
        source: function( request, response ) {
            var data = 'programa='+$('[id$="_programa"] option:selected').val()+'&term='+request.term;
            $.ajax({
                url: $('#grupo_credito').attr('url'),
                data: data,
                dataType: 'json',
                success: function(data){  response(data); }
            });
        },
        search: function(event,ui){
            $("#grupoId").val('');
            $('#credito_grupo').val('');
        },
        select: function(event,ui) {
            selectGrupo(ui.item.id);
        }
    }); 
    $('#grupo_credito').blur(function(){
        if( $("#credito_grupo").val()== '')
            $('#grupo_credito').val('');
    }); 
    $('.chkgasto').change(function(){
        var periodo = $("#credito_periodo").val();
        var total = 0;
        if( !isEmpty(periodo) ){
            $('[id^="monto_credito_"]').each(function (index,domEle){
                monto = $(domEle).val();
                if( monto!='' ){
                    $.ajax({
                    url: '{{ path('credito_get_gastoadm') }}',
                    data: 'monto='+monto+'&periodo='+periodo,
                    dataType: 'json',
                    success: function(data){ 
                         id = $(domEle).attr('id').replace('monto_credito_','gasto_administrativo_');
                          total = total + (data*1);
                         $('#'+id).val(data);
                         $('#credito_gasto_administrativo').val(total);
                       }
                    });    
                }    
            }); 
        }
    });
    $('input').bind('keydown',function(e){  if(e.which==13){ return false; } }); 
    
    var grupoId = $('#credito_grupo').val();
    var grupoText =  $('#grupo_credito').val();
    
    if('{{entity.nroRenovacion}}'==0){
        $('#credito_programa').change();
        $('#grupo_credito').val(grupoText);
        selectGrupo(grupoId);
    }
});
function changePrograma(data){
    if (data.individual){
        $('#credito_grupo').attr('disabled','true');
        $('#grupo_credito').attr('disabled','true');
        selectGrupo('');
    }
    else {
        $('#credito_grupo').removeAttr("disabled");
        $('#grupo_credito').removeAttr("disabled");
    }    
    $('#credito_porc_interes').val(data.porcInteres);
    $('#credito_porc_punitorio').val(data.porcPunitorio);
    $("#credito_grupo").val('');
    $('#grupo_credito').val(''); 
    $('#grupo_credito').focus();
    $('#loading').fadeOut();    
}

function selectGrupo(id){
    $("#credito_grupo").val(id);
    var data = 'id='+id;
 
    //Buscar emprendedores
    $.ajax({
        url: '{{path("emprendedores_grupo")}}',
        data: data,
        dataType: 'json',
        success: function(data){  
            $('#div_emprendedores').html(data);
            $('#div_emprendedores').fadeIn();
        }
    });
}
</script>     
        
        
{% endblock %}