<style>   
.header{
    clear: both;
    height: 80px;
}    
.logo{
    float: left;
    margin-left: 30px;
}
.logo img{
    width: 45px;
}
h3 {
  font-size: 1.3em;
}
.sigla{
    text-align: right; 
    font-size: 0.4em; 
}
.clausula span{ 
    font-weight: bold;
    text-decoration: underline;
}
p {
  font-size: 14px;
  line-height: 1.6em;
  margin: 10px 0 0 30px;
  text-align: justify;
  font-family: arial;
  font-family: Arial, Helvetica, sans-serif;  
}
ul{
    font-size: 14px;
    line-height: 1.5em;
    margin-left: 30px;
    margin-top: 2px;
}
.break {page-break-after:always}
.align-center{text-align: center}
.header2{
    clear: both;
    height: 50px;
}
.header-title{
  display: inline-block;
    margin-top: 0px;
    text-align: center;
    width: 85%;
}
.firma{ margin-top: 5px; font-size: 0.8em;}
.firmaResp {
  border-top: 1px solid black;
  clear: both;
  margin: auto;
  padding-top: 5px;
  text-align: center;
  width: 30%;
  font-size: 0.8em;
}
.firmaInd30{
    display: inline-block;
    width: 30%;
}
.firmaInd50{
    display: inline-block;
    width: 47%;
    float: left;
}
.firma p {
  margin: 0;
  text-align: center;
  width: 100%;
}   
.linea30 {
  font-weight: lighter;
  margin: 30px 0 0 !important;
  text-align: center;
}
.linea50 {
  font-weight: lighter;
  margin: 80px 0 0 !important;
  text-align: center;

}
.nombre{min-width: 45%; font-weight: bold; display: inline-block;}

.divhr {
  clear: both;
  height: 30px;
}
.resp{font-weight:bold;display: inline-block}
.asoc{display:block;font-weight:bold;}
.add{ margin: 10px auto 0;}
table{ font-family:'Arial';font-size: 12px; width:50%; margin: auto }
table tr th{
    border: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr td{
    border: 1px solid gray;
    padding:3px 15px;
}
table td.monto {
  padding-right: 15%;
  text-align: right;
}
#divFirmasPagare { margin: auto; padding-left: 100px; padding-top: 30px; width: 100%;}
#divFirmasPagare p{ margin: 0;  }
#divFirmasPagare div{ margin:50px 0;  }
#divFirmasPagare div label{ font-style: italic;  }
</style>
<div class="contrato"> 
    <div class="header" >
        <div class="logo">
            <img id="logo" src="{{ absolute_url(asset('images/logomicro_contrato.png')) }}" />
        </div>
        <div class="header-title" > <h3>CONTRATO DE MUTUO.-</h3> </div>
    </div>
    <div class="sigla">{{credito.programa.sigla}}</div>
    <hr style="margin-left: 30px;">

    <p style="text-indent:50px">
        Entre, el/la Sr/a {{representante.nombre}} D.N.I N° {{representante.descripcion}}, en carácter de presidente de la Asociación Jardín de los Niños, en adelante <strong>"LA ONG"</strong>, con domicilio en Manzana D, Barrio San Jorge de la ciudad de Posadas, y por otra parte, el grupo denominado "{{ credito.grupo.nombre }}", conformado por los Sres. 
        {% for det in credito.emprendedores %}
            {{ det.emprendedor.nombres }} DNI {{ det.emprendedor.dni }}, domicilio {{ det.emprendedor.direccion }}, CUIT/CUIL {{ det.emprendedor.cuit }}, de la ciudad de {{ det.emprendedor.ubicacion }}
            {% if not loop.last %} y {% endif %}
        {% endfor %}
        , en adelante el <strong>"GRUPO SOLIDARIO"</strong>, ambas partes convienen, de manera libre y  voluntaria, celebrar el presente contrato de MUTUO que se regirá por las siguientes clausulas:
    </p>
    <p class="clausula">
        <span>CLÁUSULA PRIMERA</span><strong>: OBJETO - PERFECCIONAMIENTO DEL CONTRATO.</strong> De conformidad con la aprobación del Comité de Gestión Local y a razón del presente contrato, <strong>"LA ONG"</strong> otorga en calidad de <strong>PRÉSTAMO</strong> a favor del <strong>"GRUPO SOLIDARIO"</strong> 
        la suma de Pesos {{letras.monto}} (${{credito.montoCredito}}.-), importe que es recibido de conformidad en el presente acto, sirviendo el mismo de suficiente recibo, reconocimiento de deuda e instrumento constitutivo de la obligación.---------- 
    </p>
    <p class="clausula">
        <span>CLÁUSULA SEGUNDA</span><strong>: SOLIDARIDAD.</strong> El <strong>"GRUPO SOLIDARIO"</strong> 
        garantizan el fiel cumplimiento de todas las obligaciones que asumen con la suscripción del presente contrato con todos sus bienes, de manera especial señalada con la garantía solidaria e indivisible de todos los componentes del grupo conformado, asumiendo cada uno de ellos igualmente el pago total de la deuda señalada en la cláusula PRIMERA del presente.----------
    </p>
    <p class="clausula">
        <span>CLÁUSULA TERCERA</span><strong>: INTERESES - IMPUESTOS.</strong> Se deja constancia que el capital otorgado en mutuo devengará un interés del {{credito.porcInteres}}% anual.
        Los gastos de sellados del presente se cubrirán en partes iguales entre <strong>"LA ONG"</strong> y el <strong>"GRUPO SOLIDARIO".</strong>
        La certificación de las firmas del presente, quedaran a cargo de cada suscribiente.----------
    </p>
    <p class="clausula">
        <span>CLÁUSULA CUARTA</span><strong>: CONDICIONES DE RESTITUCIÓN.</strong> El importe otorgado en préstamo será reintegrado por el <strong>"GRUPO SOLIDARIO"</strong> en <strong>{{credito.getCantidadCuotaCredito}} cuotas, cada {{ letras.dias }} ({{credito.periodo}}) días, </strong>de Pesos {{letras.cuota}} $({{montoCuota}}.-), comprensivas del capital, intereses más gastos administrativos, conforme lo establecido en la planilla titulada "ANEXO A" que forma parte del presente.----------
    </p>
    <p class="clausula">
        <span>CLÁUSULA QUINTA</span><strong>: CRONOGRAMA DE PAGOS - VENCIMIENTO</strong> el vencimiento de la primera cuota y consecuentemente la restitución del importe otorgado en mutuo operará a partir del día {{ credito.fechaVtoCuota1|date('d/m/Y') }}. A partir de dicha fecha, el pago de las futuras cuotas se realizarán cada {{ letras.dias }} ({{credito.periodo}}) días, siendo este el día de su vencimiento, debiendo realizarse dicho pago en el domicilio de <strong>"LA ONG"</strong>y/o en el domicilio en que ella indique por medio fehaciente.----------
    </p>
    <p class="clausula">
        <span>CLÁUSULA SEXTA</span><strong>: DETERMINACIÓN DEL SALDO CAPITAL.</strong> Al momento de cumplimentarse las obligaciones previstas en la CLÁUSULA CUARTA del presente contrato, <strong>"LA ONG"</strong> expedirá al <strong>"GRUPO SOLIDARIO"</strong> un recibo en el cual se indique el saldo del capital resultante, como consecuencia de la imputación del pago que se efectúe, el que se considerará determinado a la fecha de vencimiento prevista para la cuota respectiva, de conformidad al cronograma de vencimientos indicado en la CLÁUSULA que antecede.----------
        <br>
        LAS PARTES expresamente establecen para el supuesto que, como consecuencia de haberse producido la mora, por cualquier causal prevista en este contrato, <strong>"LA ONG"</strong> promoviera acciones judiciales en contra del <strong>"GRUPO SOLIDARIO"</strong>, que el saldo de capital objeto de su pretensión, será aquel que surja del recibo expedido por <strong>"LA ONG"</strong>, por aplicación de esta Cláusula, correspondiente a la última cuota cancelada e imputada.----------
    </p>
    <p class="clausula">
        <span>CLÁUSULA SÉPTIMA</span><strong>: CONSTITUCIÓN EN MORA.</strong> En caso de incumplimiento de las obligaciones asumidas por el <strong>"GRUPO SOLIDARIO"</strong> ya sea en el pago de las cuotas indicadas en la CLÁUSULA QUINTA o en el incumplimiento de alguna de las cláusulas del presente, el <strong>"GRUPO SOLIDARIO"</strong> quedara constituido automáticamente en mora, de pleno derecho, sin necesidad de interpelación previa, caducando todos los pazos establecidos en el presente, pudiendo ser exigido por <strong>"LA ONG"</strong> el pago de la totalidad del capital e intereses. Con más un interés punitorio de {{credito.textoPunitorioParaContrato}}. Asimismo, se establece para el caso de mora, la capitalización mensual de los intereses compensatorios y punitorios.----------
    </p>
    <p class="clausula">
        <span>CLÁUSULA OCTAVA</span><strong>: OBLIGACIONES DEL GRUPO SOLIDARIO.</strong> El <strong>"GRUPO SOLIDARIO"</strong> se compromete a destinar el capital otorgado en mutuo a procesos productivos, no pudiendo ser destinado dicho capital para usos personales ni para cualquier otro, en virtud de lo cual, los representantes de <strong>"LA ONG"</strong> debidamente autorizados, tendrán libre acceso toda vez que lo estimen conveniente, así como también de solicitar la exhibición de toda documentación pertinente, con el objeto de examinar las mejoras introducidas al negocio.----------
    </p>
    <p class="clausula">
        <span>CLÁUSULA NOVENA</span><strong>: CAMBIO DE DESTINO - PENALIDAD - RESERVA.</strong> En caso de que se diera un destino distinto al estipulado en la CLÁUSULA SEXTA del presente contrato, atento a la alteración de las condiciones estipuladas en el presente, siendo ello contrario a los principios de <strong>"LA ONG"</strong>, <strong>"LA ONG"</strong> podrá exigir el reintegro de la totalidad del capital, más intereses y gastos administrativos, con más un intereses punitorio del 20 % mensual de la tasa compensatoria sobre capital e intereses adeudados, así como también podrá exigir por vía judicial el pago de los daños y perjuicios que por su accionar haya causado a <strong>"LA ONG"</strong>.--
    </p>
    <p class="clausula">
        <span>CLÁUSULA DÉCIMA</span><strong>: PROCEDIMIENTO DE EJECUCIÓN.</strong> En el caso de que <strong>"LA ONG"</strong>, por cualquier motivo, promueva acciones judiciales por el cobro del crédito emergente de este contrato, las partes convienen expresamente:     
    <ul>
        <li>Que, previo a la instancia judicial, <strong>"LA ONG"</strong> arbitrará los medios para el cumplimiento del presente, quedando en manos del <strong>"GRUPO SOLIDARIO"</strong> el pago de los costos y honorarios en que la misma genere.</li>
        <li>Que el presente instrumento, así como también el pagaré suscripto por el <strong>"GRUPO SOLIDARIO",</strong> será título suficiente a los fines de ejercitar la vía ejecutiva en los términos y con los alcances previstos en el Código Procesal Civil, Comercial, de familia y de Violencia Familiar de la Provincia de Misiones.</li>
        <li>Que, las costas y gastos que origine <strong>"GRUPO SOLIDARIO",</strong> con motivo de su incumplimiento y consecuente secuestro, traslado, depósito, guarda y reparaciones, de los bienes embargados y demás que se irrogaren, quedan a su exclusivo cargo. Los montos adeudados por gastos extrajudiciales o judiciales, antes mencionados y los que infra se explicitan y otros que se ocasionaran, honorarios y demás accesorios, devengarán desde la fecha de su erogación y/o regulación, un interés equivalente al previsto en la CLÁUSULA SEXTA del presente.</li>
    </ul>
    </p>
    <p class="clausula">
        <span>CLÁUSULA DÉCIMA PRIMERA</span><strong>: JURISDICCIÓN Y DOMICILIO.</strong> A todos los efectos legales emergentes de este contrato, las partes se someten a la Jurisdicción de la Justicia Ordinaria de Primera Instancia de la Provincia de Misiones, con asiento en la ciudad de Posadas, con renuncia a cualquier otro fuero que les pudiere corresponder, constituyendo domicilio especial en los previstos al comienzo donde se tendrán por válidas todas las notificaciones privadas o judiciales que se practiquen y que pudieran corresponder.----------        
    </p>
    <p>
        En prueba de conformidad y obligándose a su total cumplimiento, se suscriben dos ejemplares, uno para <strong>"LA ONG"</strong> y otro para el <strong>"GRUPO SOLIDARIO"</strong>, quién lo recibe en éste acto, de un mismo tenor y a un solo efecto en la ciudad de Posadas, el día {{ fechaFirma }}.----------
    </p>    
</div>
    <div class="firma">
{% for emp in credito.emprendedores %}
        <div class="firmaInd{% if credito.emprendedores|length>2 %}30{%else%}50{%endif%}">
    <div class="linea{% if credito.emprendedores|length>2 %}30{%else%}50{%endif%}">_______________________________</div>
    <div> <p class="nombre">{{emp}}</p> <p>D.N.I. N&deg; {{emp.emprendedor.dni}}</p> </div>
        </div>    
        
    {% if emp.garante %}
        <div class="firmaInd{% if credito.emprendedores|length>2 %}30{%else%}50{%endif%}">
    <div class="linea{% if credito.emprendedores|length>4 %}30{%else%}50{%endif%}">_______________________________</div>
    <div> <p class="nombre">{{emp.garante}}</p> <p>D.N.I. N&deg; {{emp.garanteDni}}</p> </div>
        </div>    
    {% endif %}
{% endfor %}
</div> 
<div class="divhr" ></div>
<div class="firmaResp ">
    <div> <label class="resp">{{representante.nombre}}</label> <br> <label>D.N.I. N&deg; {{representante.descripcion}}</label> 
         <label class="asoc">Asociación Jardín de los Niños</label>
    </div>
</div>   

<div class="break"></div>
    
<div style="text-align: center;">
    <div class="header2">
        <div class="header-title"> <h2>ANEXO A</h2> </div>
    </div>
    <div class="sigla">&nbsp;</div>
    <hr>
    <div id="div_integrantes">
        <div style="margin-top:50px" class="content-box">
            <div class="content-box-content">
                <table>
                    <thead>
                        <tr><th style="width: 60%">Integrantes</th>
                            <th class="align-center" style="width: 40%">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for emp in credito.emprendedores %}
                            <tr>
                                <td> {{emp}} </td>
                                <td class="monto">{{emp.montoCredito}}</td>
                            </tr>  
                        {% endfor %}
                    </tbody>
                    <tfoot><tr><td>&nbsp;</td><td class="monto"><strong>{{credito.montoCredito}}</strong></td></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="break"></div>

<div class="header" >
    <div class="logo">
        <img id="logo" src="http://localhost/Microcreditos/web/images/logomicro_contrato.png" />
    </div>
    <div class="header-title" > <h3>ASOCIACIÓN <br> JARDIN DE LOS NIÑOS</h3>
        <br></div>
</div>
<hr style="margin-left: 30px;">
<div style="margin-top:50px" class="content-box">
    <div class="content-box-content">
        <div style="width: 80%; margin: auto; clear: both ">
            <h4 style="display: block; font-style: italic; text-align: right; width: 100%;">Pagaré</h4>
            <label style="display: inline-block; float: right; margin: 10px 40px;font-size: 0.9em;width: 100%;text-align: right;">Por $ {{credito.montoCredito}} ({{letras.monto}})</label>
            <label style="display:inline-block; font-size: 1.2em;width: 100%;"><strong>{{credito.grupo}}</strong></label>
            <br>
            <label style="display: block;  margin: 25px 50px; text-align: right; width: 85%;">Posadas, {{fechaFirma}}.-</label>
            <p style="font-size:14px;margin: 30px 0;text-indent: 90px;">A LA VISTA pagaré sin protesto (art. 50 del decreto ley 5965/63) a Asociación Jardín de los Niños o a su orden, 
                la cantidad de {{letras.monto}} por igual valor recibido en razón de crédito más interés a nuestra entera satisfacción. 
                Conforme a lo establecido en el art. 5 del decreto ley 5965/63 al presente pagaré se le adicionara desde la fecha de 
                su presentación y no pago, un interés punitorio del {{credito.porcPunitorio}}% mensual, calculado sobre el monto adeudado.
                Asimismo de conformidad con lo dispuesto por el art. 36  del decreto ley 5965/63 se amplía el plazo de presentación hasta
                el plazo de 10 años a contar desde el libramiento.
            </p>
            <p style="font-size:14px;margin: 0;">El presente sera pagadero en la sede de la Asociación Jardín de los Niños, 
                con domicilio en el Barrio San Jorge, Posadas, Misiones.
            </p>
        </div>
        
    </div>
</div>
<div id="divFirmasPagare">
{% for emp in credito.emprendedores %}
        <div style="width: 48%; display: inline-block;">
            <p style="font-size:14px;"><label>Firma:</label> _______________________</p>
            <p style="font-size:14px;"><label>Nombre:</label> <strong>{{emp}}</strong></p>
            <p><label>Documento:</label> {{emp.emprendedor.dni}}</p>
            <p><label>Domicilio:</label> {{emp.emprendedor.direccion}}</p>
        </div>        
       {% if emp.garante %}
        <div style="width: 48%; display: inline-block;">
            <p style="font-size:14px;"><label>Firma:</label> _______________________</p>
            <p style="font-size:14px;"><label>Nombre:</label> <strong>{{emp.garante}}</strong></p>
            <p><label>Documento:</label> {{emp.garanteDni}}</p>
            <p><label>Domicilio:</label> {{emp.garanteDireccion}}</p>
        </div> 
       {% endif %} 
{% endfor %}
</div>