<style>   
h3 {
  font-family: Georgia;
  font-size: 1.3em;
}
.align-center{text-align: center}
.break {page-break-after:always}
.header{
    clear: both;
    height: 100px;
}
.header2{
    clear: both;
    height: 80px;
}
.header-title{
  display: inline-block;
    margin-top: 1%;
    text-align: center;
    width: 85%;
}
.logo{
    float: left;
    width: 10%;
    margin-left: 30px;
}
p {
  line-height: 1.3em;
  margin: 10px 0 0 30px;
  text-align: justify;
}
.firma{ margin-top: 10px; font-size: 0.8em;}
.firmaResp {
  border-top: 1px solid black;
  clear: both;
  margin: auto;
  padding-top: 5px;
  text-align: center;
  width: 30%;
  font-size: 0.8em;
}
.add{ margin: 20px auto 0;}
.firmaInd30{
    display: inline-block;
    width: 30%;
}
.firmaInd50{
    display: inline-block;
    width: 48%;
}
.firma p {
  margin: 0;
  text-align: center;
  width: 100%;
}   
.linea30 {
  font-weight: lighter;
  margin: 50px 0 0 !important;
  text-align: center;
}
.linea50 {
  font-weight: lighter;
  margin: 80px 0 0 !important;
  text-align: center;
}
.nombre{min-width: 45%; font-weight: bold; display: inline-block;}

.divhr {
  clear: both;
  height: 50px;
}
.resp{font-weight:bold;display: inline-block}
.asoc{display:block;font-weight:bold;}

table{ font-family:'Arial';font-size: 12px; width:50%; margin: auto }
table tr th{
    border: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr td{
    border: 1px solid gray;
    padding:3px 15px;
}
table td.monto {
  padding-right: 15%;
  text-align: right;
}
#divFirmasPagare { margin: auto; padding-left: 100px; padding-top: 30px; width: 100%;}
#divFirmasPagare p{ margin: 0;  }
#divFirmasPagare div{ margin:50px 0;  }
#divFirmasPagare div label{ font-style: italic;  }
</style>
<div class="header" >
    <div class="logo">
        <img style="float:left" id="logo" src="{{ absolute_url(asset('images/logomicro_contrato.png')) }}" />
    </div>
    <div class="header-title" > <h2>CONTRATO DE PRESTAMO</h2> </div>
</div>
<div style="text-align: right; font-size: 0.4em ">{{credito.programa.sigla}}</div>
<hr>
{% if credito.programa.individual %} {% set denominacion = 'PRESTATARIO' %}
{% else %} {% set denominacion = 'GRUPO SOLIDARIO' %} {% endif %}
{% set domCoord=credito.emprendedores[0].emprendedor.direccion %}
<div class="content-box" style="clear:both">
    <p>Entre {{representante.nombre}}, D.N.I. {{representante.descripcion}}, representando a Asociación Jardín de los Niños, 
        con domicilio en Manzana D, Barrio San Jorge, Posadas en adelante "ONG" y, por otra parte,<strong> 
            {% if credito.programa.individual %} &nbsp;  {% else %} 
                el grupo con denominación {{credito.grupo}} - {{credito.grupo.codigo}} conformado por
            {% endif %}
    {% for emp in credito.emprendedores %}
          {% if emp.coordinador %}{% set domCoord=emp.emprendedor.direccion %}{% endif %}
        el señor/a {{emp}}, D.N.I. {{emp.emprendedor.dni}} con domicilio en {{emp.emprendedor.direccion}} de la ciudad de Posadas (CP 3300),
     {% endfor %} 
        </strong>
        mayores de edad y hábiles por derecho, quienes constituyen domicilio especial para todos los efectos del presente en <strong>{{domCoord}}</strong>
        , en adelante denominados el <strong>{{denominacion}}</strong>, convienen en celebrar el presente contrato de préstamo, sujeto a las siguientes y cláusulas y condiciones:
        <br>
        </p>
        <p>
        <strong>PRIMERA: </strong>de conformidad con la aprobación del comité de Gestión local y en mérito al presente contrato, 
        la ONG LOCAL da en préstamo al <strong>{{denominacion}}</strong> la suma de <strong> $ {{credito.montoCredito}} ({{letras}})</strong>, 
        entregados en este acto, sirviendo el presente de suficiente recibo, los que serán devueltos en <strong>{{credito.cantCuotas}}</strong> cuotas,
        cada <strong>{{credito.periodo}}</strong> días, de <strong>$ {{montoCuota}}</strong>, pagaderas a partir de <strong>{{credito.fechaVtoCuota1|date('d/m/Y')}}</strong>, 
        comprensivas del capital, interés, más gastos administrativos, que se consideren, de acuerdo a lo que surge de la planilla "Anexo A", que resulta parte integrante del presente contrato. 
        Se deja constancia que el capital prestado devengará un interés del {{credito.porcInteres}} % nominal anual. El pago de capital, interés y gastos administrativos, de cada cuota del presente préstamo 
        deberá efectuarse el día de su vencimiento en pesos en efectivo, mediante pagos en el domicilio de la ONG. 
    </p>
    <p><strong>SEGUNDA: </strong>los prestarios garantizan el fiel cumplimiento de las obligaciones que asumen con el presente contrato con todos sus bienes, 
        habidos y por haber de manera especial señalada con la garantía solidaria, mancomunada e indivisible de todos los componentes del grupo conformado, 
        asumiendo cada uno de ellos igualmente el pago total de la deuda señalada en la cláusula primera del presente contrato.
    </p>
    <p><strong>TERCERA: </strong>en caso de incumplimiento de cualquiera de las obligaciones asumidas por el <strong>{{denominacion}}</strong>, 
        ya sea en el pago en el tiempo y forma pactadas de cualquiera de las cuotas establecidas en la cláusula primera o en las obligaciones asumidas en la
        cláusula tercera, el <strong>{{denominacion}}</strong> quedará constituido automáticamente en mora de pleno derecho, sin necesidad de interpelación previa, 
        caducando todos los plazos establecidos el presente pudiendo ser exigida por ONG la totalidad del capital e interés, con más un interés punitorio del 
        {{credito.textoPunitorioParaContrato}}. Se establece también, para el caso de mora, la capitalización mensual de los 
        intereses compensatorios y punitorios.
    </p>
    <p><strong>CUARTA:</strong> El <strong>{{denominacion}}</strong> se compromete a destinar el capital prestado a procesos productivos, no pudiendo ser destinados para 
        usos personales ni para cualquier otro, en virtud de lo cual, los representantes de ONG  debidamente autorizados, tendrán libre acceso toda vez 
        que lo estimen necesario, con el objeto de examinar las mejoras introducidas al negocio.
    </p>
    <p><strong>QUINTA: </strong>para todos los efectos emergentes del presente contrato, se establece la jurisdicción exclusiva de los Tribunales 
        Ordinarios de la Provincia de Misiones, renunciando las partes a cualquier otra Jurisdicción que pudiere corresponder.
    </p>
    <p>En prueba de conformidad se firman dos (2) ejemplares de un mismo tenor y a un solo efecto, en Posadas, el día {{fechaFirma}}.</p>
</div>
<div class="firma">
{% for emp in credito.emprendedores %}
        <div class="firmaInd{% if credito.emprendedores|length>2 %}30{%else%}50{%endif%}">
    <div class="linea{% if credito.emprendedores|length>2 %}30{%else%}50{%endif%}">_______________________________</div>
    <div> <p class="nombre">{{emp}}</p> <p>D.N.I. N&deg; {{emp.emprendedor.dni}}</p> </div>
        </div>    
        
    {% if emp.garante %}
        <div class="firmaInd{% if credito.emprendedores|length>2 %}30{%else%}50{%endif%}">
    <div class="linea{% if credito.emprendedores|length>4 %}30{%else%}50{%endif%}">_______________________________</div>
    <div> <p class="nombre">{{emp.garante}}</p> <p>D.N.I. N&deg; {{emp.garanteDni}}</p> </div>
        </div>    
    {% endif %}
{% endfor %}
</div> 
<div class="divhr" ></div>
<div class="firmaResp {% if credito.emprendedores|length<=4 %}add{%endif%}">
    <div> <label class="resp">{{representante.nombre}}</label> <br> <label>D.N.I. N&deg; {{representante.descripcion}}</label> 
         <label class="asoc">Asociación Jardín de los Niños</label>
    </div>
</div>   

<div class="break"></div>

<div style="text-align: center;">
    <div class="header2">
        <div class="header-title"> <h2>ANEXO A</h2> </div>
    </div>
    <hr>
    <div id="div_integrantes">
        <div style="margin-top:50px" class="content-box">
            <div class="content-box-content">
                <table>
                    <thead>
                        <tr><th style="width: 60%">Integrantes</th>
                            <th class="align-center" style="width: 40%">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for emp in credito.emprendedores %}
                            <tr>
                                <td> {{emp}} </td>
                                <td class="monto">{{emp.montoCredito}}</td>
                            </tr>  
                        {% endfor %}
                    </tbody>
                    <tfoot><tr><td>&nbsp;</td><td class="monto"><strong>{{credito.montoCredito}}</strong></td></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="break"></div>

<div class="header">
<div class="logo">
    <img style="float:left" id="logo" src="http://microcreditos/images/logomin.png" />
</div>
<div class="header-title"> <h3>ASOCIACIÓN<br>JARDIN DE LOS NIÑOS</h3> </div>
</div>
<hr>
<div style="margin-top:50px" class="content-box">
    <div class="content-box-content">
        <div style="width: 80%; margin: auto; clear: both ">
            <h4 style="display: block; font-style: italic; text-align: right; width: 100%;">Pagaré</h4>
            <label style="display:inline-block; font-size: 1.4em"><strong>{{credito.grupo}}</strong></label>
            <label style="display: inline-block; float: right; margin: 10px 50px;">Por $ {{credito.montoCredito}} ({{letras}})</label>
            <br>
            <label style="display: block;  margin: 25px 50px; text-align: right; width: 85%;">Posadas, {{fechaFirma}}.-</label>
            <p style="margin: 30px 0;text-indent: 90px;">A LA VISTA pagaré sin protesto (art. 50 del decreto ley 5965/63) a Asociación Jardín de los Niños o a su orden, 
                la cantidad de {{letras}} por igual valor recibido en razón de crédito más interés a nuestra entera satisfacción. 
                Conforme a lo establecido en el art. 5 del decreto ley 5965/63 al presente pagaré se le adicionara desde la fecha de 
                su presentación y no pago, un interés punitorio del {{credito.porcPunitorio}}% mensual, calculado sobre el monto adeudado.
                Asimismo de conformidad con lo dispuesto por el art. 36  del decreto ley 5965/63 se amplía el plazo de presentación hasta
                el plazo de 10 años a contar desde el libramiento.
            </p>
            <p style="margin: 0;">El presente sera pagadero en la sede de la Asociación Jardín de los Niños, 
                con domicilio en el Barrio San Jorge, Posadas, Misiones.
            </p>
        </div>
        
    </div>
</div>
<div id="divFirmasPagare">
{% for emp in credito.emprendedores %}
        <div style="width: 48%; display: inline-block;">
            <p><label>Firma:</label> _______________________</p>
            <p><label>Nombre:</label> <strong>{{emp}}</strong></p>
            <p><label>Documento:</label> {{emp.emprendedor.dni}}</p>
            <p><label>Domicilio:</label> {{emp.emprendedor.direccion}}</p>
        </div>        
       {% if emp.garante %}
        <div style="width: 48%; display: inline-block;">
            <p><label>Firma:</label> _______________________</p>
            <p><label>Nombre:</label> <strong>{{emp.garante}}</strong></p>
            <p><label>Documento:</label> {{emp.garanteDni}}</p>
            <p><label>Domicilio:</label> {{emp.garanteDireccion}}</p>
        </div> 
       {% endif %} 
{% endfor %}
</div>