{% extends "Default/baseListEntity.html.twig" %}
{% set morosos,incobrables=false,false %}
{% set solicitud=false %}
{% if app.request.attributes.get('_route') == 'solicitud' %} 
{% set title='Solicitudes' %} {% set solicitud=true %} {% set estado=0 %}
{% elseif app.request.attributes.get('_route') == 'morosos' %} {% set title='Morosos' %} {% set morosos=true %} {% set estado=2 %}
{% elseif app.request.attributes.get('_route') == 'incobrables' %} {% set title='Incobrables' %} {% set incobrables=true %} {% set estado=3 %}
{% else %} {% set title='Créditos' %} {% set solicitud=false %} {% set estado=1 %} {% endif %}

{% block filterBox %} 
     {% include 'MicrocreditosBundle:Credito:creditoFilter.html.twig' %}
{% endblock %}

{% block titleList %} Listado de {{ title }} {% endblock %}

{% block opList %}<button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('credito_opList',{'estado': estado }) }}" >Opciones de Listado</button>{% endblock %}

{% block totalList %} Total de {{ title }}: <strong>{{entities.getTotalItemCount}}</strong> {% endblock %}

{% block thList %}
<th class="align-center">Crédito N&deg;</th>
<th class="align-center">Carpeta N&deg;</th>
<th>Programa</th>
<th>Grupo / Emprendedor</th>
<th class="align-center">Fecha</th>
<th class="align-center">Entrega</th>
<th>Monto</th>
<th class="align-center">Cuotas</th>
{% if not solicitud %}
<th class="align-center">Ult. Pago</th>
{% endif %}
{% if estado in [2,3] %}
<th class="align-center">1° Vto Impago</th>
{% endif %}

<th><a href="{{ path('credito_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td class="align-center"><a href="{{ path('credito_show', { 'id': entity.id }) }}">{{ entity.nroCredito }}-{{ entity.nroRenovacion }}</a></td>
            <td class="align-center">{{ entity.nroCarpeta }}</td>
            <td>{{ entity.programa }}</td>
            <td>{% if entity.grupo %}{{ entity.grupo }} [{{ entity.emprendedores|length }}] {% else %} {{ entity.emprendedor }} {% endif %} </td>
            <td class="align-center">{{ entity.fechaCredito|date('d-m-Y') }} </td>
            <td class="align-center">{{ entity.fechaEntrega|date('d-m-Y') }} </td>
            {% if estado==3 %}
            <td class="align-center">{{ entity.montoIncobrable }}</td>
            {%else%}
            <td class="align-center">{{ entity.montoCredito }}</td>
            {%endif%}
            <td class="align-center">{% if not solicitud %}{{ entity.ultimaCuotaPaga }}/{% endif %}{{ entity.getCantidadCuotaCredito }} </td>
            {% if not solicitud %}
            <td class="align-center">{% if entity.ultimoPago is not null %}{{ entity.ultimoPago|date('d-m-Y') }} {% endif %} </td>
            {% endif %}
            {% if estado in [2,3] %}
            <td class="align-center">{{entity.primerVtoImpago|date('d-m-Y')}}</td>
            {% endif %}
            <td>
                <a href="{{ path('credito_show', { 'id': entity.id }) }}" class="action credit" title="Ver">
                    Ver
                </a>
                {% if not entity.incobrable %}    
                   {% if ((entity.ultimaCuotaPaga == entity.getCantidadCuotaCredito-1) and entity.renovado == 0 )
                        or (entity.cancelado and entity.renovado == 0) 
                        or (entity.aprobado and entity.renovado == 0) %}
                <a href="{{ path('credito_renovar', { 'id': entity.id }) }}" class="action renew" title="Renovar Crédito">
                    Renovar
                </a>
                    {% endif %}
                    {% if entity.renovado > 0 %}
                <a href="{{ path('credito_show', { 'id': entity.renovado }) }}" class="action verrenov" title="Ver Renovación">
                    Ver Renovación
                </a>
                    {% endif %}
               {% else %}
                   {% if estado != 3 %}
                   <a href="javascript:void(0)" class="action incobrableicon" title="Incobrable">Incobrable </a>
                   {% endif %}
               {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}