{% extends "Default/baseEditEntity.html.twig" %}


{% block content %}
<style>

	{
		# .emprendedor-list {
			list-style: none;
			padding: 0;
		} #
	}

	.emprendedor-item {
		margin-bottom: 20px;
		padding: 15px;
		border: 1px solid #ddd;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		background-color: #f9f9f9;
	}

	.cuotas-list {
		list-style: none;
		padding: 0;
		margin: 10px 0;
	}

	.cuota-item {
		display: flex;
		align-items: center;
		margin: 5px 0;
	}

	.cuota-checkbox {
		margin-right: 5px;
	}

	.submit-button {
		margin: 0 auto;
		display: block;
		padding: 10px 20px;
		color: white;
		background-color: green;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	.narrow-container {
		max-width: 600px; /* Adjust the width as needed */
		margin: 0 auto;
	}
</style>

{{ form_start(form) }}
<div class="my-custom-class-for-errors">
	{{ form_errors(form) }}
</div>
{{ form_row(form.file) }}
{{ form_row(form.Subir) }}
{{ form_end(form) }}


{% if cuotasEmisores is defined %}

	{% if cuotasEmisores is empty %}
		<h1 style="color: black;">
			No existen coincidencias con los CUITS encontrados en el excel!</h1>
	{% else %}

		<form method="post" action="process_form">

			<div class="narrow-container">
				{% for item in cuotasEmisores %}
					<li class="emprendedor-item">
						<strong>Emprendedor:</strong>

						{{ item.emprendedor.nombres }}
						<br>
						<table class="cuotas-table">
							<thead>
								<tr>
									<th>Número de Cuota</th>
									<th>Vencimiento</th>
									<th>Saldo</th>
									<th>Monto total</th>
									<th>Ingresar Pago</th>
								</tr>
							</thead>
							<tbody>
								{% for cuota in item.cuotas %}
									<tr></tr>
								</td>
								<td>{{ cuota.nroCuota }}</td>
								<td>{{ cuota.fechaVencimiento | date('d-m-Y')}}</td>
								<td>{{ cuota.saldo }}</td>
								<td>{{ cuota.montoTotal }}</td>
								<td>
									<a href="{{ path('credito_ingresar_pago', { 'id': cuota.credito~'-'~cuota.id~'-'~item.importePagadoExcel}) }}" rel="modal" title="Ingresar Pago">
										<img src="{{ asset('images/icons/ingpago.png') }}" alt="Pago"/>
									</td>
								</td>
							</tbody>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<strong>Importe Pagado:</strong>
			{{ item.importePagadoExcel }}
		</li>
	{% endfor %}
</div></form>{% endif %}{% endif %}{% endblock %}
