<div class="content-box" style="margin-top:15px">
    <div class="content-box-header-mini">
        <h3>Emprendedores</h3>
    </div>
    <div class="content-box-content">
        <table>
            <thead>
            <th style="width: 30%" >Nombre y Apellido</th>
            <th style="width: 5%" ></th>
            <th style="width: 10%" class="align-center">DNI</th>
            <th style="width: 10%" class="align-center">CBU</th>
            <th style="width: 10%" class="align-center">Coordinador</th>
            <th style="width: 10%" class="align-center">Forma de entrega</th>
            <th style="width: 20%" class="align-center">Monto Solicitado</th>
            <th style="width: 15%" class="align-center">Gasto Administrativo</th>
            <th style="width: 10%" class="align-center actions">
                {% if not individual %}
              <!--  <span title="Nuevo" id="emprendedor_credito_new" class="action mini-add" 
                      onclick="">Nuevo</span>-->
                    {% endif %}
            </th>
            </thead>
            <tbody>
                    {% include 'Credito/_partial_emprendedor.html.twig' with {'emprendedores': emprendedores, 'individual':individual }  %}
            </tbody>
        </table>
    </div>
</div>