{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2 id="title-solicitud">Solicitud de Crédito </h2>{% endblock %}
{% block pathback %}   {{ path('solicitud')  }}  {% endblock %}
{% block pathCreate %} {{ path('credito_create') }}    {% endblock %}

{% block formContent %}
{% set empvalue = '' %}
{% if entity.nroRenovacion %}
    {% if entity.emprendedor.emprendedor.id is defined %}
        {% set empvalue = entity.emprendedor.emprendedor.id %}
    {% endif %}
    {% include "Credito/_partial_renovar.html.twig" %}
{% else %}
    {% include "Credito/_partial_nuevo.html.twig" %}
{% endif %}

<p class="submit-block">
   <button type="button" id="simularCuotas"  class="button">Simular Cuotas</button>
</p>

<div id="div_cuota" > </div>

<script type="text/javascript">

    var topeMaximo = 0;
    var cuotasSemanales = false;
    var cuotasMensuales = false;
    var maximoCuotasSemanales = 0;
    var maximoCuotasMensuales = 0;
    var porcGastosAdm = 0;

    $(document).ready(function(){

        initForm();

        $('[type="submit"]').html('GENERAR LA SOLICITUD');
        $('[type="submit"]').hide();

        $('[type="submit"]').click(function(){
            if( $('input:required:invalid').attr('id')){
                alert('Debe ingresar todos los datos para continuar');
                $('input:required:invalid').focus();
                return false;
            };
            var total = $('#credito_monto_credito').val();
            var suma=0;

            $("[id*='monto_credito_']").each(function (index, domEle) {
                suma = suma + parseInt($(domEle).val());
            });
            console.log(total,suma);
            if(total!=suma){
               alert('El monto de crédito no está correctamente repartido entre los emprendedores ');
               return false;
            }
            if (confirm('Confirma la generación de la solicitud?'))
                return true;
            return false;
        });


        $('#simularCuotas').click(function(){
            var creditoValue = $("[id*='fecha_credito']").val().split('-');
            var entregaValue = $("[id*='fecha_entrega']").val().split('-');
            var cuota1Value = $("[id*='fecha_vto_cuota1']").val().split('-');
            var creditoDate=new Date();
            creditoDate.setFullYear(creditoValue[2],(creditoValue[1] - 1 ),creditoValue[0]);
            var entregaDate=new Date();
            entregaDate.setFullYear(entregaValue[2],(entregaValue[1] - 1 ),entregaValue[0]);
            var cuota1Date = new Date();
            cuota1Date.setFullYear(cuota1Value[2],(cuota1Value[1] - 1 ),cuota1Value[0]);
            if( creditoDate>entregaDate ){
                alert('La fecha de creación del crédito no puede ser mayor a la fecha de entrega!!');
                $("[id*='fecha_credito']").focus();
                return false;
            }

            {% if entity.nroRenovacion  %}
            {% else %}
            if (parseInt($('#credito_programa').val()) < 0) {
                alert('Debe Seleccionar un Programa');
                $("#credito_programa").focus();
                return false;
            }
            {% endif %}


            if( document.getElementById('credito_grupo').disabled == false){
                if (parseInt($('#credito_grupo').val()) < 0) {
                    alert('Debe Seleccionar un Grupo');
                    $("#credito_grupo").focus();
                    return false;
                }
            }

            if(entregaDate>cuota1Date){
                alert('La fecha de 1° vencimiento no puede ser menor a la fecha de entrega!!');
                $("[id*='fecha_vto_cuota1']").focus();
                return false;
            }

            if( $('input:required:invalid').attr('id')){
                alert('Debe ingresar todos los datos para continuar');
                $('input:required:invalid').focus();
                return false;
            };
            $('#loading').fadeIn();
            $.ajax({
                url: '{{path("simulacion_cuotas")}}',
                data: $('form').serialize(),
                async:false,
                dataType: 'json',
                success: function(data){
                    if(data.msg=='VALIDO'){  $('[type="submit"]').show();  }
                    $('#div_cuota').html(data.partial);
               }
           });
           $('#loading').fadeOut();
        });

        $('#credito_fecha_entrega').change(function(){

            var str = $('#credito_fecha_entrega').val()
            var res = str.split("-");
            var theDate = new Date(res[2], parseInt(res[1])-1, res[0]);
            var myNewDate = new Date(theDate);
            myNewDate.setDate(myNewDate.getDate() + parseInt($('#credito_periodo').val()));

            $('#credito_fecha_vto_cuota1').val(
                pad(myNewDate.getDate()) + '-' +
                pad(myNewDate.getMonth()+1) + '-' +
                pad(myNewDate.getFullYear())
            );

        });

        {% if entity.nroRenovacion  %}
        {% else %}
        $('#credito_programa').change(function(){
            $('#loading').fadeIn();
            $.ajax({
                url: $(this).attr('url'),
                data: 'id='+$(this).val(),
                async:false,
                dataType: 'json',
                success: function(data){
                    changePrograma(data);
               }
           }).fail(function() {
               $('#loading').fadeOut();
               alert("No es posible realizar esta operación en este momento.");
            });
        });
        {% endif %}

        $('#credito_grupo').change(function(){
            selectGrupo($(this).val())
            $('#div_cuota').html('');
        });

        {#$('.chkgasto').change(function(){#}
            {#var periodo = $("#credito_periodo").val();#}
            {#var total = 0;#}
            {#if( !isEmpty(periodo) ){#}
                {#$('[id^="monto_credito_"]').each(function (index,domEle){#}
                    {#monto = $(domEle).val();#}
                    {#if( monto!='' ){#}
                        {#$.ajax({#}
                        {#url: '{{ path('credito_get_gastoadm') }}',#}
                        {#data: 'monto='+monto+'&periodo='+periodo,#}
                        {#dataType: 'json',#}
                        {#success: function(data){#}
                             {#id = $(domEle).attr('id').replace('monto_credito_','gasto_administrativo_');#}
                             {#$('#'+id).val(data);#}
                             {#total = total + (data*1);#}
                             {#$('#credito__gasto_administrativo').val(total);#}
                           {#}#}
                        {#});#}
                    {#}#}
                {#});#}
            {#}#}

        {#});#}
        $('input').bind('keydown',function(e){  if(e.which==13){ return false; } });

        $('#credito_cant_cuotas').on('input', function () {
            console.log(this);
            var value = $(this).val();
            if ((value !== '') && (value.indexOf('.') === -1)) {
                console.log(value);
                if(cuotasSemanales){
                    $(this).val(Math.max(Math.min(value, maximoCuotasSemanales),0));
                }
                if(cuotasMensualess) {
                    $(this).val(Math.max(Math.min(value, maximoCuotasMensuales),0));
                }
            }
        });

    });

    function pad(digits) {
        return digits.toString().length === 1 ? '0' + digits.toString() : digits;
    }

    function changePrograma(data){

        topeMaximo = data.montoTope;
        if(data.cuotasSemanal){
            cuotasSemanales = true;
            maximoCuotasSemanales = data.cuotaTopeSemanal;
            $('#credito_cant_cuotas').val(maximoCuotasSemanales);
        }
        if(data.cuotasMensuales) {
            cuotasMensuales = true;
            maximoCuotasMensuales = data.cuotaTopeMensual;
            $('#credito_cant_cuotas').val(maximoCuotasMensuales);
        }

        console.log(data);

        if (data.individual == true){
            $('#credito_grupo').val('-1');
            $('#credito_grupo').select2().trigger('change');
            $('#credito_grupo').attr('disabled','true');
            $('#div_emprendedores').html('');
            $('#credito_grupo').val(null)

        } else {
            $('#credito_grupo').removeAttr("disabled");
        }

        $('#credito_porc_interes').val(data.porcInteres);
        $('#credito_porc_punitorio').val(data.porcPunitorio);
        $('#credito_gasto_administrativo').val(data.gastoAdministrativo);

        porcGastosAdm = parseFloat(data.porcGastosAdm.replace(",","."))
        // porcGastosAdm  = data.porcGastosAdm;
        document.getElementById('porcentaje').innerHTML= '( % '+porcGastosAdm+')';

        if(data.cuotasSemanal){
            $('#credito_periodo').val(7);
        }
        if(data.cuotasMensuales) {
            $('#credito_periodo').val(30);
        }
        $('#div_cuota').html('');
        $('#credito_grupo').focus();
        $('#loading').fadeOut();
    }

    function selectGrupo(id){
        $('#loading').fadeIn();
        var data = '';

        if( parseInt(id) >0 ) {
            data = 'id=' + id;
        }
        if('{{empvalue}}')
            data = data+'&empId='+'{{empvalue}}';
        //Buscar emprendedores
        $.ajax({
            url: '{{path("emprendedores_grupo")}}',
            data: data,
            dataType: 'json',
            success: function(data){
                $('#div_emprendedores').html(data);
                $('#div_emprendedores').fadeIn();
                $('#loading').fadeOut();

            }
        }).fail(function() {
            $('#loading').fadeOut();
            $('#div_emprendedores').html('');
        });
    }

    function initForm() {
        $('.datepicker').datepicker({changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            beforeShowDay: $.datepicker.noWeekends});

        addOptionEmptyToSelect('credito_programa');
        addOptionEmptyToSelect('credito_grupo');

        $('#credito_grupo').select2({
            placeholder: 'Seleccione una opción'
        });

        $('#credito_grupo').attr('disabled','true');
    }

    function addOptionEmptyToSelect(name){
        // get reference to select element
        var sel = document.getElementById(name);
        // create new option element
        var opt = document.createElement('option');
        // create text node to add to option element (opt)
        opt.appendChild( document.createTextNode('Seleccione una opción') );
        // set value property of opt
        opt.value = -1;
        // add opt to end of select box (sel)
        sel.prepend(opt);
        // $('#'.name).val('-1').change();
        document.getElementById(name).value = -1;
    }

</script>     
        
        
{% endblock %}