
{% extends "layout.html.twig" %}

{% block content %} 
<!--entity.fechaVtoCuota1 >= date('now') and-->
{% if not entity.aprobado  %}
    {% set editable = 1 %} {% else %} {% set editable = 0 %} {% endif %}
<div class="clearHeight"></div>
{% if entity.aprobado %}<h2>Crédito</h2> {% else %} <h2 id="title-solicitud">Solicitud de Crédito</h2> {% endif %}
    {% include 'Default/notification.html.twig' %}
<div class="content-box">
    <div class="content-box-header">
        <h3> {{ entity.title}}    </h3>
        <ul class="content-box-tabs">
            <li><a href="#tab1" class="default-tab"><strong>CREDITO</strong></a></li> 
            {% if entity.nroRenovacion>0 %}<li><a href="#tab2" >Histórico</a></li>{% endif %}
        </ul>
        <span class="align-right back">
            <a href="{% if entity.aprobado %}  {{path('credito')}} {% else %} {{path('solicitud')}} {% endif %}" class="button">Volver al Listado</a>
        </span>
    </div> <!-- End .content-box-header -->

    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">   
            {% if editable or app.user.username=='ADMIN' %}
            <div class="align-right">
                {% if is_granted('ROLE_ADMIN') and app.user.username=='ADMIN' %}
                <form action=" {{path('credito_delete', { 'id': entity.id })}}" method="post" id="deleteCredito">
                    {{ form_widget(delete_form) }}
                        <button id="btnDelCredito" style="padding: 35px 0 12px 63px" type="button" title="Eliminar Crédito" class="action deleteMax">Eliminar</button>
                </form>
                {% endif %}
            </div>   
                {% endif %}  
            <div class="align-right">
                <a href="{{path('list_turnos', { 'id': entity.id })}}" rel="modal" class="button" style="text-align: center ">
                    <img src="{{ asset('images/icons/turnos.png') }}" alt="Cuotas" /> 
                    <div>Turnos</div>
                </a>

                    {% if not entity.aprobado %}
                <a href="{{path('imprimir_solicitud', { 'id': entity.id })}}" class="button" style="text-align: center ">
                    <img src="{{ asset('images/icons/folder.png') }}" alt="Solicitud" /> 
                    <div>Solicitud</div>
                </a>   {% endif %} 
                  {#  {% if entity.aprobado %} #}
                <a href="{{path('imprimir_cuotas', { 'id': entity.id })}}" class="button" style="text-align: center ">
                    <img src="{{ asset('images/icons/cuotaslist.png') }}" alt="Cuotas" /> 
                    <div>Cuotas</div>
                </a>
                {#{% endif %}#}
                <a href="{{path('imprimir_contrato', { 'id': entity.id })}}" class="button" style="text-align: center ">
                    <img src="{{ asset('images/icons/folder.png') }}" alt="Contrato" /> 
                    <div>Contrato</div>
                </a>
            </div>
                <form>    
                    <fieldset>
                        <p>
                            <label>Crédito N°:</label>
                            <input type="text" value="{{entity.nroCredito}}" class="text-input mini-input" disabled="disabled"> 
                            <label>Renovación N°:</label>
                            <input type="text" value="{{entity.nroRenovacion}}" class="text-input fixmini20-input" disabled="disabled"> 
                            <label>Carpeta N°:</label>
                            <input type="text" value="{{entity.nroCarpeta}}" class="text-input fixmini40-input" disabled="disabled">
                            <label>Fecha Solicitud:</label>
                            <input type="text" value="{{entity.fechaCredito | date('d-m-Y')}}" class="text-input date-input" disabled="disabled">
                        </p>
                        <p>    
                            <label>Asesor:</label>
                            <input type="text" value="{{entity.asesor}}" class="text-input smaller-input" disabled="disabled">
                            <label>Fecha Entrega:</label>
                            <input type="text" value="{{entity.fechaEntrega | date('d-m-Y')}}" class="text-input date-input" disabled="disabled">
                        </p>
                        </fieldset>
                        <fieldset>
                        <p>
                            <label>Programa:</label>
                            <input type="text" value="{{entity.programa}}" class="text-input smaller-input" disabled="disabled">
                            <label>Grupo:</label>
                            <input value="{{entity.grupo}}" class="text-input small-input" disabled="disabled"> 
                            <label>Recomendado por:</label>
                            <input value="{{entity.recomendador}}" class="text-input smaller-input" disabled="disabled"> 
                        </p>
                        </fieldset>
                        <fieldset>
                        <div id="div_emprendedores"><div style="margin-top:10px" class="content-box">
                                <div class="content-box-header-mini">
                                    <h3>Emprendedores</h3>
                                </div>
                                <div class="content-box-content">
                                    <table>
                                        <thead>
                                            <tr><th style="width: 30%">Nombre y Apellido</th>
                                                <th class="align-center" style="width: 15%">DNI</th>
                                                <th class="align-center" style="width: 10%">Coordinador</th>
                                                <th class="align-center" style="width: 10%">Forma de entrega</th>
                                                <th class="align-center" style="width: 20%">Monto Solicitado</th>
                                                <th class="align-center" style="width: 15%">Gasto Administrativo</th>
                                            </tr></thead>
                                        <tbody>
                                            {% for emprendedor in entity.emprendedores %}
                                                <tr>
                                                    <td> <input value="{{emprendedor}}" class="text-input large-input" disabled="disabled"></td>
                                                    <td class="align-center">{{emprendedor.emprendedor.dni}}</td>
                                                    <td class="align-center"> <input type="checkbox" {% if emprendedor.coordinador %}checked="checked"{%endif%} disabled="disabled">
                                                    </td>
                                                    <td class="align-center">
                                                        <input type="text" class="text-input medium-input" value="{% if emprendedor.isCredito == 1 %}Crédito{% else %}Efectivo{% endif %}" disabled="disabled">
                                                    </td>
                                                    <td class="align-center"> <input type="text" class="text-input medium-input" value="{{emprendedor.montoCredito}}" disabled="disabled"></td>
                                                    <td class="align-center"> <input type="text" class="text-input fixmini40-input" value="{{emprendedor.gastoAdministrativo}}" disabled="disabled"></td>
                                                    <td class="align-center"> </td>
                                                </tr>  

                                                <tr>
                                                    <td><label style="padding-left: 0">Garante:</label><input value="{{emprendedor.garante}}" type="text" class="text-input medium-input" style="width: 70% !important " disabled="disabled"/></td>
                                                    <td colspan="2"> <label>DNI:</label> <input value="{{emprendedor.garanteDni}}" type="text" class="text-input medium-input" disabled="disabled"/></td>
                                                    <td colspan="3"><label>Dirección:</label>  <input value="{{emprendedor.garanteDireccion}}" type="text" class="text-input medium-input" style="width: 60% !important " disabled="disabled"/></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"> <label style="padding-left: 0">Empleador Nombre:</label><input value="{{emprendedor.garanteEmpleadorNombre}}" type="text" class="text-input medium-input" style="width: 70% !important " disabled="disabled"/></td>
                                                    <td colspan="2"> <label>Empleador Cuit:</label> <input value="{{emprendedor.garanteEmpleadorCuit}}" type="text" class="text-input medium-input" disabled="disabled"/></td>
                                                    <td colspan="2"><label>Ingresos:</label>  <input value="{{emprendedor.garanteIngresos}}" type="text" class="text-input medium-input" style="width: 60% !important " disabled="disabled"/></td>
                                                </tr>
                                                {% if entity.programa.individual  %}
                                                <tr>
                                                    <td><label style="padding-left: 0">Teléfonos:</label><input value="{{emprendedor.garanteTelefono}}" type="text" class="text-input medium-input" style="width: 70% !important " disabled="disabled"/></td>
                                                    <td colspan="2"><label>Ocupación:</label>  <input value="{{emprendedor.garanteOcupacion}}" type="text" class="text-input medium-input" disabled="disabled"/></td>
                                                    <td colspan="3"><label>Lugar de Trabajo:</label>  <input value="{{emprendedor.garanteLugarTrabajo}}" type="text" class="text-input medium-input" style="width: 60% !important " disabled="disabled"/></td>
                                                </tr>
                                                {% endif %}
                                                <tr><td colspan="6"><hr/></td></tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <label>Monto total:</label>
                                <input type="text" class="text-input fixmini40-input" value="{{entity.montoCredito}}" disabled="disabled">
                                <label>Cantidad de Cuotas:</label>
                                <input type="text" class="text-input fixmini20-input" value="{{entity.getCantidadCuotaCredito}}" disabled="disabled">
                                <label>Periodicidad de Pago:</label>
                                cada <input type="text" value="{{entity.periodo}}" class="text-input fixmini20-input" > días
                                {% if not entity.aprobado %}
                                <label>Vencimiento 1° cuota:</label>
                                <input type="text" class="text-input date-input" value="{{entity.fechaVtoCuota1 | date('d-m-Y')}}" disabled="disabled">
                                {% endif %}
                            </p>
                            <p>
                                <label>Interés:</label>
                                <input type="text" class="text-input fixmini40-input" value="{{entity.porcInteres}}" disabled="disabled"><label> % anual &nbsp; - &nbsp;</label>
                                <label>Punitorio por Mora:</label>
                                <input type="text" class="txt-input fixmini40-input" value="{{entity.porcPunitorio}}" disabled="disabled"><label>% mensual &nbsp; - &nbsp;</label>
                                <label>Gasto Administrativo Total:</label>
                                <label>$ &nbsp;</label><input type="text" class="text-input fixmini40-input" value={{entity.gastoAdministrativo}}>
                            </p>  
                            <p>
                                <label>Sin Intereses:</label>
                                <input type="checkbox" {% if entity.sinIntereses %}checked="checked"{%endif%} disabled="disabled">
                                <label>Sin Gastos:</label>
                                <input type="checkbox" {% if entity.sinGastos %}checked="checked"{%endif%} disabled="disabled">
                                {% if entity.sinPunitorios %}<small style="color:grey; margin-left:10px"> Marcado como sin punitorios </small>{%endif%}
                            </p>  
                            {% if entity.aprobado %}
                            {%if entity.refinanciaciones|length>0%}   
                                <div style="margin-top:10px;" class="content-box">
                                <div class="content-box-header-mini">
                                    <h3>Refinanciaciones</h3>
                                </div>
                                <div class="content-box-content">
                                    <table>
                                        <thead>
                                            <tr><th class="align-center" style="width: 20%">Fecha Refinanciación</th>
                                                <th class="align-center" style="width: 20%">Cantidad de Cuotas</th>
                                                <th class="align-center" style="width: 20%">Periodicidad de Pago</th>
                                                <th class="align-center" style="width: 15%">Monto Punitorios</th>
                                                <th class="align-center" style="width: 20%">Monto Refinanciado</th>
                                                <th class="align-center" style="width: 5%"></th>
                                            </tr></thead>
                                        <tbody>
                                            {% for refinanciacion in entity.refinanciaciones %}
                                                <tr>
                                                    <td class="align-center">{{refinanciacion.fechaRefinanciacion | date('d-m-Y')}}</td>
                                                    <td class="align-center">{{refinanciacion.getCantidadCuotaCredito}}</td>
                                                    <td class="align-center">{{refinanciacion.periodo}} días</td>
                                                    <td class="align-center">{{refinanciacion.punitorios| number_format(2,'.','')}}</td>
                                                    <td class="align-center">{{refinanciacion.montoRefinanciado| number_format(2,'.','')}}</td>
                                                    <td class="align-center">
                                                        {% if loop.index == entity.refinanciaciones|length %}
                                                        <a href="{{ path('credito_modificar_vencimientos', { 'id': refinanciacion.id }) }}"
                                                                                title="Modificar fechas de vencimiento" rel="modal"><img alt="M" width="20" src="{{ asset('images/icons/calendar.png') }}"></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>  
                                            {% endfor %}
                                            </tbody>
                                        </table>  
                                    </div>
                                </div> 
                            {%endif%}    
                            
                            <div class="clearfix" style="text-align:right">
                                {% if esMoroso and not entity.incobrable and is_granted('ROLE_SUPERIOR_CREDITO') %}
                                    <a href="{{ path('credito_refinanciar', { 'id': entity.id }) }}" rel="modal" title="Refinanciar el crédito" class="button" >REFINANCIAR</a>
                                    <a href="{{ path('credito_incobrable', { 'id': entity.id }) }}" rel="modal" title="Crédito Incobrable" class="button incobrable" >INCOBRABLE</a>                                    
                                {% endif %}
                                {% if  entity.incobrable %}
                                     <h5 style="width:98%;text-align:left;color:white;background-color:orangered;padding:6px 10px; "> CRÉDITO INCOBRABLE [{{entity.fechaIncobrable|date('d-m-Y')}}] 
                                         <a style="margin-left:10px" href="{{ path('credito_incobrable', { 'id': entity.id }) }}" rel="modal"  title="Cancelar" class="button incobrable" >Cancelar</a>  <h5>    
                                 {% endif %}
                            </div>
                            <div id="div_cuotas">
                                 {% include 'Credito/_partial_cuotas_show.html.twig' %}
                            </div>
                            {% endif %}
                            
                             {% if not entity.aprobado %}<div id="div_cuota" > </div>{% endif %}
                            <div class="align-center">
                                {% if editable %}
                                <button type="button" id="modificarCredito"  class="button" style="margin-right: 15px">MODIFICAR DATOS</button>
                                {% endif %}
                                {% if is_granted('ROLE_SUPERIOR_CREDITO') %}
                                    {% if not entity.aprobado and esRenovacion == 0 %}
                                    <button type="button" id="aprobarCredito"  class="button" style="margin-left: 15px">APROBAR CREDITO</button>
                                    {% endif %}
                                {% endif %}

                            </div>
                            
                            
                        </fieldset>                
                    </form>
                    <div class="clear"></div>
        </div>
        <div class="tab-content" id="tab2"> 
            {% include 'Credito/_partial_historico.html.twig' %}
        </div>
    </div>
</div>    

<script type="text/javascript">    
    $(document).ready(function(){
        $.ajax({
            url: '{{path("get_simulacion_cuota")}}',
            data: 'empId='+'{{ entity.id }}',
            async:false,
            dataType: 'json',
            success: function(data){
                $('#div_cuota').html(data);
           }
       });

       $('#btnDelCredito').click(function(){
           if(1=={{entity.aprobado|number_format(0)}}){
               msg = 'Confirma la eliminación del Crédito? \n \n Se eliminarán definitivamente el crédito y sus cuotas!!';
           }else msg= 'Confirma la elliminación de esta Solicitud?';
           if(confirm(msg))
               $('#deleteCredito').submit();
           else return false;
        });


        $('#aprobarCredito').click(function(){

            var fechaCredito = Date.parse('{{ entity.fechaEntrega | date('Y-m-d')}}');
            var fechaVencimiento = Date.parse('{{ entity.fechaVtoCuota1 | date('Y-m-d') }}');
            var hoy = new Date();

            var dd = hoy.getDate();
            var mm = hoy.getMonth()+1;
            var yyyy = hoy.getFullYear();
            dd=addZero(dd);
            mm=addZero(mm);
            hoy = Date.parse(yyyy+'-'+mm+'-'+dd);

            // if(fechaCredito < hoy){
            //     alert('Para poder aceptar el Crédito debe modificar la Fecha de Entrega del Crédito. Debe ser mayor o igual a la fecha actual');
            // }else if(fechaVencimiento < hoy){
            //     alert('Para poder aceptar el Crédito debe modificar la Fecha del 1er Vencimiento del Crédito. Debe ser mayor o igual a la fecha actual');
            // }else {
                //Controla la fecha
                if (confirm('Confirma la aprobación del crédito?')) {
                    var url = '{{ path('credito_aprobacion', { 'id': entity.id }) }}';
                    window.location.href = url + '?id=' + '{{ entity.id }}';
                }
            // }

        });
        
        $('#modificarCredito').click(function(){  
            var url = '{{ path('credito_edit', { 'id': entity.id }) }}';
            window.location.href=url;
        });
        $('#contrato').click(function(){  
            var url = '{{path('imprimir_contrato', { 'id': entity.id })}}';
            myWindow=window.open(url,"","toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, titlebar=no,copyhistory=no, width=800")
            myWindow.focus();        
        });
     });


    function addZero(i) {
        if (i < 10) {
            i = '0' + i;
        }
        return i;
    }
</script>
{% endblock %}


