
        <style>
                @page { 
                    size: A4 portrait;
                }   
                body{ margin-top: 0;}
                .break { page-break-before: always}
                .header{
                    clear: both;
                    height: 70px;
                }
                .header-title{
                    display: inline-block;
                    text-align: center;
                    width: 85%;
                }
                .logo {
                    float: left;
                    margin-left: 30px;
                    margin-top: 1px;
                    width: 10%;
                }
                h5{text-align: right; font-weight: lighter;margin:0;}
                .align-center{text-align: center}
                .clear {clear: both; height: 50px;}
                p {
                    line-height: 1.3em;
                    margin: 5px 0 0 30px;
                    text-align: justify;
                }
                table{ font-family:'Verdana';
                       font-size: 11px; 
                       width: 95%; 
                       margin:auto;
                       border-spacing: 0;
                }
               /* table tr{ height: 25px; }*/
                table tr th{
                    border: 1px solid gray;
                    padding: 5px;
                    font-size: 11px; 
                }
                table tr td{
                    border: 1px solid gray;
                    padding:0px 5px;
                }       
                table tfoot tr th{ border:none; font-size: 12px; height: 60px}
                .relleno{width: 100%; float: left; border-bottom: 1px solid black;margin-left: 30px;height: 30px;}
                .firma{float: left;border-top: 1px solid black;margin:50px 30px;text-align: center;}
                .firma.integrantes{width: 58%;}
                .firma.asesor{width: 28%;}
                {% if credito.emprendedores | length > 4 and credito.cuotas | length > 15 %}
                table{ font-size: 9px; }
                {% endif %}
                
        </style>
        <div class="header">
                <div class="logo">
                    <img style="float:left" id="logo" src="{{ absolute_url(asset('images/logominctas.png')) }}" />
                </div>
                <div class="header-title"> 
                    <h3>Listado de Cuotas</h3> 
                    <p style="text-align: center; margin-top: -15px;"> <<&nbsp;&nbsp; {% if credito.grupo %}<strong>{{credito.grupo | upper }}</strong>
                    {% else %}<strong>{{credito.emprendedor | upper }}</strong> {% endif %} &nbsp;&nbsp;>> </p> 
                </div>
                
            </div>
        <div style="text-align: right; font-size: 0.4em; margin-top: -10px;">{{credito.programa.sigla}}</div>

        <hr>
        <h5><small>Fecha: {{date('now')|date('d / m / Y H:i')}}</small></h5>
            <p>Crédito N&deg;: <strong>{{credito.nroCredito}}-{{credito.nroRenovacion}}</strong> &nbsp;&nbsp;//&nbsp;&nbsp; Carpeta N&deg;: <strong>{{credito.nroCarpeta}}</strong></p>    
            <p><small>Asesor de Crédito: {{credito.asesor.nombre}}</small></p>    
        {% set emprendedores = credito.emprendedores | length %}
        {% if emprendedores==1 %} 
            {% if credito.emprendedor.garante %}{% set emprendedores = 2 %}  {% endif %}
        {% endif %}
        <div class="clear" style="height: {%if credito.cuotas|length<15%} 30px {%elseif credito.emprendedores|length<4%} 15px {%else%} 5px {%endif%} " >&nbsp;</div>    
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th width="5%"> N&deg;</th>
                    <th width="12%"> Fecha </th>
                    <th width="30%"> Emprendedor </th>
                    <th width="8%"> Cuota </th>
                    <th width="10%"> Total </th>
                    <th width="35%"> Firmas </th>
                </tr>
            </thead>
            <tbody>
                {% for cuota in credito.cuotas %}
                    {% if loop.length>15  %} {% set height = 30 %} {% set totalheight = 60 %} 
                    {% else %} {% set height = 35 %} {% set totalheight = 70 %} 
                    {% endif %}
                    {% if credito.emprendedores | length > 1 %} {% set height = totalheight/credito.emprendedores | length %} {%endif%}
                    <tr>
                        <td class="align-center" rowspan="{{ emprendedores }}"> {{ cuota.nroCuota }} </td>
                        <td class="align-center" rowspan="{{ emprendedores }}"> {{ cuota.fechaVencimiento |date('d-M-Y') }} </td>
                        <td> <div style="min-height: {{height}}px; line-height:{{height}}px;"> {{credito.emprendedores[0]}} </div></td>
                        <td style="text-align: right"> 
                            {% if credito.emprendedores | length == 1 %}
                                  {{cuota.montoTotal+cuota.montoPunitorios+cuota.saldoPunitorios}}
                            {% else %}  
                                {% if cuota.refinanciada==1 %}
                                    {% if credito.emprendedores[0].cuotaRefinanciada>0 %}
                                      {{ credito.emprendedores[0].cuotaRefinanciada | number_format(2,'.','') }} 
                                    {% else %}&nbsp;{% endif %} 
                                {% else %}
                                    {% if credito.emprendedores[0].montoCuota>0 %}
                                      {{ credito.emprendedores[0].montoCuota | number_format(2,'.','') }} 
                                    {% else %}&nbsp;{% endif %}    
                                {% endif %}    
                            {% endif %}    
                        </td>
                        <td style="text-align: right; font-size: 1.2em;" rowspan="{{ emprendedores }}"> <strong>{{cuota.montoTotal+cuota.montoPunitorios+cuota.saldoPunitorios}}</strong> </td>
                        <td class="align-center" rowspan="{{ emprendedores }}">
                            {% if cuota.cancelado %} PAGADO - Fecha: {{cuota.fechaCancelacion |date('d-M-Y')}} 
                            {%elseif cuota.pagado>0 %} SALDO: ${{cuota.saldo | number_format(2,'.','')}}
                            {%else%}&nbsp;{%endif%}
                        </td>                
                    </tr>
                    {% if credito.emprendedores | length > 1 %}
                        {% for i in 2..emprendedores %}
                        <tr style="page-break-inside: avoid;">
                            
                            <td> <div style="min-height: {{height}}px; line-height:{{height}}px;">{{credito.emprendedores[i-1]}}</div> </td>
                            <td style="text-align: right"> 
                                {% if cuota.refinanciada==1 %}
                                    {% if credito.emprendedores[i-1].cuotaRefinanciada>0 %}
                                    {{ credito.emprendedores[i-1].cuotaRefinanciada | number_format(2,'.','') }} 
                                    {% else %}&nbsp;{% endif %} 
                                {% else %}    
                                    {% if credito.emprendedores[i-1].montoCuota>0 %}
                                    {{ credito.emprendedores[i-1].montoCuota | number_format(2,'.','') }} 
                                    {% else %}&nbsp;{% endif %} 
                                {% endif %}    
                            </td>
                        </tr>
                        {% endfor %}
                    {% elseif credito.emprendedor.garante %}    
                        <tr>
                            <td> <div style="min-height: {{height}}px; line-height:{{height}}px;">Garante: {{credito.emprendedor.garante}}</div> </td>
                            <td style="text-align: right"> &nbsp; </td>
                        </tr>
                    {% endif %} 
                {% endfor %}
            </tbody>  
        </table>    
    </body>
</html>


