<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >  
<style>
.align-center{text-align: center}
.align-right{float:right}
.subtotal_entregados {
  border-top: 1px solid #DDDDDD;
  font-weight: bold;
  text-align: right;
}
h5{float:left; font-weight: bold;border-bottom: 2px solid #DDDDDD;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding : 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
</style>
        {% set suma = 0 %}
<table>
                <thead>
                    <tr>
                        <th class="align-center">N&deg; Crédito</th>
                        <th class="align-center">N&deg; Carpeta</th>
                        <th>Programa</th>
                        <th>Grupo/Emp.</th>
                        <th class="align-center">Entrega</th>
                        <th class="align-center">Cuotas</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% set primero,sumaparc,fecha = true,0,'' %}
                    {% for ent in entregados %}
                        {%if primero%}
                            {% set fecha = ent.fechaAprobacion| date('d-m-Y')%}
                            {% set primero=false%}
                            <tr><td colspan="7"> <h5>'{{fecha| date('d/m/Y')}} </h5> </td></tr>   
                        {%else %}
                          {%if ent.fechaAprobacion| date('d-m-Y') != fecha %}
                                {% set fecha = ent.fechaAprobacion| date('d-m-Y')%}
                                <tr><td colspan="6" class="subtotal_entregados"> SubTotal</td>
                                    <td class="subtotal_entregados">{{sumaparc| number_format(0,'.',',')}}</td></tr>
                                <tr><td colspan="7"> <h5>'{{fecha| date('d/m/Y')}} </h5> </td></tr> 
                                {% set sumaparc = 0 %}
                          {%endif%}
                        {%endif%}
                    <tr>
                        {% set suma = suma + ent.montoCredito %}
                        {% set sumaparc = sumaparc + ent.montoCredito %}
                        <td class="align-center">{{ ent.nroCredito }} - {{ ent.nroRenovacion }}</td>
                        <td class="align-center">{{ ent.nroCarpeta }}</td>
                        <td>{{ ent.programa }}</td>
                        <td>{% if ent.grupo %}{{ent.grupo}}{% else %}{{ent.emprendedor}}{% endif %}</td>
                        <td class="align-center" >{{ent.fechaEntrega | date('d-m-Y')}}</td>
                        <td class="align-center">{{ent.getCantidadCuotaCredito}}</td>
                        <td style="text-align:right">{{ent.montoCredito| number_format(0,'.',',')}}</td>
                        <td>
                            <a href="{{ path('credito_show', { 'id': ent.id }) }}" title="Ver"><img src="{{ asset('images/icons/credit.png') }}" alt="Ver" /></a>
                        </td>
                    </tr>                    
                {% endfor %}
                    <tr><td colspan="6" class="subtotal_entregados"> SubTotal</td>
                        <td class="subtotal_entregados">{{sumaparc| number_format(0,'.',',')}}</td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4" style="text-align: center">Creditos Entregados: {{entregados|length}}  </th>
                        <th colspan="2"style="text-align: center">Monto Total</th>
                        <th style="text-align:right">{{suma | number_format(0,'.',',')}} </th>
                    </tr>
                </tfoot>
            </table>   

   </body>
</html>