

{% extends "Default/baseListEntity.html.twig" %}
{% set morosos,incobrables=false,false %}
{% set solicitud=false %}
{% if app.request.attributes.get('_route') == 'solicitud' %}
    {% set title='Solicitudes' %} {% set solicitud=true %} {% set estado=0 %}
{% elseif app.request.attributes.get('_route') == 'morosos' %}
    {% set title='Morosos' %} {% set morosos=true %} {% set estado=2 %}
{% elseif app.request.attributes.get('_route') == 'incobrables' %}
    {% set title='Incobrables' %} {% set incobrables=true %} {% set estado=3 %}
{% else %}
    {% set title='Créditos' %} {% set solicitud=false %} {% set estado=1 %} {% endif %}


{% block filterBox %} 
     <div class="content-box-content">
      <form action="{{ path('exportarcreditos') }}" method="get">
  <fieldset>
    <p>
      <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar" />
      <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>
      <label><strong>Fecha de pago:</strong></label>
      <input name="fecha_pago" class="text-input date-input datepicker" value="" id="fecha_pago" />
    </p>
  </fieldset>
</form>
 
    </div>

{% endblock %}


 


{% block titleList %} Listado de Pagos {% endblock %}

{% block opList %}

 <form action="{{ path('exportarcreditosxls') }}" method="get">
  <fieldset>
    <p>
      <button type="submit" id="buscar" class="button list" title="Buscar">Exportar en XLS</button>
       <input type="hidden" name="fecha_pago2" class="text-input" value="{{fechaPago}}" id="fecha_pago2" />
    </p>
  </fieldset>
  </form>
        
{% endblock %}

      

{% block totalList %} Total de Pagos: <strong>{{ entities.getTotalItemCount}}</strong> {% endblock %}

{% block thList %}
<th>Fecha de ejecución</th>
<th>Importe</th>
<th>Nombre o   Razon Social</th>
<th>Cuit</th>
<th>email</th>
<th>CBU</th>

{% endblock %}


{% block bodyList %}

    {% for entity in entities %}
  
        <tr>
          <td >{{ entity.credito.fechaEntrega|date('d-m-Y ') }}</td>
          <td >${{ entity.montoCredito }}</td>
          <td >{{  entity.emprendedor.apellido }}, {{  entity.emprendedor.nombres }}</td>
          <td >{{  entity.emprendedor.cuit }}</td>
          <td >{{  entity.emprendedor.email }}</td>
          <td >{{  entity.emprendedor.cbu }}</td>
            
            
        </tr>
    {% endfor %}
    
{% endblock %}

{% block extra_javascripts %}
<!-- jQuery UI Datepicker -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {


 $('#fecha_pago').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        endDate: "+12m",
        maxDate: "+12m",
        beforeShowDay: $.datepicker.noWeekends,
         onSelect: function(selectedDate) {
      $('#fecha_pago2').val(selectedDate);
    }
    });

   

     });

     
</script>





    {% endblock %}

    

