<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >  
<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
{% if option=='D' %}
table tr.master td, table tfoot tr th{ border-bottom: 1px solid gray; font-weight: bold; margin: 0 2px}
table tr.detail td:first-of-type{ border-left:1px solid gray;}
table tr.detail td:last-of-type{ border-right :1px solid gray;}
{% endif %}
</style>
{%if estado==0%} {%set tipo='Solicitud'%}   {%else%} {%set tipo='Crédito'%} {%endif%}
    <table >
        <thead>
            <tr >
                <th class="align-center">N&deg; {{tipo}}</th>
                <th class="align-center">N&deg; Carpeta</th>
                <th>Programa</th>
                <th>Grupo / Emprendedor</th>
                <th class="align-center">Cant. Emprend.</th>
                <th class="align-center">{% if tipo=='Crédito'  %} Entrega {% else %} Solicitud {% endif %} </th>
                <th>Monto</th>
                <th class="align-center">Cuotas</th>
                <th class="align-center">{%if estado==0%} Entrega {%else%} Últ. Pago {%endif%}</th>
               {%if estado in [2,3]%}                
                    <th class="align-center"> Primer Vto Impago </th> 
                    <th class="align-right"> Saldo Capital </th> 
                    <th class="align-right"> Deuda </th> 
                    <th class="align-right"> Deuda + Punitorio </th> 
                    {% if estado == 3%}
                        <th class="align-right"> Fecha Incobrable </th> 
                    {%endif%}
                {%endif%}
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}
            {% set capital,deuda,deudatotal = 0,0,0 %}
    {% for entity in entities %}
        <tr class="master">
            {% set cuota = entity.ultimaCuotaPaga~'/'~entity.getCantidadCuotaCredito %}
            <td class="align-center">{{ entity.nroCredito }} - {{ entity.nroRenovacion }}</td>
            <td class="align-center">{{ entity.nroCarpeta }}</td>
            <td>{{ entity.programa }}</td>
            <td>{% if entity.grupo %}{{entity.grupo.codigo}} - {{ entity.grupo }} 
                {% else %} {{entity.emprendedor.emprendedor.codigo}} - {{ entity.emprendedor }} {% endif %} </td>
            <td class="align-center">{{ entity.emprendedores|length }}</td>
            <td class="align-center">{% if tipo=='Crédito'  %}  {{ entity.fechaEntrega|date('d-m-Y') }} {% else %} {{ entity.fechaCredito|date('d-m-Y') }} {% endif %} </td>
            {% if estado==3 %}
                {% set total = total + entity.montoIncobrable %}
            <td class="align-right">{{ entity.montoIncobrable| number_format(0,',','.') }}</td>
            {%else%}
                {% set total = total + entity.montoCredito %}
            <td class="align-right">{{ entity.montoCredito| number_format(0,',','.') }}</td>
            {%endif%}
            <td class="align-center">'{{ cuota }}</td>
            <td class="align-center">
                {%if estado==0%} {{entity.fechaEntrega|date('d-m-Y')}} 
                {%else %}
                    {% if entity.ultimoPago is not null %}{{ entity.ultimoPago|date('d-m-Y') }} {% endif %} 
                {%endif%}
            </td>
            {%if estado in [2,3]%} 
                {% set capital = capital + entity.deuda['capital'] %}
                {% set deuda = deuda + entity.deuda['deuda'] %}
                {% set deudatotal = deudatotal + (entity.deuda['deuda'] + entity.deuda['punitorios']) %}
                <td class="align-center">{{ entity.primerVtoImpago|date('d-m-Y') }}</td> 
                <td style="text-align:right">{{ entity.deuda['capital']| number_format(0,',','.') }}</td> 
                <td style="text-align:right">{{ entity.deuda['deuda']| number_format(0,',','.') }}</td> 
                <td style="text-align:right">{{ (entity.deuda['deuda'] + entity.deuda['punitorios']) | number_format(2,',','.') }}</td> 
                {%if estado == 3 %} 
                <td class="align-center">{% if entity.fechaIncobrable is not null %}{{ entity.fechaIncobrable|date('d-m-Y') }} {% endif %} </td> 
                {%endif%}
            {%endif%}
        </tr>
            {% if option=='D' and entity.programa.individual==0 %}
                {% for emprendedor in entity.emprendedores %}
            <tr class="detail">
                <td></td>
                <td style="text-align: right "></td>
                <td colspan="3">
                    {{emprendedor.emprendedor.codigo}} - {{emprendedor}}
                </td>
                <td class="align-center">{{emprendedor.montoCredito}}</td>
                <td colspan="2">&nbsp;</td>
            </tr>
                {% endfor %}
            {% endif %}
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6" class="align-left">Total: {{entities|length}} </th>
                <th class="align-right">${{total}} </th>
                <th colspan="{%if estado in [2,3]%}3{%else%}2{%endif%}" class="align-right"></th>
            {%if estado in [2,3]%} 
                <th style="text-align:right">${{ capital| number_format(0,',','.') }}</th> 
                <th style="text-align:right">${{ deuda | number_format(0,',','.')}}</th> 
                <th style="text-align:right">${{ deudatotal | number_format(2,',','.')}}</th> 
                {%if estado == 3%} 
                <th></th>
                {%endif%}
            {%endif%}
            </tr>
        </tfoot>
    </table>
   </body>
</html>