<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #E9E9E9;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
{% if option=='D' %}
table tr.master td, table tfoot tr th{ border-bottom: 1px solid gray; font-weight: bold; margin: 0 2px}
table tr.detail td:first-of-type{ border-left:1px solid gray;}
table tr.detail td:last-of-type{ border-right :1px solid gray;}
{% endif %}
</style>
{%if estado==0%} {%set tipo='Solicitud'%}   {%else %} {%set tipo='Crédito'%}  {%endif%}
<img style="display:inline" id="logo" src="{{ asset('images/header.png') }}" />
<hr>
<div style="display:block">
<h2 style="float:left">Listado de {%if estado==0%}Solicitudes{%elseif estado==1%}Créditos{%elseif estado==3%}Incobrables{%else%}Morosos{%endif%}</h2>
<h5>Fecha: {{date('now')|date('d / m / Y H:i')}}</h5>
</div>
{% if filtro.programa or filtro.grupo or filtro.emprendedor or filtro.desde or filtro.hasta %}
<div style="display:block; clear: both">
<hr>     
    <div style="display:inline">{% if filtro.programa %}Programa de Fondos: {{programa}} {%endif%}</div>
    <div style="display:inline">{% if filtro.grupo %}Grupo: {{filtro.grupo}} {%endif%}</div>
    <div style="display:inline">{% if filtro.emprendedor %}Emprendedor: {{filtro.emprendedor}} {%endif%}</div>
    <div>{% if filtro.desde or filtro.hasta %}Periodo: desde el {{filtro.desde|date('d/m/Y')}} hasta el {{filtro.hasta|date('d/m/Y')}} {%endif%}</div>
</div>
{% endif %}

<div class="content-box" style="clear:both">
<hr>
<div style="display:block; clear: both" class="content-box-content">
    <table cellspacing="0">
        <thead>
            <tr >
                
<th class="align-center" style=" width: 10% ">N&deg; {{tipo}}</th>
<th class="align-center" style=" width: 5% ">Carpeta</th>
<th style=" width: 7% ">Programa</th>
<th>Grupo / Emprendedor</th>
<th class="align-center" style=" width: 5% ">Cant. Emp.</th>
<th class="align-center" style=" width: 12% ">Fecha {{tipo}}</th>
<th style=" width: 5% ">Monto</th>
<th class="align-center" style=" width: 5% ">Cuotas</th>
<th class="align-center" style=" width: 12% ">{%if estado==0%} Entrega {%else%} Últ. Pago {%endif%}</th>
{%if estado==3%}         
<th class="align-center" style=" width: 12% ">Fecha Incobrable</th>
{%endif%}                
            </tr>
        </thead>
        <tbody>
    {% set total = 0 %}
    {% set capital,deuda,deudatotal = 0,0,0 %}
    {% for entity in entities %}
        {% set cuota = entity.ultimaCuotaPaga~'/'~entity.getCantidadCuotaCredito %}

        {%if estado==3%}
            {% set deudatotal = deudatotal + entity.montoIncobrable %}
        {%else%}
            {% set deudatotal = deudatotal + entity.montoCredito %}
        {%endif%}

        <tr class="master">
            
            <td class="align-center">{{ entity.nroCredito }}-{{ entity.nroRenovacion }}</td>
            <td class="align-center">{{ entity.nroCarpeta }}</td>
            <td>{{ entity.programa }}</td>
            <td>{% if entity.grupo %}{{entity.grupo.codigo}}-{{ entity.grupo }} {% else %} {{entity.emprendedor.emprendedor.codigo}}-{{ entity.emprendedor }} {% endif %} </td>
            <td class="align-center">{{ entity.emprendedores|length }}</td>
            <td class="align-center">{{ entity.fechaCredito|date('d-m-Y') }} </td>
            
            <td class="align-center">{%if estado==3%}{{ entity.montoIncobrable }}{%else%}{{ entity.montoCredito }}{%endif%}</td>
            <td class="align-center">{%if estado==1%}{{ entity.ultimaCuotaPaga }}/{%endif%}{{ entity.getCantidadCuotaCredito }} </td>
            <td class="align-center">
                {%if estado==0%} {{entity.fechaEntrega|date('d-m-Y')}} {%else%}
                    {% if entity.ultimoPago is not null %}{{ entity.ultimoPago|date('d-m-Y') }} {% endif %} 
                {%endif%}
            </td>
            {%if estado==3%}
            <td class="align-center">{% if entity.fechaIncobrable is not null %}{{ entity.fechaIncobrable|date('d-m-Y') }} {%endif%}</td>
            {%endif%}  
        </tr>
            {% if option=='D' and entity.programa.individual==0 %}
                {% for emprendedor in entity.emprendedores %}
            <tr class="detail">
                <td></td>
                <td style="text-align: right "></td>
                <td colspan="3">
                    {{emprendedor.emprendedor.codigo}}-{{emprendedor}}
                </td>
                <td class="align-center">{{emprendedor.montoCredito}}</td>
                <td colspan="2">&nbsp;</td>
            </tr>
                {% endfor %}
            {% endif %}
    {% endfor %}
        <tr>
            <th colspan="6" class="align-left">Total Registros: {{entities|length}} </th>
            <th colspan="3" style="text-align:left">${{ deudatotal | number_format(0,',','.')}}</th>
        </tr>
        </tbody>
    </table>
  
        
</div>
</div>