<style>
.align-center{text-align: center}
.break {page-break-after:always}
.asesor{ padding:5px; background: #D3D3D3 ;}
.fecha{ padding:5px;}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #E9E9E9;
    padding: 5px;
    font-size: 12px;
    letter-spacing: 0.1em;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
{% if option=='D' %}
table tr.master td, table tfoot tr th{ border-bottom: 1px solid gray; font-weight: bold; margin: 0 2px}
table tr.detail td:first-of-type{ border-left:1px solid gray;}
table tr.detail td:last-of-type{ border-right :1px solid gray;}
{% endif %}
</style>

<img style="display:inline" id="logo" src="{{ absolute_url(asset('images/header.png')) }}" />
<hr>
<div style="display:block">
<h2 style="float:left">Listado de Pagos</h2>
<h5>Fecha: {{date('now')|date('d / m / Y H:i')}}</h5>
</div>
{% if filtro.programa or filtro.grupo or filtro.emprendedor  or filtro.asesor or filtro.desde or filtro.hasta %}
<div style="display:block; clear: both">
<hr>     
    <div style="display:inline">{% if filtro.programa %}Programa de Fondos: {{programa}} {%endif%}</div>
    <div style="display:inline">{% if filtro.grupo %}Grupo: {{filtro.grupo}} {%endif%}</div>
    <div style="display:inline">{% if filtro.emprendedor %}Emprendedor: {{filtro.emprendedor}} {%endif%}</div>
    <div>{% if filtro.desde or filtro.hasta %}Periodo: desde el {{filtro.desde|date('d/m/Y')}} hasta el {{filtro.hasta|date('d/m/Y')}} {%endif%}</div>
</div>
{% endif %}

<div class="content-box" style="clear:both">
<hr>
<div style="display:block; clear: both" class="content-box-content">
{% set total,capital,interes,punitorio,nuevo = 0,0,0,0,false %}
{% for asesor in grupoAsesores %}   
    <div class="asesor">Promotor: {{ asesor.nombre }}</div>   
    {% for pago in pagos if pago.usuario.id==asesor.id %}   
        <table cellspacing="0">
        {% if loop.first %}        {% set fecha=pago.fecha %} {% set nuevo=true %}   {% endif %} 
        {% if fecha!=pago.fecha %} {% set fecha=pago.fecha %} {% set nuevo=true %}   {% endif %}      
         {% if nuevo %}          
            <div class="fecha">Fecha: {{pago.fecha |date('d-m-Y') }}</div>
            <thead>
                <tr >
                    <th style="width:40%">Grupo / Emprendedor</th>
                    <th style="width:10%" class="align-center">Crédito</th>
                    <th style="width:10%" class="align-center">Cuota Pagada</th>
                    <th style="width:10%" class="align-center">Capital</th>
                    <th style="width:10%" class="align-center">Interés</th>
                    <th style="width:10%">Punitorios</th>
                    <th style="width:10%" class="align-center">Total Pagado</th>
                    <th style="width:10%" class="align-center">Tipo</th>
                </tr>
            </thead>
            {% endif %} 
            <tbody>
            <tr class="master">
                <td style="width:40%">{% if pago.cuota.credito.grupo %}{{ pago.cuota.credito.grupo }}{% else %}{{ pago.cuota.credito.emprendedor }}{%endif%}</td>
                <td style="width:10%" class="align-center">{{pago.cuota.credito.nroCredito}}-{{ pago.cuota.credito.nroRenovacion }}</td>
                <td style="width:10%" class="align-center"> {{pago.cuota.nroCuota}} </td>
                <td style="text-align:right;width:10%">{{ pago.capital }}</td>
                <td style="text-align:right;width:10%">{{ pago.intereses }} </td>
                <td style="text-align:right;width:10%">{{ pago.punitorios }}</td>
                <td style="text-align:right;width:10%">{{ pago.total }}</td>
                <td style="text-align:right;width:10%">{{ pago.total }}</td>
                <td style="text-align:right;width:10%">
                    {% if(pago.montoExclusion > 0) %}
                        Condonación
                    {% elseif( pago.isPagoBancario) %}
                        Bancario
                    {% else %}
                        Efectivo
                    {% endif %}
                </td>
            </tr>
            {% set total = total + pago.total %}
            </tbody>
        {% set nuevo=false %}
    {% endfor %}  
    <tfoot>
        <tr>
            <th colspan="9" class="align-right">Total: {{pagos|length}}</th>
            <th></th>
        </tr>
    </tfoot>
    </table>
    <div style="height:20px; "></div>        
{% endfor %}  
        
</div>
</div>