{% extends 'Default/baseFilterEntity.html.twig' %}
{% block filterForm %}      
        <form action="{{ path(app.request.attributes.get('_route'))  }}" method="post" >
            <fieldset>
                <p>
                    <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>
                    
                    <label><strong>Programa de Fondos:</strong></label>
                    <select name="_programa" id="select_programa" class="smaller-input" url="{{ path('es_programa_individual') }}">
                        <option value="0">---</option>
                    {% for programa in programas %}
                        <option value="{{ programa.id}}" {{ filtro.programa == programa.id ? ' selected="selected"' : '' }} > 
                            {{programa.sigla}} 
                            </option>
                    {% endfor %}            
                    </select>
                    <label><strong>Nombre del Grupo:</strong></label>
                    <input name="_grupo" url="{{ path('grupo_suggest') }}" class="text-input small-input" value="{{filtro.grupo}}" id="grupoAutocomplete" />  
                    <input type="hidden" name="_grupoId" value="{{filtro.grupoId}}" id="grupoId" />     
                </p>
                <p>
                    <label><strong>Nombre del Emprendedor:</strong></label>
                    <input name="_emprendedor" url="{{ path('emprendedor_suggest') }}" class="text-input small-input" value="{{filtro.emprendedor}}" id="emprendedorAutocomplete" />  
                    <input type="hidden" name="_emprendedorId" value="{{filtro.emprendedorId}}" id="emprendedorId" />     
                    <label><strong>Asesor:</strong></label>
                    <select name="_asesor" id="select_asesor" class="smaller-input" >
                        <option value="0">---</option>
                    {% for asesor in usuarios %}
                        <option value="{{ asesor.id}}" {{ filtro.asesor == asesor.id ? ' selected="selected"' : '' }} > 
                            {{asesor}} 
                            </option>
                    {% endfor %}            
                    </select>       
                 </p>
                 <p>
                    <label><strong>Fecha Pago:</strong></label>
                    <input name="_desde" class="text-input date-input" value="{{filtro.desde}}" id="fecha_desde_filter" />            
                    <input name="_hasta" class="text-input date-input" value="{{filtro.hasta}}" id="fecha_hasta_filter" />            
                    <label><strong>Fecha Carga:</strong></label>
                    <input name="_desdeCarga" class="text-input date-input" value="{{filtro.desdeCarga}}" id="fechaCarga_desde_filter" />            
                    <input name="_hastaCarga" class="text-input date-input" value="{{filtro.hastaCarga}}" id="fechaCarga_hasta_filter" />            

                    <label><strong>Solo Condonación:</strong></label>
                     {% if filtro.condonacion %}
                     <input name="_condonacion" type="checkbox" checked	="checked" class="text-input" id="condonacion" />
                     {% else %}
                     <input name="_condonacion" type="checkbox" class="text-input" id="condonacion" />
                     {% endif %}
                </p>
                <p style="text-align: right; margin-top: -40px;"><label><strong>Items por página:</strong></label>
                    <select name="_itemsperpage" id="itemsperpage" class="mini-input" >
                        <option value="20" {{ filtro.itemsperpage == 20 ? ' selected="selected"' : '' }}>20</option>
                        <option value="50" {{ filtro.itemsperpage == 50 ? ' selected="selected"' : '' }}>50</option>
                        <option value="100" {{ filtro.itemsperpage == 100 ? ' selected="selected"' : '' }}>100</option>
                        <option value="0" {{ filtro.itemsperpage == 0 ? ' selected="selected"' : '' }} >Todos</option>
                    </select>
                </p>
                
            </fieldset>    
        </form>
<script type="text/javascript">    
    $(document).ready(function(){
        setTimeout(function(){
            if( isEmpty($('#fecha_desde_filter').val()) && isEmpty($('#fecha_hasta_filter').val()) &&
                isEmpty($('#fechaCarga_desde_filter').val()) && isEmpty($('#fechaCarga_hasta_filter').val())
                && isEmpty($('#grupoId').val()) && $('#select_programa').val()==0 && $('#select_asesor').val()==0
                && isEmpty($('form :focus').serialize())){
                    $(".content-box-header span.arrow").click();
         }
        },3000);
      });     
    function limpiar(){
        $('#fecha_desde_filter').val('');
        $('#fecha_hasta_filter').val('');
        $('#fechaCarga_desde_filter').val('');
        $('#fechaCarga_hasta_filter').val('');
        $('#select_programa').val('');
        $('#select_asesor').val('');
        $('#grupoAutocomplete').val('');
        $('#grupoId').val('');
        $('#opFiltro').val('limpiar');
        $('#buscar').click();
    }
</script>
{% endblock %}   
