<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >  
<style>
.align-center{text-align: center}
.align-right{float:right}
.subtotal_entregados {
  border-top: 1px solid #DDDDDD;
  font-weight: bold;
  text-align: right;
}
h5{float:left; font-weight: bold;border-bottom: 2px solid #DDDDDD;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding : 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
</style>



       
<table>
     <thead>
      <tr>
        <th>Fecha de ejecución</th>
        <th>Importe</th>
        <th>Referencia Unica de pago</th>
        <th>Motivo de pago</th>
        <th>Identificacion</th>
        <th>Nombre o   Razon Social</th>
        <th>Cuit</th>
        <th>email</th>
        <th>CBU</th>
        </tr>
      </thead>
      <tbody>
                
        {% for entity in entities %}
        <tr>
          <td class="align-center">{{ fecha }}</td>
          <td class="align-center">{{ entity.montoCredito }}</td>
          <td class="align-center">Texto Referencia</td>
          <td class="align-center">préstamo</td>
          <td class="align-center">{{ entity.credito.grupo.nombre ?? 'Individual' }}</td>
          <td class="align-center">{{  entity.emprendedor.apellido }}, {{  entity.emprendedor.nombres }}</td>
          <td class="align-center">{{  entity.emprendedor.cuit }}</td>
          <td class="align-center">{{  entity.emprendedor.email }}</td>
          <td class="align-center">{{  entity.emprendedor.cbu }}</td>    
        </tr>
        {% endfor %}                        
        </tbody>

</table>   

   </body>
</html>