<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >  
<style>
.asesor{ font-weight:bold;}
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
{% if option=='D' %}
table tr.master td, table tfoot tr th{ border-bottom: 1px solid gray; font-weight: bold; margin: 0 2px}
table tr.detail td:first-of-type{ border-left:1px solid gray;}
table tr.detail td:last-of-type{ border-right :1px solid gray;}
{% endif %}
</style>

    {% set general = {'capital':0,'interes':0,'gastos':0,'punitorios':0,'total':0} %}
    {% set asesor = {'capital':0,'interes':0,'gastos':0,'punitorios':0,'total':0} %}
    {% set fecha = {'capital':0,'interes':0,'gastos':0,'punitorios':0,'total':0} %}
    {% set cantidadPagos = 0 %}
        
{% for gr_asesor in grupoAsesores %}   
    {% set asesor = {'capital':0,'interes':0,'gastos':0,'punitorios':0,'total':0} %}
    <div class="asesor">Promotor: {{ gr_asesor.nombre }}</div>

    {% for key,pagosFecha in pagos[gr_asesor.id] %}
        {% set fecha = {'capital':0,'interes':0,'gastos':0,'punitorios':0,'total':0} %}
    <div class="fecha"><strong>Fecha:</strong> {{ key |date('d-m-Y') }}</div>
        <table cellspacing="0">
            <thead>
                <tr>
                    <th style="width:35%">Grupo / Emprendedor</th>
                    <th style="width:10%" class="align-center">Crédito</th>
                    <th style="width:6%" class="align-center">Cuota</th>
                    <th style="width:8%" class="align-center">Capital</th>
                    <th style="width:8%" class="align-center">Interés</th>
                    <th style="width:8%" class="align-center">Gastos</th>
                    <th style="width:10%">Punitorios</th>
                    <th style="width:15%" class="align-center">Total Pagado</th>
                    <th style="width:15%" class="align-center">Tipo</th>
                </tr>
            </thead>
            <tbody>
            {% for pago in pagosFecha  %}
               {% set cantidadPagos = cantidadPagos +1 %}
            <tr class="master">
                <td>{% if pago.cuota.credito.grupo %}{{ pago.cuota.credito.grupo }}{% else %}{{ pago.cuota.credito.emprendedor }}{%endif%}</td>
                <td class="align-center">{{pago.cuota.credito.nroCredito}}-{{ pago.cuota.credito.nroRenovacion }}</td>
                <td class="align-center"> {{pago.cuota.nroCuota }} </td>
                <td style="text-align:right;">{{ pago.capital |number_format(2,',','.')}}</td>
                <td style="text-align:right;">{{ pago.intereses |number_format(2,',','.')}} </td>
                <td style="text-align:right;">{{ pago.gastoAdministrativo |number_format(2,',','.')}} </td>
                <td style="text-align:right;">{{ pago.punitorios |number_format(2,',','.')}}</td>
                <td style="text-align:right;">{{ pago.total |number_format(2,',','.')}}</td>
                <td style="text-align:right;">
                    {% if(pago.montoExclusion > 0) %}
                        Condonación
                    {% elseif( pago.isPagoBancario) %}
                        Bancario
                    {% else %}
                        Efectivo
                    {% endif %}
                </td>
            </tr>
            
            {% set general = {'capital':(general.capital+pago.capital),'interes':(general.interes+pago.intereses),'gastos':(general.gastos+pago.gastoAdministrativo)
                              ,'punitorios':(general.punitorios+pago.punitorios),'total':(general.total+pago.total)} %}
            {% set asesor = {'capital':(asesor.capital+pago.capital),'interes':(asesor.interes+pago.intereses),'gastos':(asesor.gastos+pago.gastoAdministrativo)
                              ,'punitorios':(asesor.punitorios+pago.punitorios),'total':(asesor.total+pago.total)} %}
            {% set fecha = {'capital':(fecha.capital+pago.capital),'interes':(fecha.interes+pago.intereses),'gastos':(fecha.gastos+pago.gastoAdministrativo)
                              ,'punitorios':(fecha.punitorios+pago.punitorios),'total':(fecha.total+pago.total)} %}

            {% endfor %}
            </tbody>
    <tfoot>
        <tr>
            <th colspan="3" style="text-align:right;">Total del día: {{key |date('d-m-Y')}} </th>
            <th style="text-align:right;"> {{fecha.capital |number_format(2,',','.')}}</th>
            <th style="text-align:right;"> {{fecha.interes |number_format(2,',','.')}}</th>
            <th style="text-align:right;"> {{fecha.gastos |number_format(2,',','.')}}</th>
            <th style="text-align:right;"> {{fecha.punitorios |number_format(2,',','.')}}</th>
            <th style="text-align:right;"> {{fecha.total |number_format(2,',','.')}}</th>
            <th></th>
        </tr>
    </tfoot>
    </table>
        {% endfor %}
    <table cellspacing="0">
        <tr>
            <th colspan="3" style="text-align:right;width:51.1%;">Total del Promotor: {{gr_asesor.nombre}} </th>
            <th style="text-align:right;width:8%;"> {{asesor.capital |number_format(2,',','.')}}</th>
            <th style="text-align:right;width:8.1%;"> {{asesor.interes |number_format(2,',','.')}}</th>
            <th style="text-align:right;width:8%;"> {{asesor.gastos |number_format(2,',','.')}}</th>
            <th style="text-align:right;width:10%;"> {{asesor.punitorios |number_format(2,',','.')}}</th>
            <th style="text-align:right;width:15%;"> {{asesor.total |number_format(2,',','.')}}</th>
        </tr>
    </table>
    
    <div style="height:20px; "></div> 
    {% endfor %}
    <table cellspacing="0" class="total">
        <tr>
            <th colspan="3" style="width:51.1%;">TOTAL DEL INFORME </th>
            <th style="width:8%;"> {{general.capital |number_format(2,',','.')}}</th>
            <th style="width:8.1%;"> {{general.interes |number_format(2,',','.')}}</th>
            <th style="width:8%;"> {{general.gastos |number_format(2,',','.')}}</th>
            <th style="width:10%;"> {{general.punitorios |number_format(2,',','.')}}</th>
            <th style="width:15%;"> {{general.total |number_format(2,',','.')}}</th>
        </tr>
    </table>        


   </body>
</html>