{% extends "Default/baseListEntity.html.twig" %}
{% block filterBox %} 
     {% include 'Credito/pagosFilter.html.twig' %}
{% endblock %}

{% block titleList %} Listado de Pagos {% endblock %}

{% block opList %}<button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('pago_opList') }}" >Opciones de Listado</button>{% endblock %}

{% block totalList %} Total de Pagos: <strong>{{entities.getTotalItemCount}}</strong> {% endblock %}

{% block thList %}
<th>Programa</th>
<th>Grupo / Emprendedor</th>
<th class="align-center">Crédito N&deg;</th>
<th class="align-center">Cuota Pagada</th>
<th class="align-center">Fecha Pago</th>
<th style="text-align: right">Capital</th>
<th style="text-align: right">Interés</th>
<th style="text-align: right">Punitorios</th>
<th style="text-align: right">Total Pagado</th>
<th class="align-center">Fecha/Hora Carga</th>
<th class="align-center">Tipo</th>
{% endblock %}

{% block bodyList %}
{% set capital,intereses,punitorios,total = 0,0,0,0 %}
    {% for entity in entities %}
        {% set capital=capital+entity.capital %}
        {% set intereses=intereses+entity.intereses %}
        {% set punitorios=punitorios+entity.punitorios %}
        {% set total=total+entity.total %}
        <tr>
            <td>{{entity.cuota.credito.programa}}</td>
            <td>{% if entity.cuota.credito.grupo %}{{ entity.cuota.credito.grupo }} {% else %} {{ entity.cuota.credito.emprendedor }} {% endif %} </td>
            <td class="align-center">{{entity.cuota.credito.nroCredito}}-{{entity.cuota.credito.nroRenovacion}} </td>
            <td class="align-center"> {{entity.cuota.nroCuota}}</td>
            <td class="align-center">{{entity.fecha |date('d-m-Y')}} </td>
            <td style="text-align: right">{{entity.capital}}</td>
            <td style="text-align: right"> {{entity.intereses}}</td>
            <td style="text-align: right">{{entity.punitorios}}</td>
            <td style="text-align: right">{{entity.total}} </td>
            <td class="align-center">{{entity.fechaAlta|date('d-m-Y H:i')}} </td>
            <td class="align-center">
                {% if(entity.montoExclusion > 0) %}
                    Condonación
                {% elseif( entity.isPagoBancario) %}
                    Bancario
                {% else %}
                    Efectivo
                {% endif %}
            </td>
        </tr>
    {% endfor %}
        <tr>
            <th colspan="5" style="text-align: left">Total de Pagos: {{totales.totalRegistros}} </th>
            <th style="text-align: right">{{ totales.totalCapital| number_format(2,'.',',') }}</th>
            <th style="text-align: right">{{ totales.totalIntereses| number_format(2,'.',',') }}</th>
            <th style="text-align: right">{{ totales.totalPunitorios| number_format(2,'.',',') }}</th>
            <th style="text-align: right">{{ totales.totalPago| number_format(2,'.',',') }}</th>
            <th></th>
            <th></th>
        </tr>        
{% endblock %}