<style>
@page { 
    size : portrait;
}      
div.saltopagina{
      display:block;
      page-break-before:always;
   }
.page{ 
    margin:4%;
    border: 1px solid black;
}
.header{
    clear: both;
    height: 100px;
    margin:1%;
}
.header-title{
  display: inline-block;
    text-align: center;
    width: 70%;
}
.logo{
    float: left;
    width: 20%;
    margin-left: 30px;
}
p {
  line-height: 1.3em;
  margin: 15px 0 0 30px;
  text-align: justify; 
  font-weight: bold;
}
label{ font-style: italic; text-transform: uppercase;}
.align-center{text-align: center}
.monto {
  background: none repeat scroll 0 0 #CCCCCC;
  border: 1px solid black;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  width: 20%;
}   
.fecha{
    text-align: right;
}    
.firma {
  display: inline-block;
  text-align: right;
  width: 30%;
}   
</style>
{% for pago in pagos %}
<div class="page">
    <div class="header">
        <div class="logo">
            <img style="float:left" id="logo" src="{{ absolute_url(asset('images/logomin.png')) }}" />
        </div>
        <div class="header-title"> 
            <h3>ASOCIACIÓN JARDÍN DE LOS NIÑOS</h3> 
            <h3>- Recibo de Condonación -</h3>
        </div>
    </div>
    <hr>
    <div style="margin-top:30px" class="content-box">
        <div class="content-box-content">
            <div style="width: 85%; margin: auto; clear: both ">
                <div class="fecha">Posadas, {{ fecha }}.-</div>  
                <p>SE CONDONA DE...  <label>{{ nombre}} </label></p>
                <p>EL IMPORTE DE...  <label>{{pago.letras}} </label></p>
                <p>CONCEPTO: Condonación Intereses de la cuota N°  <label>{{pago.cuota}}</label> del Crédito  <label>"{{credito}}"</label></p>
               <br>
                <p>
                <span class="monto"> $ {{pago.monto}}.-</span>  
                <span class="firma">  ........................................</span>  
                <span class="firma">  ........................................</span>  
                <span style=" display: inline-block; text-align: right; width: 60%;"> <small> Responsable Asociación </small></span>  
                <span style=" display: inline-block; text-align: right; width: 35%;"> <small> Firma y Aclaración </small></span>  
                                
                </p>
                <br>
            </div>

        </div>
    </div>
    <small style="float:right">Impreso: {{'now'|date('d-m-Y H:i')}}</small>
</div>
<br>
<div class="page">
    <div class="header">
        <div class="logo">
            <img style="float:left" id="logo" src="{{ absolute_url(asset('images/logomin.png')) }}" />
        </div>
        <div class="header-title"> 
            <h3>ASOCIACIÓN JARDÍN DE LOS NIÑOS</h3> 
            <h3>- Recibo de Condonación -</h3>
        </div>
    </div>
    <hr>
    <div style="margin-top:30px" class="content-box">
        <div class="content-box-content">
            <div style="width: 85%; margin: auto; clear: both ">
                <div class="fecha">Posadas, {{ fecha }}.-</div>  
                <p>SE CONDONA DE...  <label>{{ nombre}} </label></p>
                <p>EL IMPORTE DE...  <label>{{pago.letras}} </label></p>
                <p>CONCEPTO: Condonación Intereses de la cuota N°  <label>{{pago.cuota}}</label> del Crédito  <label>"{{credito}}"</label></p>
               <br>
                <p>
                <span class="monto"> $ {{pago.monto}}.-</span>  
                <span class="firma">  ........................................</span>  
                <span class="firma">  ........................................</span>  
                <span style=" display: inline-block; text-align: right; width: 60%;"> <small> Responsable Asociación </small></span>  
                <span style=" display: inline-block; text-align: right; width: 35%;"> <small> Firma y Aclaración </small></span>  
                                
                </p>
                <br>
            </div>

        </div>
    </div>
    <small style="float:right">Impreso: {{'now'|date('d-m-Y H:i')}}</small>
</div>
<div class="saltopagina"></div>
{% endfor %}
<script type="text/javascript">    
        window.print(); 
      // window.close(); 
        window.setTimeout('window.close()', 1000);
</script>   