{% extends "layout.html.twig" %}

{% block content %} 
<div class="clearHeight"></div>
{% if entity.aprobado %}<h2>Crédito</h2> {% else %} <h2 id="title-solicitud">Crédito</h2> {% endif %}
    {% include 'Default/notification.html.twig' %}
<div class="content-box">
    <div class="content-box-header">
        <h3> {{ entity.title}}    </h3>
        <ul class="content-box-tabs">
            <li><a href="#tab1" class="default-tab"><strong>CREDITO</strong></a></li> 
        </ul>
        <span class="align-right back">
            <a href="{% if entity.aprobado %}  {{path('credito')}} {% else %} {{path('solicitud')}} {% endif %}" class="button">Volver al Listado</a>
        </span>
    </div> <!-- End .content-box-header -->

    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
                    <fieldset>
                        <p>
                            <label>Crédito N°:</label>
                            {{ form_widget(form.nro_credito, { 'attr': {'class' : 'text-input mini-input','readonly':'readonly' } }) }}
                            <label>Renovación N°:</label>
                            {{ form_widget(form.nro_renovacion, { 'attr': { 'class' : 'text-input fixmini20-input' } }) }}
                            <label>Carpeta N°:</label>
                            {{ form_widget(form.nro_carpeta, { 'attr': { 'class' : 'text-input fixmini20-input' } }) }}
                            <label>Fecha:</label>
                            {{ form_widget(form.fecha_credito, { 'attr': { 'class' : 'text-input date-input datepicker' } }) }}
                        </p>
                        <p>    
                            {{ form_label(form.asesor) }}
                            <input name="_asesor" disabled="disabled" class="text-input smaller-input" value="{{entity.asesor}}" id="asesor" />
                            {{ form_label(form.fecha_entrega) }}
                            {{ form_widget(form.fecha_entrega, { 'attr': { 'class' : 'text-input date-input datepicker' } }) }}
                        </p>
                        <p>
                            <label>Programa de Fondos:</label>
                            <input type="text" value="{{entity.programa}}" class="text-input mini-input" disabled="disabled">
                            <label>Nombre del Grupo:</label>
                            <input value="{{entity.grupo}}" class="text-input small-input" disabled="disabled">  
                        </p>
                        <div id="div_emprendedores"><div style="margin-top:15px" class="content-box">
                                <div class="content-box-header-mini">
                                    <h3>Emprendedores</h3>
                                </div>
                                <div class="content-box-content">
                                    <table>
                                        <thead>
                                            <tr><th style="width: 30%">Nombre y Apellido</th>
                                                <th class="align-center" style="width: 20%">DNI</th>
                                                <th class="align-center" style="width: 10%">Coordinador</th>
                                                <th class="align-center" style="width: 20%">Monto Solicitado</th>
                                                <th style="width: 15%" class="align-center">Gasto Administrativo</th>
                                            </tr></thead>
                                        <tbody>
                                            {% for emprendedor in entity.emprendedores %}
                                                {% set idemp = emprendedor.emprendedor.id %}
                                                <tr>
                                                    <td> <input value="{{emprendedor}}" class="text-input large-input" disabled="disabled"> 
                                                    <input name="empId[]" type="hidden" required="required" class="text-input small-input" value="{{idemp}}" id="emprendedor_{{idemp}}" /> </td>
                                                    <td class="align-center">{{emprendedor.emprendedor.dni}}</td>
                                                    <td class="align-center"> <input type="checkbox" name="coordinador[]" id="coordinador_{{idemp}}" {% if emprendedor.coordinador %}checked="checked"{%endif%} >
                                                    </td>
                                                    <td class="align-center"> <input type="text" name="monto_credito[]" id="monto_credito_{{idemp}}" 
                                                                                     class="text-input medium-input" value="{{emprendedor.montoCredito}}" required="required" onblur="sumTotal('{{idemp}}')"></td>
                                                    <td class="align-center"> <input type="text" name="gasto_administrativo[]" id="gasto_administrativo_{{idemp}}" 
                                                                 class="text-input fixmini40-input" value="{{emprendedor.gastoAdministrativo}}" readonly="readonly"></td>
                                                    <td class="align-center"> </td>
                                                </tr>  
                                                {% if entity.programa.id==5 %}
                                                <tr>
                                                    <td><label style="padding-left: 0">Garante:</label><input value="{{emprendedor.garante}}"  name="garante[]" id="garante" type="text" class="text-input medium-input" style="width: 70% !important "/></td>
                                                    <td colspan="2"> <label>DNI:</label> <input value="{{emprendedor.garanteDni}}"  name="garanteDni[]" id="garanteDni" type="text" class="text-input medium-input"/></td>
                                                    <td colspan="3"><label>Dirección:</label>  <input value="{{emprendedor.garanteDireccion}}"  name="garanteDireccion[]" id="garanteDireccion" type="text" class="text-input medium-input" style="width: 60% !important "/></td>
                                                </tr>
                                                <tr>
                                                    <td><label style="padding-left: 0">Teléfonos:</label><input value="{{emprendedor.garanteTelefono}}"  name="garanteTelefono[]" id="garanteOcupacion" type="text" class="text-input medium-input" style="width: 70% !important "/></td>
                                                    <td colspan="2"><label>Ocupación:</label><input value="{{emprendedor.garanteOcupacion}}"  name="garanteOcupacion[]" id="garanteOcupacion" type="text" class="text-input medium-input"/></td>
                                                    <td colspan="3"><label>Lugar de Trabajo:</label>  <input value="{{emprendedor.garanteLugarTrabajo}}"  name="garanteLugarTrabajo[]" id="garanteLugarTrabajo" type="text" class="text-input medium-input" style="width: 60% !important "/></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <label>Monto total:</label>
                                {{ form_widget(form.monto_credito, { 'attr': {'class' : 'text-input fixmini40-input','readonly':'readonly' } }) }}
                                <label>Cantidad de Cuotas:</label>
                                {{ form_widget(form.cant_cuotas, { 'attr': {'class' : 'text-input fixmini20-input' } }) }}
                                <label>Periodicidad de Pago:</label>
                                cada {{ form_widget(form.periodo, { 'attr': {'class' : 'text-input fixmini20-input chkgasto' } }) }} días
                                {{ form_label(form.fecha_vto_cuota1) }}
                                {{ form_widget(form.fecha_vto_cuota1, { 'attr': {'class' : 'text-input date-input datepicker' } }) }}
                            </p>
                            <p>
                                {{ form_label(form.porc_interes) }}
                                {{ form_widget(form.porc_interes, { 'attr': { 'class' : 'text-input fixmini40-input', 'readonly':'readonly' } }) }}<label> % anual &nbsp; - &nbsp;</label>
                                {{ form_label(form.porc_punitorio) }}
                                {{ form_widget(form.porc_punitorio, { 'attr': { 'class' : 'text-input fixmini40-input', 'readonly':'readonly' } }) }}<label>% mensual &nbsp; - &nbsp;</label>
                                {{ form_label(form.gasto_administrativo) }}
                                    <label>$ &nbsp;</label>{{ form_widget(form.gasto_administrativo, { 'attr': { 'class' : 'text-input fixmini40-input', 'readonly':'readonly' } }) }}
                            </p>  
    <p>
        {{ form_label(form.sin_gastos) }}
        {{ form_widget(form.sin_gastos) }}
    </p>
                            
                            <p class="submit-block">
                                <button type="button" id="simularCuotas"  class="button">Volver a Simular Cuotas</button>
                            </p>    
                            <div id="div_cuota" > </div>
                            <div class="align-center">
                                <input type="hidden" value="{{entity.id}}" name="creditoId"/>
                                <input type="hidden" value="0" id="aprobar" name="aprobar"/>
                                <button type="submit" id="guardar"  onclick="aprobar = 0;" class="button" style="margin-right: 15px">GUARDAR MODIFICACIONES</button>
                               {% if not entity.aprobado and esRenovacion == 0 %}
                                <button type="submit" id="guardarAprobar" onclick="aprobar = 1;" class="button" style="margin-left: 15px">GUARDAR Y APROBAR CREDITO</button>
                                {% endif %} 
                            </div>

                        </fieldset>
                    <div class="clear"></div>
        </div>
        <div class="tab-content" id="tab2"> 
            historico de creditos
        </div>
    </div>
</div>    

<script type="text/javascript">    
    var aprobar = 0;
    $(document).ready(function(){
        $('.datepicker').datepicker({changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            beforeShowDay: $.datepicker.noWeekends});
        $.ajax({
            url: '{{path("get_simulacion_cuota")}}',
            data: 'empId='+'{{ entity.id }}',
            async:false,
            dataType: 'json',
            success: function(data){
                $('#div_cuota').html(data);
           }
       });
       
       $('.chkgasto').change(function(){
        var periodo = $("#credito_periodo").val();
        var total = 0;
        if( !isEmpty(periodo) ){
            $('[id^="monto_credito_"]').each(function (index,domEle){
                monto = $(domEle).val();
                if( monto!='' ){
                    $.ajax({
                    url: '{{ path('credito_get_gastoadm') }}',
                    data: 'monto='+monto+'&periodo='+periodo,
                    dataType: 'json',
                    success: function(data){ 
                         id = $(domEle).attr('id').replace('monto_credito_','gasto_administrativo_');
                         total = total + (data*1);
                         $('#'+id).val(data);
                         $('#credito_gasto_administrativo').val(total);
                       }
                    });    
                }    
            });    
        }    
      });
       
        $('#simularCuotas').click(function(){
            if( $('input:required:invalid').attr('id')){
                alert('Debe ingresar todos los datos para continuar');
                $('input:required:invalid').focus();
                return false;
            };
            $('#loading').fadeIn();
            $.ajax({
                url: '{{path("simulacion_cuotas")}}',
                data: $('form').serialize(),
                async:false,
                dataType: 'json',
                success: function(data){
                    if(data.msg=='VALIDO'){  $('[type="submit"]').show();  }    
                    $('#div_cuota').html(data.partial);
               }
           });
           $('#loading').fadeOut();
        });
        
        $('[type="submit"]').click(function(){
            if( $('input:required:invalid').attr('id')){
                alert('Debe ingresar todos los datos para continuar');
                $('input:required:invalid').focus();
                return false;
            };
            var total = $('#credito_monto_credito').val();
            var suma=0;
            $("[id*='monto_credito_']").each(function (index, domEle) {
                suma = suma + parseInt($(domEle).val());
            });
            if(total!=suma){
               alert('El monto de crédito no está correctamente repartido entre los emprendedores ');
               return false;
            }
            if(aprobar==1) var msg='Confirma guardar las modificaciones?\n\nEl Crédito se registrá como Aprobado';
            else  var msg='Confirma guardar las modificaciones?';   
            $('#aprobar').val(aprobar);
            if (confirm(msg))
                return true;
            return false;
        });
       
     });
function sumTotal(id){
/* gasto */
    var monto = '[id^="monto_credito_'+id+'"]';
    var gasto = '[id^="gasto_administrativo_'+id+'"]';
    var periodo = $("#credito_periodo").val();
    if( !isEmpty(periodo) ){
        $.ajax({
            url: '{{ path('credito_get_gastoadm') }}',
            data: 'monto='+$(monto).val()+'&periodo='+periodo,
            dataType: 'json',
            async:false,
            success: function(data){ 
                if(data)  $(gasto).val(data);
                else      $(gasto).val(0);
            }
        });    
    }
    var totgasto = 0;
    $('[id^="gasto_administrativo_"]').each(function (index, domEle) {
        if($(domEle).val()!='' )   totgasto = totgasto + parseInt($(domEle).val());    
    });
    $('#credito_gasto_administrativo').val(parseInt(totgasto));
/* total */    
    var total = 0;
    $('[id^="monto_credito_"]').each(function (index, domEle) {
        if($(domEle).val()!='' )   total = total + parseInt($(domEle).val());    
    });
    $('#credito_monto_credito').val(parseInt(total));
    $('#credito_monto_credito').change();
}     
     
/*function sumTotal(){
    var total = 0;
    $('[id^="monto_credito_"]').each(function (index, domEle) {
        if($(domEle).val()!='' )
            total = total + parseInt($(domEle).val());
    });
    $('#credito_monto_credito').val(parseInt(total));
    $('#credito_monto_credito').change();
}*/
</script>
{% endblock %}


