<div class="content-box" style="margin: 15px auto; width: 100%" >
    <div class="content-box-header-mini">
        <h3>Composición de cuota</h3>
    </div>
        {% set capital,interes,gasto,punitorio,total = 0,0,0,0,0 %}
    <div class="content-box-content">
        <table>
            <thead>
            <th>Emprendedor</th>
            <th style="text-align: right">Capital</th>
            <th style="text-align: right">Intereses</th>
            <th style="text-align: right">Gasto Adm.</th>
            <th style="text-align: right">Punitorios</th>
            <th style="text-align: right">Total</th>
            </thead>
            <tbody>
                {% for simCuota in simulacionCuotas %}
                    <tr>
                        <td>{{simCuota.emprendedor}}</td>
                        <td style="text-align: right" >{{simCuota.montoCapital | number_format(2)}}</td>
                        <td style="text-align: right">{{simCuota.montoIntereses | number_format(2)}}</td>
                        <td style="text-align: right">{{simCuota.gastoAdministrativo | number_format(2)}}</td>
                        <td style="text-align: right">{{simCuota.montoPunitorios | number_format(2)}}</td>
                        <td style="text-align: right">{{simCuota.montoTotal | number_format(2)}}</td>
                    </tr>
                    {% set capital = capital + cuota.montoCapital %}
                    {% set interes = interes + cuota.montoIntereses %}
                    {% set gasto = gasto + cuota.gastoAdministrativo %}
                    {% set punitorio = punitorio + cuota.montoPunitorios %}
                    {% set total = total + cuota.montoTotal %}
                   {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th style="text-align: right"><strong>Cuota del Crédito</strong></th>
                    <th style="text-align: right">{{ cuota.montoCapital | number_format(2) }}</th>
                    <th style="text-align: right">{{ cuota.montoIntereses | number_format(2)}}</th>
                    <th style="text-align: right">{{ cuota.gastoAdministrativo | number_format(2)}}</th>
                    <th style="text-align: right">{{ cuota.montoPunitorios | number_format(2)}}</th>
                    <th style='text-align: right;background: url("../images/bg-content-box.gif") repeat-x scroll left top #E5E5E5'><strong>{{cuota.montoTotal | number_format(2)}}</strong></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>