        <style>
                .header{
                    clear: both;
                    height: 100px;
                }
                .header-title{
                    display: inline-block;
                    margin-top: 1%;
                    text-align: center;
                    width: 85%;
                }
                .logo{
                    float: left;
                    width: 10%;
                    margin-left: 30px;
                }
                h5{text-align: right; font-weight: lighter;}
                .align-center{text-align: center}
                .clear {clear: both; height: 50px;}
                p {
                    line-height: 1.3em;
                    margin: 10px 0 0 30px;
                    text-align: justify;
                }
                table{ font-family:'Arial';font-size: 11px; width: 90%; margin:auto}
                table tr{ height: 40px; }
                table tr th{
                    border: 1px solid gray;
                    padding: 5px;

                }
                table tr td{
                    border: 1px solid gray;
                    padding:3px 5px;
                }       
                table tfoot tr th{ border:none; font-size: 12px; height: 60px}
                .relleno{width: 100%; float: left; border-bottom: 1px solid black;margin-left: 30px;height: 30px;}
                .firma{float: left;border-top: 1px solid black;margin:50px 30px;text-align: center;}
                .firma.integrantes{width: 58%;}
                .firma.asesor{width: 28%;}
        </style>
        <div class="header">
                <div class="logo">
                    <img style="float:left" id="logo"  src="{{ absolute_url(asset('images/logomin.png')) }}" />
                </div>
                <div class="header-title"> <h2>SOLICITUD DE CREDITO</h2> </div>
                
            </div>
        <hr>
                <h5>Fecha: {{date('now')|date('d / m / Y H:i')}}</h5>
        <p>{% if credito.grupo %}Código de Grupo: {{credito.grupo.codigo}} 
            {% else %} Código del Emprendedor: {{credito.emprendedor.emprendedor.codigo}} {% endif %}</p>    
        <p>{% if credito.grupo %}Nombre de Grupo: {{credito.grupo | upper }}
            {% else %} Nombre del Emprendedor: {{credito.emprendedor | upper }} {% endif %}</p>    
        <p>Crédito N&deg;: {{credito.nroCredito}}-{{credito.nroRenovacion}}</p>    
        <p>Asesor de Crédito: {{credito.asesor.nombre}}</p>    
        <div class="clear" >&nbsp;</div>    
        <table cellspacing="0" >
            <thead>
                <tr>
                    <th width="30%" > Nombre y Apellido </th>
                    <th width="10%" class="align-center"> Coord. </th>
                    <th width="10%" class="align-center"> D.N.I. </th>
                    <th width="10%"> Monto<br>Solicitado </th>
                    <th width="10%"> Monto<br>Aprobado </th>
                    <th width="30%"> Firma </th>
                </tr>
            </thead>
            <tbody>
                {% for emprendedor in credito.emprendedores %}
                    <tr>
                        <td> {{ emprendedor }} </td>
                        <td class="align-center"> {% if emprendedor.coordinador %}X{%endif%} </td>
                        <td class="align-center"> {{ emprendedor.emprendedor.dni }} </td>
                        <td style="text-align: right"> $ {{ emprendedor.montoCredito }} </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>                    
                    </tr>
                    {% if emprendedor.garante %}
                    <tr>
                        <td> {{ emprendedor.garante }} </td>
                        <td class="align-center"> </td>
                        <td class="align-center"> {{ emprendedor.garanteDni }} </td>
                        <td style="text-align: right"> --- </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>                    
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>  
            <tfoot>
                <tr>
                    <th colspan="3" style="text-align: right">Monto total pesos: {{letras}} </th>
                    <th style="text-align: right" >$ {{ credito.montoCredito }} </th>
                    <th style="text-align: right" >$ ................ </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>    
        <div style="clear: both">&nbsp;</div>  
        <p><strong>CONDICIONES DEL CRÉDITO:</strong></p>
        <div style="width: 48%; float: left"><p>Plazo en semanas: {{ (credito.periodo * credito.cantCuotas) / 7 }}</p></div>
        <div style="width: 48%; float: left"><p>Cuotas a pagar cada: {{ credito.periodo }} días</p> </div>
           
        <div style="clear: both">&nbsp;</div>   
        <p><strong>RESOLUCIÓN DEL COMITÉ DE GESTIÓN DEL DÍA: ...../...../{{ date() | date('Y') }}</strong></p>
        <div style="width: 48%; float: left">
            <p>Aprobado:</p>
            <p>Rechazado:</p>
            <p>Monto Aprobado:</p>
            <p>Plazo en meses:</p>
        </div>
        <div style="width: 48%; float: left">
            <p>Cuotas a pagar cada ...... días</p>
            <p>Número de cuotas:</p>
        </div>
        <div style="clear: both">&nbsp;</div>   
        <p>Observaciones del Comité:</p>
        <div class="relleno">&nbsp;</div>
        <div class="relleno">&nbsp;</div>
        <div class="relleno">&nbsp;</div>
        <div class="relleno">&nbsp;</div>
        <div style="clear: both; height: 20px">&nbsp;</div>  
        <div class="firma asesor">Asesor de Crédito</div>
        <div class="firma integrantes">Integrantes del Comité de Gestión local <small>(mínimo 2 firmas)</small></div>
    </body>
</html>