<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <style>
                h5{text-align: right; font-weight: lighter;}
                .align-center{text-align: center}
                .clear {clear: both; height: 50px;}
                p {
                    line-height: 1.3em;
                    margin: 10px 0 0 30px;
                    text-align: justify;
                }
                table{ font-family:'Arial';font-size: 11px; }
                table tr{ height: 40px; }
                table tr th{
                    border: 1px solid gray;
                    padding: 5px;

                }
                table tr td{
                    border: 1px solid gray;
                    padding:3px 5px;
                }       
                table tfoot tr th{ border:none; font-size: 12px; height: 60px}
        </style>
    </head>
    <body>
        <div class="clear">
            <div class="align-center"> <h2>SOLICITUD DE CREDITO</h2> </div>
            <hr>
        </div>
        <h5>Fecha: {{date('now')|date('d / m / Y H:i')}}</h5>    
        <p>Código de Grupo: {{credito.grupo.codigo}}</p>    
        <p>Nombre de Grupo: {{credito.grupo | upper }}</p>    
        <p>Crédito N&deg;: {{credito.nroCredito}}</p>    
        <p>Asesor de Crédito: {{credito.asesor.nombre}}</p>    
        <div class="clear" >&nbsp;</div>    
        <table cellspacing="0" >
            <thead>
                <tr>
                    <th width="30%" > Nombre y Apellido </th>
                    <th width="5%" class="align-center"> Coord. </th>
                    <th width="5%" class="align-center"> D.N.I. </th>
                    <th width="15%"> Monto<br>Solicitado </th>
                    <th width="10%"> Monto<br>Aprobado </th>
                    <th width="30%"> Firma </th>
                </tr>
            </thead>
            <tbody>
                {% for emprendedor in credito.emprendedores %}
                    <tr>
                        <td> {{ emprendedor }} </td>
                        <td class="align-center"> {% if emprendedor.coordinador %}X{%endif%} </td>
                        <td class="align-center"> {{ emprendedor.emprendedor.dni }} </td>
                        <td style="text-align: right"> $ {{ emprendedor.montoCredito }} </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>                    
                    </tr>
                {% endfor %}
            </tbody>  
            <tfoot>
                <tr>
                    <th colspan="3" style="text-align: right">Monto total pesos: {{letras}} </th>
                    <th style="text-align: right" >$ {{ credito.montoCredito }} </th>
                    <th style="text-align: right" >$ ............. </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>    
        <div style="clear: both">&nbsp;</div>  
        <p><strong>CONDICIONES DEL CRÉDITO:</strong></p>
        <div style="width: 48%; float: left"><p>Plazo en semanas: {{ (credito.periodo * credito.cantCuotas) / 7 }}</p></div>
        <div style="width: 48%; float: left"><p>Cuotas a pagar cada: {{ credito.periodo }} días</p> </div>
           
        <div style="clear: both">&nbsp;</div>   
        <p><strong>RESOLUCIÓN DEL COMITÉ DE GESTIÓN DEL DÍA: ...../...../{{ date() | date('Y') }}</strong></p>
        <div style="width: 48%; float: left">
            <p>Aprobado:</p>
            <p>Rechazado:</p>
            <p>Monto Aprobado:</p>
            <p>Plazo en meses:</p>
        </div>
        <div style="width: 48%; float: left">
            <p>Cuotas a pagar cada ...... días</p>
            <p>Número de cuotas:</p>
        </div>
        <div style="clear: both">&nbsp;</div>   
        <div style="width: 10%; float: left">Observaciones del Comité:</div>
        <div style="width: 89%; float: left; border-bottom: 1px solid black">&nbsp;</div>
        <div style="width: 100%; float: left; border-bottom: 1px solid black">&nbsp;</div>
        <div style="width: 100%; float: left; border-bottom: 1px solid black">&nbsp;</div>
        <div style="width: 100%; float: left; border-bottom: 1px solid black">&nbsp;</div>
        
        
    </body>
</html>


