<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >   
<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
</style>       
    <table cellspacing="0">
        {% set total=0 %}
        <thead>
            <tr>
                <th>Año</th>
                <th>Mes</th>
                <th class="align-center">Capital Esperado</th>
                <th class="align-center">Gastos Esperado</th>
                <th class="align-center">Interes Esperado</th>
                <th class="align-center">TOTAL Esperado</th>

                <th class="align-center">PERIODO</th>
                <th class="align-center">Capital Periodo</th>
                <th class="align-center">Gastos Periodo</th>
                <th class="align-center">Interes Periodo</th>
                <th class="align-center">TOTAL Periodo</th>

                <th class="align-center">ANTERIORES</th>
                <th class="align-center">Capital Anteriores</th>
                <th class="align-center">Gastos Anteriores</th>
                <th class="align-center">Interes Anteriores</th>
                <th class="align-center">Punitorios</th>
                <th class="align-center">TOTAL Anteriores</th>

                <th class="align-center">FUTUROS</th>
                <th class="align-center">Capital Futuros</th>
                <th class="align-center">Gastos Futuros</th>
                <th class="align-center">Interes Futuros</th>
                <th class="align-center">TOTAL Futuros</th>

                <th class="align-center">TOTALES</th>
                <th class="align-center">Capital Total</th>
                <th class="align-center">Gastos Total</th>
                <th class="align-center">Interes Total</th>
                <th class="align-center">TOTAL</th>

                <th class="align-center">METRICAS</th>
                <th class="align-center">Efectividad</th>
                <th class="align-center">Anticipacion</th>
                <th class="align-center">Recuperación</th>
                <th class="align-center">Recuperacion total</th>
                <th class="align-center">Pendiente total</th>
            </tr>
        </thead>
        <tbody>
            {% for anio,entity in entities %}
                {% for mes,entityMes in entity %}

                    {#Capital#}
                    {%  if( entityMes['periodo_capital'] is not defined ) %}
                        {% set periodo_capital = 0 %}
                    {% else %}
                        {% set periodo_capital = entityMes['periodo_capital'] %}
                    {% endif %}

                    {%  if( entityMes['anterior_capital'] is not defined ) %}
                        {% set anterior_capital = 0 %}
                    {% else %}
                        {% set anterior_capital =  entityMes['anterior_capital'] %}
                    {% endif %}
                    {%  if( entityMes['futuro_capital'] is not defined ) %}
                        {% set futuro_capital = 0 %}
                    {% else %}
                        {% set futuro_capital = entityMes['futuro_capital'] %}
                    {% endif %}

                    {#Intereses#}
                    {%  if( entityMes['periodo_intereses'] is not defined ) %}
                        {% set periodo_intereses = 0 %}
                    {% else %}
                        {% set periodo_intereses = entityMes['periodo_intereses'] %}
                    {% endif %}
                    {%  if( entityMes['anterior_intereses'] is not defined ) %}
                        {% set anterior_intereses =0 %}
                    {% else %}
                        {% set anterior_intereses = entityMes['anterior_intereses'] %}
                    {% endif %}
                    {%  if( entityMes['futuro_intereses'] is not defined ) %}
                        {% set futuro_intereses = 0 %}
                    {% else %}
                        {% set futuro_intereses = entityMes['futuro_intereses'] %}
                    {% endif %}

                    {#Gastos Admin#}
                    {%  if( entityMes['periodo_gasto_admin'] is not defined ) %}
                        {% set periodo_gasto_admin =0 %}
                    {% else %}
                        {% set periodo_gasto_admin = entityMes['periodo_gasto_admin'] %}
                    {% endif %}
                    {%  if( entityMes['anterior_gasto_admin'] is not defined ) %}
                        {% set anterior_gasto_admin = 0 %}
                    {% else %}
                        {% set anterior_gasto_admin = entityMes['anterior_gasto_admin'] %}
                    {% endif %}
                    {%  if( entityMes['futuro_gasto_admin'] is not defined ) %}
                        {% set futuro_gasto_admin = 0 %}
                    {% else %}
                        {% set futuro_gasto_admin = entityMes['futuro_gasto_admin'] %}
                    {% endif %}

                    {#Total#}
                    {%  if( entityMes['periodo_total'] is not defined ) %}
                        {% set periodo_total = 0 %}
                    {% else %}
                        {% set periodo_total= entityMes['periodo_total'] %}
                    {% endif %}
                    {%  if( entityMes['anterior_total'] is not defined ) %}
                        {% set anterior_total = 0 %}
                    {% else %}
                        {% set anterior_total = entityMes['anterior_total'] %}
                    {% endif %}
                    {%  if( entityMes['futuro_total'] is not defined ) %}
                        {% set futuro_total = 0 %}
                    {% else %}
                        {% set futuro_total = entityMes['futuro_total'] %}
                    {% endif %}
                <tr>
                    <td>{{anio}}</td>
                    <td>{{mes}}</td>
                    <td class="align-center">{{entityMes['esperado_capital'] |  number_format(2,'.',',')}}</td>
                    <td class="align-center">{{entityMes['esperado_intereses'] | number_format(2,'.',',')}}</td>
                    <td class="align-center">{{entityMes['esperado_gasto_admin'] | number_format(2,'.',',')}}</td>
                    <td class="align-center">{{entityMes['esperado_total'] | number_format(2,'.',',')}} </td>

                    <td></td>
                    <td class="align-center">{{ periodo_capital |  number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ periodo_intereses | number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ periodo_gasto_admin | number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ periodo_total | number_format(2,'.',',')}} </td>

                    <td></td>
                    <td class="align-center">{{ anterior_capital |  number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ anterior_intereses | number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ anterior_gasto_admin | number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ anterior_total | number_format(2,'.',',')}} </td>

                    <td></td>
                    <td class="align-center">{{ futuro_capital |  number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ futuro_intereses | number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ futuro_gasto_admin | number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ futuro_total | number_format(2,'.',',')}} </td>

                    <td></td>
                    <td class="align-center">
                        {{ (periodo_capital + anterior_capital + futuro_capital) |  number_format(2,'.',',')}}
                    </td>
                    <td class="align-center">
                        {{ (periodo_intereses + anterior_intereses + futuro_intereses) | number_format(2,'.',',')}}
                    </td>
                    <td class="align-center">
                        {{ (periodo_gasto_admin + anterior_gasto_admin+ futuro_gasto_admin) | number_format(2,'.',',')}}
                    </td>
                    <td class="align-center">
                        {{ (periodo_total + anterior_total + futuro_total) | number_format(2,'.',',')}}
                    </td>

                    <td></td>
                    <td class="align-center">{{ (periodo_total/entityMes['esperado_total'])*100 |  number_format(2,'.',',') }}</td>
                    <td class="align-center">{{ (futuro_total/entityMes['esperado_total'])*100 |  number_format(2,'.',',') }}</td>
                    <td class="align-center">{{ (anterior_total/entityMes['esperado_total'])*100 |  number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ ((periodo_total+anterior_total + futuro_total)/entityMes['esperado_total'])*100 |  number_format(2,'.',',')}}</td>
                    <td class="align-center">{{ 100-(((periodo_total+anterior_total + futuro_total)/entityMes['esperado_total'])*100) |  number_format(2,'.',',')}}</td>

                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

   </body>
</html>