{% extends "Default/baseListEntity.html.twig" %}

{% block filterBox %}
     {% include 'Reportes/reca/filter.html.twig' %}
{% endblock %}

{% block titleList %} Reca{% endblock %}

{% block opList %}
    <button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('reportes_reca_opList',{'estado': 0 }) }}" >Opciones de Listado</button>
{% endblock %}


{% block thList %}
    <th class="align-center">Año</th>
    <th class="align-center">Mes</th>
    <th class="align-center">Capital Esperado</th>
    <th class="align-center">Gastos Esperado</th>
    <th class="align-center">Interes Esperado</th>
    <th class="align-center">TOTAL Esperado</th>

    <th class="align-center">Capital Periodo</th>
    <th class="align-center">Gastos Periodo</th>
    <th class="align-center">Interes Periodo</th>
    <th class="align-center">TOTAL Periodo</th>

    <th class="align-center">Capital Total</th>
    <th class="align-center">Gastos Total</th>
    <th class="align-center">Interes Total</th>
    <th class="align-center">TOTAL</th>
{% endblock %}

{% block bodyList %}
    {% for anio,entity in entities %}
        {% for mes,entityMes in entity %}
        <tr>
            <td class="align-center">{{anio}} </td>
            <td class="align-center">{{mes}} </td>

            {#Capital#}
            {%  if( entityMes['periodo_capital'] is not defined ) %}
                {% set periodo_capital = 0 %}
            {% else %}
                {% set periodo_capital = entityMes['periodo_capital'] %}
            {% endif %}

            {%  if( entityMes['anterior_capital'] is not defined ) %}
                {% set anterior_capital = 0 %}
            {% else %}
                {% set anterior_capital =  entityMes['anterior_capital'] %}
            {% endif %}
            {%  if( entityMes['futuro_capital'] is not defined ) %}
                {% set futuro_capital = 0 %}
            {% else %}
                {% set futuro_capital = entityMes['futuro_capital'] %}
            {% endif %}

            {#Intereses#}
            {%  if( entityMes['periodo_intereses'] is not defined ) %}
                {% set periodo_intereses = 0 %}
            {% else %}
                {% set periodo_intereses = entityMes['periodo_intereses'] %}
            {% endif %}
            {%  if( entityMes['anterior_intereses'] is not defined ) %}
                {% set anterior_intereses =0 %}
            {% else %}
                {% set anterior_intereses = entityMes['anterior_intereses'] %}
            {% endif %}
            {%  if( entityMes['futuro_intereses'] is not defined ) %}
                {% set futuro_intereses = 0 %}
            {% else %}
                {% set futuro_intereses = entityMes['futuro_intereses'] %}
            {% endif %}

            {#Gastos Admin#}
            {%  if( entityMes['periodo_gasto_admin'] is not defined ) %}
                {% set periodo_gasto_admin =0 %}
            {% else %}
                {% set periodo_gasto_admin = entityMes['periodo_gasto_admin'] %}
            {% endif %}
            {%  if( entityMes['anterior_gasto_admin'] is not defined ) %}
                {% set anterior_gasto_admin = 0 %}
            {% else %}
                {% set anterior_gasto_admin = entityMes['anterior_gasto_admin'] %}
            {% endif %}
            {%  if( entityMes['futuro_gasto_admin'] is not defined ) %}
                {% set futuro_gasto_admin = 0 %}
            {% else %}
                {% set futuro_gasto_admin = entityMes['futuro_gasto_admin'] %}
            {% endif %}

            {#Total#}
            {%  if( entityMes['periodo_total'] is not defined ) %}
                {% set periodo_total = 0 %}
            {% else %}
                {% set periodo_total= entityMes['periodo_total'] %}
            {% endif %}
            {%  if( entityMes['anterior_total'] is not defined ) %}
                {% set anterior_total = 0 %}
            {% else %}
                {% set anterior_total = entityMes['anterior_total'] %}
            {% endif %}
            {%  if( entityMes['futuro_total'] is not defined ) %}
                {% set futuro_total = 0 %}
            {% else %}
                {% set futuro_total = entityMes['futuro_total'] %}
            {% endif %}


            {#Esperado#}
            {%  if( entityMes['esperado_capital'] is not defined ) %}
                {% set esperado_capital = 0 %}
            {% else %}
                {% set esperado_capital= entityMes['esperado_capital'] %}
            {% endif %}
            {%  if( entityMes['esperado_intereses'] is not defined ) %}
                {% set esperado_intereses = 0 %}
            {% else %}
                {% set esperado_intereses = entityMes['esperado_intereses'] %}
            {% endif %}
            {%  if( entityMes['esperado_gasto_admin'] is not defined ) %}
                {% set esperado_gasto_admin = 0 %}
            {% else %}
                {% set esperado_gasto_admin = entityMes['esperado_gasto_admin'] %}
            {% endif %}
            {%  if( entityMes['esperado_total'] is not defined ) %}
                {% set esperado_total = 0 %}
            {% else %}
                {% set esperado_total = entityMes['esperado_total'] %}
            {% endif %}

            <td class="align-center">$ {{ esperado_capital |  number_format(2,'.',',')}}</td>
            <td class="align-center">$ {{ esperado_intereses | number_format(2,'.',',')}}</td>
            <td class="align-center">$ {{ esperado_gasto_admin | number_format(2,'.',',')}}</td>
            <td class="align-center">$ {{ esperado_total | number_format(2,'.',',')}} </td>

            <td class="align-center">$ {{ periodo_capital |  number_format(2,'.',',')}}</td>
            <td class="align-center">$ {{ periodo_intereses | number_format(2,'.',',')}}</td>
            <td class="align-center">$ {{ periodo_gasto_admin | number_format(2,'.',',')}}</td>
            <td class="align-center">$ {{ periodo_total | number_format(2,'.',',')}} </td>


            <td class="align-center">
                $ {{ (periodo_capital + anterior_capital + futuro_capital) |  number_format(2,'.',',')}}
            </td>
            <td class="align-center">
                $ {{ (periodo_intereses + anterior_intereses + futuro_intereses) | number_format(2,'.',',')}}
            </td>
            <td class="align-center">
                $ {{ (periodo_gasto_admin + anterior_gasto_admin+ futuro_gasto_admin) | number_format(2,'.',',')}}
            </td>
            <td class="align-center">
                $ {{ (periodo_total + anterior_total + futuro_total) | number_format(2,'.',',')}}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
{% endblock %}