<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Criterios de Filtro</h5>
        <span class="align-right action arrow close-box" title="ocultar/mostrar" >cerrar</span>
    </div>
    <div class="content-box-content">
        <form action="{{ path('reportes_clientes_index') }}" method="post" >
            <fieldset>
                <p>
                    <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>

                    <label><strong>Programa de Fondos:</strong></label>
                    <select name="_programa" id="select_programa" class="smaller-input" url="{{ path('es_programa_individual') }}">
                        <option value="0">---</option>
                        {% for programa in programas %}
                            <option value="{{ programa.id}}" {{ filtro.programa == programa.id ? ' selected="selected"' : '' }} >
                                {{programa.sigla}}
                            </option>
                        {% endfor %}
                    </select>
                </p>

            </fieldset>
        </form>
    </div>
</div>
            
<script type="text/javascript">
    //Implementa la función setup que registre un controlador de eventos "click" con la siguiente lógica: Cuando un botón con clase remove sea pulsado, su elemento padre <div> debe ser removido de la galería.
    function setup() {
        // Write your code here.
        let removeButton = document.getElementsByClassName("remove");
        for (var i = 0; i < removeButton.length; i++) {
            removeButton[i].addEventListener('click', removeButton[i].parentNode.remove(), false);
        }

    }

    function removeElement(){
        console.log('click')
    }

    setup();

    document.getElementsByClassName("remove")[0].click();
    console.log(document.body.innerHTML);
</script>  
