<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >   
<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #D3D3D3;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
</style>       
    <table cellspacing="0">
        {% set total=0 %}
        <thead>
            <tr>
                <th>Nro Credito</th>
                <th>Grupo/Emprendedor</th>
                <th class="align-center">Creditos Act.</th>
                <th class="align-center">Creditos Can.</th>
                <th class="align-center">Creditos Fin.</th>
                <th class="align-center">Fecha de Entrega </th>
                <th class="align-center">Fecha ult. Pago</th>
                <th class="align-center">Cuotas Actual</th>
                <th class="align-center">Cant. Cuotas</th>
                <th class="align-center">Frecuencia Cuotas</th>
                <th class="align-center">KO</th>
                <th class="align-center">Cuota %</th>
                <th class="align-center">Desfase Venc. y Canc. %</th>
                <th class="align-center">Nombre Emprendedor/es</th>
                <th class="align-center">Numero Telefono/s</th>
                <th class="align-center">Garante Nombre </th>
                <th class="align-center">Garante Telefono</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td>{{ entity.codigo  }}</td>
                <td>{{ entity.nombre  }}</td>
                <td class="align-center">{{ entity.creditos_activos }}</td>
                <td class="align-center">{{ entity.creditos_cancelados }}</td>
                <td class="align-center">{{ (entity.creditos_activos+entity.creditos_cancelados) }}</td>
                <td class="align-center">
                    {% if(entity.fecha_entraga is defined) %}
                        {{ entity.fecha_entraga | date('d-m-Y') }} - {{ entity.id }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.fecha_ultimo_pago is defined) %}
                        {{ entity.fecha_ultimo_pago | date('d-m-Y') }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.cuota_actual is defined) %}
                        {{ entity.cuota_actual }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.cuota_cantidad is defined) %}
                        {{ entity.cuota_cantidad }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.cuotas_frecuencias is defined) %}
                        {{ entity.cuotas_frecuencias }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.ko is defined) %}
                        ${{ entity.ko | number_format(2, ',', '.') }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.cuota_porcentaje is defined) %}
                        {{ entity.cuota_porcentaje | number_format(2, ',', '.') }}%
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.cuota_dias_desfase is defined) %}
                        {{ entity.cuota_dias_desfase | number_format(2, ',', '.') }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.emprendor_nombre is defined) %}
                        {{ entity.emprendor_nombre }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.emprendor_telefono is defined) %}
                        {{ entity.emprendor_telefono }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.garante_nombre is defined) %}
                        {{ entity.garante_nombre }}
                    {% endif %}
                </td>
                <td class="align-center">
                    {% if(entity.garante_telefono is defined) %}
                        {{ entity.garante_telefono }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   </body>
</html>