{% extends "Default/baseListEntity.html.twig" %}
{% block filterBox %} 
     {% include 'Gastos/gastosFilter.html.twig' %}
{% endblock %}
{% block titleList %} Listado de Gastos {% endblock %}
{% block opList %}<button id="opList" class="button list" title="Opciones de listado y exportación"
        url="{{path('gasto_opList',{'estado': 0 }) }}" >Opciones de Listado</button>{% endblock %}

{% block totalList %} Total: <strong>{{entities.getTotalItemCount}}</strong>
{% endblock %}

{% block thList %}
<th>Fecha</th>
<th>Programa</th>
<th>Concepto</th>
<th></th>
<th class="align-center">Importe</th>
<th><a href="{{ path('gasto_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td>{{ entity.fecha |date('d-m-Y') }}</td>
            <td>{{ entity.programa }}</td>
            <td>{{ entity.concepto }}</td>
            <td>{% if entity.concepto.numerico==1%}Honorarios{% endif %}</td>
            <td class="align-center">{{ entity.importe }}</td>
            <td>
                <a href="{{ path('gasto_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                    Editar
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}