<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Criterios de Filtro</h5>
        <span class="align-right action arrow close-box" title="ocultar/mostrar" >cerrar</span>
    </div>
    <div class="content-box-content"> 
        <form action="{{ path('gasto') }}" method="post" >
            <fieldset>
                <p>
                    <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    <button class="action align-right clean" onclick="limpiar()" title="Limpiar">Limpiar</button>
                    <button type="submit" id="buscar" class="action align-right search" title="Buscar">Buscar</button>

                    <label><strong>Programa de Fondos:</strong></label>
                    <select name="_programa" id="select_programa" class="smaller-input" url="{{ path('es_programa_individual') }}">
                        <option value="0">---</option>
                    {% for programa in programas %}
                        <option value="{{ programa.id}}" {{ filtro.programa == programa.id ? ' selected="selected"' : '' }} > 
                            {{programa.sigla}} 
                            </option>
                    {% endfor %}            
                    </select>
                    
                    <label><strong>Concepto:</strong></label>
                    <select name="_concepto" id="select_concepto" class="smaller-input">
                        <option value="0">---</oprtion>
                    {% for concepto in conceptos %}
                        <option value="{{ concepto.id}}" {{ filtro.concepto == concepto.id ? ' selected="selected"' : '' }} > 
                            {{concepto.nombre}} 
                            </option>
                    {% endfor %}            
                    </select>
                    <label><strong>Fecha Gasto:</strong></label>
                    <input name="_desde" class="text-input date-input" value="{{filtro.desde}}" id="fecha_desde_filter" />            
                    <input name="_hasta" class="text-input date-input" value="{{filtro.hasta}}" id="fecha_hasta_filter" />            
                           
                    
                </p>     
                
            </fieldset>    
        </form>
    </div>
</div>
            
<script type="text/javascript">    
    $(document).ready(function(){
        setTimeout(function(){
            if( isEmpty($('#fecha_desde_filter').val()) && isEmpty($('#fecha_hasta_filter').val())
                && $('#select_concepto').val()==0 
                && isEmpty($('form :focus').serialize())){
                    $(".content-box-header span.arrow").click();
         }
        },3000);
      });     
    function limpiar(){
        $('#fecha_desde_filter').val('');
        $('#fecha_hasta_filter').val('');
        $('#select_concepto').val('');
        $('#opFiltro').val('limpiar');
        $('#buscar').click();
    }
</script>  
