{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Registro de Gastos </h2>{% endblock %}
{% block pathback %}   {{ path('gasto') }}           {% endblock %}

{% block groupFormContent %}
<div class="tab-content default-tab" id="tabPrograma1">   
        {% if entity.id  %}
            <div class="align-right">
                <form action=" {{path('gasto_delete', { 'id': entity.id })}}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit" title="Eliminar" class="action deleteMax">Eliminar</button>
                </form>
            </div>
            <form action="{{path('gasto_update', { 'id': entity.id })}}" method="post"  >
          {% else %}
            <form action="{{ path('gasto_create') }} " method="post"  >
          {%endif%}
<fieldset>
    <p>
        {{ form_label(form.fecha) }}
        {{ form_widget(form.fecha, { 'attr': {'class' : 'text-input date-input datepicker' } }) }}
    </p>
    <p>
        {{ form_label(form.programa) }}
        {{ form_widget(form.programa, { 'attr': { 'class' : 'text-input small-input' } }) }}    
    </p>
    <p>
        {{ form_label(form.concepto) }}
        {{ form_widget(form.concepto, { 'attr': { 'class' : 'text-input small-input' } }) }}    
    </p>
    <p>
        {{ form_label(form.importe) }}
        {{ form_widget(form.importe, { 'attr': { 'class' : 'text-input mini-input' } }) }}  
    </p>
    <p>
        {{ form_label(form.observacion) }}
        {{ form_widget(form.observacion, { 'attr': { 'class' : 'text-input medium-input' } }) }}  
    </p>
</fieldset>
                <p class="submit-block">
                    <button type="submit" class="button">Guardar</button>
                </p>
                {{ form_rest(form) }}
             </form>        
             <div class="clear"></div>
</div>

<script type="text/javascript">    
    var aprobar = 0;
    $(document).ready(function(){
        $('.datepicker').datepicker({changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            beforeShowDay: $.datepicker.noWeekends});

        $('#gastos_concepto').select2();
       
     });
</script>
{% endblock %}
 