<h1>Gastos list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Importe</th>
            <th>Observacion</th>
            <th>Fechaalta</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('gasto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.importe }}</td>
            <td>{{ entity.observacion }}</td>
            <td>{% if entity.fechaAlta %}{{ entity.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('gasto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('gasto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('gasto_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
