<style>
.align-center{text-align: center}
h5{float:right; font-weight: lighter;}
table{ font-family:'Arial';font-size: 12px; width:100%;  }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #E9E9E9;
    padding: 5px;
    font-size: 13px;
    }
table tr th:last-of-type, table tr.master td:last-of-type { 
    border-right: 1px solid gray;  
    
}
table tr.master:last-of-type td{    border-bottom: 1px solid gray;  }
table tr.master:first-of-type td{    border-top: 1px solid gray;  }
table tr.master td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
table tr td{  padding:3px 15px;}
{% if option=='D' %}
table tr.master td, table tfoot tr th{ border-bottom: 1px solid gray; font-weight: bold; margin: 0 2px}
table tr.detail td:first-of-type{ border-left:1px solid gray;}
table tr.detail td:last-of-type{ border-right :1px solid gray;}
{% endif %}
</style>

<img style="display:inline" id="logo" src="{{ asset('images/header.png') }}" />
<hr>
<div style="display:block">
<h2 style="float:left">Listado de Gastos</h2>
<h5>Fecha: {{date('now')|date('d / m / Y H:i')}}</h5>
</div>
{% if filtro %}
    {% if filtro.concepto or filtro.desde or filtro.hasta %}
    <div style="display:block; clear: both">
    <hr>
        <div style="display:inline">{% if filtro.concepto %}Concepto: {{filtro.concepto}} {%endif%}</div>
        <div>{% if filtro.desde or filtro.hasta %}Periodo: desde el {{filtro.desde|date('d/m/Y')}} hasta el {{filtro.hasta|date('d/m/Y')}} {%endif%}</div>
    </div>
    {% endif %}
{% endif %}

<div class="content-box" style="clear:both">
<hr>
<div style="display:block; clear: both" class="content-box-content">
    <table cellspacing="0" style="width:70%; margin: auto">
        {% set total=0 %}
        <thead>
            <tr>                
                <th style="width:20%" class="align-center">Fecha</th>
                <th style="width:60%">Concepto</th>
                <th style="width:20%">Importe</th>
            </tr>
        </thead>
        <tbody>
    {% for gasto in gastos if gasto.concepto.numerico==0 %}
        <tr class="master">
            <td class="align-center">{{ gasto.fecha |date('d-m-Y')}}</td>
            <td>{{ gasto.concepto }}</td>
            <td style="text-align: right">$ {{ gasto.importe | number_format(2) }} </td>
            {% set total = total + gasto.importe %}
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th style="text-align: right" colspan="2">TOTAL: </th>
                <th style="text-align: right">$ {{total | number_format(2)}}</th>
            </tr>
        </tfoot>
    </table>
        <div class="clearHeight ">&nbsp;</div>
    <table cellspacing="0" style="width:70%; margin: auto">
        {% set hontotal=0 %}
        <thead>
            <tr>                
                <th colspan="2">HONORARIOS</th>
            </tr>
        </thead>
        <tbody>
    {% for gasto in gastos if gasto.concepto.numerico==1 %}
        <tr class="master">
            <td>{{ gasto.concepto }}</td>
            <td style="text-align: right">$ {{ gasto.importe | number_format(2) }} </td>
            {% set hontotal = hontotal + gasto.importe %}
        </tr>
    {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th style="text-align: right">TOTAL: </th>
                <th style="text-align: right">$ {{hontotal | number_format(2)}}</th>
            </tr>
        </tfoot>
    </table>
  
        
</div>
</div>