<h1>Gastos creation</h1>

<form action="{{ path('gasto_create') }}" method="post"  >
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('gasto') }}">
            Back to the list
        </a>
    </li>
</ul>
