<h1>Gastos</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Importe</th>
            <td>{{ entity.importe }}</td>
        </tr>
        <tr>
            <th>Observacion</th>
            <td>{{ entity.observacion }}</td>
        </tr>
        <tr>
            <th>Fechaalta</th>
            <td>{{ entity.fechaAlta|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('gasto') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('gasto_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('gasto_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
