{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Usuarios del Sistema</h2>{% endblock %}

{% block pathback %}   {{ path('usuario') }}           {% endblock %}
{% block pathCreate %} {{ path('usuario_create') }}    {% endblock %}
{% block pathDelete %} {{path('usuario_delete', { 'id': entity.id })}} {% endblock %}
{% block pathUpdate %} {{path('usuario_update', { 'id': entity.id })}} {% endblock %}

{% block formContent %}

<fieldset>
    <p>
        {{ form_label(form.username) }}
        {{ form_widget(form.username, { 'attr': {'class' : 'text-input small-input' } }) }}
        {{ form_errors(form.username) }}
    </p>
    <p>
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class' : 'text-input small-input' } }) }}
        {{ form_errors(form.nombre) }}
    </p>
    <p>
        {{ form_label(form.apellido) }}
        {{ form_widget(form.apellido, { 'attr': {'class' : 'text-input small-input' } }) }}
        {{ form_errors(form.apellido) }}
    </p>
    <p>
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class' : 'text-input small-input', 'autocomplete':'off' }}) }}
        {{ form_errors(form.email) }}    
    </p>
    <p>
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles, { 'attr': {'class' : 'text-input small-input' } }) }}
        {{ form_errors(form.roles) }}
    </p>
    

</fieldset>
{{ form_rest(form) }}

{% endblock %}
