{% extends "Default/baseListEntity.html.twig" %}
{% block titleList %} Listado de Usuarios {% endblock %}

{% block totalList %} Total de Usuarios: <strong>{{entities.getTotalItemCount}}</strong> {% endblock %}

{% block thList %}
<th>Usuario</th>
<th>Email</th>
<th>Roles</th>
<th>Activo</th>
<th><a href="{{ path('usuario_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
{% endblock %}

{% block bodyList %}
    {% for entity in entities %}
        <tr>
            <td>{{ entity.username }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.rolesIndex }}</td>
            <td>
                <span id="{{entityName}}-{{entity.id}}" class="activo{{entity.enabled}}"
                      url="{{path('cambiar_activo')}}" onclick="cambiarActivo($(this))">
                </span>
            </td>
            <td>
                <a href="{{ path('usuario_pass', { 'id': entity.id }) }}" class="action renew" title="Cambiar Contraseña">
                    Cambiar Contraseña
                </a>
                <a href="{{ path('usuario_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                    Editar
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}