{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Usuarios del Sistema</h2>{% endblock %}

{% block pathback %}   {{ path('usuario') }}           {% endblock %}
{% block pathUpdate %} {{path('usuario_update_pass', { 'id': entity.id })}} {% endblock %}

{% block formContent %}

<fieldset>
    <p>
        <label for="usuario_username" class="required">Username</label>
        <input type="text" class="text-input small-input" disabled="disabled" value="{{ entity.username }}">

    </p>
    <p>
        <label for="usuario_username" class="required">Email</label>
        <input  class="text-input small-input" disabled="disabled" value="{{ entity.email }}">
    </p>
    <p>
        {#{{ form_label(form.plainPassword) }}#}
        {{ form_widget(form.plainPassword, { 'attr': {'class' : 'text-input small-input' } }) }}
        {{ form_errors(form.plainPassword) }}
    </p>
    

</fieldset>
{{ form_rest(form) }}

{% endblock %}
