{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Registro de Conceptos de Gastos Totales </h2>{% endblock %}
{% block pathback %}   {{ path('concepto_index') }}           {% endblock %}

{% block groupFormContent %}
<div class="tab-content default-tab" id="tabPrograma1">   
    {% if entity.id  %}
        <div class="align-right">
            <form action=" {{path('concepto_delete', { 'id': entity.id })}}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" title="Eliminar" class="action deleteMax">Eliminar</button>
            </form>
        </div>
        <form action="{{path('concepto_update', { 'id': entity.id })}}" method="post"  >
    {% else %}
        <form action="{{ path('concepto_create') }} " method="post"  >
    {%endif%}
            <fieldset>
             
                <p>
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre, { 'attr': { 'class' : 'text-input small-input' } }) }}
                </p>
               
            </fieldset>
            <p class="submit-block">
                <button type="submit" class="button">Guardar</button>
            </p>
            {{ form_rest(form) }}
        </form>
        <div class="clear"></div>
</div>
{% endblock %}


