
{% extends "Default/baseListEntity.html.twig" %}

{% block titleList %} Conceptos de Gastos Totales {% endblock %}
{% block totalList %} Total de registros: <strong>{{ entities.getTotalItemCount}}</strong> {% endblock %}
    {% block thList %}
        <tr>
            <th>Nombre</th>    
            <th><a href="{{ path('concepto_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
        </tr>
    {% endblock %}
        {% block bodyList %}
              {% for entity in entities %}
                        <tr>
                            <td>{{ entity.nombre }}</td>
                            
                            <td>
                                <a href="{{ path('concepto_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
    {% endblock %}
      


