{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Conceptos de Caja</h2>{% endblock %}
{% block pathback %}   {{ path('parametro_conceptos_caja') }}           {% endblock %}
{% block pathCreate %} {{ path('parametro_conceptos_caja_create') }}    {% endblock %}
{% block pathDelete %} {{path('parametro_conceptos_caja_delete', { 'id': entity.id })}} {% endblock %}
{% block pathUpdate %} {{path('parametro_conceptos_caja_update', { 'id': entity.id })}} {% endblock %}

{% block formContent %}
<fieldset>
    <p>
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class' : 'text-input medium-input' } }) }}
    </p>    
    <p>
        <label>Honorarios:</label>
        <input type="checkbox" {% if entity.numerico==1 %}checked="checked"{%endif%} name="honorarios" id="honorarios"/>
    </p>    

</fieldset>
<div style="display: none">
{{ form_rest(form) }}
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('[type="submit"]').click(function(){
        $('#conceptoscaja_numerico').val($("#honorarios:checked").length);
    });
});
</script>
{% endblock %}