{% extends "layout.html.twig" %}
{% block content %} 
<div class="clearHeight"></div>
{% include 'Default/notification.html.twig' %}
<div class="content-box">
    <div class="content-box-header">
        <h3>Conceptos de Caja</h3>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <table id="parametrosTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th class="align-center">Activo</th>
                        <th><a href="{{ path('parametro_conceptos_caja_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.nombre }}</td>
                            <td>{% if entity.numerico==1%}Honorarios{% endif %}</td>
                            <td class="align-center">{% include 'Default/activo.html.twig' %}</td>
                            <td>
                                <a href="{{ path('parametro_conceptos_caja_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        <div class="clear"></div>
     </div>
</div>    
{% endblock %}


