{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Gastos Administrativos </h2>{% endblock %}
{% block pathback %}   {{ path('parametro_gastosAdmIdx') }}           {% endblock %}

{% block groupFormContent %}
<div class="tab-content default-tab" id="tabPrograma1">   
        {% if entity.id  %}
            <div class="align-right">
                <form action=" {{path('gastosadm_delete', { 'id': entity.id })}}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit" title="Eliminar" class="action deleteMax">Eliminar</button>
                </form>
            </div>
            <form action="{{path('parametro_gastosadm_update', { 'id': entity.id })}}" method="post"  >
          {% else %}
            <form action="{{ path('parametro_gastosadm_create') }} " method="post"  >
          {%endif%}
<fieldset>
    <p>
        {{ form_label(form.periodo) }}
        {{ form_widget(form.periodo, { 'attr': {'class' : 'text-input date-input' } }) }}
    </p>
    <p>
        {{ form_label(form.desde) }}
        {{ form_widget(form.desde, { 'attr': { 'class' : 'text-input mini-input rango' } }) }}    
    </p>
    <p>
        {{ form_label(form.hasta) }}
        {{ form_widget(form.hasta, { 'attr': { 'class' : 'text-input mini-input rango' } }) }}    
    </p>
    <p>
        {{ form_label(form.valor) }}
        {{ form_widget(form.valor, { 'attr': { 'class' : 'text-input mini-input' } }) }}  
    </p>
   
</fieldset>
                <p class="submit-block">
                    <button type="submit" class="button">Guardar</button>
                </p>
                {{ form_rest(form) }}
             </form>        
             <div class="clear"></div>
</div>
 {% endblock %}