{% extends "layout.html.twig" %}
{% block content %} 
<div class="clearHeight"></div>
{% include 'Default/notification.html.twig' %}


<div class="content-box">
    <div class="content-box-header">
        <h3>Parámetros Gastos Administrativos</h3>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <table>
            <thead>
                <tr>
                    <th>Período en días</th>
                    <th>Importe Desde</th>
                    <th>Importe Hasta</th>
                    <th>Valor</th>
                    <th><a href="{{ path('parametro_gastosadm_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>            
                    <td>{{entity.periodo}}             </td>
                    <td>{{entity.desde}}             </td>
                    <td>{{entity.hasta}}             </td>
                    <td>{{entity.valor}}             </td>
                    <td><a href="{{ path('gastosadm_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                            Editar
                        </a> 
                    </td>
                </tr>
                 {% endfor %}
            </tbody>
           
        </table>
        <div class="clear"></div>
    </div>
</div>    
{% endblock %}