{% extends "layout.html.twig" %}
{% block content %} 
<div class="clearHeight"></div>
{% include 'Default/notification.html.twig' %}
<div class="content-box">
    <div class="content-box-header">
        <h3>Datos de Localización</h3>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        {% if padres is not null %}    
        <select name="_padre" id="padre_localizacion" class="small-input">
            {% for padre in padres %}
                <option value="{{padre.id}}" {% if padreId ==  padre.id %} selected="selected" {% endif%} > 
                    <strong> {{padre.nombre}} </strong>
                </option>
            {% endfor %}            
        </select>
        {% endif %}    
        <select name="_agrupador" id="agrupador_localizacion" class="small-input">
            {% for agrupador in agrupadores %}
                <option value="{{agrupador.id}}" {% if agrupadorSlug ==  agrupador.descripcion %} selected="selected" {% endif%} > 
                    <strong> {{agrupador.nombre}} </strong>
                </option>
            {% endfor %}            
        </select>
        <table id="parametrosTable">
                {% include "Parametro/localizacionList.html.twig" %}
        </table>
        <div class="clear"></div>
     </div>
</div>    
{% endblock %}


