<thead>
    <tr>
        <th>Nombre</th>
        <th class="align-center">Activo</th>
        <th> <a href="#" title="Nuevo" id="addParametro" class="action add" onclick="newParametro()">Nuevo</a>
        </th>
    </tr>
</thead>
<tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nombre }}</td>
            <td class="align-center">{% include 'Default/activo.html.twig' %}</td>
            <td>
                <a href="{{ path('parametro_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                    Editar
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% include 'paginator.html.twig' with {'ruta': entityName } %}

<script type="text/javascript">
    $(document).ready(function(){
        $('tbody tr:even').addClass("alt-row");
    });
</script>                
