{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Parámetros Adicionales </h2>{% endblock %}
{% block pathback %}   {{ path('parametro_back', { 'agrupador': entity.agrupador.id }) }}           {% endblock %}
{% block pathCreate %} {{ path('parametro_create') }}    {% endblock %}
{% block pathDelete %} {{path('parametro_delete', { 'id': entity.id })}} {% endblock %}
{% block pathUpdate %} {{path('parametro_update', { 'id': entity.id })}} {% endblock %}

{% block formContent %}
<fieldset>
    <p>
        {{ form_label(form.agrupador) }}
        {{ form_widget(form.agrupador, { 'attr': {'class' : 'text-input small-input' } }) }}
        {{ form_errors(form.agrupador) }}
    </p>
    <p>
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, { 'attr': {'class' : 'text-input small-input' } }) }}
        {{ form_errors(form.nombre) }}
    </p>
</fieldset>
{{ form_rest(form) }}
{% endblock %}