{% extends "layout.html.twig" %}
{% block content %} 
<div class="clearHeight"></div>
{% include 'Default/notification.html.twig' %}
<div class="content-box">
    <div class="content-box-header">
        <h3>Listado de Parámetros Adicionales</h3>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <label><strong>Parámetro:</strong></label>
        <select name="_agrupador" id="select_agrupador" class="small-input">
            {% for agrupador in agrupadores %}
                <option value="{{agrupador.id}}" {% if agrupadorId ==  agrupador.id %} selected="selected" {% endif%} > 
                    {{agrupador.nombre}} 
                </option>
            {% endfor %}            
        </select>
        <table id="parametrosTable">
                {% include "Parametro/parametroList.html.twig" %}
        </table>
        <div class="clear"></div>
     </div>
</div>    
{% endblock %}


