{% extends "layout.html.twig" %}
{% block content %} 
    <div class="clearHeight"></div>
    
    {% include 'Default/notification.html.twig' %}
    <div class="content-box">
        <div class="content-box-header">
            <h3>Datos del Representante </h3>

        </div> <!-- End .content-box-header -->
        
        <div class="content-box-content">
            {% block groupFormContent %}
          {% if entity.id  %}

            <form action="{{path('parametro_representante_update', { 'id': entity.id })}}" method="post"  >
          {%endif%}
          {% block formContent %}
          <fieldset>
    <p>
        {{ form_label(form.nombre, 'Nombre: ') }}
        {{ form_widget(form.nombre, { 'attr': {'class' : 'text-input small-input' } }) }}
        {{ form_errors(form.nombre) }}
    </p>    
    <p>
        {{ form_label(form.descripcion, 'D.N.I. ') }}
        {{ form_widget(form.descripcion, { 'attr': {'class' : 'text-input mini-input' } }) }}
        {{ form_errors(form.descripcion) }}
    </p>    

</fieldset>
<div style="display: none">
{{ form_rest(form) }}
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("[title=Eliminar]").hide();
});
</script>
          {% endblock %}
                <p class="submit-block">
                    <button type="submit" id="submitForm"  class="button">Guardar</button>
                </p>
             </form>        
             <div class="clear"></div>
             {% endblock %}
        </div>
    </div>    
{% endblock %}