{% extends "Default/baseEditEntity.html.twig" %}
{% block pageTitle %} <h2>Últimos Números </h2>{% endblock %}
{% block pathback %}   {{ path('parametro_ultimos_nros') }}           {% endblock %}
{% block pathCreate %} {{ path('parametro_create') }}    {% endblock %}
{% block pathDelete %} {{path('parametro_delete', { 'id': entity.id })}} {% endblock %}
{% block pathUpdate %} {{path('parametro_ultimo_nro_update', { 'id': entity.id })}} {% endblock %}

{% block formContent %}
<fieldset>
    <p>
        {{ form_label(form.descripcion) }}
        {{ form_widget(form.descripcion, { 'attr': {'class' : 'text-input mini-input' } }) }}
        {{ form_errors(form.descripcion) }}
    </p>    
    <p>
        {{ form_label(form.numerico) }}
        {{ form_widget(form.numerico, { 'attr': {'class' : 'text-input mini-input','maxlength':'6' } }) }}
    </p>


</fieldset>
<div style="display: none">
{{ form_rest(form) }}
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("[title=Eliminar]").hide();
});
</script>
{% endblock %}