{% extends "layout.html.twig" %}
{% block content %} 
<div class="clearHeight"></div>
{% include 'Default/notification.html.twig' %}
<div class="content-box">
    <div class="content-box-header">
        <h3>Ultimos Números</h3>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <table id="parametrosTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Prefijo</th>
                        <th>Último Número</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.descripcion }}</td>
                            <td>{{ entity.numerico | number_format(0, ',','.') }}</td>
                            <td>
                                <a href="{{ path('parametro_ultimo_nro_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        <div class="clear"></div>
     </div>
</div>    
{% endblock %}


