<div class="content-box column-left" id="pendientes" >
    <div class="content-box-header">
        <h3>Créditos Entegados por banco</h3><a class="button" href="{{ path('exp_entregados') }}" style="margin: 9px; float: right;" >Exportar</a>
    </div> <!-- End .content-box-header -->
    {% set suma = 0 %}
    <div class="content-box-content">
        <div class="tab-content default-tab">
            <p class="index-title">Créditos entregados en la última semana.  </p>
            <table id="entregados">
                <thead>
                    <tr>
                        <th>Grupo/Emp.</th>
                        <th class="align-center">Entrega</th>
                        <th class="align-center">Cuotas</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% set primero,sumaparc,fecha = true,0,'' %}
                    {% for ent in entregados %}
                        {%if primero%}
                            {% set fecha = ent.fechaAprobacion| date('d-m-Y')%}
                            {% set primero=false%}
                            <tr><td colspan="5" class="header-entregados">{{ent.fechaAprobacion| date('d-m-Y')}}</td></tr>   
                        {%else %}
                          {%if ent.fechaAprobacion| date('d-m-Y') != fecha %}
                                {% set fecha = ent.fechaAprobacion| date('d-m-Y')%}
                                <tr><td colspan="3" class="subtotal_entregados"> SubTotal</td>
                                    <td  class="subtotal_entregados">{{sumaparc| number_format(0,',','.')}}</td></tr>
                                <tr><td colspan="5" class="header-entregados"> {{ent.fechaAprobacion| date('d-m-Y')}} </td></tr>
                                {% set sumaparc = 0 %}
                          {%endif%}
                        {%endif%}
                    <tr>
                        {% set suma = suma + ent.montoCredito %}
                        {% set sumaparc = sumaparc + ent.montoCredito %}
                        <td>{{ent.programa}} - {% if ent.grupo %}{{ent.grupo}}{% else %}{{ent.emprendedor}}{% endif %}</td>
                        <td class="align-center" >{{ent.fechaEntrega | date('d-m-Y')}}</td>
                        <td class="align-center">{{ent.cantCuotas}}</td>
                        <td style="text-align:right">{{ent.montoCredito| number_format(0,',','.')}}</td>
                    </tr>                    
                {% endfor %}
                    <tr><td colspan="3" class="subtotal_entregados"> SubTotal</td>
                        <td  class="subtotal_entregados">{{sumaparc| number_format(0,',','.')}}</td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2" style="text-align: center">Creditos Entregados: {{entregados|length}}  </th>
                        <th style="text-align: center">Monto Total</th>
                        <th style="text-align:right">{{suma | number_format(0,',','.')}} </th>
                    </tr>
                </tfoot>
            </table>            
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div>
<div class="content-box column-left" id="pendientes" >
    <div class="content-box-header">
        <h3>Créditos Entegados por efectivo</h3><a class="button" href="{{ path('exp_entregados_efectivo') }}" style="margin: 9px; float: right;" >Exportar</a>
    </div> <!-- End .content-box-header -->
    {% set suma = 0 %}
    <div class="content-box-content">
        <div class="tab-content default-tab">
            <p class="index-title">Créditos entregados en la última semana.  </p>
            <table id="entregados">
                <thead>
                    <tr>
                        <th>Grupo/Emp.</th>
                        <th class="align-center">Entrega</th>
                        <th class="align-center">Cuotas</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% set primero,sumaparc,fecha = true,0,'' %}
                    {% for ent in entregados_efectivos %}
                        {%if primero%}
                            {% set fecha = ent.fechaAprobacion| date('d-m-Y')%}
                            {% set primero=false%}
                            <tr><td colspan="5" class="header-entregados">{{ent.fechaAprobacion| date('d-m-Y')}}</td></tr>   
                        {%else %}
                          {%if ent.fechaAprobacion| date('d-m-Y') != fecha %}
                                {% set fecha = ent.fechaAprobacion| date('d-m-Y')%}
                                <tr><td colspan="3" class="subtotal_entregados"> SubTotal</td>
                                    <td  class="subtotal_entregados">{{sumaparc| number_format(0,',','.')}}</td></tr>
                                <tr><td colspan="5" class="header-entregados"> {{ent.fechaAprobacion| date('d-m-Y')}} </td></tr>
                                {% set sumaparc = 0 %}
                          {%endif%}
                        {%endif%}
                    <tr>
                        {% set suma = suma + ent.montoCredito %}
                        {% set sumaparc = sumaparc + ent.montoCredito %}
                        <td>{{ent.programa}} - {% if ent.grupo %}{{ent.grupo}}{% else %}{{ent.emprendedor}}{% endif %}</td>
                        <td class="align-center" >{{ent.fechaEntrega | date('d-m-Y')}}</td>
                        <td class="align-center">{{ent.cantCuotas}}</td>
                        <td style="text-align:right">{{ent.montoCredito| number_format(0,',','.')}}</td>
                    </tr>                    
                {% endfor %}
                    <tr><td colspan="3" class="subtotal_entregados"> SubTotal</td>
                        <td  class="subtotal_entregados">{{sumaparc| number_format(0,',','.')}}</td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2" style="text-align: center">Creditos Entregados: {{entregados|length}}  </th>
                        <th style="text-align: center">Monto Total</th>
                        <th style="text-align:right">{{suma | number_format(0,',','.')}} </th>
                    </tr>
                </tfoot>
            </table>            
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div>  