<div class="content-box" style="border:none;margin-top:10px;">
    <div class="content-box-content" style="border-top:none;">
        <div class="tab-content default-tab">
            <p class="index-title"> Renovaciones de Créditos para las siguientes 4 semanas. </p>
            {% for semana in semanas %} 
                {% set cant,monto = 0,0 %}   
            <div class="renovacionHead"><strong>Semana {{loop.index}} &nbsp;&nbsp;&nbsp; </strong> ( {{semana.ini| date('d-m-Y')}} al {{semana.fin| date('d-m-Y')}} )</div>
                     <table class="renovacionTable">
                        <thead>
                            <tr>
                                <th class="align-center">Crédito N&deg;</th>
                                <th class="align-center">Carpeta N&deg;</th>
                                <th>Programa</th>
                                <th>Grupo / Emprendedor</th>
                                <th class="align-center">Cant. Emp.</th>
                                <th class="align-center">Cuotas</th>
                                <th>Monto</th>
                                <th class="align-center">Fecha Renovación</th>
                                <th class="align-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for renov in renovaciones  %}
                                {% if (renov[0].fechaCancelacion is not null) and (renov[0].fechaCancelacion| date('d-m-Y') < renov.ultVto | date('d-m-Y')) %}
                                    {% set ult = renov[0].fechaCancelacion | date('Y-m-d')%}
                                {% else %}
                                    {% set ult = renov.ultVto | date('Y-m-d')%}
                                {% endif %}
                                {% if ult>=semana.ini and ult<=semana.fin %}
                                <tr>
                                    {% set cant=cant+1 %}
                                    {% set monto=monto+renov[0].montoCredito %}
                                    <td class="align-center"><a href="{{ path('credito_show', { 'id': renov[0].id }) }}">{{ renov[0].nroCredito }}-{{ renov[0].nroRenovacion }}</a></td>
                                    <td class="align-center">{{ renov[0].nroCarpeta }}</td>
                                    <td>{{ renov[0].programa }}</td>
                                    <td>{% if renov[0].grupo %}{{renov[0].grupo}}{% else %}{{renov[0].emprendedor}}{% endif %}</td>
                                    <td class="align-center">{{ renov[0].emprendedores|length }}</td>
                                    <td class="align-center">{% if renov.ultCtaPaga %}{{ renov.ultCtaPaga }}{%else%}0{%endif%}/{{ renov[0].cantCuotas }} </td>
                                    <td style="text-align: right;">$ {{renov[0].montoCredito| number_format(0,',','.')}}</td>
                                    <td class="align-center">{% if (renov[0].fechaCancelacion is not null) and (renov[0].fechaCancelacion| date('d-m-Y') < renov.ultVto | date('d-m-Y')) %}{{renov[0].fechaCancelacion| date('d-m-Y')}}{% else %}{{renov.ultVto | date('d-m-Y')}}{% endif %}</td>
                                    <td class="align-center">
                                        {% if (renov.ultCtaPaga == renov[0].cantCuotas) or renov[0].cancelado %}
                                            <a href="{{ path('credito_renovar', { 'id': renov[0].id }) }}" class="action renew2" title="Renovar Crédito"> Renovar </a>
                                        {%endif%}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr style="background: #E9E9E9;">
                                <th colspan="5" style="text-align: left;padding-top: 5px;"><strong>Cantidad de Créditos:  &nbsp;&nbsp; {{cant}} </strong> </th>
                                <th style="text-align: right;padding-top: 5px;"><strong>Monto Total: </strong> </th>
                                <th style="text-align: right; font-size: 12px;padding-top: 5px;"><strong>$ {{monto| number_format(0,',','.')}} </strong> </th>
                                <th colspan="2"></th>
                            </tr>
                        </tfoot>
                    </table>  
                
                {% endfor %}
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div>     
<script type="text/javascript">
    $(document).ready(function(){
        $('tr').removeClass('alt-row');
    });
</script>