<div class="content-box column-left" id="solicitudes">
    <div class="content-box-header">
        <h3>Solicitudes de Crédito</h3><a class="button" href="{{ path('expNoAprobatesAction') }}" style="margin: 9px; float: right;" >Exportar</a>
    </div> <!-- End .content-box-header -->
    {% set suma = 0 %}
    <div class="content-box-content">
        <div class="tab-content default-tab">
            <p class="index-title"> Solicitudes de Créditos pendientes de otorgar.  </p>
            <table>
                <thead>
                    <tr>
                        <th>Grupo/Emp.</th>
                        <th class="align-center">Entrega</th>
                        <th class="align-center">Cuotas</th>
                        <th>Monto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="5" class="header-vencimientos">INDIVIDUALES</td></tr>
                    {% for solic in solicitudes if not solic.grupo%}
                    <tr>
                        {% set suma = suma + solic.montoCredito %}
                        <td>{% if solic.grupo %}{{solic.grupo}}{% else %}{{solic.emprendedor}}{% endif %}</td>
                        <td class="align-center">{{solic.fechaEntrega | date('d-m-Y')}}</td>
                        <td class="align-center">{{solic.cantCuotas}}</td>
                        <td style="text-align:right">{{solic.montoCredito| number_format(0,',','.')}}</td>
                        <td>
                            <a href="{{ path('credito_show', { 'id': solic.id }) }}" title="Ver"><img src="{{ asset('images/icons/credit.png') }}" alt="Ver" /></a>
                        </td>
                    </tr>
                {% endfor %}
                     <tr><td colspan="5" class="header-vencimientos">GRUPOS</td></tr>
                    {% for solic in solicitudes if solic.grupo%}
                    <tr>
                        {% set suma = suma + solic.montoCredito %}
                        <td>{% if solic.grupo %}{{solic.grupo}}{% else %}{{solic.emprendedor}}{% endif %}</td>
                        <td class="align-center">{{solic.fechaEntrega | date('d-m-Y')}}</td>
                        <td class="align-center">{{solic.cantCuotas}}</td>
                        <td style="text-align:right">{{solic.montoCredito| number_format(0,',','.')}}</td>
                        <td>
                            <a href="{{ path('credito_show', { 'id': solic.id }) }}" title="Ver"><img src="{{ asset('images/icons/credit.png') }}" alt="Ver" /></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2" style="text-align: center">Solicitudes Pendientes: {{solicitudes|length}} </th>
                        <th style="text-align: center">Monto Total</th>
                        <th style="text-align:right">{{suma| number_format(0,',','.')}} </th>
                    </tr>
                </tfoot>
            </table>            
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div>        