<div class="content-box column-right" id="vencimientos">
    <div class="content-box-header">
        <h3>Vencimientos de la semana</h3>
    </div> <!-- End .content-box-header -->
    {% set suma = 0 %}
    <div class="content-box-content">
        <div class="tab-content default-tab">
            <p class="index-title"> Créditos con cuotas a vencer dentro de la semana en curso. </p>
            <table>
                <thead>
                    <tr>
                        <th>Grupo/Emp.</th>
                        <th>Cuota</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="5" class="header-vencimientos">INDIVIDUALES</td></tr>
                    {% for venc in vencimientos if venc.grp is null %}
                    <tr>                      
                        {% set suma = suma + venc.montoTotal %}
                        <td>{{venc.grupoEmp}}</td>
                        <td>{{venc.nroCuota}}</td>
                        <td>{{venc.fechaVencimiento |date('d-m-Y')}}</td>
                        <td style="text-align:right">{{venc.montoTotal| number_format(2,',','.')}}</td>
                        <td>
                            <!-- Icons -->
                            <a href="{{ path('credito_show',{'id':venc.credito}) }}" title="Ingresar Pago">
                                <img src="{{ asset('images/icons/ingpago.png') }}" alt="Pago" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr><td colspan="5" class="header-vencimientos">GRUPOS</td></tr>
                    {% for venc in vencimientos if venc.grp is not null%}
                    <tr>                      
                        {% set suma = suma + venc.montoTotal %}
                        <td>{{venc.grupoEmp}}</td>
                        <td>{{venc.nroCuota}}</td>
                        <td>{{venc.fechaVencimiento |date('d-m-Y')}}</td>
                        <td style="text-align:right">{{venc.montoTotal| number_format(2,',','.')}}</td>
                        <td>
                            <!-- Icons -->
                            <a href="{{ path('credito_show',{'id':venc.credito}) }}" title="Ingresar Pago">
                                <img src="{{ asset('images/icons/ingpago.png') }}" alt="Pago" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2" style="text-align: center">Total de Cuotas: {{vencimientos|length}} </th>
                        <th style="text-align: center">Monto Total</th>
                        <th style="text-align:right">{{suma| number_format(2,',','.')}} </th>
                    </tr>
                </tfoot>
            </table>            
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div>  
<script type="text/javascript">
    $(document).ready(function(){
        var sol = $('#solicitudes').height();
        var pen = $('#pendientes').height();
        var ven = $('#vencimientos').height();
        var tot = sol+pen+20;
        if(tot>ven) $('#tabInicio').css('min-height',tot+'px' );
        else $('#tabInicio').css('min-height',ven+'px' );
        $('#vencimientos .content-box-content').css('min-height',sol+'px' );
    });
</script>