{% extends "layout.html.twig" %}
{% block content %}
	<div class="clearHeight"></div>

	{% include 'Default/notification.html.twig' %}
	{% block filterBox %}{% endblock %}
	<div class="content-box">
		<div class="content-box-header">
			<h3>
				{% block titleList %}{% endblock %}
			</h3>
			{% block opList %}{% endblock %}
			<span class="align-right total">
				{% block totalList %}{% endblock %}
			</span>
		</div>
		<!-- End .content-box-header -->
		<div class="content-box-content">
			<table>
				<thead>
					<tr>
						{% block thList %}{% endblock %}
					</tr>
				</thead>
				<tbody>
					{% block bodyList %}{% endblock %}
				</tbody>
				{% if paginator %}
					{% include 'paginator.html.twig' with {'ruta': entityName } %}
				{% endif %}
			</table>
			<div class="clear"></div>
		</div>
	</div>
{% endblock %}
