{% extends "layout.html.twig" %}
{% if entity.id %}
    {% set formType = 'Edición' %}
{%else%}
    {% set formType = 'Nuevo' %}
{% endif %}
{% block content %} 
    <div class="clearHeight"></div>
    {% block pageTitle %} {% endblock %}
    {% include 'Default/notification.html.twig' %}
    <div class="content-box">
        <div class="content-box-header">
            <h3>{% if entity.id %} 
                    Edición {{ entity.title}}
                {% else %}
                    Nuevo
                {% endif %}
            </h3>
            {% block tabs %} {% endblock%}
            <span class="align-right back">
               <a href="{% block pathback %} {% endblock %}" class="button">Volver al Listado</a>
            </span>
        </div> <!-- End .content-box-header -->
        
        <div class="content-box-content">
            {% block groupFormContent %}
          {% if entity.id  %}
            <form action="{% block pathUpdate %}{% endblock %}" method="post">
          {% else %}
            <form action="{% block pathCreate %}{% endblock %}" method="post">
          {%endif%}
          {% block formContent %} {% endblock %}
                <p class="submit-block">
                    <button type="submit" id="submitForm"  class="button">Guardar</button>
                </p>
             </form>
             <div class="clear"></div>
             {% endblock %}
        </div>
    </div>    
{% endblock %}
