{% extends "layout.html.twig" %}
{% if entity.id %}
    {% set formType = 'Edición' %}
{%else%}
    {% set formType = 'Nuevo' %}
{% endif %}
{% block content %} 
    <div class="clearHeight"></div>
    {% block pageTitle %} {% endblock %}
    {% include 'Default/notification.html.twig' %}
    <div class="content-box">
        <div class="content-box-header">
            <h3>{% if entity.id %} 
                    {{ entity.title}}
                {% else %}

                {% endif %}
            </h3>
            {% block tabs %} {% endblock%}
            <span class="align-right back">
               <a href="{% block pathback %} {% endblock %}" class="button">Volver al Listado</a>
            </span>
        </div> <!-- End .content-box-header -->
        
        <div class="content-box-content" id="content-form">
            {% block groupFormContent %}
          {% block formContent %} {% endblock %}
             <div class="clear"></div>
             {% endblock %}
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#content-form :input").prop('readonly', true);
        $("#content-form select").prop('readonly', true);
    });
</script>
    {% endblock %}

