<div class="content-box" id="filter">
    <div class="content-box-header">
        <h5>Criterios de Filtro</h5>
        <span class="align-right action arrow close-box" title="ocultar/mostrar" >cerrar</span>
    </div>
    <div class="content-box-content"> 
        {% block filterForm %}{% endblock %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#grupoAutocomplete').val('{{filtro.grupo}}');
        $('#grupoId').val('{{filtro.grupoId}}');
    });
</script> 
    