
{% extends "layout.html.twig" %}

{% block content_header %}
<ul class="shortcut-buttons-set">
    {% if is_granted('ROLE_GRUPOS') or is_granted('ROLE_AUDITOR') %}
    <li>
        <a class="shortcut-button" href="{{ path('grupo') }}">
            <span><img src="{{ asset('images/icons/group_add48.png') }}" width="24" height="24" alt="icon" /><br />
                Grupo
            </span>
        </a>
    </li>
    {% endif %}

    {% if is_granted('ROLE_EMPRENDEDORES') or is_granted('ROLE_AUDITOR') %}
    <li>
        <a class="shortcut-button" href="{{ path('emprendedor') }}">
            <span><img src="{{ asset('images/icons/emp_add48.png') }}" width="24" height="24" alt="icon" /><br />
                Emprendedor
            </span>
        </a>
    </li>
    {% endif %}

    {% if is_granted('ROLE_CREDITOS') or is_granted('ROLE_AUDITOR') %}
    <li>
        <a class="shortcut-button" href="{{ path('solicitud') }}">
            <span><img src="{{ asset('images/icons/credito_add48.png') }}"  width="24" height="24" alt="icon" /><br />
                Solicitud
            </span>
        </a>
    </li>
    <li>
        <a class="shortcut-button" href="{{ path('gasto_new') }}">
            <span><img src="{{ asset('images/icons/pago_add48.png') }}" width="24" height="24" alt="icon" /><br />
                Gastos
            </span>
        </a>
    </li>
    <li class="infobutton">
        <a class="shortcut-button" href="{{ path('morosos') }}">
            <span>
                <img src="{{ asset('images/icons/morosos.png') }}" width="24" height="24" alt="icon" /><br />
                Informe de Morosos
            </span>
        </a>
    </li>
    <li>
        <a class="shortcut-button" href="{{ path('credito_list_pagos') }}">
            <span><img src="{{ asset('images/icons/pagos.png') }}" width="24" height="24" alt="icon" /><br />
                Informe de Pagos
            </span>
        </a>
    </li>
    {% endif %}

     {% if is_granted('ROLE_REPORTE_MENSUAL') %}
    <li>
        <a class="shortcut-button" href="{{ path('reporte_mensual') }}">
            <span><img src="{{ asset('images/icons/report.png') }}" width="24" height="24" alt="icon" /><br />
                Reporte de Cartera
            </span>
        </a>
    </li>
     {% endif %}

    {% if is_granted('ROLE_PARAMETRIZAR') %}
     <li>
         <a class="shortcut-button" href="{{ path('caja_reporte') }}">
            <span><img src="{{ asset('images/icons/bank.png') }}" width="24" height="24" alt="icon" /><br />
                Caja y Cartera
            </span>
         </a>
     </li>
    {% endif %}
</ul><!-- End .shortcut-buttons-set -->

{% endblock %}

{% block content %} 
<div class="content-box">
    <div class="content-box-header">
        <ul class="content-box-tabs front">
            <li><a id="sol_tab1" href="#tab1" class="default-tab">Créditos y Vencimientos</a></li> 
            <li><a href="#tab2" >Próximas Renovaciones</a></li>
            <li><a id="sol_tab3" href="#tab3" >Agenda de Turnos</a></li>
        </ul>
    </div>
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">  
            <div id="tabInicio" style="margin-top:15px;">
            {% if is_granted('ROLE_CREDITOS') or is_granted('ROLE_AUDITOR') %}
                {% include "Default/_solicitudList.html.twig" %}
                {% include "Default/_vencimientosList.html.twig" %}
                {% include "Default/_entregadosList.html.twig" %}
            {% else %}
                <h3 style="width: 100%; text-align: center;">Sin permiso</h3>
            {% endif %}
            </div>
        </div>
        <div class="tab-content" id="tab2">
        {% if is_granted('ROLE_CREDITOS') or is_granted('ROLE_AUDITOR') %}
            {% include "Default/_renovacionesList.html.twig" %}
        {% else %}
            <h3 style="width: 100%; text-align: center;">Sin permiso</h3>
        {% endif %}
        </div>
            <div class="tab-content" id="tab3"> 
        {% include "Agenda/_agenda.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}     
