{% extends "MicrocreditosBundle::layoutPdf.html.twig" %}

{% block content_header %}
<ul class="shortcut-buttons-set">
    <li>
        <a class="shortcut-button" href="{{ path('grupo_new') }}">
            <span><img src="http://microcreditos/images/icons/group48.png" alt="icon" /><br />
                Nuevo Grupo
            </span>
        </a>
    </li>
    <li>
        <a class="shortcut-button" href="{{ path('getPdf') }}">
            <span><img src="http://microcreditos/images/icons/credito.png" alt="icon" /><br />
                Nuevo Crédito
            </span>
        </a>
    </li>
    <li>
        <a class="shortcut-button" href="#">
            <span><img src="{{ asset('images/icons/pago.png') }}" alt="icon" /><br />
                Nuevo Cobro
            </span>
        </a>
    </li>
    <li>
        <a class="shortcut-button" href="#">
            <span><img src="{{ asset('images/icons/report.png') }}" alt="icon" /><br />
                Informes
            </span>
        </a>
    </li>
</ul><!-- End .shortcut-buttons-set -->
{% endblock %}

{% block content %} 

<div class="content-box column-left">
    <div class="content-box-header">
        <h3>Vencimientos del día</h3>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab">
            <h4>Listado de Créditos</h4>
            <p>
                Créditos con cuotas a vencer en el día de la fecha.
            </p>
            
<!-- TABLA DE MUESTRA COMO RELLENO -->            
<table>
    <thead>
        <tr>
            <th>Grupo</th>
            <th>Cuota</th>
            <th>Monto</th>
            <th>Total</th>
            <th>Ver</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <td colspan="5">
                <div class="pagination">
                    <a href="#" title="First Page">&laquo; Primero</a><a href="#" title="Previous Page">&laquo; Anterior</a>
                    <a href="#" class="number" title="1">1</a>
                    <a href="#" class="number" title="2">2</a>
                    <a href="#" class="number current" title="3">3</a>
                    <a href="#" class="number" title="4">4</a>
                    <a href="#" title="Next Page">Siguiente &raquo;</a><a href="#" title="Last Page">Último &raquo;</a>
                </div> <!-- End .pagination -->
                <div class="clear"></div>
            </td>
        </tr>
    </tfoot>

    <tbody>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
    </tbody>
</table>            
            
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->

<div class="content-box column-right">
    <div class="content-box-header"> <!-- Add the class "closed" to the Content box header to have it closed by default -->
        <h3>Créditos por terminar</h3>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab">
            <h4>Listado de Créditos</h4>
            <p>
                Créditos que finalizan dentro de la semana en curso.
            </p>
            
<!-- TABLA DE MUESTRA COMO RELLENO -->            
<table>
    <thead>
        <tr>
            <th>Grupo</th>
            <th>Cuota</th>
            <th>Monto</th>
            <th>Total</th>
            <th>Ver</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <td colspan="5">
                <div class="pagination">
                    <a href="#" title="First Page">&laquo; Primero</a><a href="#" title="Previous Page">&laquo; Anterior</a>
                    <a href="#" class="number" title="1">1</a>
                    <a href="#" class="number" title="2">2</a>
                    <a href="#" class="number current" title="3">3</a>
                    <a href="#" class="number" title="4">4</a>
                    <a href="#" title="Next Page">Siguiente &raquo;</a><a href="#" title="Last Page">Último &raquo;</a>
                </div> <!-- End .pagination -->
                <div class="clear"></div>
            </td>
        </tr>
    </tfoot>

    <tbody>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
        <tr>
            <td>Grupo 1</td>
            <td>5/10</td>
            <td>500</td>
            <td>5.000</td>
            <td>
                <!-- Icons -->
                <a href="#" title="Edit"><img src="{{ asset('images/icons/pencil.png') }}" alt="Edit" /></a>
            </td>
        </tr>
    </tbody>
</table>             
            
        </div> <!-- End #tab -->        
    </div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->
                        
{% endblock %}           