    {% for message in app.flashes('information') %}
            <div class="notification information png_bg">
                <a href="#" class="close"></a>
                <div> {{ message }} </div>
            </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
            <div class="notification success png_bg">
                <a href="#" class="close"></a>
                <div> {{ message }} </div>
            </div>
    {% endfor %}

    {% for message in app.flashes('attention') %}
            <div class="notification attention png_bg">
                <a href="#" class="close"></a>
                <div> {{ message }} </div>
            </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
            <div class="notification error png_bg">
                <a href="#" class="close"></a>
                <div> {{ message }} </div>
            </div>
    {% endfor %}

    {% if form is defined %}
        {% if form_errors(form) %}
                <div class="notification error png_bg">
                    <a href="#" class="close"></a>
                    <div> {{ form_errors(form) }} </div>
                </div>
        {% endif %}
    {% endif %}