{% extends "layout.html.twig" %}
{% block content %} 
<div class="clearHeight"></div>
<div class="content-box">
    <div class="content-box-header">
        <h3>Listado de {{plural}}</h3>
        <span class="align-right total">Total de {{plural}}: {{entities | length}}</span>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <table>
            <thead>
                <tr>
                    {% for item in structure %}
                        <th>{{item}}</th>
                    {% endfor %}
                    <th><a href="{{ path(object~'_new') }}" title="Nuevo" class="action add">Nuevo</a></th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        {% for item in structure | keys %}
                            {% if not loop.first %} 
                                <td>{{ attribute(entity,item)  }}</td>
                            {% else %}
                                <td><a href="{{ path(object~'_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <a href="{{ path(object~'_edit', { 'id': entity.id }) }}" class="action edit" title="Editar">
                               Editar
                            </a>
                            <a href="{{ path(object~'_delete', { 'id': entity.id }) }}" class="action delete" title="Eliminar">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}    
            </tbody>
            {% include 'paginator.html.twig' with {'ruta': object} %}
        </table>
        <div class="clear"></div>
    </div>
</div>    
{% endblock %}
